<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
    <add name="DBContext" connectionString="Data Source=PUGAZHENTHI-G52; User ID=sa;Password=Impiger@123; Initial Catalog=AdaniPiloatDB;Integrated Security=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="IsPricingBackup" value="false" />
    <add key="IsNotification" value="false" />
    <add key="IsPendingContractSync" value="false" />
    <add key="IsCustomerLedgerDeleteSync" value="false" />
    <add key="IsSalesRegisterDeleteSync" value="false" />
    <add key="IsUpdateSapSaudaNumberMessageSync" value="false" />
    <add key="IsCustomerLedgerRequestSync" value="false" />
    <add key="IsEmployeeRequestActiveUsersSync" value="false" />
    <add key="IsSaudaExpiredNotification" value="false" />
    <add key="IsOverDueNotification" value="false" />
    <add key="IsAuditLogDeleteSync" value="false" />
    <add key="AuditLogDeleteCount" value="90" />
    <add key="IsLogFileMoveAndDeleteDeleteSync" value="true" />
    <add key="IsBackupLogFileDeleteDeleteSync" value="false" />
    <add key="IsSapTemplateDeleteDeleteSync" value="false" />
    <add key="IsSaudaDuplicateDeleteSync" value="false" />
    <add key="IsLiftingSaudaOrderIdUpdate" value="false" />
    <add key="IsLogFileDirctoryPathOld" value="C:\Users\harini.ramachandrara\Source\Repos\adaniwilmar_digitalsaudaapp_web2\AdaniWilmar.Solution\Debug_API.log" />
    <add key="IsLogFileDirctoryPathNew" value="C:\Users\harini.ramachandrara\Source\Repos\adaniwilmar_digitalsaudaapp_web2\AdaniWilmar.Solution\Adani.Solution.API\LogFiles" />
    <add key="SapTemplateFileDirctoryPath" value="C:\Users\harini.ramachandrara\Source\Repos\adaniwilmar_digitalsaudaapp_web2\AdaniWilmar.Solution\Adani.Solution.API\\UploadAttachments" />
    <add key="LogBackupFolderPath" value="D:\Adani2Wilmar\AdaniWilmar.Solution\LogFiles" />
    <add key="LogBackupFolderFileName" value="Debug" />
    <add key="LogBackupFolderDeleteDays" value="20" />
    <add key="SapTemplateFileName" value="FinalPriceTemplateForAllRecords.xlsx" />
    <add key="SapTemplateFileType" value=".xlsx" />
    <add key="ThreeDaysBackup" value="-3" />
    <add key="SuperAdminUserId" value="1" />
    <add key="WebKey" value="EF8F4B8E-E702-4D4B-9E46-BBAC9AE14BD7" />
    <add key="UserName" value="DEALHANA" />
    <add key="Password" value="q78rv9LdWgAfoGTOJDk9mg==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="VectorKey" value="0yP2Oy8M9JUFeC6C" />
    <add key="IsFullDataSync" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="BaseLogFormat" value="${logger}:${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
    <add key="BaseLogLocation" value="${basedir}/../Debug.log" />
    <add key="BaseLogLevel" value="0" />
    <add key="EncryptionKey" value="akepQUnf9wtQ9paeI5M6q3h2SRWHgn7HDSIdnJdnnUaq7bTM8r4rFIS33SOPVbT4" />
    <add key="VectorKey" value="0yP2Oy8M9JUFeC6C" />
    <add key="GuestDecryptedKey" value="vAqE$BjLn" />
    <add key="GuestEncryptedKey" value="vxRLmD7h3k1rDRJKUH3ogfgdDrRyqv" />
    <add key="ClientAPIKey" value="EF8F4B8E-E702-4D4B-9E46-BBAC9AE14BD7" />
    <add key="WebsiteUrl" value="http://localhost:49740/" />
    <add key="ApiUrl" value="http://localhost:60001/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>