ALTER Procedure [dbo].[SetGeographyDiscount]
(
    @LoginUserId bigint,
	@SalesOrganization varchar(max),
	@DistributionChannel varchar(max),
	@Division varchar(max),
	@Discount decimal(18,3),
	@DiscountReason varchar(max),
	@MaterialCode varchar(max),
	@Zone varchar(max),
    @State varchar(max),
	@District varchar(max),
	@City varchar(max),
	@ValidFrom datetime,
	@ValidTo datetime,
	@OilType nvarchar(max),
	@PackGroup nvarchar(max),
	@PackType nvarchar(max),
	@IsActive BIT = 0
)
as
DECLARE @SalesOrganizationId bigint,
@DistributionChannelId bigint,
@DivisionId bigint,
@RoleId bigint,
@Item varchar(max),
@position INT,
@Loop BIT,
@UserId bigint,
@ZoneId bigint,
@StateId bigint,
@DistrictId bigint,
@CityId bigint,
@SkuItem varchar(max),
@Skuposition INT,
@SkuLoop BIT,
@SkuId bigint,
@OilTytpeId BIGINT,
@PackGroupId BIGINT;

Set NOCOUNT OFF
BEGIN TRY
 BEGIN TRANSACTION


		  CREATE TABLE #TempDiscounts (
			CityId BIGINT,
			CityName NVARCHAR(100),
			DistrictId BIGINT,
			StateId BIGINT,
			ZoneId BIGINT,
			MaterialCode VARCHAR(MAX),
			SkuId BIGINT NULL,
			OilTypeId BIGINT NULL,
			PackGroupId BIGINT NULL,
			PackTypeId BIGINT NULL,
			ExistingCityId BIGINT NULL,
			DiscountId BIGINT NULL,
			ActualDiscount DECIMAL(18, 2) NULL,
			ExistingValidFrom DATE NULL,
			ExistingValidTo DATE NULL,
			ValidationMessage VARCHAR(MAX) NULL
		   );

		--Role Begins

		IF NOT EXISTS(Select 1 FROM UserRoles Where [UserId]= @LoginUserId)
		BEGIN
			ROLLBACK
		SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo,@OilType as OilType,@PackGroup as PackGroup,@PackType as PackType,'Failed, UserRole Not Exist' as 'Message'      
			RETURN
		END
		ELSE
			Select @RoleId = RoleId From UserRoles Where [UserId] = @LoginUserId

		IF @@ERROR <> 0 
		BEGIN     
		ROLLBACK  
		SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo,@OilType as OilType,@PackGroup as PackGroup,@PackType as PackType,'Failed in UserRoles' as 'Message'  
		RETURN 
		END 

		--Role Ends

		--SalesOrganization begins

		IF NOT EXISTS(Select 1 FROM SalesOrganizations Where [Code]= @SalesOrganization)
		BEGIN
			ROLLBACK
			SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo,@OilType as OilType,@PackGroup as PackGroup,@PackType as PackType, 'Failed, SalesOrganization Not Exist' as 'Message'      
			RETURN
		END
		ELSE
			Select @SalesOrganizationId = ID From SalesOrganizations Where [Code] = @SalesOrganization

		IF @@ERROR <> 0 
		BEGIN     
		ROLLBACK  
		SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo,@OilType as OilType,@PackGroup as PackGroup,@PackType as PackType, 'Failed In SalesOrganization' as 'Message'      
		RETURN 
		END 
		--SalesOrganization Ends


		--DistributionChannel begins

		IF NOT EXISTS(Select 1 FROM DistributionChannels Where [Code]= @DistributionChannel and SalesOrganizationId=@SalesOrganizationId)
		BEGIN
			ROLLBACK
		SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo,@OilType as OilType,@PackGroup as PackGroup,@PackType as PackType, 'Failed, Distribution Channel Not Exist' as 'Message'      
			RETURN
		END
		ELSE
			Select @DistributionChannelId = ID From DistributionChannels Where [Code] = @DistributionChannel and SalesOrganizationId=@SalesOrganizationId

		IF @@ERROR <> 0 
		BEGIN     
		ROLLBACK  
			SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo,@OilType as OilType,@PackGroup as PackGroup,@PackType as PackType,'Failed In Distribution Channel' as 'Message'      
		RETURN 
		END 
		--DistributionChannel Ends

		--Division begins

		IF NOT EXISTS(Select 1 FROM Divisions Where [Code]= @Division and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId  )
		BEGIN
			ROLLBACK
		SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo,@OilType as OilType,@PackGroup as PackGroup,@PackType as PackType,'Failed, Division Not Exist' as 'Message'      
			RETURN
		END
		ELSE
			Select @DivisionId = ID From Divisions Where [Code] = @Division and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId

		IF @@ERROR <> 0 
		BEGIN     
		ROLLBACK  
		SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo,@OilType as OilType,@PackGroup as PackGroup,@PackType as PackType, 'Failed In Division' as 'Message'      
		RETURN 
		END 
		--Division Ends

		IF @Discount = 0
		BEGIN
		ROLLBACK
		SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo,@OilType as OilType,@PackGroup as PackGroup,@PackType as PackType, 'Failed, Discount amount is zero' as 'Message'      
		RETURN
		END

		IF NOT EXISTS (select 1 from UserDivisionMappings where UserId = @LoginUserId and SalesOrganizationId = @SalesOrganizationId
		and DistributionChannelId = @DistributionChannelId and DivisionId = @DivisionId)
		BEGIN
			ROLLBACK
		SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo,@OilType as OilType,@PackGroup as PackGroup,@PackType as PackType,'Failed, Sales org , Distribution Channel , Division Combination Not Exist for LoginUser' as 'Message'      
			RETURN
		END

		DECLARE @ErrorMsg varchar(max) = ''
		DECLARE @IsFirstRecord bit = 0
		DECLARE @ParentId bigint = 0
		DECLARE @DiscountId bigint
		DECLARE @ActualDiscount decimal(18,3)
		DECLARE @ExistingValidFrom datetime
		DECLARE @ExistingValdTo datetime
		DECLARE @OilTypeId bigint
	    DECLARE @ErrorMsgCity varchar(max) = ''

		CREATE TABLE #ZoneStateDistrictCity(ZoneId bigint,StateId bigint,DistrictId bigint,CityId bigint)

		IF(LOWER(@City) = 'all')
		BEGIN 
			IF(LOWER(@District) = 'all')
			BEGIN
				IF(LOWER(@State) = 'all')
				BEGIN
						Insert into #ZoneStateDistrictCity(CityId,DistrictId,StateId,ZoneId)
		   				SELECT 0,0,0,zs.ZoneId FROM StringSplit(@Zone, ',') as s inner join Zones as z on Lower(s.Item) = Lower(z.Name)
						inner join ZoneStateMappings as zs on z.Id = zs.ZoneId
						--inner join Districts as d on zs.StateId = d.StateId
						--inner join Cities as c on d.Id = c.DistrictId; 
				END
				ELSE
				BEGIN
					Insert into #ZoneStateDistrictCity(CityId,DistrictId,StateId,ZoneId)
		   			SELECT 0,0, states.Id as StateId , zs.ZoneId FROM StringSplit(@State, ',') as s
					inner join States as states on Lower(s.Item) = Lower(states.StateName)
					inner join ZoneStateMappings as zs on states.Id = zs.StateId
					--inner join Districts as d on states.Id = d.StateId
					--inner join Cities as c on d.Id = c.DistrictId; 
				END
			END
			ELSE
			BEGIN
				Insert into #ZoneStateDistrictCity(CityId,DistrictId,StateId,ZoneId)
				SELECT 0 , d.Id as DitrictId , states.Id as StateId , zs.ZoneId FROM StringSplit(@District, ',') as s 
				inner join Districts as d on Lower(s.Item) = Lower(d.DistrictName)
				inner join States as states on d.StateId = states.Id
				inner join StringSplit(@State, ',') as statesgiven on Lower(statesgiven.Item) = Lower(states.StateName)
				inner join ZoneStateMappings as zs on states.Id = zs.StateId
				--inner join Cities as c on d.Id = c.DistrictId; 
			END
		END
		ELSE
		BEGIN
			Insert into #ZoneStateDistrictCity(CityId,DistrictId,StateId,ZoneId)
			SELECT c.Id as CityId , d.Id as DitrictId , states.Id as StateId , zs.ZoneId FROM StringSplit(@City, ',') as s
			inner join Cities as c on Lower(s.Item) = Lower(c.CityName)
			inner join Districts as d on c.DistrictId = d.Id 
			inner join StringSplit(@District, ',') as districtsgiven on Lower(districtsgiven.Item) = Lower(d.DistrictName)
			inner join States as states on d.StateId = states.Id
			inner join StringSplit(@State, ',') as statesgiven on Lower(statesgiven.Item) = Lower(states.StateName)
			inner join ZoneStateMappings as zs on states.Id = zs.StateId; 

			IF NOT EXISTS(Select 1 from #ZoneStateDistrictCity)
			BEGIN
			  SET @ErrorMsgCity = ISNULL(@ErrorMsgCity, '') + @City + ' - City Not Exists; '
			END

		END

		DECLARE @CityFromTemp bigint
		DECLARE @DistrictFromTemp bigint
		DECLARE @StateFromTemp bigint
		DECLARE @ZoneFromTemp bigint
		DECLARE @CityName varchar(max) = ''
		DECLARE @ExistingCityId varchar(max) = ''
		DECLARE @MaterialCodeForLoop varchar(max) = ''

		CREATE TABLE #InsertedIds (InsertedId INT,SkuId BIGINT);
		CREATE TABLE #MaterialCodeList (MaterialCode nvarchar(100));

		CREATE NONCLUSTERED INDEX IX_InsertedIds_SkuId ON #InsertedIds (SkuId);

		INSERT INTO #MaterialCodeList SELECT Item from [dbo].[StringSplit](@MaterialCode,',');

		--Discount List for each City and Sku
		INSERT INTO #TempDiscounts (CityId, DistrictId, StateId, ZoneId, MaterialCode)
		SELECT city.CityId, city.DistrictId, city.StateId, city.ZoneId, sku.MaterialCode
		FROM #MaterialCodeList sku
		Cross join #ZoneStateDistrictCity city

		IF EXISTS(SELECT 1 FROM #TempDiscounts)
		 BEGIN

			UPDATE #TempDiscounts
			SET SkuId = s.Id,
				OilTypeId = s.OilTypeId,
				PackGroupId = s.PackGroupId,
				PackTypeId = s.PackTypeId
			FROM #TempDiscounts t
			LEFT JOIN Skus s ON  s.SkuCode = t.MaterialCode AND s.SalesOrganizationId = @SalesOrganizationId
			AND s.DistributionChannelId = @DistributionChannelId AND s.DivisionId = @DivisionId
			AND s.IsActive = 1;

			UPDATE #TempDiscounts
			SET ValidationMessage = ISNULL(ValidationMessage, '') + MaterialCode + ' - Invalid Material Code; '
			WHERE SkuId IS NULL;

			UPDATE t
			SET 
				ExistingCityId = dg.CityId,
				CityName       = c.CityName,
				DiscountId     = dg.Id,
				ActualDiscount = dg.ActualDiscount,
				ExistingValidFrom = dg.ValidFrom,
				ExistingValidTo   = dg.ValidTo,
				ValidationMessage = ISNULL(t.ValidationMessage, '') +
					CASE 
						--WHEN dg.Id IS NOT NULL AND @Discount > dg.ActualDiscount 
						--	THEN t.MaterialCode + '-' + t.CityName + ' - Discount exceeds allowed amount; '
						WHEN @ValidFrom < SYSDATETIME() 
							THEN 'Failed, Valid From should be greater than or equal to current date; '
						WHEN @ValidTo < SYSDATETIME() AND @ValidTo < @ValidFrom
							THEN 'Failed, Valid To should be greater than or equal to valid from date; '
						WHEN dg.CityId IS NOT NULL 
							THEN 'Failed, ' + t.MaterialCode + ' ' + t.CityName + ' Discount already exists for City; '
						ELSE ''
					END,
				@ErrorMsgCity = ISNULL(@ErrorMsgCity, '') +
					CASE 
						--WHEN dg.Id IS NOT NULL AND @Discount > dg.ActualDiscount 
						--	THEN t.MaterialCode + '-' + t.CityName + ' - Discount exceeds allowed amount; '
						WHEN @ValidFrom < SYSDATETIME() 
							THEN 'Failed, Valid From should be greater than or equal to current date; '
						WHEN @ValidTo < SYSDATETIME() AND @ValidTo < @ValidFrom
							THEN 'Failed, Valid To should be greater than or equal to valid from date; '
						WHEN dg.CityId IS NOT NULL 
							THEN 'Failed, ' + t.MaterialCode + ' ' + t.CityName + ' Discount already exists for City; '
						ELSE ''
					END
					FROM #TempDiscounts t
					LEFT JOIN DiscountGeographies dg 
						ON t.SkuId = dg.SkuId AND t.CityId = dg.CityId
					LEFT JOIN Cities c 
				   ON dg.CityId = c.Id;

			--Delete existing records
			DELETE d
			FROM DiscountGeographies d
			JOIN #TempDiscounts t 
			ON d.SkuId = t.SkuId 
				AND d.CityId = t.CityId AND d.DistrictId = t.DistrictId AND d.ZoneId = t.ZoneId and d.StateId = t.StateId
				WHERE d.SalesOrganizationId = @SalesOrganizationId 
					AND d.DistributionChannelId = @DistributionChannelId 
					AND d.DivisionId = @DivisionId;
			--Insert  Parent Records
			WITH CTE_RankedDiscounts AS (
				SELECT 
					t.SkuId,
					t.OilTypeId,
					t.PackGroupId,
					t.PackTypeId,
					t.ZoneId,
					t.StateId,
					t.DistrictId,
					t.CityId,
					t.ValidationMessage,
					ROW_NUMBER() OVER (PARTITION BY t.SkuId ORDER BY (SELECT NULL)) AS RowNum
				FROM #TempDiscounts t 
				WHERE (t.ValidationMessage IS NULL OR t.ValidationMessage = '')
			)
			INSERT INTO DiscountGeographies (
				SkuId, SalesOrganizationId, DistributionChannelId, DivisionId, ActualDiscount,
				DiscountReason, ParentId, ValidFrom, ValidTo, CreatedBy, CreatedDate,
				OilTypeId, ZoneId, StateId, DistrictId, CityId, TerritoryId,PackGroupId,IsActive,PackTypeId
			)
			OUTPUT INSERTED.Id, INSERTED.SkuId INTO #InsertedIds (InsertedId, SkuId)
			SELECT 
				c.SkuId, @SalesOrganizationId, @DistributionChannelId, @DivisionId, 0.00,
				@DiscountReason, 
				--CASE 
				--	WHEN c.RowNum = 1 THEN 0
				--	ELSE 1
				--END AS ParentId,
				0 AS ParentId,
				@ValidFrom, @ValidTo, @LoginUserId, GETDATE(),
				c.OilTypeId, c.ZoneId, c.StateId, c.DistrictId, c.CityId, 0,c.PackGroupId,@IsActive,c.PackTypeId
			FROM CTE_RankedDiscounts c WHERE c.RowNum = 1 ;
			--Insert subsequence Records
			WITH CTE_RankedDiscounts AS (
				SELECT 
					t.SkuId,
					t.OilTypeId,
					t.PackGroupId,
					t.PackTypeId,
					t.ZoneId,
					t.StateId,
					t.DistrictId,
					t.CityId,
					t.ValidationMessage,
					ROW_NUMBER() OVER (PARTITION BY t.SkuId ORDER BY (SELECT NULL)) AS RowNum
				FROM #TempDiscounts t 
				WHERE (t.ValidationMessage IS NULL OR t.ValidationMessage = '')
			)
			INSERT INTO DiscountGeographies (
				SkuId, SalesOrganizationId, DistributionChannelId, DivisionId, ActualDiscount,
				DiscountReason, ParentId, ValidFrom, ValidTo, CreatedBy, CreatedDate,
				OilTypeId, ZoneId, StateId, DistrictId, CityId, TerritoryId,PackGroupId,IsActive,PackTypeId
			)
			SELECT 
				c.SkuId, @SalesOrganizationId, @DistributionChannelId, @DivisionId, @Discount,
				@DiscountReason, 
				discount.InsertedId,
				@ValidFrom, @ValidTo, @LoginUserId, GETDATE(),
				c.OilTypeId, c.ZoneId, c.StateId, c.DistrictId, c.CityId, 0,c.PackGroupId,@IsActive,c.PackTypeId
			FROM CTE_RankedDiscounts c
			LEFT JOIN #InsertedIds discount ON C.SkuId = discount.SkuId 
			WHERE c.RowNum >= 1;
		END
		ELSE
		 BEGIN
		 	SET @ErrorMsgCity = ISNULL(@ErrorMsgCity, '') + 'Mapping error: City/State/District combination :' + CONCAT(@City,',', @District,',',@State) + ' is invalid or may not exist.';
		 END

		IF (@ErrorMsgCity <> '' AND @ErrorMsgCity IS NOT NULL)
		 BEGIN
			SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo,@OilType as OilType,@PackGroup as PackGroup,@PackType as PackType,@IsActive as IsActive, @ErrorMsgCity as 'Message'			
		END
	   ELSE
	    BEGIN
		   SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo,@OilType as OilType,@PackGroup as PackGroup,@PackType as PackType,@IsActive as IsActive, 'Success, Discount added successfully' as 'Message'			
		END
	
   COMMIT TRANSACTION 

        DROP TABLE #TempDiscounts;
		DROP TABLE #InsertedIds;
		DROP TABLE #MaterialCodeList; 
		DROP TABLE #ZoneStateDistrictCity;

END TRY
 BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION;
    -- Capture and handle error details
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
 END CATCH;

