
ALTER  PROCEDURE [dbo].[usp_GetCrossAndUpsellSaudaOrderReport]
(	
	@LoginUserId bigint,
	@RoleId bigint,
	@FromDate DateTime,
	@ToDate DateTime,
	@VerticalId BigInt,
	@SalesOrganizationId bigint,
	@DistributionChannelId bigint,
	@StateIds Nvarchar(Max),
	@StatusIds Nvarchar(Max)
)
AS 
BEGIN
CREATE TABLE #DealerIdsTemp(DealerId BIGINT)   
CREATE TABLE #BdoTemp(BdoId BIGINT,BdoName varchar(max),BdoCode varchar(max),CustomerId bigint,SalesOrganizationId bigint,DistId bigint,DivisionId bigint,ZHId bigint,ZHName varchar(max))

insert into #BdoTemp(BdoId,BdoName,BdoCode,CustomerId,SalesOrganizationId,DistId,DivisionId,ZHId,ZHName)
select distinct u.Id,u.Name,u.Code,ucm.CustomerId,ud.SalesOrganizationId,ud.DistributionChannelId,ud.DivisionId ,zh.ReportingToUserId,z.Name
from UserCustomerMappings ucm
join Users u on ucm.UserId=u.Id
join UserRoles ur on ucm.UserId=ur.UserId
join UserDivisionMappings ud on ud.UserId=ur.UserId
join UserReportingToMappings zh on zh.UserId=u.Id
join Users z on z.Id=zh.ReportingToUserId
join UserDivisionMappings zdiv on z.Id=zdiv.UserId and ud.SalesOrganizationId=zdiv.SalesOrganizationId
and ud.DistributionChannelId=zdiv.DistributionChannelId and ud.DivisionId=zdiv.DivisionId
where ur.RoleId=7

 IF(@RoleId = 12) -- NH  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT ucm.CustomerId as DealerId  
   From UserReportingToMappings zh  
   INNER JOIN UserReportingToMappings bdo ON zh.UserId = bdo.ReportingToUserId  
   INNER JOIN UserCustomerMappings ucm ON ucm.UserId = bdo.UserId  
   Where zh.ReportingToUserId = @LoginUserId   
   
  END  
 ELSE IF(@RoleId = 9) -- ZH  
  BEGIN  
    INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId From 
   UserReportingToMappings bdo  
   INNER JOIN UserCustomerMappings ucm ON ucm.UserId = bdo.UserId 
   INNER JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where bdo.ReportingToUserId = @LoginUserId 
   
  END  
 ELSE IF(@RoleId = 7) --BDO  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId   
   From UserCustomerMappings ucm   
   JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where ucm.UserId = @LoginUserId --And cus.SaudaBookingtypeId = 1  


  END
  ELSE -- Admin  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select Distinct u.Id as DealerId From Users u   
   Join UserRoles ur on u.Id = ur.UserId Join Roles r on ur.RoleId = r.Id  
   Where ur.RoleId = 5 --AND u.SaudaBookingTypeId = 1  

 

  END
  Declare @Temp Table(Id Int, Data Nvarchar(Max))
	Insert Into @Temp
	select Id,Data from  dbo.Split(@StateIds,',') 

Declare @StatusTemp Table(Id Int, Data Nvarchar(Max))
	Insert Into @StatusTemp
	select Id,Data from  dbo.Split(@StatusIds,',') 



Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end


select 
u.Code as CustomerCode,
u.Name as CustomerName,
(CASE WHEN u.CityId > 0 THEN c.CityName ELSE '' END) as City,
sku.SkuName as SkuName,
sku.SkuCode as SkuCode,
so.BidQuantityCase as BidQuantityCase,
so.SaudaId as AppBookingNo,
s.BiddingDate as BiddingDate,
so.ValidFromDate as ValidFromDate,
so.ValidToDate as ValidToDate,
so.BidQuantity as BidQuantity,
pg.Name as PackGroup,
(Case when so.DiscountTypeId = 2 Then 0 Else so.DiscountAmount End) as Discount,
so.QPSDiscount as QPSDiscount,
so.QpsId as QPSId,
so.IndividualQPSDiscount as IndividualQPSDiscount,
(CASE WHEN u.StateId > 0  THEN st.StateName ELSE '' END) as State,
d.Name as PlantName,
(CASE WHEN sku.UomId > 0  THEN uom.Name ELSE '' END) as UOM,
(CASE WHEN so.Incoterms2 > 0  THEN it.Name ELSE '' END) as Incoterms,

(CASE WHEN so.SpecialRateRequestId > 0  
THEN 
(CASE WHEN so.BidQuantityCase > 0 THEN ( CASE WHEN (so.QuotedPrice-so.BidPrice)/so.BidQuantityCase >= 0 AND sr.IsLTD=1  THEN (so.QuotedPrice-so.BidPrice)/so.BidQuantityCase ELSE 0 END ) 
ELSE 0 
END) 
ELSE 0 
END) as LTDValue,

(CASE WHEN so.SpecialRateRequestId > 0  
THEN 
(CASE WHEN so.BidQuantityCase > 0 THEN ( CASE WHEN (so.QuotedPrice-so.BidPrice)/so.BidQuantityCase >= 0 AND sr.IsLTD=0  THEN (so.QuotedPrice-so.BidPrice)/so.BidQuantityCase ELSE 0 END ) 
ELSE 0 
END) 
ELSE 0 
END) as SpecialRate,

(CASE WHEN so.SpecialRateRequestId > 0  
THEN 
(CASE WHEN so.BidQuantityCase > 0 THEN ( CASE WHEN (so.QuotedPrice-so.BidPrice)/so.BidQuantityCase >= 0 AND sr.IsLTD=0  THEN (so.QuotedPrice-so.BidPrice)/so.BidQuantityCase ELSE 0 END ) 
ELSE 0 
END) 
ELSE (CASE WHEN so.DiscountTypeId = 2  THEN (CASE WHEN so.BidQuantityCase >0 THEN so.DiscountAmount/so.BidQuantityCase ELSE 0 END)  ELSE 0 END) 
END) as Premium,

(o.Name+'-'+sorg.Code+'/'+dist.Code+'/'+div.Code) as OilType,
so.Id as SaudaOrderId,
so.BidPrice as TotalValue,
(CASE WHEN so.QuotedPrice > 0 and so.BidQuantityCase > 0 THEN 
(so.BidPrice)/so.BidQuantityCase ELSE 0 END)AS SaleRate,
(CASE WHEN so.DiscountTypeId = 1  THEN (CASE WHEN so.BidQuantityCase >0 THEN so.DiscountAmount/so.BidQuantityCase ELSE 0 END)  ELSE 0 END) as TD,
(CASE WHEN so.BrokerId > 0  THEN broker.Name ELSE '' END) as BrokerName,
(CASE WHEN so.BrokerId > 0  THEN broker.Code ELSE '' END) as BrokerCode,
CAST(CAST(s.BiddingDate as time) as varchar(100)) as BiddingTime,
soso.Name as SalesOrganization,
sodist.Name as DistributionChannel,
sodiv.Name as Vertical,
so.Remarks as Remarks,
status.Name as Status,
so.SaudaId as AppBookingNo,
cfive.GroupName as CustomerGroupFive,
s.SaudaNumber as SaudaNumber,
r.Description as SaudaRemarks,
(CASE WHEN s.IsSapSauda = 1 Then 'SAP' Else 'APP' End) as DirectSauda,
CreatedBy.Name as CreatedBy,
(stuff((select ',' + bdo.BdoName  from #BdoTemp bdo where s.UserId=bdo.CustomerId 
and s.SalesOrganizationId=bdo.SalesOrganizationId and s.DistributionChannelId=bdo.DistId and
s.DivisionId=bdo.DivisionId 
 FOR XML PATH('')),1,1,'')
) AS EmployeeName ,
(stuff((select ',' + bdo.BdoCode  from #BdoTemp bdo where s.UserId=bdo.CustomerId 
and s.SalesOrganizationId=bdo.SalesOrganizationId and s.DistributionChannelId=bdo.DistId and
s.DivisionId=bdo.DivisionId 
 FOR XML PATH('')),1,1,'')
) AS EmployeeCode,
(STUFF((SELECT ',' + bdo.ZHName
              FROM (SELECT DISTINCT CustomerId, SalesOrganizationId, DistId, DivisionId, ZHName
                    FROM #BdoTemp) bdo
              WHERE s.UserId = bdo.CustomerId 
                AND s.SalesOrganizationId = bdo.SalesOrganizationId 
                AND s.DistributionChannelId = bdo.DistId 
                AND s.DivisionId = bdo.DivisionId 
              FOR XML PATH('')), 1, 1, '')
) AS ZonalHeadName,
saUser.Name as ApprovalUser,
so.PRAmount as PRAmount, 
so.PRGST as PRGST,
(CASE WHEN s.IsCrossAndUpsellContract = 1 THEN CASE WHEN so.IsMandatorySku = 0
   THEN 'Essential' ELSE 'Mandatory' END ELSE '' END) AS MaterialCategory,
 so.EmployeeSkuDiscountId AS DiscountId,
(CASE 
    WHEN so.DiscountTypeId = 1 THEN 'Geography'
    WHEN so.DiscountTypeId > 1 THEN 'Premium'
    ELSE ''
END) AS DiscountType
from Saudas s
join SaudaOrders so on s.Id=so.SaudaId
left join Remarks r on r.Id in (select top 1 Id from Remarks rmr where rmr.TableId=s.Id order by Id desc)
left join SalesOrganizations soso on soso.Id=so.SalesOrganizationId
join #UserDivision ud on ud.SalesOrganizationId=s.SalesOrganizationId and ud.DistributionChannelId=s.DistributionChannelId and ud.DivisionId=s.DivisionId
left join DistributionChannels sodist on sodist.Id=so.DistributionChannelId
left join Divisions sodiv on sodiv.Id=so.DivisionId
left join SpecialRates sr on sr.Id=so.SpecialRateRequestId
left join IncoTerms it on it.Id=so.Incoterms2
left join OilTypes o on o.Id=so.OilTypeId
left join SalesOrganizations sorg on sorg.Id=o.SalesOrganizationId
left join DistributionChannels dist on dist.Id =o.DistributionChannelId
left join Divisions div on div.Id=o.DivisionId
left join Depots d on d.Id = so.PlantId
join Users u on s.UserId=u.Id
left join CustomerGroupFives cfive on cfive.Id=u.CustomerGroupFiveId
left join States st on st.Id=u.StateId
left join Cities c on c.Id = u.CityId
left join Skus sku on sku.Id=so.SkuId
left join Status status on status.Id=so.StatusId
left join Users broker on broker.Id=so.BrokerId
left join Uoms uom on uom.Id=sku.UomId
left join PackGroups pg on pg.Id=sku.PackGroupId
left join Users as CreatedBy on s.CreatedBy = CreatedBy.Id
left join SaudaApprovals sa on sa.SaudaId=s.Id
left join Users saUser on sa.RequestedTo=saUser.Id
where s.IsCrossAndUpsellContract = 1 AND
(CAST(s.BiddingDate as Date) >= CAST(@FromDate as Date) and CAST(s.BiddingDate as Date) <= CAST(@ToDate as Date)) and
1 = CASE WHEN @StateIds='0' THEN 1 ELSE (CASE WHEN U.StateId IN (SELECT Data from @Temp  ) THEN 1 ELSE 0 END) END and 
1 = CASE WHEN @StatusIds='0' or '-1' IN (SELECT Data from @StatusTemp ) or @StatusIds='' THEN 1 ELSE (CASE WHEN so.StatusId IN (SELECT Data from @StatusTemp ) THEN 1 ELSE 0 END) END and
so.PlantId > 0  
and s.UserId in (Select DealerId from #DealerIdsTemp) 
and
((@SalesOrganizationId > 0 AND so.SalesOrganizationId = @SalesOrganizationId ) OR @SalesOrganizationId=0)  AND
((@DistributionChannelId > 0 AND so.DistributionChannelId = @DistributionChannelId ) OR @DistributionChannelId=0)  AND
((@VerticalId > 0 AND so.DivisionId = @VerticalId ) OR @VerticalId=0)  
and (s.IsSapSauda=1 or (sa.Id in (select top 1 Id from SaudaApprovals where SaudaId=s.Id order by Id desc)))

DROP TABLE #DealerIdsTemp  
DROP TABLE #UserDivision  

END