USE [AdaniDb]
GO
/****** Object:  StoredProcedure [dbo].[InsertDiscountGeography]    Script Date: 10-07-2025 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[InsertDiscountGeography]
    @SkuIds NVARCHAR(MAX), 
	@OilTypeId BIGINT,
	@PackGroupId BIGINT,
	@PackTypeId BIGINT,
    @Cities NVARCHAR(MAX),
    @DiscountReason NVARCHAR(255),
    @ValidFrom DATETIME,
    @ValidTo DATETIME,
    @LoginUserId BIGINT,
    @ActualDiscount DECIMAL(18,2),
	@IsActive BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    -- Parse Cities JSON into a table
    DECLARE @JsonTable TABLE (ZoneId INT, StateId INT, TerritoryId INT, DistrictId INT, CityId INT);
    INSERT INTO @JsonTable (ZoneId, StateId, TerritoryId, DistrictId, CityId)
    SELECT ZoneId, StateId, TerritoryId, DistrictId, CityId
    FROM OPENJSON(@Cities)
    WITH (ZoneId INT, StateId INT, TerritoryId INT, DistrictId INT, CityId INT);

    -- Get the first SKU and first City for the parent record
    DECLARE @FirstSkuId BIGINT, @FirstCityId INT;
    SELECT TOP 1 @FirstSkuId = value FROM STRING_SPLIT(@SkuIds, ',');
    SELECT TOP 1 @FirstCityId = CityId FROM @JsonTable;

    -- Insert the Parent Record (Single Record)
    DECLARE @ParentId AS TABLE(parentId BIGINT);

    INSERT INTO DiscountGeographies
    (SalesOrganizationId, DistributionChannelId, DivisionId, DiscountReason, 
     OilTypeId, SkuId, ZoneId, StateId, TerritoryId, DistrictId, CityId, ActualDiscount, 
     ValidFrom, ValidTo, CreatedBy, CreatedDate, ParentId,PackGroupId,PackTypeId,IsActive)
    OUTPUT INSERTED.Id INTO @ParentId
    SELECT s.SalesOrganizationId, s.DistributionChannelId, s.DivisionId, @DiscountReason,
           ISNULL(s.OilTypeId, 0), @FirstSkuId, j.ZoneId, j.StateId, j.TerritoryId, j.DistrictId, j.CityId, 
           0, @ValidFrom, @ValidTo, @LoginUserId, GETDATE(), 0,s.PackGroupId,s.PackTypeId,@IsActive
    FROM Skus s
    JOIN @JsonTable j ON j.CityId = @FirstCityId
    WHERE s.Id = @FirstSkuId AND s.OilTypeId = @OilTypeId AND s.PackGroupId = @PackGroupId AND s.PackTypeId = @PackTypeId;

    -- Insert Child Records (All SKUs & Cities Except the First Parent Entry)
    INSERT INTO DiscountGeographies
    (SalesOrganizationId, DistributionChannelId, DivisionId, DiscountReason, 
     OilTypeId, SkuId, ZoneId, StateId, TerritoryId, DistrictId, CityId, ActualDiscount, 
     ValidFrom, ValidTo, CreatedBy, CreatedDate, ParentId,PackGroupId,PackTypeId,IsActive)
    SELECT s.SalesOrganizationId, s.DistributionChannelId, s.DivisionId, @DiscountReason,
           ISNULL(s.OilTypeId, 0), skus.value, j.ZoneId, j.StateId, j.TerritoryId, j.DistrictId, j.CityId, 
           @ActualDiscount, @ValidFrom, @ValidTo, @LoginUserId, GETDATE(), (SELECT TOP 1 ParentId FROM @ParentId),s.PackGroupId,s.PackTypeId,@IsActive
    FROM STRING_SPLIT(@SkuIds, ',') skus
    JOIN Skus s ON skus.value = s.Id
    CROSS JOIN @JsonTable j
    WHERE s.OilTypeId = @OilTypeId AND s.PackGroupId = @PackGroupId AND s.PackTypeId = @PackTypeId

    RETURN 1; -- Success
END;
