ALTER PROCEDURE [dbo].[usp_GetCrossAndUpsellConfigurationList]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
	    scb.Id,
        sales.Name AS SalesOrganization,
        dis.Name as DistributionChannel,
        d.Name as Division,
        (CASE 
			WHEN scb.OilTypeId <> '' 
			THEN (
				SELECT STRING_AGG(o.Name, ', ')
				FROM OilTypes o
				INNER JOIN STRING_SPLIT(scb.OilTypeId, ',') oiltype ON o.Id = TRY_CAST(oiltype.value AS BIGINT)
			)
			ELSE ''
		END) AS OilType,
        P.Name AS PackGroup,
        Z.Name AS  Zone,
		s.StateName As State,
		(CASE 
			WHEN ess.EssentialSkuId <> '' 
			THEN (
				SELECT STRING_AGG(s.SkuName, ', ')
				FROM Skus s
				INNER JOIN STRING_SPLIT(ess.EssentialSkuId, ',') sku ON s.Id = TRY_CAST(sku.value AS BIGINT)
			)
			ELSE ''
		END) AS EssentialSku,
		sku.SkuName AS MandatorySku,
		man.MandatorySkuPercentage,
		scb.StartDate,
        scb.EndDate,
        scb.IsActive
    FROM SaudaConditionalBookingConfigurations scb
	JOIN SaudaConditionalBookingZoneStateMappings szs on scb.Id = szs.SaudaConditionalConfigurationId
	JOIN SaudaConditionalBookingEssentialSkuMappings ess on scb.Id = ess.SaudaConditionalConfigurationId
    JOIN SaudaConditionalBookingMandatorySkuMappings man on ess.Id = man.ConditionalBookingEssentialSkuMappingId
	JOIN Skus sku on man.MandatorySkuId = sku.Id
	JOIN SalesOrganizations sales on scb.SalesOrganizationId = sales.Id
    JOIN DistributionChannels dis on scb.DistributionChannelId = dis.Id
    JOIN Divisions d on scb.DivisionId = d.Id
	JOIN PackGroups p  on scb.PackGroupId = p.Id
	JOIN Zones z  on szs.ZoneId = z.Id
	JOIN States s  on szs.StateId = s.Id
    
END
