CREATE OR ALTER PROCEDURE [dbo].[UpdateSapSaudaNumberMessage]
    @CurrentDate DATETIME,
    @ConfigMinutes INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SaudaList TABLE (
        SaudaId INT,
        SaudaNumber VARCHAR(50),
        IsSAPDataSync BIT,
        IsSapSaudaNumberUpdateSync BIT,
        ModifiedDate DATETIME
    );

    DECLARE @TodayDate DATE = CAST(@CurrentDate AS DATE);

    INSERT INTO @SaudaList (SaudaId, SaudaNumber, IsSAPDataSync, IsSapSaudaNumberUpdateSync, ModifiedDate)
    SELECT SaudaId, SaudaNumber, IsSAPDataSync, IsSapSaudaNumberUpdateSync, ModifiedDate
    FROM SaudaOrders WHERE (SaudaNumber IS NULL OR SaudaNumber = '') AND IsSapSaudaNumberUpdateSync = 1
    OR (IsSAPDataSync = 1 AND IsSapSaudaNumberUpdateSync = 0 AND IsSapSauda = 0 AND DATEDIFF(MINUTE, ModifiedDate, GETDATE()) > 10) 
	OR (IsSAPDataSync = 0 AND IsSapSaudaNumberUpdateSync = 0 AND IsSapSauda = 0 AND DATEDIFF(MINUTE, ModifiedDate, GETDATE()) > 10)

    IF (SELECT COUNT(*) FROM @SaudaList) > 0
    BEGIN
        DECLARE @SaudaId INT;
        DECLARE @Message VARCHAR(255) = 'We have not received a response message from SAP.';

        DECLARE sauda_cursor CURSOR FOR
        SELECT SaudaId FROM @SaudaList;

        OPEN sauda_cursor;
        FETCH NEXT FROM sauda_cursor INTO @SaudaId;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            INSERT INTO Remarks (Description, TableName, TableId, CreatedDate, CreatedBy, IsActive, ReasonTypeId)
            VALUES (@Message, 'Saudas', @SaudaId, @CurrentDate, @UserId, 1, 0);

            FETCH NEXT FROM sauda_cursor INTO @SaudaId;
        END

        CLOSE sauda_cursor;
        DEALLOCATE sauda_cursor;
    END
END
