CREATE OR ALTER PROCEDURE [dbo].[GetGeographyCityList] 
    @ParentId INT,
    @PageNumber INT,
    @PageSize INT,
	@ZoneId VARCHAR(MAX)='',
    @StateId VARCHAR(MAX)='',
    @DistrictId VARCHAR(MAX)='',
    @CityId VARCHAR(MAX)=''
AS
BEGIN
 IF @PageSize <= 0
    BEGIN
        SET @PageSize = 10; 
    END
    DECLARE @Result TABLE
    (
        CityId INT,
        CityName NVARCHAR(255),
        DistrictId INT,
        DistrictName NVARCHAR(255),
        StateId INT,
        StateName NVARCHAR(255),
        ZoneId INT,
        ZoneName NVARCHAR(255),
        SkuId INT,
        SkuName NVARCHAR(255),
        SkuCode NVARCHAR(255),
        Discount DECIMAL(18,2)
    );

	;WITH ZoneList AS (
		SELECT TRY_CAST(value AS BIGINT) AS ZoneId
		FROM STRING_SPLIT(@ZoneId, ',')
		WHERE TRY_CAST(value AS BIGINT) IS NOT NULL
	),
	StateList AS (
	    SELECT TRY_CAST(value AS BIGINT) AS StateId
	    FROM STRING_SPLIT(@StateId, ',')
	    WHERE TRY_CAST(value AS BIGINT) IS NOT NULL
	),
	DistrictList AS (
		SELECT TRY_CAST(value AS BIGINT) AS DistrictId
		FROM STRING_SPLIT(@DistrictId, ',')
		WHERE TRY_CAST(value AS BIGINT) IS NOT NULL
	),
	CityList AS (
	    SELECT TRY_CAST(value AS BIGINT) AS CityId
	    FROM STRING_SPLIT(@CityId, ',')
	    WHERE TRY_CAST(value AS BIGINT) IS NOT NULL
	)

    INSERT INTO @Result
    SELECT 
        dg.CityId AS CityId,
        (CASE WHEN dg.CityId = 0 THEN 'ALL' ELSE C.CityName END) AS CityName,
        dg.DistrictId,
		(CASE WHEN dg.DistrictId = 0 THEN 'ALL' ELSE d.DistrictName END) AS DistrictName,        
        dg.StateId,
	    (CASE WHEN dg.StateId = 0 THEN 'ALL' ELSE s.StateName END) AS StateName,        
        dg.ZoneId,
	    (CASE WHEN dg.ZoneId = 0 THEN 'ALL' ELSE z.Name END) AS ZoneName,        
        dg.SkuId,
        sku.SkuName,
        sku.SkuCode,
        dg.ActualDiscount AS Discount
    FROM 
        DiscountGeographies dg
    LEFT JOIN 
        Cities c ON c.Id = dg.CityId
    LEFT JOIN 
        Districts d ON d.Id = dg.DistrictId
    LEFT JOIN 
        States s ON s.Id = dg.StateId
    LEFT JOIN 
        Zones z ON z.Id = dg.ZoneId
    LEFT JOIN Skus sku ON sku.Id = dg.SkuId
    WHERE 
        dg.ParentId = @ParentId
		AND
		(
			((@ZoneId IS NULL OR @ZoneId = '') OR dg.ZoneId IN(SELECT ZoneId FROM ZoneList)) AND
			((@StateId IS NULL OR @StateId = '') OR dg.StateId IN (SELECT StateId FROM StateList)) AND
			((@DistrictId IS NULL OR @DistrictId = '') OR dg.DistrictId IN (SELECT DistrictId FROM DistrictList)) AND
			((@CityId IS NULL OR @CityId = '') OR dg.CityId IN (SELECT CityId FROM CityList))
		)

    DECLARE @TotalCount INT;
    SELECT @TotalCount = COUNT(CityId)  
    FROM @Result;

    SELECT 
        CityId,
        CityName,
        DistrictId,
        DistrictName,
        StateId,
        StateName,
        ZoneId,
        ZoneName,
        SkuId,
        SkuName,
        SkuCode,
        Discount,
        @TotalCount AS TotalRows  
    FROM 
        @Result
    ORDER BY 
        CityId  
    OFFSET (@PageNumber - 1) * @PageSize ROWS  
    FETCH NEXT @PageSize ROWS ONLY;  
END;