SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[BulkInsertDiscountGeographyImportStatus]
    @DiscountGeographyImportStatusData DiscountGeographyImportStatusType READONLY
AS
BEGIN

	IF EXISTS(SELECT * FROM @DiscountGeographyImportStatusData WHERE id = 0)
	BEGIN
	    TRUNCATE TABLE DiscountGeographyImportStatus;

		INSERT INTO DiscountGeographyImportStatus 
			  (SalesOrganization, DistributionChannel, Division, MaterialCode, DiscountReason, Discount, ValidFrom, ValidTo, LoginUserId, Zone, State, District, City, Message, PackType, PackGroup, OilType, IsActive)
		SELECT SalesOrganization, DistributionChannel, Division, MaterialCode, DiscountReason, Discount, ValidFrom, ValidTo, LoginUserId, Zone, State, District, City, ISNULL(Message, 'In Progress'), PackType, PackGroup, OilType, IsActive
		FROM @DiscountGeographyImportStatusData WHERE Id = 0;
	END
	ELSE
	BEGIN
		UPDATE d 
		SET d.Message = ud.Message
		FROM DiscountGeographyImportStatus d
		JOIN @DiscountGeographyImportStatusData ud ON d.Id = ud.Id;	   
	END

	SELECT * FROM DiscountGeographyImportStatus;
END
GO
