ALTER PROCEDURE [dbo].[usp_GetCrossAndUpsellConfigurationMasterList]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

	    UPDATE SaudaConditionalBookingConfigurations SET IsActive = 0 WHERE IsActive = 1 AND EndDate < GETDATE();

        SELECT 
            scb.Id,
            so.Name AS SalesOrganizationName,
            dc.Name AS DistributionChannelName,
            d.Name AS DivisionName,
			STUFF((
				SELECT DISTINCT ',' + ot.Name
				FROM string_split(scb.OilTypeId, ',') AS m
				JOIN oiltypes ot ON TRY_CAST(m.value AS BIGINT) = ot.Id
				FOR XML PATH(''), TYPE
			).value('.', 'NVARCHAR(MAX)'), 1, 1, '') AS OilTypeName,
			pg.Name AS PackGroupName,
            scb.SalesOrganizationId,
            scb.DistributionChannelId,
            scb.DivisionId,
            scb.OilTypeId,
            scb.PackGroupId,
            scb.StartDate,
            scb.EndDate,
            scb.IsActive,
            scb.CreatedBy,
            scb.CreatedDate,
            STUFF((SELECT DISTINCT ',' + CAST(m.ZoneId AS NVARCHAR(max)) FROM SaudaConditionalBookingZoneStateMappings m
                WHERE m.SaudaConditionalConfigurationId = scb.Id FOR XML PATH('')), 1, 1, '') AS ZoneIdList,
            STUFF((SELECT DISTINCT ',' + CAST(m.StateId AS NVARCHAR(max)) FROM SaudaConditionalBookingZoneStateMappings m
                WHERE m.SaudaConditionalConfigurationId = scb.Id FOR XML PATH('')), 1, 1, '') AS StateIdList,
            STUFF((SELECT DISTINCT ',' + z.Name FROM SaudaConditionalBookingZoneStateMappings m INNER JOIN Zones z ON m.ZoneId = z.Id
                WHERE m.SaudaConditionalConfigurationId = scb.Id FOR XML PATH('')), 1, 1, '') AS ZoneNames,
            STUFF((SELECT DISTINCT ',' + s.StateName FROM SaudaConditionalBookingZoneStateMappings m INNER JOIN States s ON m.StateId = s.Id
                WHERE m.SaudaConditionalConfigurationId = scb.Id FOR XML PATH('')), 1, 1, '') AS StateNames
        FROM SaudaConditionalBookingConfigurations scb
        LEFT JOIN SalesOrganizations so ON scb.SalesOrganizationId = so.Id
        LEFT JOIN DistributionChannels dc ON scb.DistributionChannelId = dc.Id
        LEFT JOIN Divisions d ON scb.DivisionId = d.Id
        LEFT JOIN PackGroups pg ON scb.PackGroupId = pg.Id
        ORDER BY scb.Id DESC;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
