CREATE OR ALTER PROCEDURE [dbo].[usp_ImportQuantityLimit]
(
    @LoginUserId				BIGINT,
	@SalesOrganizationCode		VARCHAR(MAX),
	@DistributionChannelCode	VARCHAR(MAX),
	@DivisionCode				VARCHAR(MAX),
	@OilTypeName				VARCHAR(MAX),
	@EmployeeCode				VARCHAR(MAX),
	@QuantityLimit				VARCHAR (MAX),
	@ValidFrom					DATETIME,
	@ValidTo					DATETIME
)

AS
BEGIN
	Set NOCOUNT OFF
	BEGIN TRY
		BEGIN TRANSACTION
		
		DECLARE  @SalesOrganizationId BIGINT = NULL, @DistributionChannelId	BIGINT = NULL, @DivisionId BIGINT = NULL, @OilTypeId BIGINT = NULL, @EmployeeUserId BIGINT = NULL ;
		DECLARE @InsertedIds TABLE (Id INT);
		DECLARE @FirstInsertedRecordId INT;
		SET @SalesOrganizationCode	 = LTRIM(RTRIM(@SalesOrganizationCode))
		SET @DistributionChannelCode = LTRIM(RTRIM(@DistributionChannelCode))
		SET @DivisionCode			 = LTRIM(RTRIM(@DivisionCode))
		SET @OilTypeName			 = LTRIM(RTRIM(@OilTypeName))
		SET @EmployeeCode			 = LTRIM(RTRIM(@EmployeeCode))
		SET @QuantityLimit			 = LTRIM(RTRIM(@QuantityLimit))
	
		IF (@LoginUserId > 0 )
		BEGIN
			
			IF NOT EXISTS(Select 1 FROM SalesOrganizations Where [Code]= @SalesOrganizationCode )
			BEGIN
				ROLLBACK
				SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Failed, SalesOrganization Not Exist' AS 'Message'      
				RETURN
			END
			ELSE
				Select @SalesOrganizationId = Id From SalesOrganizations Where [Code] = @SalesOrganizationCode AND IsActive = 1
			
			IF @@ERROR <> 0 
			BEGIN     
			ROLLBACK  
				SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Failed In SalesOrganization' AS 'Message'      
			RETURN 
			END 
			
			IF NOT EXISTS(Select 1 FROM DistributionChannels Where [Code]= @DistributionChannelCode and [SalesOrganizationId]=@SalesOrganizationId)
			BEGIN
				ROLLBACK
				SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Failed, DistributionChannel Not Exist' AS 'Message'      
				RETURN
			END
			ELSE
				Select @DistributionChannelId = ID From DistributionChannels Where [Code] = @DistributionChannelCode and [SalesOrganizationId]=@SalesOrganizationId AND IsActive = 1
			
			IF @@ERROR <> 0 
			BEGIN     
			ROLLBACK  
				SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Failed In DistributionChannel' AS 'Message'      
			RETURN 
			END 
			
			IF NOT EXISTS(SELECT 1 FROM Divisions WHERE [Code]= @DivisionCode and DistributionChannelId=@DistributionChannelId and SalesOrganizationId=@SalesOrganizationId)
			BEGIN
				ROLLBACK
					SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo ,'Failed, Division Not Exist' AS 'Message'      
				RETURN
			END
			ELSE
				SELECT @DivisionId = Id From Divisions WHERE [Code] = @DivisionCode and DistributionChannelId=@DistributionChannelId and SalesOrganizationId=@SalesOrganizationId AND IsActive = 1
			
			IF @@ERROR <> 0 
			BEGIN     
				ROLLBACK  
					SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Failed In Division' AS 'Message'      
				RETURN 
			END 
			
			IF NOT EXISTS(SELECT 1 FROM [OilTypes] WHERE [Name]= @OilTypeName and DivisionId=@DivisionId and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId)
			BEGIN
				ROLLBACK
					SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Failed, Oiltype Not exists' AS 'Message'      
				RETURN
			END
			ELSE
				SELECT @OilTypeId = Id From [OilTypes] WHERE [Name]= @OilTypeName and DivisionId=@DivisionId and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId
			
			IF @@ERROR <> 0 
			BEGIN     
				ROLLBACK  
					SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Failed In OilType' AS 'Message'      
				RETURN 
			END
			
			IF @QuantityLimit = ''
			BEGIN
			    ROLLBACK
					SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Failed, Qunatity limit is empty' AS 'Message'      
				RETURN
			END
			ELSE
			BEGIN
			    DECLARE @NumericQty DECIMAL(18,2) = TRY_CAST(@QuantityLimit AS DECIMAL(18,2));
			    IF @NumericQty IS NULL
				BEGIN
			       ROLLBACK
						SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Failed, Qunatity limit is Invalid' AS 'Message'      
					RETURN
				END
			    ELSE IF @NumericQty = 0
				BEGIN
			       ROLLBACK
						SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Failed, Qunatity limit is zero' AS 'Message'      
					RETURN
				END
			END

			SELECT @EmployeeUserId = Id FROM [dbo].[Users] WHERE Code = @EmployeeCode AND IsActive = 1
			IF NOT EXISTS (SELECT 1 FROM UserDivisionMappings WHERE UserId = @EmployeeUserId AND SalesOrganizationId = @SalesOrganizationId AND DistributionChannelId = @DistributionChannelId AND DivisionId = @DivisionId)
			BEGIN
				ROLLBACK
					SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Failed, Sales org , Distribution Channel , Division Combination Not Exist for Employee' AS 'Message'      
				RETURN
			END

			IF (CAST(@ValidFrom AS DATE) <= CAST(GETDATE() AS DATE))
			BEGIN
			    ROLLBACK
					SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Failed, From date should be greater than or equal to current date' AS 'Message'      
				RETURN
			END

			IF (CAST(@ValidTo AS DATE) < CAST(@ValidFrom AS DATE))
			BEGIN
			    ROLLBACK
					SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Failed, To date should be greater than or equal to From date' AS 'Message'      
				RETURN
			END

			IF NOT EXISTS (SELECT 1 FROM [dbo].[SpecalityFatDiscountUsers] WHERE UserId = @EmployeeUserId AND SalesOrganizationId = @SalesOrganizationId AND DistributionChannelId = @DistributionChannelId AND DivisionId = @DivisionId)
			BEGIN
	
				-- 2. Insert ONLY the first matching Sku with ParentId = 0 and capture its new Id
				INSERT INTO SpecalityFatDiscountUsers (SkuId,UserId,OilTypeId,ActualDiscount,RequestedDiscount,ApprovedBy,
					ValidFrom,ValidTo,ParentId,RemainingQuantity,ParentQuantityId,DivisionId,SalesOrganizationId,DistributionChannelId,
					CreatedBy,CreatedDate)
				OUTPUT INSERTED.Id INTO @InsertedIds
				SELECT TOP 1 s.Id,@EmployeeUserId,@OilTypeId,@QuantityLimit,0.00,0,	CAST(@ValidFrom AS DATE),CAST(@ValidTo AS DATE),0,@QuantityLimit,0,@DivisionId,@SalesOrganizationId,         
					@DistributionChannelId,@LoginUserId,GETDATE()				
				FROM Skus s WHERE 
					s.SalesOrganizationId = @SalesOrganizationId AND
					s.DistributionChannelId = @DistributionChannelId AND
					s.DivisionId = @DivisionId AND
					s.OilTypeId = @OilTypeId
				ORDER BY s.Id;
	
					-- 3. Get the Id of the inserted record
					SELECT TOP 1 @FirstInsertedRecordId = Id FROM @InsertedIds;
	
					-- 4. Insert the remaining Skus with ParentId = Id of the first inserted record
					INSERT INTO SpecalityFatDiscountUsers (SkuId,UserId,OilTypeId,ActualDiscount,RequestedDiscount,
						ApprovedBy,ValidFrom,ValidTo,ParentId,RemainingQuantity,ParentQuantityId,DivisionId,SalesOrganizationId,DistributionChannelId,CreatedBy,CreatedDate
					)
					SELECT s.Id,@EmployeeUserId,@OilTypeId,@QuantityLimit,0.00,0,CAST(@ValidFrom AS DATE),CAST(@ValidTo AS DATE),	
						@FirstInsertedRecordId,@QuantityLimit,0,@DivisionId,@SalesOrganizationId,@DistributionChannelId,    
						@LoginUserId,GETDATE()					    
					FROM Skus s
					WHERE s.SalesOrganizationId = @SalesOrganizationId AND s.DistributionChannelId = @DistributionChannelId AND
						s.DivisionId = @DivisionId AND s.OilTypeId = @OilTypeId
						AND s.Id NOT IN (SELECT TOP 1 s2.Id FROM Skus s2
							WHERE s2.SalesOrganizationId = @SalesOrganizationId AND s2.DistributionChannelId = @DistributionChannelId AND s2.DivisionId = @DivisionId AND
								  s2.OilTypeId = @OilTypeId ORDER BY s2.Id);
					SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Data Inserted Successfully' AS 'Message'      
			END
			ELSE
			BEGIN
				IF EXISTS (SELECT 1 FROM [dbo].[SpecalityFatDiscountUsers] WHERE  (CAST(ValidFrom AS DATE) >= CAST(@ValidFrom AS DATE) AND CAST(ValidFrom AS DATE) <= CAST(@ValidTo AS DATE))
					OR (CAST(ValidTo AS DATE) >= CAST(@ValidFrom AS DATE) AND CAST(@ValidTo AS DATE) <= CAST(ValidTo AS DATE) AND  SalesOrganizationId = @SalesOrganizationId AND DistributionChannelId = @DistributionChannelId AND DivisionId = @DivisionId AND OilTypeId = @OilTypeId))
				BEGIN					
						UPDATE [dbo].[SpecalityFatDiscountUsers] SET OilTypeId = @OilTypeId,
								ActualDiscount = @QuantityLimit, ValidFrom = CAST (@ValidFrom AS datetime2),ValidTo = CAST (@ValidTo AS datetime2),
								RemainingQuantity = @QuantityLimit							
								WHERE (CAST(ValidFrom AS DATE) >= CAST(@ValidFrom AS DATE) AND CAST(ValidFrom AS DATE) <= CAST(@ValidTo AS DATE)) OR (CAST(ValidTo AS DATE) >= CAST(@ValidFrom AS DATE) AND CAST(@ValidTo AS DATE) <= CAST(ValidTo AS DATE) 
								AND  SalesOrganizationId = @SalesOrganizationId AND DistributionChannelId = @DistributionChannelId AND DivisionId = @DivisionId AND OilTypeId = @OilTypeId)
					SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Data Updated Successfully' AS 'Message'      
				END
				ELSE
				BEGIN
	
				-- 2. Insert ONLY the first matching Sku with ParentId = 0 and capture its new Id
				INSERT INTO SpecalityFatDiscountUsers (SkuId,UserId,OilTypeId,ActualDiscount,RequestedDiscount,ApprovedBy,
					ValidFrom,ValidTo,ParentId,RemainingQuantity,ParentQuantityId,DivisionId,SalesOrganizationId,DistributionChannelId,
					CreatedBy,CreatedDate)
				OUTPUT INSERTED.Id INTO @InsertedIds
				SELECT TOP 1 s.Id,@EmployeeUserId,@OilTypeId,@QuantityLimit,0.00,0,	CAST(@ValidFrom AS DATE),CAST(@ValidTo AS DATE),0,@QuantityLimit,0,@DivisionId,@SalesOrganizationId,         
					@DistributionChannelId,@LoginUserId,GETDATE()				
				FROM Skus s WHERE 
					s.SalesOrganizationId = @SalesOrganizationId AND
					s.DistributionChannelId = @DistributionChannelId AND
					s.DivisionId = @DivisionId AND
					s.OilTypeId = @OilTypeId
				ORDER BY s.Id;
	
					-- 3. Get the Id of the inserted record
					SELECT TOP 1 @FirstInsertedRecordId = Id FROM @InsertedIds;
	
					-- 4. Insert the remaining Skus with ParentId = Id of the first inserted record
					INSERT INTO SpecalityFatDiscountUsers (SkuId,UserId,OilTypeId,ActualDiscount,RequestedDiscount,
						ApprovedBy,ValidFrom,ValidTo,ParentId,RemainingQuantity,ParentQuantityId,DivisionId,SalesOrganizationId,DistributionChannelId,CreatedBy,CreatedDate
					)
					SELECT s.Id,@EmployeeUserId,@OilTypeId,@QuantityLimit,0.00,0,CAST(@ValidFrom AS DATE),CAST(@ValidTo AS DATE),	
						@FirstInsertedRecordId,@QuantityLimit,0,@DivisionId,@SalesOrganizationId,@DistributionChannelId,    
						@LoginUserId,GETDATE()					    
					FROM Skus s
					WHERE s.SalesOrganizationId = @SalesOrganizationId AND s.DistributionChannelId = @DistributionChannelId AND
						s.DivisionId = @DivisionId AND s.OilTypeId = @OilTypeId
						AND s.Id NOT IN (SELECT TOP 1 s2.Id FROM Skus s2
							WHERE s2.SalesOrganizationId = @SalesOrganizationId AND s2.DistributionChannelId = @DistributionChannelId AND s2.DivisionId = @DivisionId AND
								  s2.OilTypeId = @OilTypeId ORDER BY s2.Id);
					SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Data Inserted Successfully' AS 'Message'      
				END
			END


		END
		
		ELSE
		BEGIN
		IF @@ERROR <> 0 
		BEGIN     
			ROLLBACK  
				SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@OilTypeName AS OilTypeName,@EmployeeCode AS EmployeeCode,@QuantityLimit AS QuantityLimit,@ValidFrom AS ValidFrom,@ValidTo AS ValidTo , 'Invalid User' AS 'Message'      
			RETURN 
		END 
	END
	COMMIT TRANSACTION 

	END TRY
		BEGIN CATCH
		   IF @@TRANCOUNT > 0
		       ROLLBACK TRANSACTION;
		
		   -- Capture and handle error details
		   DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
		   DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
		   DECLARE @ErrorState INT = ERROR_STATE();
		
		   RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
		END CATCH;
	
END