
ALTER PROCEDURE [dbo].[usp_AddOrUpdateCrossAndUpsellConfiguration]
(
    @Id INT = 0,
    @SalesOrganizationCode NVARCHAR(500),
    @DistributionChannelCode NVARCHAR(500),
    @DivisionCode NVARCHAR(500),
    @StateName NVARCHAR(MAX),
    @ZoneName NVARCHAR(MAX),
    @OilTypeName NVARCHAR(500),
    @PackGroup NVARCHAR(500),
    @StartDate DATETIME,
    @EndDate DATETIME,
	@EssentialSkus NVARCHAR(MAX),
	@MantatorySkus NVARCHAR(MAX),
    @LoginUserId BIGINT
)
AS
BEGIN
SET NOCOUNT OFF;

Declare @RoleId AS BIGINT;
Declare @SalesOrganizationId AS BIGINT;
Declare @DistributionChannelId AS BIGINT;
Declare @DivisionId AS BIGINT;
Declare @OilTypeId AS BIGINT;
Declare @PackGroupId AS BIGINT;

CREATE TABLE #ZoneStateMapping(ZoneId bigint,StateId bigint);
CREATE TABLE #MandatorySkuMapping(SkuId bigint,Percentage Decimal);


IF NOT EXISTS(Select 1 FROM UserRoles Where [UserId]= @LoginUserId)
BEGIN
    SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode,@StateName as StateName,@ZoneName as ZoneName,@OilTypeName as OilTypeName,@PackGroup as PackGroup,@StartDate as StartDate,@EndDate as EndDate,'Failed, UserRole Not Exist' as 'Message'      
    RETURN
END
ELSE
    Select @RoleId = RoleId From UserRoles Where [UserId] = @LoginUserId

IF NOT EXISTS(Select 1 FROM SalesOrganizations Where [Code]= @SalesOrganizationCode)
BEGIN
   SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode,@StateName as StateName,@ZoneName as ZoneName,@OilTypeName as OilTypeName,@PackGroup as PackGroup,@StartDate as StartDate,@EndDate as EndDate,'Failed, SalesOrganization Not Exist' as 'Message'
    RETURN
END
ELSE
    Select @SalesOrganizationId = ID From SalesOrganizations Where [Code] = @SalesOrganizationCode

IF NOT EXISTS(Select 1 FROM DistributionChannels Where [Code]= @DistributionChannelCode and SalesOrganizationId=@SalesOrganizationId)
BEGIN
  SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode,@StateName as StateName,@ZoneName as ZoneName,@OilTypeName as OilTypeName,@PackGroup as PackGroup,@StartDate as StartDate,@EndDate as EndDate,'Failed, DistributionChannels Not Exist' as 'Message'
    RETURN
END
ELSE
    Select @DistributionChannelId = ID From DistributionChannels Where [Code] = @DistributionChannelCode and SalesOrganizationId=@SalesOrganizationId

IF NOT EXISTS(Select 1 FROM Divisions Where [Code]= @DivisionCode and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId  )
BEGIN
  SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode,@StateName as StateName,@ZoneName as ZoneName,@OilTypeName as OilTypeName,@PackGroup as PackGroup,@StartDate as StartDate,@EndDate as EndDate,'Failed, Division Not Exist' as 'Message'
    RETURN
END
ELSE
    Select @DivisionId = ID From Divisions Where [Code] = @DivisionCode and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId

IF NOT EXISTS(Select 1 FROM OilTypes Where Name = @OilTypeName and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId  AND divisionId = @DivisionId)
BEGIN
  SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode,@StateName as StateName,@ZoneName as ZoneName,@OilTypeName as OilTypeName,@PackGroup as PackGroup,@StartDate as StartDate,@EndDate as EndDate,'Failed, Oiltype Not Exist' as 'Message'
    RETURN
END
ELSE
    Select @OilTypeId = ID From OilTypes Where Name = @OilTypeName and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId  AND divisionId = @DivisionId

IF NOT EXISTS(Select 1 FROM packgroups Where Name = @PackGroup and IsActive = 1)
BEGIN
  SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode,@StateName as StateName,@ZoneName as ZoneName,@OilTypeName as OilTypeName,@PackGroup as PackGroup,@StartDate as StartDate,@EndDate as EndDate,'Failed, Pack Group Not Exist' as 'Message'
    RETURN
END
ELSE
    Select @PackGroupId = ID From packgroups Where Name = @PackGroup and IsActive = 1

IF (CAST(@StartDate as date) < CAST(SYSDATETIME() as date))
BEGIN
  SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode,@StateName as StateName,@ZoneName as ZoneName,@OilTypeName as OilTypeName,@PackGroup as PackGroup,@StartDate as StartDate,@EndDate as EndDate,'Failed, Start Date should be greater that or equal to current date' as 'Message'
    RETURN
END

IF (CAST(@StartDate as date) > CAST(@EndDate as date))
BEGIN
  SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode,@StateName as StateName,@ZoneName as ZoneName,@OilTypeName as OilTypeName,@PackGroup as PackGroup,@StartDate as StartDate,@EndDate as EndDate,'Failed, End Date should be greater that or equal to start date' as 'Message'
    RETURN
END

IF (@MantatorySkus = '')
BEGIN
    SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode,@StateName as StateName,@ZoneName as ZoneName,@OilTypeName as OilTypeName,@PackGroup as PackGroup,@StartDate as StartDate,@EndDate as EndDate,'Failed, Mandatory Skus Required' as 'Message'
    RETURN
END
ELSE
BEGIN
 INSERT INTO #MandatorySkuMapping (SkuId,Percentage)
	SELECT 
		MandatorySkuId,
		MandatoryBookingQuantityPercentage
	FROM OPENJSON(@MantatorySkus)
	WITH (
		MandatorySkuId BIGINT,
		MandatoryBookingQuantityPercentage DECIMAL(18, 2)
	);
END


IF(LOWER(@ZoneName) = 'all')
BEGIN 
  IF(LOWER(@StateName) = 'all')
   BEGIN	    
     Insert into #ZoneStateMapping(StateId,ZoneId)
	 SELECT 0,0
   END
   ELSE
   BEGIN
     Insert into #ZoneStateMapping(StateId,ZoneId)
	 SELECT s.Id,0 FROM States s
     inner join StringSplit(@StateName, ',') as statesgiven on Lower(statesgiven.Item) = Lower(s.StateName)
	 inner join ZoneStateMappings as zs on s.Id = zs.StateId; 
   END
END
ELSE
BEGIN
	 Insert into #ZoneStateMapping(StateId,ZoneId)
	 SELECT s.Id,z.Id FROM States s
     inner join StringSplit(@StateName, ',') as statesgiven on Lower(statesgiven.Item) = Lower(s.StateName)
	 inner join ZoneStateMappings as zs on s.Id = zs.StateId
	 inner join zones as z on zs.ZoneId = z.Id
	 inner join StringSplit(@ZoneName, ',') as zone on Lower(zone.Item) = Lower(z.Name)
END

IF NOT EXISTS(select 1 from #ZoneStateMapping)
BEGIN
    SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode,@StateName as StateName,@ZoneName as ZoneName,@OilTypeName as OilTypeName,@PackGroup as PackGroup,@StartDate as StartDate,@EndDate as EndDate,'Failed, Zone and State mapping invalid' as 'Message'
    RETURN
END


DECLARE @SaudaConfigId AS BIGINT;
DECLARE @NewZoneState VARCHAR(MAX);
DECLARE @ConditionalBookingEssentialSkuMappingId AS BIGINT;

BEGIN TRAN;
 BEGIN TRY

    SELECT @NewZoneState = STRING_AGG(CAST(ZoneId AS VARCHAR) + '-' + CAST(StateId AS VARCHAR), ',' )
	WITHIN GROUP (ORDER BY ZoneId, StateId)
	FROM (
		SELECT DISTINCT ZoneId, StateId
		FROM #ZoneStateMapping
	) AS SortedNewMappings;

    SELECT TOP 1 @SaudaConfigId = c.Id
    FROM SaudaConditionalBookingConfigurations c
    JOIN SaudaConditionalBookingZoneStateMappings m ON c.Id = m.SaudaConditionalConfigurationId
    WHERE c.SalesOrganizationId = @SalesOrganizationId
      AND c.DistributionChannelId = @DistributionChannelId
      AND c.DivisionId = @DivisionId
      AND c.OilTypeId = @OilTypeId
      AND c.PackGroupId = @PackGroupId
      AND c.IsActive = 1
    GROUP BY c.Id
    HAVING STRING_AGG(CAST(m.ZoneId AS VARCHAR) + '-' + CAST(m.StateId AS VARCHAR), ',') =
           @NewZoneState;

    IF @SaudaConfigId IS NOT NULL
    BEGIN

        UPDATE SaudaConditionalBookingConfigurations
        SET StartDate = @StartDate,
            EndDate = @EndDate,
            ModifiedBy = @LoginUserId,
            ModifiedDate = SYSDATETIME()
        WHERE Id = @SaudaConfigId;

		IF NOT EXISTS (
			SELECT 1
			FROM SaudaConditionalBookingEssentialSkuMappings
			WHERE SaudaConditionalConfigurationId = @SaudaConfigId
			  AND EssentialSkuId = @EssentialSkus
			  AND IsActive = 1
		)
		BEGIN
			INSERT INTO SaudaConditionalBookingEssentialSkuMappings(SaudaConditionalConfigurationId, EssentialSkuId, IsActive, CreatedBy, CreatedDate)
			VALUES (@SaudaConfigId, @EssentialSkus, 1, @LoginUserId, SYSDATETIME());
		END

		SELECT TOP 1 @ConditionalBookingEssentialSkuMappingId = Id
		FROM SaudaConditionalBookingEssentialSkuMappings
		WHERE SaudaConditionalConfigurationId = @SaudaConfigId
		  AND EssentialSkuId = @EssentialSkus
		ORDER BY Id DESC;


		UPDATE m
		SET m.MandatorySkuPercentage = skum.Percentage,
			m.ModifiedBy = @LoginUserId,       
			m.ModifiedDate = SYSDATETIME()
		FROM SaudaConditionalBookingMandatorySkuMappings m
		JOIN #MandatorySkuMapping skum ON skum.SkuId = m.MandatorySkuId
		JOIN Skus s ON s.Id = skum.SkuId
		WHERE m.ConditionalBookingEssentialSkuMappingId = @ConditionalBookingEssentialSkuMappingId;

        INSERT INTO SaudaConditionalBookingMandatorySkuMappings(ConditionalBookingEssentialSkuMappingId, MandatorySkuId, MandatorySkuCode, MandatorySkuPercentage, CreatedBy, CreatedDate)
		SELECT @ConditionalBookingEssentialSkuMappingId, s.Id, s.SkuCode, skum.Percentage, @LoginUserId, SYSDATETIME()
		FROM Skus s
		JOIN #MandatorySkuMapping skum ON s.Id = skum.SkuId
		WHERE NOT EXISTS (
			SELECT 1
			FROM SaudaConditionalBookingMandatorySkuMappings m
			WHERE m.ConditionalBookingEssentialSkuMappingId = @ConditionalBookingEssentialSkuMappingId
			  AND m.MandatorySkuId = s.Id
		);


	  COMMIT TRAN;

      SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode,@StateName as StateName,@ZoneName as ZoneName,@OilTypeName as OilTypeName,@PackGroup as PackGroup,@StartDate as StartDate,@EndDate as EndDate,'Success, Updated successfully.' as 'Message'

	  RETURN;

    END
    ELSE
    BEGIN

        INSERT INTO SaudaConditionalBookingConfigurations(SalesOrganizationId, DistributionChannelId, DivisionId, OilTypeId, PackGroupId, StartDate, EndDate, CreatedBy, CreatedDate, IsActive)
        VALUES (@SalesOrganizationId, @DistributionChannelId, @DivisionId, @OilTypeId, @PackGroupId, @StartDate, @EndDate, @LoginUserId, SYSDATETIME(), 1);

        SET @SaudaConfigId = SCOPE_IDENTITY();

        INSERT INTO SaudaConditionalBookingZoneStateMappings(SaudaConditionalConfigurationId, StateId, ZoneId,IsActive, CreatedBy, CreatedDate)
        SELECT @SaudaConfigId, zs.StateId, zs.ZoneId,1, @LoginUserId, SYSDATETIME()
        FROM #ZoneStateMapping zs;

        INSERT INTO SaudaConditionalBookingEssentialSkuMappings(SaudaConditionalConfigurationId, EssentialSkuId, IsActive, CreatedBy, CreatedDate)
        VALUES (@SaudaConfigId, @EssentialSkus, 1, @LoginUserId, SYSDATETIME());

        SET @ConditionalBookingEssentialSkuMappingId = SCOPE_IDENTITY();

        INSERT INTO SaudaConditionalBookingMandatorySkuMappings(ConditionalBookingEssentialSkuMappingId, MandatorySkuId, MandatorySkuCode, MandatorySkuPercentage, CreatedBy, CreatedDate)
        SELECT @ConditionalBookingEssentialSkuMappingId, s.Id, s.SkuCode, skum.Percentage, @LoginUserId, SYSDATETIME()
        FROM Skus s
        JOIN #MandatorySkuMapping skum ON s.Id = skum.SkuId;
    END

    COMMIT TRAN;

    SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode,@StateName as StateName,@ZoneName as ZoneName,@OilTypeName as OilTypeName,@PackGroup as PackGroup,@StartDate as StartDate,@EndDate as EndDate,'Success, Inserted successfully.' as 'Message'
	
    RETURN;

END TRY
BEGIN CATCH
    IF XACT_STATE() <> 0
        ROLLBACK TRAN;

    DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE(), @ErrNo INT = ERROR_NUMBER();
	SELECT @SalesOrganizationCode, @DistributionChannelCode, @DivisionCode, @StateName, @ZoneName, @OilTypeName, @PackGroup, @StartDate, @EndDate, @ErrMsg AS Message;
END CATCH

END

