CREATE OR ALTER PROCEDURE [dbo].[usp_UpdateSaudaConditionalBooking]
    @Id INT,
    @SalesOrganizationId INT,
    @DistributionChannelId INT,
    @DivisionId INT,
    @OilTypeId INT,
    @PackGroupId INT,
    @StartDate DATE,
    @EndDate DATE,
    @IsActive BIT,
    @LoginUserId INT,
    @ZoneStateMappings dbo.ZoneStateMappingType READONLY,
    @EssentialSkuMappings dbo.EssentialSkuMappingType READONLY,
    @MandatorySkuMappings dbo.MandatorySkuMappingType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE SaudaConditionalBookingConfigurations
        SET SalesOrganizationId = @SalesOrganizationId,
            DistributionChannelId = @DistributionChannelId,
            DivisionId = @DivisionId,
            OilTypeId = @OilTypeId,
            PackGroupId = @PackGroupId,
            StartDate = @StartDate,
            EndDate = @EndDate,
            IsActive = @IsActive,
            ModifiedBy = @LoginUserId,
            ModifiedDate = GETDATE()
        WHERE Id = @Id;

        DELETE FROM SaudaConditionalBookingZoneStateMappings
        WHERE SaudaConditionalConfigurationId = @Id;

        INSERT INTO SaudaConditionalBookingZoneStateMappings (
            SaudaConditionalConfigurationId, ZoneId, StateId, CreatedBy, CreatedDate
        )
        SELECT @Id, ZS.ZoneId, ZS.StateId, @LoginUserId, GETDATE()
        FROM @ZoneStateMappings ZS
        WHERE EXISTS (
            SELECT 1 FROM ZoneStateMappings ZM
            WHERE ZM.ZoneId = ZS.ZoneId AND ZM.StateId = ZS.StateId
        );

   
        DELETE M
        FROM SaudaConditionalBookingMandatorySkuMappings M
        JOIN SaudaConditionalBookingEssentialSkuMappings E ON E.Id = M.ConditionalBookingEssentialSkuMappingId
        WHERE E.SaudaConditionalConfigurationId = @Id
        AND E.Id NOT IN (SELECT Id FROM @EssentialSkuMappings);

        DELETE FROM SaudaConditionalBookingEssentialSkuMappings
        WHERE SaudaConditionalConfigurationId = @Id
        AND Id NOT IN (SELECT Id FROM @EssentialSkuMappings);

        DECLARE @EssentialId INT, @EssentialTempId INT, @EssentialSkuId NVARCHAR(MAX), @IsEssentialActive BIT;

        DECLARE EssentialCursor CURSOR FOR
        SELECT Id, EssentialMappingTempId, EssentialSkuId, IsActive
        FROM @EssentialSkuMappings;

        DECLARE @NewEssentialMappings TABLE (EssentialMappingTempId INT, Id INT);

        OPEN EssentialCursor;
        FETCH NEXT FROM EssentialCursor INTO @EssentialId, @EssentialTempId, @EssentialSkuId, @IsEssentialActive;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF EXISTS (
                SELECT 1 FROM SaudaConditionalBookingEssentialSkuMappings
                WHERE Id = @EssentialId AND SaudaConditionalConfigurationId = @Id
            )
            BEGIN
                UPDATE SaudaConditionalBookingEssentialSkuMappings
                SET EssentialSkuId = @EssentialSkuId,
                    IsActive = @IsEssentialActive,
                    ModifiedBy = @LoginUserId,
                    ModifiedDate = GETDATE()
                WHERE Id = @EssentialId;
            END
            ELSE
            BEGIN
                INSERT INTO SaudaConditionalBookingEssentialSkuMappings (
                    SaudaConditionalConfigurationId, EssentialSkuId, IsActive,
                    CreatedBy, CreatedDate
                )
                VALUES (
                    @Id, @EssentialSkuId, @IsEssentialActive,
                    @LoginUserId, GETDATE()
                );

                SET @EssentialId = SCOPE_IDENTITY(); -- get the new ID
            END

            INSERT INTO @NewEssentialMappings (EssentialMappingTempId, Id)
            VALUES (@EssentialTempId, @EssentialId);

            FETCH NEXT FROM EssentialCursor INTO @EssentialId, @EssentialTempId, @EssentialSkuId, @IsEssentialActive;
        END

        CLOSE EssentialCursor;
        DEALLOCATE EssentialCursor;

        DECLARE @MandEssentialTempId INT, @MandatorySkuId INT,
                @MandatorySkuCode NVARCHAR(100), @MandatoryPercent DECIMAL(5,2), @MappedEssentialId INT;

        DECLARE MandatoryCursor CURSOR FOR
        SELECT EssentialMappingTempId, MandatorySkuId, MandatorySkuCode, MandatoryBookingQuantityPercentage
        FROM @MandatorySkuMappings;

        OPEN MandatoryCursor;
        FETCH NEXT FROM MandatoryCursor INTO @MandEssentialTempId, @MandatorySkuId, @MandatorySkuCode, @MandatoryPercent;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SELECT @MappedEssentialId = Id
            FROM @NewEssentialMappings
            WHERE EssentialMappingTempId = @MandEssentialTempId;

            IF EXISTS (
                SELECT 1 FROM SaudaConditionalBookingMandatorySkuMappings
                WHERE ConditionalBookingEssentialSkuMappingId = @MappedEssentialId
                AND MandatorySkuId = @MandatorySkuId
            )
            BEGIN
                UPDATE SaudaConditionalBookingMandatorySkuMappings
                SET MandatorySkuPercentage = @MandatoryPercent,
                    ModifiedBy = @LoginUserId,
                    ModifiedDate = GETDATE()
                WHERE ConditionalBookingEssentialSkuMappingId = @MappedEssentialId
                AND MandatorySkuId = @MandatorySkuId;
            END
            ELSE
            BEGIN
                INSERT INTO SaudaConditionalBookingMandatorySkuMappings (
                    ConditionalBookingEssentialSkuMappingId, MandatorySkuId, MandatorySkuCode,
                    MandatorySkuPercentage, CreatedBy, CreatedDate
                )
                VALUES (
                    @MappedEssentialId, @MandatorySkuId, @MandatorySkuCode,
                    @MandatoryPercent, @LoginUserId, GETDATE()
                );
            END

            FETCH NEXT FROM MandatoryCursor INTO @MandEssentialTempId, @MandatorySkuId, @MandatorySkuCode, @MandatoryPercent;
        END

        CLOSE MandatoryCursor;
        DEALLOCATE MandatoryCursor;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Stored Procedure Error: %s', 16, 1, @ErrorMessage);
    END CATCH
END
