ALTER PROCEDURE [dbo].[GetGeographyCityMobileList] 
    @ParentId INT,
    @PageNumber INT,
    @PageSize INT
AS
BEGIN

    DECLARE @Result TABLE
    (
        CityId INT,
        CityName NVARCHAR(255),
        DistrictId INT,
        DistrictName NVARCHAR(255),
        StateId INT,
        StateName NVARCHAR(255),
        ZoneId INT,
        ZoneName NVARCHAR(255),
        SkuId INT,
        SkuName NVARCHAR(255),
        SkuCode NVARCHAR(255),
        Discount DECIMAL(18,2),
		ParentId INT
    );

    INSERT INTO @Result
    SELECT 
    dg.CityId AS CityId,
    c.CityName,
    dg.DistrictId,
    d.DistrictName,
    dg.StateId,
    s.StateName,
    dg.ZoneId,
    z.Name AS ZoneName,
    dg.SkuId,
    sku.SkuName,
    sku.SkuCode,
    dg.ActualDiscount AS Discount,
    dg.ParentId
FROM 
    DiscountGeographies dg
LEFT JOIN 
    Cities c ON c.Id = dg.CityId
LEFT JOIN 
    Districts d ON d.Id = dg.DistrictId
LEFT JOIN 
    States s ON s.Id = dg.StateId
LEFT JOIN 
    Zones z ON z.Id = dg.ZoneId
LEFT JOIN 
    Skus sku ON sku.Id = dg.SkuId
WHERE 
    dg.ParentId = @ParentId
    AND (dg.CityId <> 0 OR dg.DistrictId <> 0)

UNION ALL

SELECT 
    c.Id AS CityId,
    c.CityName,
    d.Id,
    d.DistrictName,
    dg.StateId,
    s.StateName,
    dg.ZoneId,
    z.Name AS ZoneName,
    dg.SkuId,
    sku.SkuName,
    sku.SkuCode,
    dg.ActualDiscount AS Discount,
    dg.ParentId
FROM 
    DiscountGeographies dg
INNER JOIN 
    Districts d ON 1 = 1
INNER JOIN 
    Cities c ON c.DistrictId = d.Id
LEFT JOIN 
    States s ON s.Id = dg.StateId
LEFT JOIN 
    Zones z ON z.Id = dg.ZoneId
LEFT JOIN 
    Skus sku ON sku.Id = dg.SkuId
WHERE 
    dg.ParentId = @ParentId
    AND dg.CityId = 0
    AND dg.DistrictId = 0;

    DECLARE @TotalCount INT;
    SELECT @TotalCount = COUNT(CityId)  
    FROM @Result;

    SELECT 
        CityId,
        CityName,
        DistrictId,
        DistrictName,
        StateId,
        StateName,
        ZoneId,
        ZoneName,
        SkuId,
        SkuName,
        SkuCode,
        Discount,
		ParentId,
        @TotalCount AS TotalRows  
    FROM 
        @Result
    ORDER BY 
        CityId  
    --OFFSET (@PageNumber - 1) * @PageSize ROWS  
    --FETCH NEXT @PageSize ROWS ONLY;  
END;