USE [AdaniDB1]
GO
/****** Object:  StoredProcedure [dbo].[ContractLimitReport]    Script Date: 25-04-2023 14:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[ContractLimitReport]
(	
	@DealerCode Nvarchar(max)=null,
	@ZhIds Nvarchar(max),
	@BdoIds Nvarchar(max),
	@VerticalId BigInt,
	@SalesOrganizationId bigint,
	@DistributionChannelId bigint,
	@StateIds Nvarchar(Max),
	@LoginUserId bigint,
	@RoleId bigint
)
AS 
BEGIN
CREATE TABLE #DealerIdsTemp(DealerId bigint,SalesOrganizationId bigint,DistributionChannelId bigint, DivisionId bigint,SaudaLimit decimal,UserId bigint)   
Declare @BdoTemp Table(Id Int, Data Nvarchar(Max))
Declare @ZHTemp Table(Id Int, Data Nvarchar(Max))
Declare @Temp Table(Id Int, Data Nvarchar(Max))


Insert Into @Temp
	select Id,Data from  dbo.Split(@StateIds,',') 



if(@ZhIds = '')
BEGIN
	insert into @ZHTemp select Distinct u.Id,u.Id as Data from Users u join UserRoles ur  on u.Id=ur.UserId where ur.RoleId=9
END
ELSE
BEGIN
	Insert Into @ZHTemp
	select Id,Data from  dbo.Split(@ZhIds,',') 
END
--select * from @ZHTemp

if(@BdoIds = '')
BEGIN 
	insert into @BdoTemp select Distinct ur.UserId,ur.UserId as Data from UserReportingToMappings ur where ur.ReportingToUserId in (select Data from @ZHTemp)

	--insert into @BdoTemp select u.Id,u.Id as Data from Users u where u.ReportingToId in (select Data from @ZHTemp)
END
ELSE
BEGIN
	Insert Into @BdoTemp
	select Id,Data from  dbo.Split(@BdoIds,',') 
END
--select * from @BdoTemp

if(@DealerCode='')
BEGIN
	Insert into #DealerIdsTemp(DealerId,SalesOrganizationId,DistributionChannelId,DivisionId,SaudaLimit,UserId) Select distinct u.Id,udm.SalesOrganizationId,udm.DistributionChannelId,udm.DivisionId,udm.SaudaLimit,uc.UserId from UserDivisionMappings udm join Users u on u.Id =udm.UserId join UserCustomerMappings uc on u.Id=uc.CustomerId join UserRoles ur on ur.UserId=uc.UserId where uc.UserId in (Select Data from @BdoTemp) and ur.RoleId=7
END
ELSE
BEGIN
	Insert into #DealerIdsTemp(DealerId,SalesOrganizationId,DistributionChannelId,DivisionId,SaudaLimit,UserId) Select distinct u.Id,udm.SalesOrganizationId,udm.DistributionChannelId,udm.DivisionId,udm.SaudaLimit,uc.UserId from UserDivisionMappings udm join Users u on u.Id=udm.UserId join UserCustomerMappings uc on u.Id=uc.CustomerId  join UserRoles ur on ur.UserId=uc.UserId where u.Code=@DealerCode and ur.RoleId=7
END
--select * from #DealerIdsTemp

CREATE TABLE #SaudaTemp(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint,CustomerId bigint,SaudaOrderQty decimal(18,3),SaudaOrderQtyCase decimal(18,3)) 
CREATE TABLE #PendingContractTemp(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint,CustomerId bigint,PendingContractQty decimal(18,3),PendingContractQtyCase decimal(18,3)) 


Insert into #SaudaTemp(CustomerId,DivisionId,DistributionChannelId,SalesOrganizationId,SaudaOrderQty,SaudaOrderQtyCase) 
Select 
s.UserId as CustomerId,
so.DivisionId as DivisionId,
so.DistributionChannelId as DistributionChannelid,
so.SalesOrganizationId as SalesOrganizationId,
Sum(so.BidQuantity) as SaudaOrderQty,
Sum(so.BidQuantityCase) as SaudaOrderQtyCase
from Saudas s
inner join SaudaOrders so on s.Id=so.SaudaId
where so.StatusId!=3 and s.StatusId!=3
and s.UserId in (Select DealerId from #DealerIdsTemp) and
((@SalesOrganizationId > 0 AND s.SalesOrganizationId = @SalesOrganizationId ) OR @SalesOrganizationId = 0)  AND
((@DistributionChannelId > 0 AND s.DistributionChannelId = @DistributionChannelId ) OR @DistributionChannelId = 0)  AND
((@VerticalId > 0 AND s.DivisionId = @VerticalId ) OR @VerticalId = 0)   
group by s.UserId,so.SalesOrganizationId,so.DistributionChannelId,so.DivisionId

--select * from #SaudaTemp

Insert into #PendingContractTemp (CustomerId,DivisionId,DistributionChannelId,SalesOrganizationId,PendingContractQty,PendingContractQtyCase)
Select 
p.UserId as CustomerId,
p.DivisionId as DivisionId,
p.DistChnlId as DistributionChannelid,
p.SalesOrgId as SalesOrganizationId,
Sum(p.SaudaQuantity) as PendingContractQty,
Sum(p.PendingQuantityInCase) as PendingContractQtyCase
from PendingContracts p
where 
p.UserId in (Select DealerId from #DealerIdsTemp) and
((@SalesOrganizationId > 0 AND p.SalesOrgId = @SalesOrganizationId ) OR @SalesOrganizationId = 0)  AND
((@DistributionChannelId > 0 AND p.DistChnlId = @DistributionChannelId ) OR @DistributionChannelId = 0)  AND
((@VerticalId > 0 AND p.DivisionId = @VerticalId ) OR @VerticalId = 0)   
group by p.UserId,p.SalesOrgId,p.DistChnlId,p.DivisionId
--select * from #PendingContractTemp


Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end


Select
u.Id,
u.Code as CustomerCode,
u.Name as Name,
dealer.SaudaLimit as SaudaLimit,
sorg.Name as SalesOrganizationName,
dist.Name as DistributionChannelName,
div.Name as DivisionName,
st.StateName as State,
bdo.Name as Employee,
(select Sum(SaudaOrderQty) from #SaudaTemp where CustomerId=dealer.DealerId and SalesOrganizationId=dealer.SalesOrganizationId and DistributionChannelId=dealer.DistributionChannelId and DivisionId =dealer.DivisionId ) as SaudaOrderQty,
(select Sum(SaudaOrderQtyCase) from #SaudaTemp where CustomerId=dealer.DealerId and SalesOrganizationId=dealer.SalesOrganizationId and DistributionChannelId=dealer.DistributionChannelId and DivisionId =dealer.DivisionId ) as SaudaOrderQtyCase,
(select Sum(PendingContractQty) from #PendingContractTemp where CustomerId=dealer.DealerId and SalesOrganizationId=dealer.SalesOrganizationId and DistributionChannelId=dealer.DistributionChannelId and DivisionId =dealer.DivisionId ) as PendingContractQty,
(select Sum(PendingContractQtyCase) from #PendingContractTemp where CustomerId=dealer.DealerId and SalesOrganizationId=dealer.SalesOrganizationId and DistributionChannelId=dealer.DistributionChannelId and DivisionId =dealer.DivisionId ) as PendingContractQtyCase,
(select (dealer.SaudaLimit-Sum(PendingContractQty)) from #PendingContractTemp where CustomerId=dealer.DealerId and SalesOrganizationId=dealer.SalesOrganizationId and DistributionChannelId=dealer.DistributionChannelId and DivisionId =dealer.DivisionId ) as AvailableSaudaLimit

from  #DealerIdsTemp dealer
--left join UserDivisionMappings udm on dealer.DealerId=udm.UserId
join Users u on dealer.DealerId=u.Id
join #UserDivision udt on dealer.SalesOrganizationId=udt.SalesOrganizationId and dealer.DistributionChannelId=udt.DistributionChannelId and udt.DivisionId=dealer.DivisionId
--left join #SaudaTemp stemp on stemp.CustomerId=u.Id
--left join UserCustomerMappings uc on uc.CustomerId=u.Id
left join Users bdo on bdo.Id=dealer.UserId
left join States st on st.Id=u.StateId
left join SalesOrganizations sorg on sorg.Id=dealer.SalesOrganizationId
left join DistributionChannels dist on dist.Id=dealer.DistributionChannelId
left join Divisions div on div.Id=dealer.DivisionId
where 
--u.Id in (select DealerId from #DealerIdsTemp) and
1 = CASE WHEN @StateIds='' THEN 1 ELSE (CASE WHEN U.StateId IN (SELECT Data from @Temp  ) THEN 1 ELSE 0 END) END  And
((@SalesOrganizationId > 0 AND dealer.SalesOrganizationId = @SalesOrganizationId ) OR @SalesOrganizationId = 0)  AND
((@DistributionChannelId > 0 AND dealer.DistributionChannelId = @DistributionChannelId ) OR @DistributionChannelId = 0)  AND
((@VerticalId > 0 AND dealer.DivisionId = @VerticalId ) OR @VerticalId = 0)   
 


DROP TABLE #DealerIdsTemp  
drop table #PendingContractTemp
drop table #SaudaTemp
drop table #UserDivision
End
