
/****** Object:  StoredProcedure [dbo].[CreditLimitExport]    Script Date: 21-11-2022 10:15:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[CreditLimitExport]
(	
	@LoginUserId bigint,
	@RoleId bigint,
	@DealerCode Nvarchar(max)=null,
	@ZhIds Nvarchar(max),
	@BdoIds Nvarchar(max),
	@VerticalId BigInt,
	@SalesOrganizationId bigint,
	@DistributionChannelId bigint,
	@StateIds Nvarchar(Max)
)
AS 
BEGIN
CREATE TABLE #DealerIdsTemp(DealerId bigint)   
Declare @BdoTemp Table(Id Int, Data Nvarchar(Max))
Declare @ZHTemp Table(Id Int, Data Nvarchar(Max))
Declare @Temp Table(Id Int, Data Nvarchar(Max))

Insert Into @Temp
	select Id,Data from  dbo.Split(@StateIds,',') 



if(@ZhIds = '')
BEGIN
	insert into @ZHTemp select u.Id,u.Id as Data from Users u join UserRoles ur  on u.Id=ur.UserId where ur.RoleId=9
END
ELSE
BEGIN
	Insert Into @ZHTemp
	select Id,Data from  dbo.Split(@ZhIds,',') 
END
--select * from @ZHTemp

if(@BdoIds = '')
BEGIN 
	insert into @BdoTemp select u.Id,u.Id as Data from Users u where u.ReportingToId in (select Data from @ZHTemp)
END
ELSE
BEGIN
	Insert Into @BdoTemp
	select Id,Data from  dbo.Split(@BdoIds,',') 
END
--select * from @BdoTemp

if(@DealerCode='')
BEGIN
	Insert into #DealerIdsTemp(DealerId) Select u.Id from Users u join UserCustomerMappings uc on u.Id=uc.CustomerId where uc.UserId in (Select Data from @BdoTemp)
END
ELSE
BEGIN
	Insert into #DealerIdsTemp(DealerId) Select u.Id from Users u where u.Code=@DealerCode
END
--select * from #DealerIdsTemp



Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end

Select
U.Id,
u.Code as CustomerCode,
u.Name as CustomerName,
(Select (CASE WHEN Sum(um.CreditLimit) > 0  THEN ROUND(Sum(um.CreditLimit)/100000,2) ELSE 0 END ) from UserCreditMasters um where um.UserId=u.Id) as CreditLimit,
(Select (CASE WHEN Sum(um.CreditExposure) > 0  THEN ROUND(Sum(um.CreditExposure)/100000,2) ELSE 0 END ) from UserCreditMasters um where um.UserId=u.Id) as CreditExposure,
(Select (CASE WHEN Sum(um.BillingDocumentValue) > 0  THEN ROUND(Sum(um.BillingDocumentValue)/100000,2) ELSE 0 END ) from UserCreditMasters um where um.UserId=u.Id) as TotalReceivable,
--(Select (CASE WHEN Sum(um.AvailableCreditLimit) > 0  THEN Sum(um.AvailableCreditLimit)/100000 ELSE 0 END ) from UserCreditMasters um where um.UserId=u.Id) as AvailableCreditLimit,
(Select ROUND((Sum(um.OpenOrders)+Sum(um.DeliveryValue))/100000,2) from UserCreditMasters um where um.UserId=u.Id) as OpenExposure,
(Select ROUND((Sum(um.OpenOrders)+Sum(um.DeliveryValue)+Sum(um.BillingDocumentValue))/100000,2) from UserCreditMasters um where um.UserId=u.Id) as GrossExposure,
(Select Sum(odp.Balance) from OverduePayments odp where odp.UserId=u.Id and Cast(odp.DueDate as date)= Cast(DATEADD(d,1, getdate()) as date)) as TomorrowsDue,
(Select Sum(odp.Balance) from OverduePayments odp where odp.UserId=u.Id and Cast(odp.DueDate as date)<= Cast(getdate() as date)) as Overdue

from  Users u 
join UserCreditMasters ucm on ucm.UserId=u.Id
join #UserDivision ud on ud.SalesOrganizationId=ucm.SalesOrgId and ud.DistributionChannelId=ucm.DistChnlId and ud.DivisionId=ucm.DivisionId
left join UserDivisionMappings udm on u.Id=udm.UserId
where 
u.Id in (select DealerId from #DealerIdsTemp) and
1 = CASE WHEN @StateIds='' THEN 1 ELSE (CASE WHEN U.StateId IN (SELECT Data from @Temp  ) THEN 1 ELSE 0 END) END 
AND 
((@SalesOrganizationId > 0 AND UDM.SalesOrganizationId = @SalesOrganizationId ) OR @SalesOrganizationId = 0)  AND
((@DistributionChannelId > 0 AND UDM.DistributionChannelId = @DistributionChannelId ) OR @DistributionChannelId = 0)  AND
((@VerticalId > 0 AND UDM.DivisionId = @VerticalId ) OR @VerticalId = 0)   
group by u.Id,u.Code,u.Name

DROP TABLE #DealerIdsTemp  
End