USE [AdaniDb]
GO
/****** Object:  StoredProcedure [dbo].[Get_STSalesTargetChartsDealerWise]    Script Date: 2/21/2024 1:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[Get_STSalesTargetChartsDealerWise]
(
	@LoginUserId AS BIGINT,
	@StartDate AS DATETIME,
	@EndDate AS DATETIME,
	@MonthId AS BIGINT,
	@Year AS BIGINT
)
AS
BEGIN

CREATE TABLE #DealerIdsTemp(DealerId BIGINT)
create table #BdoTemp(DealerId bigint, BdoId bigint)
CREATE TABLE #UserCustomerSalesTargetsTemp(Target DECIMAL(18,4),DealerId BIGINT)
CREATE TABLE #InvoicesTemp(ActualBilledQuantity DECIMAL(18,4),DealerId BIGINT)
CREATE TABLE #UserCustomerSumofTemp(DealerId BIGINT, TotalTarget DECIMAL(18,4))
CREATE TABLE #InvoiceSumofTemp(DealerId BIGINT, TotalAchievment DECIMAL(18,4))
CREATE TABLE #MonthsAndYear(Id BIGINT,MonthId INT,YearId BIGINT)

DECLARE @monthDiff INT;  
DECLARE @counter  INT;  
declare @idColumn int
declare @RoleId bigint



--GET DEALER IDS
INSERT INTO #DealerIdsTemp(DealerId)
Select DISTINCT ucm.CustomerId as DealerId
From  UserCustomerMappings ucm 
INNER JOIN Users cus ON ucm.CustomerId = cus.Id
Where ucm.UserId = @LoginUserId
And ucm.CustomerId IS NOT NULL

--Get month and year between start and end date  
  SET @counter = 0;  
  SELECT @monthDiff = DATEDIFF(mm, @StartDate, @EndDate);  
  
  WHILE @counter <= @monthDiff  
  BEGIN  
      INSERT INTO #MonthsAndYear(Id,MonthId,YearId)   
      SELECT @counter + 1, Month(DATEADD(mm, @counter, @StartDate)),Year(DATEADD(mm, @counter, @StartDate));  
  
    SET @counter = @counter + 1;  
  END 


  
   --LoginUserwiseCombination   
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

select @RoleId=RoleId from UserRoles where UserId=@LoginUserId

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end
--LoginUserwiseCombination


--GET DEALER SALESTARGET
select @idColumn = min(ID) from #MonthsAndYear

while @idColumn is not null
begin
    INSERT INTO #UserCustomerSalesTargetsTemp(Target,DealerId)
    Select ISNULL(Target,0) As SumOfTarget,AssignedToId  From UserCustomerSalesTargets 
    
	join UserCustomerMappings ur on AssignedToId=ur.CustomerId
	Where AssignedToId IN (SELECT DealerId From #DealerIdsTemp)
	AND MonthId in (select MonthId from #MonthsAndYear where ID = @idColumn)
	AND Year in (select YearId from #MonthsAndYear where ID = @idColumn)
    select @idColumn = min(ID) from #MonthsAndYear where ID > @idColumn
end

--select * from #UserCustomerSalesTargetsTemp
--GET DEALER INVOICE DETAILS
INSERT INTO #InvoicesTemp(ActualBilledQuantity,DealerId)
Select ISNULL(sr.QuantityCase,0) As ActualBilledQuantity,
u.Id as Id 
From SalesRegisters sr with(NOLOCK)
join Users u on sr.CustomerCode=u.Code
join #UserDivision ud on ud.SalesOrganizationId=sr.SalesOrganizationId and ud.DistributionChannelId=sr.DistributionChannelId and ud.DivisionId=sr.DivisionId
INNER JOIN Skus sku ON sr.MaterialCode = sku.SkuCode
Where u.Id IN (SELECT DealerId From #DealerIdsTemp)
and sr.SalesOrganizationId=sku.SalesOrganizationId
and sr.DistributionChannelId=sku.DistributionChannelId
and sr.DivisionId=sku.DivisionId
AND CONVERT(VARCHAR, sr.InvoiceDate, 111) >= CONVERT(VARCHAR, @StartDate, 111)
AND CONVERT(VARCHAR, sr.InvoiceDate, 111) <= CONVERT(VARCHAR, @EndDate, 111)


INSERT INTO #UserCustomerSumofTemp(DealerId,TotalTarget)
Select DISTINCT
dealer.CustomerId as DealerId,
ISNULL(SUM(uct.Target),0) AS TotalTarget
From UserCustomerMappings dealer
LEFT JOIN #UserCustomerSalesTargetsTemp uct ON dealer.CustomerId = uct.DealerId
Where dealer.UserId = @LoginUserId
GROUP BY dealer.CustomerId



INSERT INTO #InvoiceSumofTemp(DealerId,TotalAchievment)
Select DISTINCT
ucm.CustomerId as DealerId,
ISNULL(SUM(inv.ActualBilledQuantity),0) AS TotalTarget
From #InvoicesTemp inv
join UserCustomerMappings ucm on inv.DealerId=ucm.CustomerId
Where ucm.UserId = @LoginUserId
--And zh.Id IS NOT NULL
GROUP BY ucm.CustomerId


Select DISTINCT
dealer.Id as DealerId,
dealer.Name as Dealer,
uct.TotalTarget,
inv.TotalAchievment,
FORMAT(CASE
	WHEN uct.TotalTarget > 0
	THEN (inv.TotalAchievment / uct.TotalTarget) * 100 
	ELSE 0
END,'N2') AS AchievmentPercentage,
(Select SUm(ActualBilledQuantity) from #InvoicesTemp) as OverallAchievment,
(Select ISNULL(SUm(ISNULL(Target,0)),0) from #UserCustomerSalesTargetsTemp) as OverallTarget
From #DealerIdsTemp dId
left join Users dealer on dId.DealerId=dealer.Id
left join UserCustomerMappings ucm on ucm.CustomerId=dealer.Id
left  JOIN #UserCustomerSumofTemp uct ON dealer.Id = uct.DealerId	
left  JOIN #InvoiceSumofTemp inv ON dealer.Id = inv.DealerId
Where ucm.UserId = @LoginUserId
Order by inv.TotalAchievment desc
--ORDER BY dealer.Name

DROP TABLE #DealerIdsTemp
DROP TABLE #UserCustomerSalesTargetsTemp
DROP TABLE #InvoicesTemp
DROP TABLE #UserCustomerSumofTemp
DROP TABLE #InvoiceSumofTemp
DROP TABLE #MonthsAndYear
drop table #BdoTemp
drop table #UserDivision

END;





