USE [AdaniDb]
GO
/****** Object:  StoredProcedure [dbo].[Get_STSalesTargetChartsOilTypeWise]    Script Date: 2/21/2024 1:14:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Get_STSalesTargetChartsOilTypeWise]
(
	@LoginUserId AS BIGINT,
	@StartDate AS DATETIME,
	@EndDate AS DATETIME,
	@MonthId AS BIGINT,
	@Year AS BIGINT
)
AS
BEGIN

CREATE TABLE #DealerIdsTemp(DealerId BIGINT)
CREATE TABLE #UserCustomerSalesTargetsTemp(OilTypeId BIGINT,Target DECIMAL(18,4),DealerId BIGINT,MonthId int,YearId bigint)
CREATE TABLE #InvoicesTemp(OilTypeId BIGINT,ActualBilledQuantity DECIMAL(18,4),DealerId BIGINT,PackGroupId bigint,InvoiceDate datetime)
CREATE TABLE #FinalResultTemp(OilTypeId BIGINT,OilType VARCHAR(50), TotalAchievment DECIMAL(18,4),TotalTarget DECIMAL(18,4),MonthId int)
CREATE TABLE #UserCustomerSumofTemp(OilTypeId BIGINT,OilType VARCHAR(50), TotalTarget DECIMAL(18,4))
CREATE TABLE #InvoiceSumofTemp(OilTypeId BIGINT,OilType VARCHAR(50), TotalAchievment DECIMAL(18,4))

CREATE TABLE #MonthsAndYear(Id BIGINT,MonthId INT,YearId BIGINT)

DECLARE @monthDiff INT;  
DECLARE @counter  INT;  
declare @idColumn int
declare @RoleId bigint

--GET DEALER IDS
INSERT INTO #DealerIdsTemp(DealerId)
Select DISTINCT cus.Id as DealerId
From  UserCustomerMappings ucm 
INNER JOIN Users cus ON ucm.CustomerId = cus.Id
Where ucm.UserId = @LoginUserId
--And zh.Id IS NOT NULL
And ucm.CustomerId IS NOT NULL

--Get month and year between start and end date  
  SET @counter = 0;  
  SELECT @monthDiff = DATEDIFF(mm, @StartDate, @EndDate);  
  
  WHILE @counter <= @monthDiff  
  BEGIN  
      INSERT INTO #MonthsAndYear(Id,MonthId,YearId)   
      SELECT @counter + 1, Month(DATEADD(mm, @counter, @StartDate)),Year(DATEADD(mm, @counter, @StartDate));  
  
    SET @counter = @counter + 1;  
  END 


  
   --LoginUserwiseCombination   
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

select @RoleId=RoleId from UserRoles where UserId=@LoginUserId

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end
--LoginUserwiseCombination


--GET DEALER SALESTARGET
select @idColumn = min(ID) from #MonthsAndYear

while @idColumn is not null
begin
    INSERT INTO #UserCustomerSalesTargetsTemp(OilTypeId,Target,DealerId,MonthId,YearId)
	Select OilTypeId,ISNULL(Target,0) As SumOfTarget,AssignedToId,MonthId,[Year] as YearId  From UserCustomerSalesTargets 
	Where AssignedToId = @LoginUserId
	AND MonthId in (select MonthId from #MonthsAndYear where ID = @idColumn)
	AND Year in (select YearId from #MonthsAndYear where ID = @idColumn)
    select @idColumn = min(ID) from #MonthsAndYear where ID > @idColumn
end


--GET DEALER INVOICE DETAILS
INSERT INTO #InvoicesTemp(OilTypeId,ActualBilledQuantity,DealerId,PackGroupId,InvoiceDate)
Select 
sku.OilTypeId,
ISNULL(sr.QuantityCase,0) As ActualBilledQuantity,
u.Id as Id,
sku.PackGroupId,
sr.InvoiceDate as Date
From  SalesRegisters sr with(NOLOCK)
join Users u on sr.CustomerCode=u.Code
join #UserDivision ud on ud.SalesOrganizationId=sr.SalesOrganizationId and ud.DistributionChannelId=sr.DistributionChannelId and ud.DivisionId=sr.DivisionId
INNER JOIN Skus sku ON sr.MaterialCode = sku.SkuCode
Where u.Id IN (SELECT DealerId From #DealerIdsTemp)
and sr.SalesOrganizationId=sku.SalesOrganizationId and sr.DistributionChannelId=sku.DistributionChannelId and sr.DivisionId=sku.DivisionId
AND CONVERT(VARCHAR, sr.InvoiceDate, 111) >= CONVERT(VARCHAR, @StartDate, 111)
AND CONVERT(VARCHAR, sr.InvoiceDate, 111) <= CONVERT(VARCHAR, @EndDate, 111)

INSERT INTO #UserCustomerSumofTemp(OilTypeId,OilType,TotalTarget)
Select DISTINCT
ot.Id as OilTypeId,
ot.Name as OilType,
ISNULL(SUM(uct.Target),0) AS TotalTarget
From #UserCustomerSalesTargetsTemp uct 
JOIN OilTypes ot ON ot.Id = uct.OilTypeId
GROUP BY 
ot.Id,ot.Name


INSERT INTO #InvoiceSumofTemp(OilTypeId,OilType,TotalAchievment)
Select DISTINCT
ot.Id as OilTypeId,
ot.Name as OilType,
ISNULL(SUM(inv.ActualBilledQuantity),0) AS TotalTarget
From #InvoicesTemp inv 
JOIN OilTypes ot ON ot.Id = inv.OilTypeId
GROUP BY 
ot.Id,ot.Name


--select @idColumn = min(ID) from #MonthsAndYear

--while @idColumn is not null
--begin
--	Insert into #FinalResultTemp(OilTypeId,OilType,TotalAchievment,TotalTarget,MonthId)
--    Select 
--	o.Id as Oiltype,
--	o.Name as OilTypeName,
--	Sum(inv.ActualBilledQuantity),
--	Sum(ucst.Target),
--	Min(Month(inv.InvoiceDate)) as MonthId
--	From
--	#InvoicesTemp inv 
--	left join #UserCustomerSalesTargetsTemp ucst on inv.OilTypeId=ucst.OilTypeId
--	left join OilTypes o on inv.OilTypeId=o.Id
--	where 
--	Year(inv.InvoiceDate) in (select YearId from #MonthsAndYear where ID = @idColumn)
--	and Month(inv.InvoiceDate) in (select MonthId from #MonthsAndYear where ID = @idColumn)
--	group by o.Id,o.Name
--	select @idColumn = min(ID) from #MonthsAndYear where ID > @idColumn
--end

--select * from #FinalResultTemp
Select DISTINCT
ISNULL(uct.OilTypeId,inv.OilTypeId) as OilTypeId,
ISNULL(uct.OilType,inv.OilType) as OilType,
uct.TotalTarget,
inv.TotalAchievment,
(Select SUm(ActualBilledQuantity) from #InvoicesTemp) as OverallAchievment,
(Select ISNULL(SUm(ISNULL(Target,0)),0) from #UserCustomerSalesTargetsTemp) as OverallTarget
From  #InvoiceSumofTemp inv 
FULL OUTER JOIN #UserCustomerSumofTemp uct ON uct.OilTypeId = inv.OilTypeId
ORDER BY inv.TotalAchievment desc


DROP TABLE #DealerIdsTemp
DROP TABLE #UserCustomerSalesTargetsTemp
DROP TABLE #InvoicesTemp
DROP TABLE #FinalResultTemp
DROP TABLE #MonthsAndYear

END;




