USE [AdaniDB]
GO
/****** Object:  StoredProcedure [dbo].[Get_NHSalesTargetChartsDealerWise]    Script Date: 2/22/2024 10:06:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[Get_NHSalesTargetChartsDealerWise]
(
	@LoginUserId AS BIGINT,
	@StartDate AS DATETIME,
	@EndDate AS DATETIME,
	@MonthId AS BIGINT,
	@Year AS BIGINT
)
AS
BEGIN

CREATE TABLE #DealerIdsTemp(DealerId BIGINT)
CREATE TABLE #ZhTemp(ZHId bigint,DealerId BIGINT,SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)
CREATE TABLE #BdoTemp(BdoId bigint,DealerId BIGINT,SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)
CREATE TABLE #UserCustomerSalesTargetsTemp(Target DECIMAL(18,4),DealerId BIGINT)
CREATE TABLE #InvoicesTemp(ActualBilledQuantity DECIMAL(18,4),DealerId BIGINT,SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)
CREATE TABLE #UserCustomerSumofTemp(ZonalHeadId BIGINT, TotalTarget DECIMAL(18,4))
CREATE TABLE #InvoiceSumofTemp(ZonalHeadId BIGINT, TotalAchievment DECIMAL(18,4))
CREATE TABLE #MonthsAndYear(Id BIGINT,MonthId INT,YearId BIGINT)

DECLARE @monthDiff INT;  
DECLARE @counter  INT;  
declare @idColumn int
declare @RoleId bigint



   --LoginUserwiseCombination   
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

select @RoleId=RoleId from UserRoles where UserId=@LoginUserId

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end
--LoginUserwiseCombination

INSERT INTO #DealerIdsTemp 
SELECT distinct CustomerId FROM UserCustomerMappings uc with(NOLOCK)
join Users u on u.Id=CustomerId
join UserRoles ur on CustomerId=ur.UserId
join UserReportingToMappings bdo on bdo.UserId=uc.UserId
join UserReportingToMappings zh on bdo.ReportingToUserId=zh.UserId
where ur.RoleId=5 and zh.ReportingToUserId=@LoginUserId



insert into #BdoTemp(BdoId,DealerId,SalesOrganizationId,DistributionChannelId,DivisionId)
select distinct u.Id,ucm.CustomerId,ud.SalesOrganizationId,ud.DistributionChannelId,ud.DivisionId 
from UserCustomerMappings ucm
join #DealerIdsTemp d on ucm.CustomerId=d.DealerId
join Users u on ucm.UserId=u.Id
join UserRoles ur on ucm.UserId=ur.UserId
join UserDivisionMappings ud on ud.UserId=ur.UserId
join #UserDivision ldiv on ud.SalesOrganizationId=ldiv.SalesOrganizationId
and ud.DistributionChannelId=ldiv.DistributionChannelId and ud.DivisionId=ldiv.DivisionId
where ur.RoleId=7



insert into #ZhTemp(ZHId,DealerId,SalesOrganizationId,DistributionChannelId,DivisionId)
select distinct zh.UserId,bdot.DealerId,ud.SalesOrganizationId,ud.DistributionChannelId,ud.DivisionId 
from UserReportingToMappings bdo
join #BdoTemp bdot on bdo.UserId=bdot.BdoId
join UserReportingToMappings zh on zh.UserId=bdo.ReportingToUserId
join UserDivisionMappings ud on zh.UserId=ud.UserId and ud.SalesOrganizationId=bdot.SalesOrganizationId
and ud.DistributionChannelId=bdot.DistributionChannelId and ud.DivisionId=bdot.DivisionId
join #UserDivision ldiv on ud.SalesOrganizationId=ldiv.SalesOrganizationId
and ud.DistributionChannelId=ldiv.DistributionChannelId and ud.DivisionId=ldiv.DivisionId
where zh.ReportingToUserId=@LoginUserId


--Get month and year between start and end date  
  SET @counter = 0;  
  SELECT @monthDiff = DATEDIFF(mm, @StartDate, @EndDate);  
  
  WHILE @counter <= @monthDiff  
  BEGIN  
      INSERT INTO #MonthsAndYear(Id,MonthId,YearId)   
      SELECT @counter + 1, Month(DATEADD(mm, @counter, @StartDate)),Year(DATEADD(mm, @counter, @StartDate));  
  
    SET @counter = @counter + 1;  
  END 





--GET DEALER SALESTARGET
select @idColumn = min(ID) from #MonthsAndYear

while @idColumn is not null
begin
    INSERT INTO #UserCustomerSalesTargetsTemp(Target,DealerId)
	Select ISNULL(Target,0) As SumOfTarget,AssignedToId  
	From UserCustomerSalesTargets with(NOLOCK)
	join UserReportingToMappings ur on ur.UserId=AssignedToId
	where ur.ReportingToUserId=@LoginUserId
	AND MonthId in (select MonthId from #MonthsAndYear where ID = @idColumn)
	AND Year in (select YearId from #MonthsAndYear where ID = @idColumn)
    select @idColumn = min(ID) from #MonthsAndYear where ID > @idColumn
end


--GET DEALER INVOICE DETAILS
INSERT INTO #InvoicesTemp(ActualBilledQuantity,DealerId,SalesOrganizationId,DistributionChannelId,DivisionId)
Select sr.QuantityMT As ActualBilledQuantity,
u.Id as DealerId,
sr.SalesOrganizationId,sr.DistributionChannelId,sr.DivisionId
From SalesRegisters sr with(NOLOCK)
join Users u on sr.CustomerCode=u.Code
INNER JOIN Skus sku ON sr.MaterialCode = sku.SkuCode
join #UserDivision ud on ud.SalesOrganizationId=sr.SalesOrganizationId and ud.DistributionChannelId=sr.DistributionChannelId and ud.DivisionId=sr.DivisionId
Where u.Id IN (SELECT DealerId From #DealerIdsTemp)
and sr.SalesOrganizationId=sku.SalesOrganizationId
and sr.DistributionChannelId=sku.DistributionChannelId
and sr.DivisionId=sku.DivisionId
AND CONVERT(VARCHAR, sr.InvoiceDate, 111) >= CONVERT(VARCHAR, @StartDate, 111)
AND CONVERT(VARCHAR, sr.InvoiceDate, 111) <= CONVERT(VARCHAR, @EndDate, 111)

INSERT INTO #UserCustomerSumofTemp(ZonalHeadId,TotalTarget)
Select DISTINCT
zh.UserId as ZonalHeadId,
ISNULL(SUM(uct.Target),0) AS TotalTarget
From UserReportingToMappings zh 
LEFT JOIN #UserCustomerSalesTargetsTemp uct with(NOLOCK) ON zh.UserId = uct.DealerId
Where zh.ReportingToUserId = @LoginUserId
And zh.Id IS NOT NULL
GROUP BY zh.UserId

INSERT INTO #InvoiceSumofTemp(ZonalHeadId,TotalAchievment)
Select DISTINCT
zh.ZHId as ZonalHeadId,
ISNULL(SUM(inv.ActualBilledQuantity),0) AS TotalAchievment
From #InvoicesTemp inv
join #ZhTemp zh on zh.DealerId=inv.DealerId and zh.SalesOrganizationId=inv.SalesOrganizationId
and zh.DistributionChannelId=inv.DistributionChannelId and zh.DivisionId=inv.DivisionId
GROUP BY zh.ZHId


Select DISTINCT
zh.Id as DealerId,
zh.Name as Dealer,
uct.TotalTarget,
inv.TotalAchievment,
FORMAT(CASE
	WHEN uct.TotalTarget > 0
	THEN (inv.TotalAchievment / uct.TotalTarget) * 100 
	ELSE 0
END,'N2') AS AchievmentPercentage,
(Select SUm(ActualBilledQuantity) from #InvoicesTemp) as OverallAchievment,
(Select ISNULL(SUm(ISNULL(Target,0)),0) from #UserCustomerSalesTargetsTemp) as OverallTarget
From Users zh with(NOLOCK)
inner join UserReportingToMappings ur on zh.Id=ur.UserId
INNER JOIN #UserCustomerSumofTemp uct ON zh.Id = uct.ZonalHeadId	
INNER JOIN #InvoiceSumofTemp inv ON zh.Id = inv.ZonalHeadId
Where ur.ReportingToUserId = @LoginUserId
ORDER BY inv.TotalAchievment desc

DROP TABLE #DealerIdsTemp
DROP TABLE #UserCustomerSalesTargetsTemp
DROP TABLE #InvoicesTemp
DROP TABLE #UserCustomerSumofTemp
DROP TABLE #InvoiceSumofTemp
DROP TABLE #MonthsAndYear
drop table #UserDivision
drop table #ZhTemp
drop table #BdoTemp

END;



