USE [AdaniDb]
GO
/****** Object:  StoredProcedure [dbo].[Get_ZHSalesTargetChartsDealerWise]    Script Date: 2/21/2024 1:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[Get_ZHSalesTargetChartsDealerWise]
(
	@LoginUserId AS BIGINT,
	@StartDate AS DATETIME,
	@EndDate AS DATETIME,
	@MonthId AS BIGINT,
	@Year AS BIGINT
)
AS
BEGIN

CREATE TABLE #DealerIdsTemp(DealerId BIGINT)
CREATE TABLE #BdoTemp(BdoId bigint,DealerId BIGINT,SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)
CREATE TABLE #UserCustomerSalesTargetsTemp(Target DECIMAL(18,4),DealerId BIGINT)
CREATE TABLE #InvoicesTemp(ActualBilledQuantity DECIMAL(18,4),DealerId BIGINT,SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)
CREATE TABLE #UserCustomerSumofTemp(ZonalHeadId BIGINT, TotalTarget DECIMAL(18,4))
CREATE TABLE #InvoiceSumofTemp(ZonalHeadId BIGINT, TotalAchievment DECIMAL(18,4))
CREATE TABLE #MonthsAndYear(Id BIGINT,MonthId INT,YearId BIGINT)

DECLARE @monthDiff INT;  
DECLARE @counter  INT;  
declare @idColumn int
declare @RoleId bigint

 --LoginUserwiseCombination   
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

select @RoleId=RoleId from UserRoles where UserId=@LoginUserId

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end
--LoginUserwiseCombination


INSERT INTO #DealerIdsTemp 
SELECT distinct CustomerId FROM UserCustomerMappings  with(NOLOCK)
join UserRoles ur on CustomerId=ur.UserId
join UserDivisionMappings ds on ur.UserId=ds.UserId
join #UserDivision ud on ud.SalesOrganizationId=ds.SalesOrganizationId
and ud.DistributionChannelId=ds.DistributionChannelId and ud.DivisionId=ds.DivisionId
where ur.RoleId=5

insert into #BdoTemp(BdoId,DealerId,SalesOrganizationId,DistributionChannelId,DivisionId)
select distinct u.Id,ucm.CustomerId,ud.SalesOrganizationId,ud.DistributionChannelId,ud.DivisionId 
from UserCustomerMappings ucm
join #DealerIdsTemp d on ucm.CustomerId=d.DealerId
join Users u on ucm.UserId=u.Id
join UserReportingToMappings ur on u.Id=ur.UserId
join UserDivisionMappings ud on ud.UserId=u.Id
join #UserDivision ldiv on ud.SalesOrganizationId=ldiv.SalesOrganizationId
and ud.DistributionChannelId=ldiv.DistributionChannelId and ud.DivisionId=ldiv.DivisionId
where ur.ReportingToUserId=@LoginUserId

--insert into #BdoTemp(DealerId,BdoId)
--select distinct ucm.CustomerId,bdo.UserId from UserReportingToMappings bdo
--join UserCustomerMappings ucm on ucm.UserId=bdo.UserId
--where bdo.ReportingToUserId=@LoginUserId

--GET DEALER IDS
--INSERT INTO #DealerIdsTemp(DealerId)
--Select DISTINCT ucm.CustomerId as DealerId
--From UserReportingToMappings bdo
--INNER JOIN UserCustomerMappings ucm ON ucm.UserId = bdo.UserId
--INNER JOIN Users cus ON ucm.CustomerId = cus.Id
--Where bdo.ReportingToUserId = @LoginUserId
--And ucm.CustomerId IS NOT NULL

--Get month and year between start and end date  
  SET @counter = 0;  
  SELECT @monthDiff = DATEDIFF(mm, @StartDate, @EndDate);  
  
  WHILE @counter <= @monthDiff  
  BEGIN  
      INSERT INTO #MonthsAndYear(Id,MonthId,YearId)   
      SELECT @counter + 1, Month(DATEADD(mm, @counter, @StartDate)),Year(DATEADD(mm, @counter, @StartDate));  
  
    SET @counter = @counter + 1;  
  END 


  
  


--GET DEALER SALESTARGET
select @idColumn = min(ID) from #MonthsAndYear

while @idColumn is not null
begin
    INSERT INTO #UserCustomerSalesTargetsTemp(Target,DealerId)
    Select ISNULL(Target,0) As SumOfTarget,AssignedToId  From UserCustomerSalesTargets 
	join UserReportingToMappings ur on AssignedToId=ur.UserId
	Where ur.ReportingToUserId = @LoginUserId
	AND MonthId in (select MonthId from #MonthsAndYear where ID = @idColumn)
	AND Year in (select YearId from #MonthsAndYear where ID = @idColumn)
    select @idColumn = min(ID) from #MonthsAndYear where ID > @idColumn
end


--GET DEALER INVOICE DETAILS
INSERT INTO #InvoicesTemp(ActualBilledQuantity,DealerId,SalesOrganizationId,DistributionChannelId,DivisionId)
Select ISNULL(sr.QuantityCase,0) As ActualBilledQuantity,
u.Id as Id ,sr.SalesOrganizationId,sr.DistributionChannelId,sr.DivisionId
From SalesRegisters sr with(NOLOCK)
join Users u on sr.CustomerCode=u.Code
join #UserDivision ud on ud.SalesOrganizationId=sr.SalesOrganizationId and ud.DistributionChannelId=sr.DistributionChannelId and ud.DivisionId=sr.DivisionId
INNER JOIN Skus sku ON sr.MaterialCode = sku.SkuCode
Where u.Id IN (SELECT DealerId From #BdoTemp)
and sr.SalesOrganizationId=sku.SalesOrganizationId
and sr.DistributionChannelId=sku.DistributionChannelId
and sr.DivisionId=sku.DivisionId
AND CONVERT(VARCHAR, sr.InvoiceDate, 111) >= CONVERT(VARCHAR, @StartDate, 111)
AND CONVERT(VARCHAR, sr.InvoiceDate, 111) <= CONVERT(VARCHAR, @EndDate, 111)


--select Sum(ActualBilledQuantity) from #InvoicesTemp

INSERT INTO #UserCustomerSumofTemp(ZonalHeadId,TotalTarget)
Select DISTINCT
bdo.UserId as ZonalHeadId,
ISNULL(SUM(uct.Target),0) AS TotalTarget
From UserReportingToMappings bdo
LEFT JOIN #UserCustomerSalesTargetsTemp uct ON bdo.UserId = uct.DealerId
Where bdo.ReportingToUserId = @LoginUserId
GROUP BY bdo.UserId



INSERT INTO #InvoiceSumofTemp(ZonalHeadId, TotalAchievment)
SELECT DISTINCT
    bdo.BdoId as ZonalHeadId,
    ISNULL(SUM(inv.ActualBilledQuantity), 0) AS TotalTarget
FROM #InvoicesTemp inv
JOIN (
    SELECT
        DealerId,
        SalesOrganizationId,
        DistributionChannelId,
        DivisionId,
        MAX(BdoId) AS BdoId
    FROM #BdoTemp
    GROUP BY
        DealerId,
        SalesOrganizationId,
        DistributionChannelId,
        DivisionId
) bdo ON inv.DealerId = bdo.DealerId
    AND inv.SalesOrganizationId = bdo.SalesOrganizationId
    AND inv.DistributionChannelId = bdo.DistributionChannelId
    AND inv.DivisionId = bdo.DivisionId
GROUP BY bdo.BdoId
--SELECT SUM(TotalAchievment) FROM #InvoiceSumofTemp

Select DISTINCT
bdo.Id as DealerId,
bdo.Name as Dealer,
uct.TotalTarget,
inv.TotalAchievment,
FORMAT(CASE
	WHEN uct.TotalTarget > 0
	THEN (inv.TotalAchievment / uct.TotalTarget) * 100 
	ELSE 0
END,'N2') AS AchievmentPercentage,
(Select SUm(ActualBilledQuantity) from #InvoicesTemp) as OverallAchievment,
(Select ISNULL(SUm(ISNULL(Target,0)),0) from #UserCustomerSalesTargetsTemp) as OverallTarget
From Users bdo
join UserReportingToMappings ur on ur.UserId=bdo.Id
INNER JOIN #UserCustomerSumofTemp uct ON bdo.Id = uct.ZonalHeadId	
INNER JOIN #InvoiceSumofTemp inv ON bdo.Id = inv.ZonalHeadId
Where ur.ReportingToUserId = @LoginUserId
ORDER BY inv.TotalAchievment desc

DROP TABLE #DealerIdsTemp
DROP TABLE #UserCustomerSalesTargetsTemp
DROP TABLE #InvoicesTemp
DROP TABLE #UserCustomerSumofTemp
DROP TABLE #InvoiceSumofTemp
DROP TABLE #MonthsAndYear
drop table #BdoTemp
drop table #UserDivision

END;





