USE [AdaniDB]
GO
/****** Object:  StoredProcedure [dbo].[Get_NHSalesTargetChartsOilTypeWise]    Script Date: 2/22/2024 10:06:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[Get_NHSalesTargetChartsOilTypeWise]
(
	@LoginUserId AS BIGINT,
	@StartDate AS DATETIME,
	@EndDate AS DATETIME,
	@MonthId AS BIGINT,
	@Year AS BIGINT
)
AS
BEGIN

CREATE TABLE #DealerIdsTemp(DealerId BIGINT)
CREATE TABLE #UserCustomerSalesTargetsTemp(OilTypeId BIGINT,Target DECIMAL(18,4),DealerId BIGINT)
CREATE TABLE #InvoicesTemp(OilTypeId BIGINT,ActualBilledQuantity DECIMAL(18,4),DealerId BIGINT)
CREATE TABLE #UserCustomerSumofTemp(OilTypeId BIGINT,OilType VARCHAR(50), TotalTarget DECIMAL(18,4))
CREATE TABLE #InvoiceSumofTemp(OilTypeId BIGINT,OilType VARCHAR(50), TotalAchievment DECIMAL(18,4))
CREATE TABLE #MonthsAndYear(Id BIGINT,MonthId INT,YearId BIGINT)

DECLARE @monthDiff INT;  
DECLARE @counter  INT;  
declare @idColumn int
declare @RoleId bigint

--GET DEALER IDS
INSERT INTO #DealerIdsTemp(DealerId)
Select DISTINCT ucm.CustomerId as DealerId
From UserReportingToMappings zh
INNER JOIN UserReportingToMappings bdo ON bdo.ReportingToUserId = zh.UserId
INNER JOIN UserCustomerMappings ucm ON ucm.UserId = bdo.UserId
join Users u on ucm.CustomerId=u.Id
--INNER JOIN Users cus ON ucm.CustomerId = cus.Id
Where zh.ReportingToUserId = @LoginUserId
And zh.Id IS NOT NULL
And ucm.CustomerId IS NOT NULL

--Get month and year between start and end date  
  SET @counter = 0;  
  SELECT @monthDiff = DATEDIFF(mm, @StartDate, @EndDate);  
  
  WHILE @counter <= @monthDiff  
  BEGIN  
      INSERT INTO #MonthsAndYear(Id,MonthId,YearId)   
      SELECT @counter + 1, Month(DATEADD(mm, @counter, @StartDate)),Year(DATEADD(mm, @counter, @StartDate));  
  
    SET @counter = @counter + 1;  
  END 

 --LoginUserwiseCombination   
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

select @RoleId=RoleId from UserRoles where UserId=@LoginUserId

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end
--LoginUserwiseCombination


--GET DEALER SALESTARGET

select @idColumn = min(ID) from #MonthsAndYear

while @idColumn is not null
begin
    INSERT INTO #UserCustomerSalesTargetsTemp(OilTypeId,Target,DealerId)
    Select OilTypeId,ISNULL(Target,0) As SumOfTarget,AssignedToId  From UserCustomerSalesTargets 
	Where AssignedToId = @LoginUserId
	AND MonthId in (select MonthId from #MonthsAndYear where ID = @idColumn)
	AND Year in (select YearId from #MonthsAndYear where ID = @idColumn)
    select @idColumn = min(ID) from #MonthsAndYear where ID > @idColumn
end


--SELECT * FROM #UserCustomerSalesTargetsTemp



--GET DEALER INVOICE DETAILS
INSERT INTO #InvoicesTemp(OilTypeId,ActualBilledQuantity,DealerId)
Select sku.OilTypeId,ISNULL(sr.QuantityMT,0) As ActualBilledQuantity,u.Id as Id 
From  SalesRegisters sr with(NOLOCK)
join Users u on sr.CustomerCode=u.Code
INNER JOIN Skus sku ON sr.MaterialCode = sku.SkuCode
join #UserDivision ud on ud.SalesOrganizationId=sr.SalesOrganizationId and ud.DistributionChannelId=sr.DistributionChannelId and ud.DivisionId=sr.DivisionId
Where u.Id IN (SELECT DealerId From #DealerIdsTemp)
and sr.SalesOrganizationId=sku.SalesOrganizationId
and sr.DistributionChannelId=sku.DistributionChannelId
and sr.DivisionId=sku.DivisionId
AND CONVERT(VARCHAR, sr.InvoiceDate, 111) >= CONVERT(VARCHAR, @StartDate, 111)
AND CONVERT(VARCHAR, sr.InvoiceDate, 111) <= CONVERT(VARCHAR, @EndDate, 111)


INSERT INTO #UserCustomerSumofTemp(OilTypeId,OilType,TotalTarget)
Select DISTINCT
ot.Id as OilTypeId,
ot.Name as OilType,
ISNULL(SUM(uct.Target),0) AS TotalTarget
From #UserCustomerSalesTargetsTemp uct 
JOIN OilTypes ot ON ot.Id = uct.OilTypeId
GROUP BY 
ot.Id,ot.Name

INSERT INTO #InvoiceSumofTemp(OilTypeId,OilType,TotalAchievment)
Select DISTINCT
ot.Id as OilTypeId,
ot.Name as OilType,
ISNULL(SUM(inv.ActualBilledQuantity),0) AS TotalTarget
From #InvoicesTemp inv 
JOIN OilTypes ot ON ot.Id = inv.OilTypeId
GROUP BY 
ot.Id,ot.Name


--SELECT * FROM #UserCustomerSumofTemp
--SELECT * FROM #InvoiceSumofTemp

Select DISTINCT
ISNULL(uct.OilTypeId,inv.OilTypeId) as OilTypeId,
ISNULL(uct.OilType,inv.OilType) as OilType,
uct.TotalTarget,
inv.TotalAchievment,
(Select SUm(ActualBilledQuantity) from #InvoicesTemp) as OverallAchievment,
(Select ISNULL(SUm(ISNULL(Target,0)),0) from #UserCustomerSalesTargetsTemp) as OverallTarget
From  #InvoiceSumofTemp inv 
FULL OUTER JOIN #UserCustomerSumofTemp uct ON uct.OilTypeId = inv.OilTypeId
ORDER BY inv.TotalAchievment desc


DROP TABLE #DealerIdsTemp
DROP TABLE #UserCustomerSalesTargetsTemp
DROP TABLE #InvoicesTemp
DROP TABLE #UserCustomerSumofTemp
DROP TABLE #InvoiceSumofTemp
DROP TABLE #MonthsAndYear
drop table #UserDivision

END;





