
/****** Object:  StoredProcedure [dbo].[GetCallRecordingDetailsList]    Script Date: 11-10-2022 10:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[GetCallRecordingDetailsList]
(
	@FromDate Datetime,
	@Todate Datetime,
	@BDOIds Nvarchar(Max),
	@ZHIds Nvarchar(Max),
	@dealerIds Nvarchar(Max),
	@VerticalId bigint ,
	@LoginUserId bigint,
	@SalesOrganizationId bigint,
	@DistributionChannelId bigint
)
As
Begin
	
	Declare @BDOList Table(Id BigInt)
	Declare @ZHList Table(Id BigInt)
	Declare @DealerList Table(Id BigInt)

	if(LEN(@dealerIds) > 0)
	Begin
			Insert Into @DealerList
	        Select Data From dbo.Split(@dealerIds,',')
	End
	Else if(LEN(@BDOIds) > 0)
	Begin
		 Insert Into @BDOList
		 Select Data From dbo.Split(@BDOIds,',')
		 Insert Into @DealerList 
		 select CustomerId from UserCustomerMappings where UserId  in (Select Id From @BDOList)
	End
	Else if(LEN(@ZHIds) > 0)
	Begin
	     Insert Into @ZHList
	     Select Data From dbo.Split(@ZHIds,',')
		 Insert Into @DealerList 
		 select CustomerId from UserCustomerMappings where UserId  in (Select Id From Users where ReportingToId in (Select Id From @ZHList))
	End
	Else
	Begin
		Insert Into @DealerList 
		select UserId from UserRoles where RoleId = 5
	End

	Insert Into @DealerList 
	select ucm.UserId from UserCustomerMappings as ucm 
	join UserRoles as ur on ucm.UserId = ur.UserId 
	where ucm.CustomerId in (Select Id From @DealerList) and ur.RoleId = 6 -- Broker

	Select 
		a.Id as [AudioFileDetailId],
		a.CreatedDate As [CallRecordedDate],
		U.Name As [CalledBy],
		CalledBy.Name as [CalledTo],
		--'' as [CalledTo],
		a.AudioFileName as [CallRecordedFileName]
		--zonalhead.Name as ZonalHeadName
		--'' as ZonalHeadName
	    From AudioFileDetailsForActiveCustomers a
	Inner Join Users U On U.Id = a.DialerId 
	Inner Join UserDivisionMappings ud On u.Id=ud.UserId
    left Join Users as CalledBy on CalledBy.Id = a.ReceiverId
	left Join Users as zonalhead on zonalhead.Id = CalledBy.ReportingToId
	Where a.UserId In (Select Id From @DealerList) and ((ud.DivisionId = @VerticalId And ud.SalesOrganizationId=@SalesOrganizationId And ud.DistributionChannelId=@DistributionChannelId) or @VerticalId = 0)
	And Convert(date,a.CreatedDate) >= Convert(date,@FromDate) And Convert(date,a.CreatedDate) <= Convert(date,@Todate)
	Order by a.CreatedDate desc
End

