USE [AdaniDBUAT1]
GO
/****** Object:  StoredProcedure [dbo].[GetDealerExport]    Script Date: 07-10-2022 16:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[GetDealerExport]
	@VerticalId int = 0
AS
BEGIN

select u.Id ,
u.Code,
u.Name,
u.MobileNumber,
u.Email,
u.IsActive,
u.SaudaValidityPeriod,
--u.SaudaLimit,
u.SaudaBookingTypeId,
--SaudaBookingType.Name as SaudaBookingType,
--fr.Name as FreightRouteName,
--fz.Name as FreightZoneName,
city.CityName as City,
u.ZoneId,
z.Name as Zone,
district.DistrictName as District,
state.StateName as State,
--territory.Name as Territory,
u.Address1,
u.GSTN,
u.CustClass,
u.VisitDay,
u.WeeklyClosingDay,
u.MonthlyPotential,
--transport.Name as TransportMode,
u.Pincode,
--v.Code as  VerticalCode ,
--v.Name as VerticalName,
u.FSSAINumber,
inactiveremarks.Remarks ,
--customergroupone.GroupName as CustomerGroupOne,
--customergrouptwo.GroupName as CustomerGroupTwo,
customergroupfive.GroupName as CustomerGroupFive,
u.ContactPersonName as ContactPersonName,
u.AdditionalMobileNumber as AdditionalMobileNumber,
u.IsActiveForCall as IsActiveForCall,
(stuff((select ',' + inco.Name  from  UserIncoterms as ui join Incoterms as inco on ui.IncoTermsId = inco.Id where ui.UserId in (u.Id)
 FOR XML PATH('')),1,1,'')
) AS Incoterms ,
(stuff((select ',' + broker.Code from  UserCustomerMappings as ucm join UserRoles as ur on ucm.UserId = ur.UserId join Users as broker on ucm.UserId = broker.Id where ucm.CustomerId in (u.Id) and ur.RoleId = 6 --Broker--
 FOR XML PATH('')),1,1,'')
) AS BrokerCode ,
(stuff((select ',' + Cast(utm.TruckCapacity as nvarchar(max)) from  CustomerTruckCapacityMappings as utm where utm.UserId in (u.Id) and (utm.StorageTypeId = 1)  --PlantTruckCapacities --
 FOR XML PATH('')),1,1,'')
) AS PlantTruckCapacities,
(stuff((select ',' + Cast(utm.TruckCapacity as nvarchar(max)) from  CustomerTruckCapacityMappings as utm where utm.UserId in (u.Id) and (utm.StorageTypeId = 2 or utm.StorageTypeId = 3)  --DepotTruckCapacities --
 FOR XML PATH('')),1,1,'')
) AS DepotTruckCapacities,
(stuff((select ',' + d.Code from  UserDepotMappings as ud join Depots as d on ud.DepotId = d.Id where ud.UserId in (u.Id) and (d.StorageTypeId = 2 or d.StorageTypeId = 3)  --Depot or Rake --
 FOR XML PATH('')),1,1,'')
) AS Depots , 
(stuff((select ',' + p.Name from  UserDepotMappings as ud join Depots as p on ud.DepotId = p.Id where ud.UserId in (u.Id)   --Plant--
 FOR XML PATH('')),1,1,'')
) AS Plants,
(stuff((select ',' + shipToParty.Code from  CustomerShipToPartyMappings as usm join Users as shipToParty on usm.ShipToPartyId = shipToParty.Id where usm.CustomerId in (u.Id) --ShipToPatry--
 FOR XML PATH('')),1,1,'')
) AS ShipToParty ,
(select Min(bdoCode.Code)  from UserCustomerMappings as ucm join UserRoles as ur on ucm.UserId = ur.UserId join users as bdoCode on ucm.UserId = bdoCode.Id where ucm.CustomerId in (u.Id) and ur.RoleId = 7 --Broker--
) as BDOCode,
(select Min(bdoCode.Name)  from UserCustomerMappings as ucm join UserRoles as ur on ucm.UserId = ur.UserId join users as bdoCode on ucm.UserId = bdoCode.Id where ucm.CustomerId in (u.Id) and ur.RoleId = 7 --Broker--
) as StateTrader,
(select Min(bdos.Name) from UserCustomerMappings as ucm join UserRoles as ur on ucm.UserId = ur.UserId join users as bdos on ucm.UserId = bdos.Id where ucm.CustomerId in (u.Id) and ur.RoleId = 7 --Broker--
) as BDO,
(stuff((select ',' + d.Name from  UserDivisionMappings as ud join Divisions as d on ud.DivisionId = d.Id where ud.UserId in (u.Id)  
 FOR XML PATH('')),1,1,'')
) AS VerticalName ,
(stuff((select ',' + Cast(ud.SaudaLimit as varchar(50)) from  UserDivisionMappings as ud where ud.UserId in (u.Id)  
 FOR XML PATH('')),1,1,'')
) AS SaudaLimitDetail ,
u.Password
from Users as u 
join UserRoles as ur on u.Id = ur.UserId  and ur.RoleId = 5
left join Cities as city on u.CityId = city.Id
left join Districts as district on u.DistrictId = district.Id
left join States as state on u.StateId = state.Id
--left join CustomerGroupOnes as customergroupone on u.CustomerGroupOneId = customergroupone.Id
--left join CustomerGroupTwoes as customergrouptwo on u.CustomerGroupTwoId = customergrouptwo.Id 
left join CustomerGroupFives as customergroupfive on u.CustomerGroupFiveId = customergroupfive.Id 
--join SaudaBookingTypes as saudaBookingType on u.SaudaBookingTypeId = saudaBookingType.Id
--join FreightZones as fz on u.FreightZoneId = fz.Id
--join FreightRoutes as fr on u.FreightRouteId = fr.Id
left join Zones as z on u.ZoneId = z.Id
--join Verticals as v on u.VerticalId = v.Id
--join TransportModes as transport on u.TransportModeId =  transport.Id
left join DeleteListCreations as inactiveremarks on u.InActiveRemarkId = inactiveremarks.Id
--Where ( u.VerticalId = @VerticalId or @VerticalId = 0 ) --Dealer--
order by u.Id desc
END

