USE [AdaniDb]
GO
/****** Object:  StoredProcedure [dbo].[GetGeographyCityList]    Script Date: 11/19/2024 5:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[GetGeographyCityList] 
    @ParentId INT,
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
 IF @PageSize <= 0
    BEGIN
        SET @PageSize = 10; 
    END
    DECLARE @Result TABLE
    (
        CityId INT,
        CityName NVARCHAR(255),
        DistrictId INT,
        DistrictName NVARCHAR(255),
        StateId INT,
        StateName NVARCHAR(255),
        ZoneId INT,
        ZoneName NVARCHAR(255),
        SkuId INT,
        SkuName NVARCHAR(255),
        SkuCode NVARCHAR(255),
        Discount DECIMAL(18,2)
    );

    INSERT INTO @Result
    SELECT 
        dg.Id AS CityId,
        c.CityName,
        dg.DistrictId,
        d.DistrictName,
        dg.StateId,
        s.StateName,
        dg.ZoneId,
        z.Name AS ZoneName,
        dg.SkuId,
        sku.SkuName,
        sku.SkuCode,
        dg.ActualDiscount AS Discount
    FROM 
        DiscountGeographies dg
    INNER JOIN 
        Cities c ON c.Id = dg.CityId
    INNER JOIN 
        Districts d ON d.Id = dg.DistrictId
    INNER JOIN 
        States s ON s.Id = dg.StateId
    INNER JOIN 
        Zones z ON z.Id = dg.ZoneId
    LEFT JOIN 
        Skus sku ON sku.Id = dg.SkuId
    WHERE 
        dg.ParentId = @ParentId;

    DECLARE @TotalCount INT;
    SELECT @TotalCount = COUNT(CityId)  
    FROM @Result;

    SELECT 
        CityId,
        CityName,
        DistrictId,
        DistrictName,
        StateId,
        StateName,
        ZoneId,
        ZoneName,
        SkuId,
        SkuName,
        SkuCode,
        Discount,
        @TotalCount AS TotalRows  
    FROM 
        @Result
    ORDER BY 
        CityId  
    OFFSET (@PageNumber - 1) * @PageSize ROWS  
    FETCH NEXT @PageSize ROWS ONLY;  
END;
