
/****** Object:  StoredProcedure [dbo].[GetInvoiceDataExport]    Script Date: 21-09-2022 14:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[GetInvoiceDataExport]
(	@LoginUserId BIGINT,  
	@RoleId BIGINT, 
	@ValidFrom DateTime,
	@ValidTo DateTime,
	@VerticalId bigint,
	@SalesOrganizationId bigint,
	@DistributionChannelId bigint
)
AS 
BEGIN

SET NOCOUNT ON;   
  
 CREATE TABLE #DealerIdsTemp(DealerId BIGINT)   
 IF(@RoleId = 12) -- NH  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId  
   From Users nh  
   INNER JOIN Users zh ON nh.Id = zh.ReportingToId  
   INNER JOIN UserCustomerMappings ucm ON ucm.UserId = zh.Id  
   INNER JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where nh.ReportingToId = @LoginUserId   
   --And cus.SaudaBookingtypeId = 1  
   And zh.Id IS NOT NULL  
   And ucm.CustomerId IS NOT NULL  



  END  
 ELSE IF(@RoleId = 9) -- ZH  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId From Users bdo  
   INNER JOIN UserCustomerMappings ucm ON ucm.UserId = bdo.Id  
   INNER JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where bdo.ReportingToId = @LoginUserId --ANd cus.SaudaBookingtypeId = 1  


  END  
 ELSE IF(@RoleId = 7) --BDO  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId   
   From UserCustomerMappings ucm   
   JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where ucm.UserId = @LoginUserId --And cus.SaudaBookingtypeId = 1  



  END
  ELSE -- Admin  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select u.Id as DealerId From Users u   
   Join UserRoles ur on u.Id = ur.UserId Join Roles r on ur.RoleId = r.Id  
   Where ur.RoleId = 5 --AND u.SaudaBookingTypeId = 1  


  END 

  	
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end


--  Create Table #LiftingRequestTable(LiftingRequestId bigint,SaudaNumber varchar(max),SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)
--insert into #LiftingRequestTable(LiftingRequestId,SaudaNumber,SalesOrganizationId,DistributionChannelId,DivisionId)
--select distinct i.LiftingRequestId,s.SaudaNumber,s.SalesOrganizationId,s.DistributionChannelId,s.DivisionId from Invoices i 
--join LiftingRequestDetails lrd on i.LiftingRequestId = lrd.LiftingRequestId
--join Saudas s on s.SaudaNumber=lrd.SaudaNumber

--select LiftingRequestId,SalesOrganizationId,DistributionChannelId,DivisionId,SaudaNumber from #LiftingRequestTable  order by LiftingRequestId




Select 
u.Name as DistributorName,
o.name as OilType,
sk.SkuName as MaterialName,
invd.QuantityInCase as Quantity,
invd.ActualBilledQuantity as QuantityInMt,
inv.SAPDocumentNo as SalesOrderNumber,
Cast(inv.InvoiceDate as varchar(max)) as InvoiceDate,
Cast(inv.CreatedDate as varchar(max)) as CreatedDate,
inv.TotalInvoice,
inv.BillingDocument
From Invoices inv
Join InvoiceDetails invd on inv.Id = invd.InvoiceId
--join #LiftingRequestTable lr on lr.LiftingRequestId=inv.LiftingRequestId
join #UserDivision ud on ud.SalesOrganizationId=invd.SalesOrganizationId and ud.DistributionChannelId=invd.DistributionChannelId and ud.DivisionId=invd.DivisionId
Join Users u on u.Id = inv.UserId
Join OilTypes o on o.Id = invd.OilTypeId
Join Skus sk on sk.Id = invd.SkuId
Where ((@VerticalId = 0 And 1 = 1) Or (@VerticalId <> 0 And sk.DivisionId = @VerticalId And sk.SalesOrganizationId=@SalesOrganizationId And sk.DistributionChannelId=@DistributionChannelId) )
And
 Convert(date,inv.CreatedDate) between  Convert(date,@ValidFrom) and Convert(date,@ValidTo) And (inv.UserId IN (SELECT DealerId FROM #DealerIdsTemp) )

 DROP TABLE #DealerIdsTemp  
 Drop table #UserDivision
END;


