
/****** Object:  StoredProcedure [dbo].[GetLiftingRequestDataExport]    Script Date: 21-09-2022 16:16:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[GetLiftingRequestDataExport]
(	
	@ValidFrom DateTime,
	@ValidTo DateTime,
	@VerticalId BigInt,
	@SalesOrganizationId bigint,
	@DistributionChannelId bigint,
	@LoginUserId bigint,
	@RoleId bigint
)
AS 
BEGIN

CREATE TABLE #DealerIdsTemp(DealerId BIGINT)   
   CREATE TABLE #BdoIds(BdoId BIGINT)  
 IF(@RoleId = 12) -- NH  
  BEGIN  
     INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT ucm.CustomerId as DealerId  
   From UserReportingToMappings zh  
   INNER JOIN UserReportingToMappings bdo ON zh.UserId = bdo.ReportingToUserId  
   INNER JOIN UserCustomerMappings ucm ON ucm.UserId = bdo.UserId  
   Where zh.ReportingToUserId = @LoginUserId   

    INSERT INTO #BdoIds(BdoId) 
   Select Distinct bdo.UserId as BdoId from UserReportingToMappings zh 
   join UserReportingToMappings bdo on zh.UserId=bdo.ReportingToUserId
   where zh.ReportingToUserId=@LoginUserId

  END  
 ELSE IF(@RoleId = 9) -- ZH  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId From 
   UserReportingToMappings bdo  
   INNER JOIN UserCustomerMappings ucm ON ucm.UserId = bdo.UserId 
   INNER JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where bdo.ReportingToUserId = @LoginUserId 
   
    INSERT INTO #BdoIds(BdoId)  
   Select DISTINCT bdo.UserId as BdoId  
   From UserReportingToMappings bdo   
   Where bdo.ReportingToUserId = @LoginUserId  

  END  
 ELSE IF(@RoleId = 7) --BDO  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId   
   From UserCustomerMappings ucm   
   JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where ucm.UserId = @LoginUserId --And cus.SaudaBookingtypeId = 1  

    INSERT INTO #BdoIds(BdoId)  
   Select DISTINCT @LoginUserId as BdoId

  END
  ELSE -- Admin  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select Distinct u.Id as DealerId From Users u   
   Join UserRoles ur on u.Id = ur.UserId Join Roles r on ur.RoleId = r.Id  
   Where ur.RoleId = 5 --AND u.SaudaBookingTypeId = 1  

    INSERT INTO #BdoIds(BdoId)  
   Select Distinct u.Id as BdoId From Users u   
   Join UserRoles ur on u.Id = ur.UserId Join Roles r on ur.RoleId = r.Id  
   Where ur.RoleId = 7 --AND u.SaudaBookingTypeId = 1 

  END 


  
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end

Select 
lr.LiftingRequestNumber as SalesOrderRequestNumber,
u.Name as DistributorName,
u.Code as DistributorCode,
o.Name as OilType,
sk.SkuName as MaterialName,
sk.SkuCode as MaterialCode,
lrd.LiftingQuantityCase as Quantity,
lrd.LiftingQuantity as QuantiTyInMT,
lr.SAPDocumentNo as SalesOrderNumber,
lr.SAPDeliveryNo as DeliveryOrderNumber,
lr.LiftingDate as SalesOrderDate,
s.Name as Status,
lr.ApproverRemarks,
lr.CustomerRemarks
From LiftingRequests lr
Inner Join LiftingRequestDetails lrd on lr.Id = lrd.LiftingRequestId
--inner join Saudas sa on sa.SaudaNumber =lrd.SaudaNumber
join #UserDivision ud on lrd.SalesOrganizationId=ud.SalesOrganizationId and lrd.DistributionhannelId = ud.DistributionChannelId and lrd.DivisionId=ud.DivisionId
Inner Join Users u on u.Id = lr.UserId
Inner Join Skus sk on sk.Id = lrd.SkuId
Inner Join OilTypes o on o.Id = lrd.OilTypeId
Join Status s on s.Id = lr.StatusId
Where  ((@VerticalId = 0 And 1 = 1) Or (@VerticalId <> 0 And sk.DivisionId = @VerticalId And sk.SalesOrganizationId=@SalesOrganizationId And sk.DistributionChannelId=@DistributionChannelId))
And lr.UserId in (Select DealerId from #DealerIdsTemp) 
--sa.BdoId in (Select BdoId from #BdoIds)
and
Convert(date,lr.CreatedDate) >=  Convert(date,@ValidFrom) and Convert(date,lr.CreatedDate) <= Convert(date,@ValidTo)
END;

