USE [AdaniPilot]
GO
/****** Object:  StoredProcedure [dbo].[GetPricingData]    Script Date: 04-04-2023 10:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER  PROCEDURE [dbo].[GetPricingData]
(	
	@StartDate DateTime,
	@EndDate DateTime,
	@DivisionId BigInt,
	@SalesOrganizationId bigint,
	@DistributionChannelId bigint,
	@OilTypeId bigint,
	@PlantId bigint,
	@LoginUserId bigint,
	@RoleId bigint
)
AS 
BEGIN
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)
Create Table #PlantIds(PlantId bigint)


IF(@RoleId = 12) -- NH  
BEGIN  
  Insert into #PlantIds(PlantId)
  select distinct d.Id from  Depots d
  join UserDepotMappings um on d.Id=um.DepotId and d.IsActive=1 and d.IsPlant=1
  join Users u on um.UserId=u.Id 
  join UserCustomerMappings ucm on ucm.CustomerId=u.Id
  join UserReportingToMappings bdo on ucm.UserId=bdo.UserId
  join UserReportingToMappings zh on bdo.ReportingToUserId=zh.UserId
  where zh.ReportingToUserId=@LoginUserId and d.IsPlant=1 and d.IsActive=1 and u.IsActive=1
END  
IF(@RoleId = 9) -- ZH  
BEGIN  
   Insert into #PlantIds(PlantId)
  select distinct d.Id from  Depots d
  join UserDepotMappings um on d.Id=um.DepotId and d.IsActive=1 and d.IsPlant=1
  join Users u on um.UserId=u.Id 
  join UserCustomerMappings ucm on ucm.CustomerId=u.Id
  join UserReportingToMappings bdo on ucm.UserId=bdo.UserId
  where bdo.ReportingToUserId=@LoginUserId and d.IsPlant=1 and d.IsActive=1 and u.IsActive=1
END  
IF(@RoleId = 7) --BDO  
BEGIN  
   Insert into #PlantIds(PlantId)
  select distinct d.Id from  Depots d
  join UserDepotMappings um on d.Id=um.DepotId and d.IsActive=1 and d.IsPlant=1
  join Users u on um.UserId=u.Id 
  join UserCustomerMappings ucm on ucm.CustomerId=u.Id
  where ucm.UserId=@LoginUserId and d.IsPlant=1 and d.IsActive=1 and u.IsActive=1
END
ELSE -- Admin  
BEGIN
	Insert into #PlantIds(PlantId)
  select distinct d.Id from  Depots d where d.IsActive=1 and d.IsPlant=1
END
  




if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end

Select 
tp.SAPPricingCode,
tp.DivisionId,
tp.SalesOrganizationId,
tp.DistributionChannelId,
tp.OilTypeId,
tp.PlantId,
tp.Price,
tp.ValidFrom,
CAST(tp.ValidTo AS VARCHAR(100)) as ValidTo,
CAST(tp.ValidFrom AS VARCHAR(100)) as ValidFrom,
CAST(tp.CreatedDate AS VARCHAR(100)) as CreatedDate,
s.Name as SalesOrganizationName,
d.Name as DistributionChannelName,
div.Name as DivisionName,
depot.Name as PlantName,
depot.Code as PlantCode,
sk.SkuCode as SkuCode,
sk.SkuName as SkuName,
(o.Name+'-'+s.Code+'/'+d.Code+'/'+div.Code ) as OilTypeName,
pg.Name as OilPackingType
from TodayPricings tp with(NOLOCK)
join #UserDivision ud on tp.SalesOrganizationId=ud.SalesOrganizationId and tp.DistributionChannelId=ud.DistributionChannelId
and tp.DivisionId=ud.DivisionId
left join OilTypes o on tp.OilTypeId=o.Id
left join Skus sk on tp.SkuId=sk.Id
left join PackGroups pg on tp.OilPackingTypeId=pg.Id
left join SalesOrganizations s on s.Id=tp.SalesOrganizationId
left join DistributionChannels d on d.Id=tp.DistributionChannelId
left join Divisions div on div.Id=tp.DivisionId
left join Depots depot on depot.Id=tp.PlantId
where 
(@StartDate>=tp.ValidFrom and @StartDate<= tp.ValidTo and @EndDate<=tp.ValidTo and @EndDate>=tp.ValidFrom)
and 
(tp.SalesOrganizationId=Case When @SalesOrganizationId > 0 then @SalesOrganizationId Else tp.SalesOrganizationId End) and 
(tp.PlantId>0) and (tp.SkuId>0) and
(tp.PlantId=Case When @PlantId > 0 then @PlantId Else tp.PlantId End)
and
(tp.DistributionChannelId=Case When @DistributionChannelId > 0 then @DistributionChannelId Else tp.DistributionChannelId End) and
(tp.DivisionId=Case When @DivisionId > 0 then @DivisionId Else tp.DivisionId End) and
(tp.OilTypeId=Case When @OilTypeId > 0 then @OilTypeId Else tp.OilTypeId End) and sk.IsActive = 1
and tp.PlantId in (select PlantId from #PlantIds)
drop table #UserDivision
End
