
/****** Object:  StoredProcedure [dbo].[GetPendingContracts]    Script Date: 14-12-2022 09:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER   PROCEDURE [dbo].[GetPendingContracts]   
 @LoginUserId BIGINT,  
 @RoleId BIGINT,  
 @DivisionId BIGINT,  
 @SalesOrgId BIGINT,  
 @DistChannelId BIGINT  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;   
  
 CREATE TABLE #DealerIdsTemp(DealerId BIGINT)   
  CREATE TABLE #BdoIds(BdoId BIGINT) 
 IF(@RoleId = 12) -- NH  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId  
   From Users nh  
   INNER JOIN Users zh ON nh.Id = zh.ReportingToId  
   INNER JOIN UserCustomerMappings ucm ON ucm.UserId = zh.Id  
   INNER JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where nh.ReportingToId = @LoginUserId   
   --And cus.SaudaBookingtypeId = 1  
   And zh.Id IS NOT NULL  
   And ucm.CustomerId IS NOT NULL  

   INSERT INTO #BdoIds(BdoId)  
   Select DISTINCT bdo.Id as BdoId  
   From Users zh  
   INNER JOIN Users bdo ON zh.Id = bdo.ReportingToId  
   Where zh.ReportingToId = @LoginUserId 


  END  
 ELSE IF(@RoleId = 9) -- ZH  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId From Users bdo  
   INNER JOIN UserCustomerMappings ucm ON ucm.UserId = bdo.Id  
   INNER JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where bdo.ReportingToId = @LoginUserId --ANd cus.SaudaBookingtypeId = 1
   
   INSERT INTO #BdoIds(BdoId)  
   Select DISTINCT bdo.Id as BdoId  
   From Users bdo   
   Where bdo.ReportingToId = @LoginUserId  

  END  
 ELSE IF(@RoleId = 7) --BDO  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId   
   From UserCustomerMappings ucm   
   JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where ucm.UserId = @LoginUserId --And cus.SaudaBookingtypeId = 1  

   
   INSERT INTO #BdoIds(BdoId)  
   Select DISTINCT @LoginUserId as BdoId

  END
  ELSE -- Admin  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select u.Id as DealerId From Users u   
   Join UserRoles ur on u.Id = ur.UserId Join Roles r on ur.RoleId = r.Id  
   Where ur.RoleId = 5 --AND u.SaudaBookingTypeId = 1  

   INSERT INTO #BdoIds(BdoId)  
   Select u.Id as BdoId From Users u   
   Join UserRoles ur on u.Id = ur.UserId Join Roles r on ur.RoleId = r.Id  
   Where ur.RoleId = 7 --AND u.SaudaBookingTypeId = 1 

  END   


  
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end
    
	--select * from #DealerIdsTemp
	--select * from #BdoIds
	--select * from #UserDivision

    SELECT Distinct P.Id  
      ,P.SaudaOrderId  
      ,P.SaudaNumber   
      ,sorg.Name as SalesOrganization
	  ,dt.Name as DistributionChannel  
      ,v.Name as Division  
      ,( CASE WHEN ContractValidTo = null THEN '' ELSE Convert(nvarchar(50),ContractValidTo,103) END) AS ContractValidTo  
      ,CustomerCode  
      ,CustomerName
      ,MaterialCode  
      ,TotalValue as TotalPrice,
	   PendingQuantityInCase,
	   SaudaQuantity  as PendingQuantityInMT,
	  ,( CASE WHEN P.CreatedDate = null THEN '' ELSE Convert(nvarchar(50),P.CreatedDate,0) END) AS CreatedDate,
	   BasicRate as BasicRate
   from 
   PendingContracts as P  
  -- inner join Saudas sauda on p.SaudaNumber=sauda.SaudaNumber
   join #UserDivision ud on ud.SalesOrganizationId=p.SalesOrgId and ud.DistributionChannelId=p.DistChnlId and ud.DivisionId=p.DivisionId and p.PendingQuantityInCase!=0
   inner JOIN Users u ON P.CustomerCode = u.Code  
   --LEFT JOIN Depots d ON d.Code = P.PlantCode  
   inner Join Skus sku On Sku.SkuCode = P.MaterialCode and p.SalesOrgId=sku.SalesOrganizationId and p.DistChnlId=sku.DistributionChannelId and p.DivisionId=sku.DivisionId
   inner JOIN OilTypes ot ON ot.Id = sku.OilTypeId  
  -- Inner join PackGroups pg on sku.PackGroupId = pg.Id
   inner Join Divisions v on p.DivisionId = v.Id
   inner Join SalesOrganizations sorg on p.SalesOrgId = sorg.Id
   inner Join DistributionChannels dt on p.DistChnlId = dt.Id
  -- Inner Join Saudas so on so.SaudaNumber = p.SaudaNumber
 --  Left Join UserCustomerMappings as ucm on ucm.CustomerId = u.Id 
  -- Left Join Users as BDO on BDO.Id = ucm.UserId
 --  left join UserRoles as userrole on userrole.UserId = BDO.ID
   WHERE u.Id IN (SELECT DealerId FROM #DealerIdsTemp) 
   AND ((@DivisionId > 0 And p.DivisionId = @DivisionId ) or (@DivisionId = 0)  ) 
   AND ( (@DistChannelId > 0 And p.DistChnlId = @DistChannelId ) or (@DistChannelId = 0)  )  
   AND ((@SalesOrgId > 0 And p.SalesOrgId = @SalesOrgId ) Or (@SalesOrgId = 0)  )
   --and Cast(P.ContractValidTo as date) >= Cast(GETDATE() as date)
  --and sauda.BdoId in (Select BdoId from #BdoIds)
  -- and userrole.ROleId = 7
     
	DROP TABLE #DealerIdsTemp  
    DROP TABLE #BdoIds  
	DROP TABLE #UserDivision  
END  




