USE [AdaniPiloatDB]
GO
/****** Object:  StoredProcedure [dbo].[GetQpsDiscountDetailForSku]    Script Date: 19-09-2024 14:22:26 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER       Procedure [dbo].[GetQpsDiscountDetailForSku](
	@skuQps SkuQps Readonly,
	@ZoneId bigint,
	@StateId bigint
	)
As
Begin
SET NOCOUNT ON;

;WITH CTE_Sku_DiscountType AS
(
	SELECT T.SkuId, MIN(T.Quantity) AS Quantity,MIN(S.OilTypeId) AS OilType,
	CASE WHEN MAX(Q.SkuId) > 0 THEN 1 ELSE 0 END AS DiscountType,
	STRING_AGG(CONCAT(CASE WHEN Q.SkuId > 0 THEN 1 ELSE 0 END,'-',Q.QpsDiscountId),',') AS QpsDiscountId
	FROM @skuQps T
	INNER JOIN Skus S ON T.SkuId = S.Id AND S.IsActive = 1
	-- FIX A: dedupe mapping rows so duplicate QPSDiscountSkuMappings cannot inflate the quantity.
	LEFT JOIN (SELECT DISTINCT SkuId, QpsDiscountId, StateId, OilTypeId
	           FROM QPSDiscountSkuMappings WHERE IsActive = 1) Q
		ON (T.SkuId = Q.SkuId OR (Q.SkuId = 0 AND Q.OilTypeId = S.OilTypeId))
	LEFT JOIN QpsDiscounts Qd ON Q.QpsDiscountId = Qd.Id AND Qd.IsActive = 1
	LEFT JOIN ZoneStateMappings zs ON Q.StateId = zs.StateId
	WHERE
        zs.ZoneId = @ZoneId AND
        Q.StateId = @StateId AND
        CAST(GETDATE() AS DATE) BETWEEN CAST(Qd.StartDate AS DATE) AND CAST(Qd.EndDate AS DATE)
	GROUP BY T.SkuId
),
--CTE_Sku_Comb AS (
--	SELECT *
--	FROM CTE_Sku_DiscountType C
--	CROSS APPLY STRING_SPLIT(C.QpsDiscountId,',') ct
--)
CTE_Sku_Comb AS (
    SELECT
        C.*,
        value = LTRIM(RTRIM(m.n.value('.[1]', 'varchar(8000)')))
    FROM
        CTE_Sku_DiscountType C
    CROSS APPLY
        (SELECT
             CAST('<XMLRoot><RowData>' + REPLACE(C.QpsDiscountId, ',', '</RowData><RowData>') + '</RowData></XMLRoot>' AS XML) AS x
        ) AS t
    CROSS APPLY
        x.nodes('/XMLRoot/RowData') m(n)
),
CTE_New_Sku AS (
SELECT C.SkuId, C.OilType AS OilTypeId, C.DiscountType AS DiscountType, C.Quantity AS OldQuantity, A.Quantity AS NewQuantity, A.value
FROM CTE_Sku_Comb C
INNER JOIN (
SELECT value, SUM(Quantity) AS Quantity
FROM CTE_Sku_Comb
GROUP BY value, OilType) A ON C.value = A.value
),
CTE_Discounts AS (
SELECT * FROM
    (SELECT
        Ns.SkuId,
		Ns.OilTypeId,
		Ns.DiscountType,
		Ns.OldQuantity,
        Ns.NewQuantity,
        Qsd.Discount,
        Qsd.FromRange,
        Qsd.ToRange,
		CASE WHEN Qds.SkuId > 0 THEN 1 ELSE 0 END AS SkuType,
		Ns.value,
		Qsd.QpsDiscountId
    FROM CTE_New_Sku Ns
    -- FIX A (defense-in-depth): dedupe mapping rows here too so the slab join does not fan out.
    LEFT JOIN (SELECT DISTINCT SkuId, QpsDiscountId, StateId, OilTypeId
               FROM QPSDiscountSkuMappings WHERE IsActive = 1) Qds
        ON (Ns.SkuId = Qds.SkuId OR (Qds.SkuId = 0 AND Qds.OilTypeId = Ns.OilTypeId))
    LEFT JOIN QpsDiscounts Qd ON Qds.QpsDiscountId = Qd.Id AND Qd.IsActive = 1
    LEFT JOIN QPSSlabDetails Qsd ON Qd.Id = Qsd.QpsDiscountId
	LEFT JOIN ZoneStateMappings zs ON Qds.StateId = zs.StateId
	WHERE
        zs.ZoneId = @ZoneId AND
        Qds.StateId = @StateId AND
        CAST(GETDATE() AS DATE) BETWEEN CAST(Qd.StartDate AS DATE) AND CAST(Qd.EndDate AS DATE)) A
		WHERE ((A.SkuType = 1 AND A.value LIKE '1-%' ) OR (A.SkuType = 0 AND A.value LIKE '0-%' ))
	AND	(QpsDiscountId = RIGHT(A.value, LEN(A.Value) - CHARINDEX('-', A.Value)))
),
CTE_MinMaxSlab AS (
SELECT
        SkuId,
		Min(FromRange) as MinFromRange,
		MAX(ToRange) as MaxToRange,
		MAX(Discount) as MaxDiscount,
		SkuType,
		QpsDiscountId
    FROM CTE_Discounts
    GROUP BY SkuId, SkuType, QpsDiscountId
),
CTE_FinalDiscounts AS (
    SELECT Distinct
        cd.SkuId,
        cd.QpsDiscountId,
        CASE
            WHEN cd.NewQuantity < mm.MinFromRange THEN 0
            WHEN cd.NewQuantity > mm.MaxToRange THEN mm.MaxDiscount
            ELSE cd.Discount
        END AS Discount
    FROM
        CTE_Discounts cd
        LEFT JOIN CTE_MinMaxSlab mm ON cd.SkuId = mm.SkuId AND cd.QpsDiscountId = mm.QpsDiscountId AND cd.SkuType = mm.SkuType
    WHERE
        (cd.NewQuantity BETWEEN cd.FromRange AND cd.ToRange) OR (cd.NewQuantity < mm.MinFromRange) OR
		(cd.NewQuantity > mm.MaxToRange)
)
SELECT
    t.SkuId,
    SUM(COALESCE(f.Discount, 0)) AS Discount,
	STRING_AGG(f.QpsDiscountId, ', ') AS QpsId,
	STRING_AGG(f.Discount, ', ') AS IndividualQPSDiscount
FROM @skuQps t
LEFT JOIN
    CTE_FinalDiscounts f on t.SkuId = f.SkuId
GROUP BY
    t.SkuId

End
GO
