USE [AdaniDB]
GO
/****** Object:  StoredProcedure [dbo].[GetSaudaListDataExport]    Script Date: 3/5/2024 11:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  ALTER PROCEDURE [dbo].[GetSaudaListDataExport] (
    @LoginUserId BIGINT,
    @RoleId BIGINT,
    @OilTypeId Bigint,
    @SkuId bigint,
    @StatusId bigint,
    @FromDate DateTime,
    @ToDate DateTime,
    @VerticalId BigInt,
    @SalesOrganizationId bigint,
    @DistributionChannelId bigint
  ) AS BEGIN
SET
  NOCOUNT ON;
  CREATE TABLE #DealerIdsTemp(DealerId BIGINT)
  CREATE TABLE #BdoTemp(BdoId BIGINT,BdoName varchar(max),BdoCode varchar(max),CustomerId bigint,SalesOrganizationId bigint,DistId bigint,DivisionId bigint)

insert into #BdoTemp(BdoId,BdoName,BdoCode,CustomerId,SalesOrganizationId,DistId,DivisionId)
select bdo.Id,bdo.Name,bdo.Code,uc.CustomerId,ud.SalesOrganizationId,ud.DistributionChannelId,ud.DivisionId 
from Users u
join UserRoles ur on u.Id=ur.UserId and ur.RoleId=5
join UserCustomerMappings uc on u.Id=uc.CustomerId
join Users bdo with(NOLOCK) on uc.UserId=bdo.Id
join UserRoles urb with(NOLOCK) on urb.UserId=bdo.Id
join UserDivisionMappings ud on ud.UserId=ur.UserId
where urb.RoleId=7

--select u.Id from Users u
--join UserRoles ur on u.Id=ur.UserId and ur.RoleId=5
--join UserCustomerMappings uc on u.Id=uc.CustomerId
--join Users bdo with(NOLOCK) on uc.UserId=bdo.Id
--join UserRoles urb with(NOLOCK) on urb.UserId=bdo.Id
--where urb.RoleId=7 
  IF(@RoleId = 12) -- NH
  BEGIN
INSERT INTO
  #DealerIdsTemp(DealerId)
Select
  DISTINCT ucm.CustomerId as DealerId
From
  UserReportingToMappings zh
  INNER JOIN UserReportingToMappings bdo ON zh.UserId = bdo.ReportingToUserId
  INNER JOIN UserCustomerMappings ucm ON ucm.UserId = bdo.UserId
Where
  zh.ReportingToUserId = @LoginUserId 
END 
ELSE IF(@RoleId = 9) -- ZH
BEGIN
INSERT INTO
  #DealerIdsTemp(DealerId)
Select
  DISTINCT cus.Id as DealerId
From
  UserReportingToMappings bdo
  INNER JOIN UserCustomerMappings ucm ON ucm.UserId = bdo.UserId
  INNER JOIN Users cus ON ucm.CustomerId = cus.Id
Where
  bdo.ReportingToUserId = @LoginUserId

END 
ELSE IF(@RoleId = 7) --BDO
BEGIN
INSERT INTO
  #DealerIdsTemp(DealerId)
Select
  DISTINCT cus.Id as DealerId
From
  UserCustomerMappings ucm
  JOIN Users cus ON ucm.CustomerId = cus.Id
Where
  ucm.UserId = @LoginUserId --And cus.SaudaBookingtypeId = 1

END 
ELSE -- Admin
BEGIN
INSERT INTO #DealerIdsTemp(DealerId)  
select u.Id from Users u
join UserRoles ur on u.Id=ur.UserId and ur.RoleId=5
join UserCustomerMappings uc on u.Id=uc.CustomerId
join Users bdo with(NOLOCK) on uc.UserId=bdo.Id
join UserRoles urb with(NOLOCK) on urb.UserId=bdo.Id
where urb.RoleId=7 

  END 
  Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)
  if(@RoleId = 1) begin
insert into
  #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions
  end else begin
insert into
  #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
  end

create table #saudalist(CreatedDate datetime,Id bigint,SaudaId bigint,SaudaNumber varchar(max),IsSAPDataSync bit,
BiddingDate datetime,UserId bigint,DealerName varchar(max),CreatedBy varchar(max),
IsActiveRemarks bit,IsSapSauda bit,IsSapSaudaNumberUpdateSync bit,StatusId bigint,SaudaType varchar(max))
insert into #saudalist
Select
  s.CreatedDate as CreatedDate,
  so.Id as Id,
  s.Id as SaudaId,
  s.SaudaNumber as SaudaNumber,
  so.IsSAPDataSync,
  s.BiddingDate,
  s.UserId,
  dealer.Name as DealerName,
  created.Name as CreatedBy,
  r.IsActive as IsActiveRemarks,
  so.IsSapSauda,
  so.IsSapSaudaNumberUpdateSync,
  so.StatusId,
  (Case when s.SaudaType=0 then '' else
case when s.SaudaType=1 then 'New'
else 'Repunch' end 
end) as SaudaType
from
  Saudas s with(NOLOCK)
  join SaudaOrders so with(NOLOCK) on s.Id = so.SaudaId
  join #UserDivision ud on s.SalesOrganizationId=ud.SalesOrganizationId and s.DistributionChannelId=ud.DistributionChannelId
  and s.DivisionId = ud.DivisionId
  join Users dealer with(NOLOCK) on s.UserId = dealer.Id
  left join Remarks r with(NOLOCK) on so.Id = r.TableId
  and r.IsActive = 1
  join Users created with(NOLOCK) on s.CreatedBy = created.Id
  join #BdoTemp bdo on dealer.Id=bdo.CustomerId and s.SalesOrganizationId=bdo.SalesOrganizationId and
s.DistributionChannelId=bdo.DistId and s.DivisionId=bdo.DivisionId
where
dealer.Id in ( select DealerId from #DealerIdsTemp)
and Cast(s.BiddingDate as date) >= Cast(@FromDate as Date)
and Cast(s.BiddingDate as date) <= Cast(@ToDate as Date)
and((@SalesOrganizationId > 0 and s.SalesOrganizationId = @SalesOrganizationId) or @SalesOrganizationId = 0)
and((@DistributionChannelId > 0 and s.DistributionChannelId = @DistributionChannelId ) or @DistributionChannelId = 0)
and((@VerticalId > 0 and s.DivisionId = @VerticalId ) or @VerticalId = 0 ) and( ( @SkuId > 0 and so.SkuId = @SkuId )
 or @SkuId = 0 ) and( ( @OilTypeId > 0 and so.OilTypeId = @OilTypeId )
 or @OilTypeId = 0)
and 1 = CASE WHEN @StatusId='0' or @StatusId='-1'  or @StatusId='' THEN 1 ELSE (CASE WHEN so.StatusId=@StatusId THEN 1 ELSE 0 END) 
END 


SELECT *
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY SaudaId ORDER BY Id DESC) AS row_num
    FROM #saudaList
) AS subquery
WHERE row_num = 1

--and so.PlantId > 0 
DROP TABLE #DealerIdsTemp
drop table #saudalist

 DROP TABLE #UserDivision
END;
