
/****** Object:  StoredProcedure [dbo].[GetSaudaDataExport]    Script Date: 18-11-2022 18:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[GetSaudaDataExport]
(	
	@LoginUserId BIGINT,  
	@RoleId BIGINT,
	@ValidFrom DateTime,
	@ValidTo DateTime,
	@VerticalId BigInt,
	@SalesOrganizationId bigint,
	@DistributionChannelId bigint
)
AS 
BEGIN


SET NOCOUNT ON;   
  
 CREATE TABLE #DealerIdsTemp(DealerId BIGINT)   
 CREATE TABLE #BdoIds(BdoId BIGINT)  
 IF(@RoleId = 12) -- NH  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId  
   From Users nh  
   INNER JOIN Users zh ON nh.Id = zh.ReportingToId  
   INNER JOIN UserCustomerMappings ucm ON ucm.UserId = zh.Id  
   INNER JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where nh.ReportingToId = @LoginUserId   
   --And cus.SaudaBookingtypeId = 1  
   And zh.Id IS NOT NULL  
   And ucm.CustomerId IS NOT NULL  


   
   INSERT INTO #BdoIds(BdoId)  
   Select DISTINCT bdo.Id as BdoId  
   From Users zh  
   INNER JOIN Users bdo ON zh.Id = bdo.ReportingToId  
   Where zh.ReportingToId = @LoginUserId  

  END  
 ELSE IF(@RoleId = 9) -- ZH  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId From Users bdo  
   INNER JOIN UserCustomerMappings ucm ON ucm.UserId = bdo.Id  
   INNER JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where bdo.ReportingToId = @LoginUserId --ANd cus.SaudaBookingtypeId = 1  

   
    INSERT INTO #BdoIds(BdoId)  
   Select DISTINCT bdo.Id as BdoId  
   From Users bdo   
   Where bdo.ReportingToId = @LoginUserId  

  END  
 ELSE IF(@RoleId = 7) --BDO  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId   
   From UserCustomerMappings ucm   
   JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where ucm.UserId = @LoginUserId --And cus.SaudaBookingtypeId = 1 
   
    INSERT INTO #BdoIds(BdoId)  
   Select DISTINCT @LoginUserId as BdoId

  END
  ELSE -- Admin  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select u.Id as DealerId From Users u   
   Join UserRoles ur on u.Id = ur.UserId Join Roles r on ur.RoleId = r.Id  
   Where ur.RoleId = 5 --AND u.SaudaBookingTypeId = 1  

   INSERT INTO #BdoIds(BdoId)  
   Select u.Id as BdoId From Users u   
   Join UserRoles ur on u.Id = ur.UserId Join Roles r on ur.RoleId = r.Id  
   Where ur.RoleId = 7 --AND u.SaudaBookingTypeId = 1 

  END 

  
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end


Select 
u.Name as Distributor,
d.Name as Division,
srg.Name as SalesOrganization,
dist.Name as DistributionaChannel,
ot.Name as OilName,
sk.SkuName as Material,
so.QuotedPrice as FinalPrice,
so.BidQuantityCase as Quantity,
so.BidQuantity as QuantityInMt,
so.BidPrice as PriceBeforeDiscountOrPremiumApplied,
so.SpecialRateRequestId,
sa.SaudaNumber as ContractNumber,
CASE so.DiscountTypeId When 1 THEN 'Discount' When 2 Then 'Premium' Else '' End as DiscountType,
so.DiscountAmount,
st.Name as Status,
p.Name as PlantName,
so.ValidFromDate,
so.ValidToDate
From Saudas sa 
Join SaudaOrders so on sa.Id = so.SaudaId
join #UserDivision ud on ud.SalesOrganizationId=sa.SalesOrganizationId and ud.DistributionChannelId=sa.DistributionChannelId and ud.DivisionId=sa.DivisionId
Join Status st on st.Id = so.StatusId
Join Skus sk on sk.Id = so.SkuId
Join Oiltypes ot on ot.Id = so.OilTypeId
Join Depots p on p.Id = so.PlantId
Join Divisions d on d.Id = sa.DivisionId
Join SalesOrganizations srg on srg.Id = sa.SalesOrganizationId
Join DistributionChannels dist on dist.Id = sa.DistributionChannelId
Join Users u on u.Id = sa.UserID
Where ((@VerticalId = 0 And 1 = 1) Or (@VerticalId <> 0 And d.Id = @VerticalId And d.SalesOrganizationId=@SalesOrganizationId And d.DistributionChannelId=@DistributionChannelId))
And
(Convert(date,so.CreatedDate) between  Convert(date,@ValidFrom) and Convert(date,@ValidTo)) And sa.UserId IN (SELECT DealerId FROM #DealerIdsTemp)
and (sa.BdoId in (Select BdoId from #BdoIds))

DROP TABLE #DealerIdsTemp  
DROP TABLE #BdoIds
DROP TABLE #UserDivision  

END;

