USE [AdaniDB]
GO
/****** Object:  StoredProcedure [dbo].[GetSalesRegisterList]    Script Date: 3/5/2024 10:29:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[GetSalesRegisterList]    Script Date: 06-01-2023 14:46:03 ******/
-- =============================================  
-- Author:  <Author,,Name>  
-- Create date: <Create Date,,>  
-- Description: <Description,,>  
-- =============================================  
ALTER   PROCEDURE [dbo].[GetSalesRegisterList]   
 @LoginUserId BIGINT,  
 @RoleId BIGINT,   
 @MonthStartdate DateTime,  
 @MonthLastdate DateTime,
 @VerticalId bigint,
 @SalesOrganizationId bigint,
@DistributionChannelId bigint
   
AS  
BEGIN  
  
   SET NOCOUNT ON;    


CREATE TABLE #DealerIdsTemp(DealerId BIGINT) 
IF(@RoleId = 12) -- NH  
BEGIN  
INSERT INTO #DealerIdsTemp(DealerId)  
Select DISTINCT cus.Id as DealerId  
From UserReportingToMappings zh with(NOLOCK)
INNER JOIN UserReportingToMappings bdo with(NOLOCK) ON zh.UserId = bdo.ReportingToUserId  
INNER JOIN UserCustomerMappings ucm with(NOLOCK) ON ucm.UserId = bdo.UserId  
INNER JOIN Users cus with(NOLOCK) ON ucm.CustomerId = cus.Id  
Where zh.ReportingToUserId = @LoginUserId
END  
ELSE IF(@RoleId = 9) -- ZH  
BEGIN  
INSERT INTO #DealerIdsTemp(DealerId)  
Select DISTINCT 
cus.Id as DealerId From UserReportingToMappings bdo  
INNER JOIN UserCustomerMappings ucm with(NOLOCK) ON ucm.UserId = bdo.UserId  
INNER JOIN Users cus with(NOLOCK) ON ucm.CustomerId = cus.Id  
Where bdo.ReportingToUserId = @LoginUserId 
END  
ELSE IF(@RoleId = 7) --BDO  
BEGIN  
INSERT INTO #DealerIdsTemp(DealerId)  
Select DISTINCT cus.Id as DealerId   
From UserCustomerMappings ucm with(NOLOCK) 
JOIN Users cus with(NOLOCK) ON ucm.CustomerId = cus.Id  
Where ucm.UserId = @LoginUserId --And cus.SaudaBookingtypeId = 1
END
ELSE -- Admin  
BEGIN  
INSERT INTO #DealerIdsTemp(DealerId)  
Select u.Id as DealerId From Users u with(NOLOCK)
Join UserRoles ur with(NOLOCK) on u.Id = ur.UserId 
Join Roles r with(NOLOCK) on ur.RoleId = r.Id  
Where ur.RoleId = 5 --AND u.SaudaBookingTypeId = 1  
END  
   

   
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end

   select   
   s.Id,
   InvoiceId,
   s.UserId,
   MaterialCode,
	sk.SkuName as MaterialName,
   CustomerCode,
   u.Name as CustomerName,
   QuantityMT,
   QuantityCase,
   InvoiceType,
   InvoiceNumber as InvBillNumber,
   InvoiceDate,
   s.CreatedDate,
   TotalGST,
   TotalAmount,
   so.Name as SalesOrganization,
   dc.Name as DistributionChannel,
   d.Name as Vertical,
   s.DeliveryNumber as DeliveryNo,
   s.OrderNumber,
   s.ContractNumber,
   s.BrokerName as SecondBrokerName,
   s.VehicleNumber as Vehicleno,
   s.LRNo as LRNo,
   s.ShiptoParty
  from   
  SalesRegisters as s with(NOLOCK)
  join Skus as sk with(NOLOCK) on s.MaterialCode=sk.SkuCode
  join #UserDivision ud on ud.SalesOrganizationId=s.SalesOrganizationId and ud.DistributionChannelId=s.DistributionChannelId and ud.DivisionId=s.DivisionId
  join Users as u with(NOLOCK) on s.CustomerCode = u.Code
  join Divisions as d with(NOLOCK) on s.DivisionId =d.Id
  join SalesOrganizations as so with(NOLOCK) on s.SalesOrganizationId =so.Id
  join DistributionChannels as dc with(NOLOCK) on s.DistributionChannelId =dc.Id

  where 
   u.Id IN (SELECT DealerId FROM #DealerIdsTemp) 
  AND s.SalesOrganizationId=sk.SalesOrganizationId and s.DistributionChannelId=sk.DistributionChannelId and s.DivisionId=sk.DivisionId and
  (Convert(date,s.InvoiceDate) >= Convert(date,@MonthStartdate) and  Convert(date,s.InvoiceDate) <= Convert(date,@MonthLastdate))
  AND ((@SalesOrganizationId>0 and s.SalesOrganizationId=@SalesOrganizationId) or @SalesOrganizationId=0)
  AND ((@DistributionChannelId>0 and s.DistributionChannelId=@DistributionChannelId) or @DistributionChannelId=0)
  And ((@VerticalId > 0 and s.DivisionId=@VerticalId) or @VerticalId =0)
  order by s.InvoiceDate

 
DROP TABLE #DealerIdsTemp  
DROP TABLE #UserDivision  
END







