USE [AdaniDB]
GO
/****** Object:  StoredProcedure [dbo].[GetSaudaDataExport]    Script Date: 3/5/2024 11:10:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create or Alter  PROCEDURE [dbo].[GetSalesReport]
(	
	@ZHString varchar(max),
	@NTString varchar(max),
	@UserId bigint,
	@FromDate datetime,
	@ToDate datetime
)
AS 
BEGIN


SET NOCOUNT ON;   
 
 CREATE TABLE #DealerTemp(DealerId BIGINT)
CREATE TABLE #BdoTemp(BdoId BIGINT)
CREATE TABLE #ZHTemp(ZHId BIGINT)
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)
Declare @RoleId bigint

insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) 
select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@UserId

if(@ZHString!='')
begin
		Insert Into #ZHTemp
		Select Data From dbo.Split(@ZHString,',')
		insert into #BdoTemp select * from UserReportingToMappings where ReportingToUserId in (select ZHId from #ZHTemp)
		Insert into #DealerTemp select CustomerId from UserCustomerMappings where UserId in (select BdoId from #BdoTemp)
end
else
begin

if(@NTString!='')
begin
	Insert Into #ZHTemp select UserId from UserReportingToMappings where ReportingToUserId in (
													Select Data From dbo.Split(@NTString,','))
	insert into #BdoTemp select UserId from UserReportingToMappings where ReportingToUserId in (select ZHId from #ZHTemp)
	Insert into #DealerTemp select CustomerId from UserCustomerMappings where UserId in (select BdoId from #BdoTemp)
end
else
begin
	select @RoleId=RoleId from UserRoles where UserId=@UserId
	if(@RoleId=1)
	begin
		Insert into #ZHTemp select UserId from UserReportingToMappings urp where ReportingToUserId in (select UserId from UserRoles where RoleId=12)
		Insert into #BdoTemp select UserId from UserReportingToMappings where ReportingToUserId in (select ZHId from #ZHTemp)
		Insert into #DealerTemp select CustomerId from UserCustomerMappings where UserId in (select BdoId from #BdoTemp)
	end
	
end

end


select
u.Id as UserId,
s.InvoiceDate as BookedDate,
sku.OilTypeId,
sku.PackGroupId as ProductGroupId,
s.QuantityMT as QuantityInMT,
s.QuantityCase as QuantityCase,
p.Name as ProductGroup,
u.StateId,
(u.Name+'-'+c.CityName+'/'+st.StateName) as PartyName,
(o.Name+'-'+sorg.Code+'/'+dist.Code+'/'+div.Code) as OilType
from SalesRegisters s with(NOLOCK)
join Users u with(NOLOCK) on u.Code=s.CustomerCode
left join Cities c with(NOLOCK) on u.CityId=c.Id
left join States st with(NOLOCK) on u.StateId=st.Id
join Skus sku with(NOLOCK) on s.MaterialCode=sku.SkuCode and s.SalesOrganizationId=sku.SalesOrganizationId
and s.DistributionChannelId=sku.DistributionChannelId and s.DivisionId=sku.DivisionId
join PackGroups p on p.Id=sku.PackGroupId
join OilTypes o on sku.OilTypeId=o.Id and o.SalesOrganizationId=s.SalesOrganizationId and o.DistributionChannelId=s.DistributionChannelId and o.DivisionId=s.DivisionId
join SalesOrganizations sorg on sorg.Id=o.SalesOrganizationId
join DistributionChannels dist on dist.Id=o.DistributionChannelId
join Divisions div on div.Id=o.DivisionId
join #UserDivision ud on ud.SalesOrganizationId=s.SalesOrganizationId
and ud.DistributionChannelId=s.DistributionChannelId and ud.DivisionId=s.DivisionId
where 
Cast(s.InvoiceDate as date) >= Cast(@FromDate as date)
and Cast(s.InvoiceDate as date) <= Cast(@ToDate as date)
and u.Id in (select DealerId from #DealerTemp)


 drop table #DealerTemp
 drop table #BdoTemp
drop table #UserDivision
drop table #ZHTemp


END;

