USE [AdaniDB]
GO
/****** Object:  StoredProcedure [dbo].[NHGetWeekwiseOverallSales]    Script Date: 3/5/2024 12:45:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create or ALTER    PROCEDURE [dbo].[NHGetWeekwiseOverallSales]
(	
	@UserId bigint,
	@StartDate datetimeoffset,
	@EndDate datetimeoffset
)
AS 
BEGIN
CREATE TABLE #ZHTemp(ZHId BIGINT)
CREATE TABLE #BdoTemp(BdoId BIGINT)
CREATE TABLE #DealerTemp(DealerId BIGINT)
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)
insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) 
select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings with(NOLOCK) where UserId=@UserId

insert into #ZHTemp(ZHId) select UserId from UserReportingToMappings where ReportingToUserId=@UserId
 insert into #BdoTemp(BdoId) select UserId from UserReportingToMappings with(NOLOCK)
 where ReportingToUserId in (select ZHId from #ZHTemp)
 insert into #DealerTemp(DealerId) select CustomerId from UserCustomerMappings with(NOLOCK)  
 where UserId in (select BdoId from #BdoTemp)

 select 
 s.InvoiceDate as Date,
 s.QuantityMT as Achievment
 from SalesRegisters s with(NOLOCK)
 join Skus sku with(NOLOCK) on s.MaterialCode=sku.SkuCode and s.SalesOrganizationId=sku.SalesOrganizationId
 and s.DistributionChannelId=sku.DistributionChannelId and s.DivisionId=sku.DivisionId
 join Users u with(NOLOCK) on s.CustomerCode=u.Code
 join #UserDivision ud on s.SalesOrganizationId=ud.SalesOrganizationId
 and s.DistributionChannelId=ud.DistributionChannelId and s.DivisionId=ud.DivisionId
 and Cast(s.InvoiceDate as date) >= Cast(@StartDate as date)
  and Cast(s.InvoiceDate as date) <= Cast(@EndDate as date)
  and u.Id in (select DealerId from #DealerTemp)

  drop table #BdoTemp
  drop table #DealerTemp
  drop table #UserDivision
  drop table #ZHTemp
End
