USE [AdaniDb]
GO
/****** Object:  StoredProcedure [dbo].[NHGetOverallSales]    Script Date: 3/5/2024 12:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create or Alter  PROCEDURE [dbo].[NHGetOverallSales]
(	
	@UserId bigint,
	@StartDate datetimeoffset,
	@EndDate datetimeoffset
	
)
AS 
BEGIN
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)
Create Table #ZHTemp(ZHId bigint)
Create Table #BdoTemp(BdoId bigint)
Create Table #DealerTemp(DealerId bigint)

insert into #ZHTemp(ZHId) select UserId from UserReportingToMappings with(NOLOCK) where ReportingToUserId=@UserId
insert into #BdoTemp(BdoId) select UserId from UserReportingToMappings with(NOLOCK) where ReportingToUserId in (select ZHId from #ZHTemp)
insert into #DealerTemp(DealerId) select CustomerId from UserCustomerMappings with(NOLOCK) where UserId in (select BdoId from #BdoTemp)

insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) 
        select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings with(NOLOCK) where UserId=@UserId
select 

s.QuantityMT as Achievment,
s.InvoiceDate as Date
from SalesRegisters s with(NOLOCK)
join Skus sk with(NOLOCK) on s.MaterialCode=sk.SkuCode
join Users u with(NOLOCK) on s.CustomerCode=u.Code
join #UserDivision ud on ud.SalesOrganizationId=s.SalesOrganizationId 
and ud.DistributionChannelId=s.DistributionChannelId and ud.DivisionId=s.DivisionId
where (Cast(s.InvoiceDate as date)>=Cast(@StartDate as date) and Cast(s.InvoiceDate as date)<=Cast(@EndDate as date))
and s.SalesOrganizationId=sk.SalesOrganizationId and s.DistributionChannelId=sk.DistributionChannelId 
and s.DivisionId=sk.DivisionId
and u.Id in (select DealerId from #DealerTemp)
drop table #BdoTemp
drop table #DealerTemp
drop table #UserDivision
drop table #ZHTemp
End
