USE [AdaniDBPR]
GO
/****** Object:  StoredProcedure [dbo].[SetCustomerMaster]    Script Date: 17-11-2022 11:27:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER Procedure [dbo].[SetCustomerMaster](
	@Code nvarchar(100),
	@Name nvarchar(100),
	@MobileNumber nvarchar(100),
	@Email nvarchar(100),
	@SaudaValidityPeriod int,
	--@SaudaLimit decimal(18,2),
	@GSTN nvarchar(100),
	@IncoTerms nvarchar(100),
	@ZoneName nvarchar(100),
	@StateName nvarchar(100),
	--@TerritoryName nvarchar(100),
	@DistrictName nvarchar(100),
	@CityName nvarchar(100),
	@Pincode nvarchar(100),
	@Address1 nvarchar(100),
	@Address2 nvarchar(100),
	@BrokerCode nvarchar(100),
	@IsActive bit,
	@CreatedBy bigint,
	@RoleId bigint,
	--@SalesOrganizationCode nvarchar(100),
	--@DistributionChannelCode nvarchar(100),
	--@DivisionCode nvarchar(100),
	@PlantCode varchar(100),
	@UserCode varchar(100),
	@Password nvarchar(100),
	@EncryptedPassword nvarchar(max),
	@ShipToPartyCode nvarchar(max),
	@CustomerGroupFiveName nvarchar(max)
	--@CompanyCode nvarchar(100)
	--@IsSelf nvarchar(100),
	--@IsBroker nvarchar(100),
	--@PlantTruckCapacity nvarchar(max),
	--@DepotTruckCapacity nvarchar(max),
	--@TransportMode nvarchar(100),
	--@SaudaBookingType nvarchar(100),
	--@DepotCode varchar(100),
    )

	as
DECLARE   @ZoneId bigint, @StateId bigint, @DistrictId bigint,@CityId int,@BDOId bigint,
@BrokerId bigint,@CustomerId bigint, @ShipToPartyId bigint,
@DealerRoleId bigint,@ShipToPartyRoleId bigint,@BrokerRoleId bigint,@BDORoleId bigint,
@DepotId bigint, @PlantId bigint , @CustomerGroupFiveId bigint

DECLARE @Item varchar(max)
DECLARE @position INT
DECLARE @Loop BIT
DECLARE @DepotCodeString varchar(100)
DECLARE @PlantCodeString varchar(100)
DECLARE @ShipToPartyCodeString varchar(100)

SET @Code = ltrim(rtrim(@Code))
SET @Name = ltrim(rtrim(@Name))
SET @MobileNumber = ltrim(rtrim(@MobileNumber))
SET @Email = ltrim(rtrim(@Email))
SET @GSTN = ltrim(rtrim(@GSTN))
--SET @PlantTruckCapacity = ltrim(rtrim(@PlantTruckCapacity))
SET @IncoTerms = ltrim(rtrim(@IncoTerms))
--SET @TransportMode = ltrim(rtrim(@TransportMode))
--SET @SaudaBookingType = ltrim(rtrim(@SaudaBookingType))
SET @ZoneName = ltrim(rtrim(@ZoneName))
SET @StateName = ltrim(rtrim(@StateName))
--SET @TerritoryName = ltrim(rtrim(@TerritoryName))
SET @DistrictName = ltrim(rtrim(@DistrictName))
SET @CityName = ltrim(rtrim(@CityName))
SET @Pincode = ltrim(rtrim(@Pincode))
SET @Address1 = ltrim(rtrim(@Address1))
SET @Address2 = ltrim(rtrim(@Address2))
SET @BrokerCode = ltrim(rtrim(@BrokerCode))
--SET @SalesOrganizationCode = ltrim(rtrim(@SalesOrganizationCode))
--SET @DistributionChannelCode = ltrim(rtrim(@DistributionChannelCode))
--SET @DivisionCode = ltrim(rtrim(@DivisionCode))
SET @BrokerId=0
SET @UserCode = ltrim(rtrim(@UserCode))
SET @Password = ltrim(rtrim(@Password))
SET @EncryptedPassword = ltrim(rtrim(@EncryptedPassword))
SET @ShipToPartyCodeString= ltrim(rtrim(@ShipToPartyCode))
SET @CustomerGroupFiveName= ltrim(rtrim(@CustomerGroupFiveName))





SELECT @BDORoleId=Id FROM Roles WHERE [Name]='State Trader'
SELECT @DealerRoleId=Id FROM Roles WHERE [Name]='Dealer'
SELECT @ShipToPartyRoleId=Id FROM Roles WHERE [Name]='ShipToParty'
SELECT @BrokerRoleId=Id FROM Roles WHERE [Name]='Broker'

Set NOCOUNT OFF

BEGIN TRANSACTION

--PlantTruckCapacity begins
--IF @PlantTruckCapacity is null 
--BEGIN
--	ROLLBACK
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed, PlantTruckCapacity is invalid' as 'Message'      
--	RETURN
--END

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  	 
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In PlantTruckCapacity' as 'Message'    
--	RETURN 
--END 
--PlantTruckCapacity Ends

--DepotTruckCapacity begins
--IF @DepotTruckCapacity is null 
--BEGIN
--	ROLLBACK
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed, DepotTruckCapacity is invalid' as 'Message'      
--	RETURN
--END

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  	 
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In DepotTruckCapacity' as 'Message'    
--	RETURN 
--END 
--DepotTruckCapacity Ends

--TransportMode begins
--IF NOT EXISTS(SELECT 1 FROM [TransportModes] WHERE [Name]= @TransportMode)
--BEGIN
--	ROLLBACK
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed, TransportMode Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--	SELECT @TransportModeId = Id FROM [TransportModes] WHERE [Name] = @TransportMode

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  	 
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In TransportMode' as 'Message'    
--	RETURN 
--END 
--TransportMode Ends


--Zone begins
--IF NOT EXISTS(SELECT 1 FROM [Zones] WHERE [Name]= @ZoneName)
--BEGIN
--	ROLLBACK
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed, Zone Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--	SELECT @ZoneId = Id FROM [Zones] WHERE [Name] = @ZoneName

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  	 
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In Zone' as 'Message'    
--	RETURN 
--END 
--Zone Ends

--State begins



IF EXISTS(SELECT 1 FROM [Zones] WHERE [Name]= @ZoneName)
	SELECT @ZoneId = Id FROM [Zones] WHERE [Name] = @ZoneName
ELSE
	set @ZoneId=0



IF EXISTS(Select 1 FROM States Where [StateName]= @StateName)
    Select @StateId = Id From States Where StateName = @StateName
ELSE
	set @StateId=0
IF EXISTS(SELECT 1 FROM States s,ZoneStateMappings zs,Zones z WHERE z.Id = zs.ZoneId and s.Id = zs.StateId and s.Id = @StateId and z.Id = @ZoneId and  s.StateName= @StateName)
    SELECT @StateId = s.Id FROM States s,ZoneStateMappings zs,Zones z WHERE z.Id = zs.ZoneId and s.Id = zs.StateId and s.Id = @StateId and z.Id = @ZoneId and  s.StateName= @StateName
ELSE
	set @StateId=0
--IF NOT EXISTS(Select 1 FROM States Where [StateName]= @StateName)
--BEGIN
--	ROLLBACK
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'State Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--    Select @StateId = Id From States Where StateName = @StateName

--IF @@ERROR <> 0 
--BEGIN     
--ROLLBACK  
--	SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In State' as 'Message'      
--RETURN 
--END 


--IF NOT EXISTS(SELECT 1 FROM States s,ZoneStateMappings zs,Zones z WHERE z.Id = zs.ZoneId and s.Id = zs.StateId and s.Id = @StateId and z.Id = @ZoneId and  s.StateName= @StateName)
--BEGIN
--	ROLLBACK
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'State not mapped with Zone' as 'Message'     
--	RETURN 
--END
--ELSE
--    SELECT @StateId = s.Id FROM States s,ZoneStateMappings zs,Zones z WHERE z.Id = zs.ZoneId and s.Id = zs.StateId and s.Id = @StateId and z.Id = @ZoneId and  s.StateName= @StateName

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In State' as 'Message'      
--	RETURN 
--END 
--State Ends

--Territory Begins
--IF NOT EXISTS(SELECT 1 FROM States s, Territories t WHERE t.StateId = s.Id and t.StateId = @StateId and t.[Name] = @TerritoryName)
--BEGIN
--	ROLLBACK
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed, Territory Not Exist' as 'Message' 
--	RETURN
--END
--ELSE
--	BEGIN
--		SELECT @TerritoryID = d.id FROM States s, Territories d WHERE d.StateId = s.Id and d.StateId = @StateId and d.[Name] = @TerritoryName
--	END

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In Territory' as 'Message' 
--	RETURN 
--END 
--Territory Ends

--District Begins

IF EXISTS(SELECT 1 FROM States s, Territories t, Districts d WHERE d.StateId = s.Id and d.StateId = @StateId and d.DistrictName = @DistrictName)
BEGIN
	ROLLBACK
		SELECT @DistrictID = d.id FROM States s, Territories t, Districts d WHERE d.StateId = s.Id and d.StateId = @StateId   and d.DistrictName = @DistrictName
	RETURN
END
ELSE
	BEGIN
		SELECT @DistrictID = 0
	END

--IF NOT EXISTS(SELECT 1 FROM States s, Territories t, Districts d WHERE d.StateId = s.Id and d.StateId = @StateId and d.TerritoryId=t.Id  and d.DistrictName = @DistrictName)
--BEGIN
--	ROLLBACK
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed, District Not Exist' as 'Message' 
--	RETURN
--END
--ELSE
--	BEGIN
--		SELECT @DistrictID = d.id FROM States s, Territories t, Districts d WHERE d.StateId = s.Id and d.StateId = @StateId   and d.DistrictName = @DistrictName
--	END

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In District' as 'Message' 
--	RETURN 
--END 
--District Ends


--Cities begins
IF EXISTS(SELECT 1 FROM Districts, Cities, States WHERE [CityName]= @CityName and [DistrictId]=@DistrictId)
BEGIN
	ROLLBACK
		SELECT @CityId = Cities.Id FROM Districts, Cities, States WHERE [CityName]= @CityName and [DistrictId]=@DistrictId
	RETURN
END
ELSE
	BEGIN
		SELECT @CityId = 0
	END

--IF NOT EXISTS(SELECT 1 FROM Districts,Territories, Cities, States WHERE [CityName]= @CityName and [DistrictId]=@DistrictId)
--BEGIN
--	ROLLBACK
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed, City Not Exist' as 'Message' 
--	RETURN
--END
--ELSE
--	BEGIN
--		SELECT @CityId = Cities.Id FROM Districts,Territories, Cities, States WHERE [CityName]= @CityName and [DistrictId]=@DistrictId
--	END
--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In City' as 'Message'     
--	RETURN 
--END 
--Cities Ends


--SalesOrganization begins

--IF NOT EXISTS(Select 1 FROM SalesOrganizations Where [Code]= @SalesOrganizationCode)
--BEGIN
--	ROLLBACK
--	SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed, SalesOrganization Not Exist' as 'Message'        
--	RETURN
--END
--ELSE
--	Select @SalesOrganizationId = ID From SalesOrganizations Where [Code] = @SalesOrganizationCode

--IF @@ERROR <> 0 
--BEGIN     
--ROLLBACK  
--	SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In SalesOrganization' as 'Message'      
--	RETURN      
--RETURN 
--END 
--SalesOrganization Ends

--DistributionChannel begins

--IF NOT EXISTS(Select 1 FROM DistributionChannels Where [Code]= @DistributionChannelCode and SalesOrganizationId = @SalesOrganizationId)
--BEGIN
--	ROLLBACK
--	SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed, DistributionChannel Not Exist' as 'Message'        
--	RETURN
--END
--ELSE
--	Select @DistributionChannelId = ID From DistributionChannels Where [Code] = @DistributionChannelCode and SalesOrganizationId = @SalesOrganizationId

--IF @@ERROR <> 0 
--BEGIN     
--ROLLBACK  
--	SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In DistributionChannel' as 'Message'      
--	RETURN    
--RETURN 
--END 
--DistributionChannel Ends

--Division begins
--IF NOT EXISTS(SELECT 1 FROM [Divisions] WHERE [Code]= @DivisionCode and DistributionChannelId = @DistributionChannelId and SalesOrganizationId = @SalesOrganizationId)
--BEGIN
--	ROLLBACK
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed, Division Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--	SELECT @DivisionId = Id FROM [Divisions] Where [Code]= @DivisionCode and DistributionChannelId = @DistributionChannelId and SalesOrganizationId = @SalesOrganizationId

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In Division' as 'Message'      
--	RETURN 
--END 
--Division Ends

--SaudaBookingTypes begins
--IF NOT EXISTS(SELECT 1 FROM [SaudaBookingTypes] WHERE [Name]= @SaudaBookingType)
--BEGIN
--	ROLLBACK
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed, SaudaBookingType Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--	SELECT @SaudaBookingTypeId = Id FROM [SaudaBookingTypes] WHERE [Name]= @SaudaBookingType

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In SaudaBookingType' as 'Message'      
--	RETURN 
--END 
--SaudaBookingTypes Ends


--Broker begins
IF EXISTS(SELECT 1 FROM Users, UserRoles r WHERE [Code]= @BrokerCode and  r.RoleId = @BrokerRoleId )
--BEGIN
--	ROLLBACK
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', 'Broker Not Exist' as 'Message'     
--	RETURN 
--END
--ELSE
    SELECT @BrokerId = Users.Id FROM Users,UserRoles r WHERE [Code]= @BrokerCode and r.RoleId = @BrokerRoleId --and [DivisionId] = @DivisionId

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
	SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In Broker' as 'Message'      
RETURN 
END 
--Broker Ends

--BDO begins
IF NOT EXISTS(SELECT 1 FROM Users u left join  UserRoles r on u.Id=r.UserId WHERE [Code]= @UserCode and r.RoleId = @BDORoleId )
BEGIN
	ROLLBACK
		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', 'State Trader User Not Exist' as 'Message'     
	RETURN 
END
ELSE
    SELECT @BDOId = Users.Id FROM Users,UserRoles r WHERE [Code]= @UserCode and r.RoleId = @BDORoleId 

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  
		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In User' as 'Message'      
	RETURN 
END 
--BDO Ends

--CustomerGroupFive Begins

--IF NOT EXISTS(SELECT 1 FROM [CustomerGroupFives] WHERE [GroupName]= @CustomerGroupFiveName)
--BEGIN
--	ROLLBACK
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed, CustomerGroupFive Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--	SELECT  @CustomerGroupFiveId = Id FROM [CustomerGroupFives] WHERE [GroupName] =  @CustomerGroupFiveName

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  	 
--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In CustomerGroupFive' as 'Message'    
--	RETURN  
--END 

 --CustomerGroupFive Ends
 
IF EXISTS(SELECT 1 FROM [CustomerGroupFives] WHERE [GroupName]= @CustomerGroupFiveName)
    SELECT  @CustomerGroupFiveId = Id FROM [CustomerGroupFives] WHERE [GroupName] =  @CustomerGroupFiveName
ELSE
	set @CustomerGroupFiveId=0



IF NOT EXISTS(SELECT 1 FROM [Users] u, [UserRoles] r WHERE (u.Code= @Code and r.RoleId = @RoleId and r.UserId = u.Id) or (u.MobileNumber=@MobileNumber and r.RoleId = @RoleId and r.UserId = u.Id))
BEGIN
	
	INSERT INTO [Users]([Name],[Code],[Email],[MobileNumber],[GSTN],[SaudaBookingTypeId]
		,[SaudaValidityPeriod],[IsSelf],[IsBroker],[CustomerGroup],[ZoneId],[StateId],[DistrictId],[CityId],[Pincode],[Address1],[Address2]
		,[IsActive],[IsActiveForCall],[CreatedBy],[CreatedDate],[ApprovedBy],[IsBlacklisted]
		,[Password],[PasswordModifiedDate],[CustomerGroupFiveId]
		,[Loadability],[DepotLoadability],[SaudaLimit],[TerritoryId])
        VALUES (@Name,@Code,@Email,@MobileNumber,@GSTN,0
		   ,@SaudaValidityPeriod,0,0,'01',@ZoneId,@StateId,@DistrictId,@CityId,@Pincode,@Address1,@Address2
		   ,@Isactive,0,@CreatedBy,getdate(),0,0,@EncryptedPassword,Getdate(),@CustomerGroupFiveId,0,0,0,0);
	
	Declare @Id BigInt = 0
	SELECT @Id = SCOPE_IDENTITY()

	--UserRoles begins
		IF NOT EXISTS(SELECT 1 FROM UserRoles WHERE UserId = @Id)
		BEGIN
			INSERT INTO [dbo].[UserRoles]([UserId],[RoleId],[IsSAPData],[CreatedBy],[CreatedDate])
				VALUES (@Id,@RoleId,0,@CreatedBy,getdate());
		END
	--UserRoles Ends

	--UserDivisionMapping begins
	--IF NOT EXISTS(SELECT 1 FROM UserDivisionMappings WHERE UserId = @Id And SalesOrganizationId = @SalesOrganizationId and DistributionChannelId = @DistributionChannelId and DivisionId = @DivisionId)
	--	BEGIN
	--		INSERT INTO [dbo].[UserDivisionMappings]([UserId],[SalesOrganizationId],[DistributionChannelId],[DivisionId],[CreatedBy],[CreatedDate],[SaudaLimit])
	--			VALUES (@Id,@SalesOrganizationId,@DistributionChannelId,@DivisionId,@CreatedBy,getdate(),@SaudaLimit);
	--	END
	--UserDivisionMapping Ends


	SELECT @CustomerId = u.Id FROM [Users] u, [UserRoles] r WHERE u.[Code]= @Code and u.[MobileNumber]=@MobileNumber and r.RoleId = @RoleId and r.UserId = u.Id

	if @CustomerId>0
	BEGIN

		--PlantTruckCapacities

	--Create Table #TempPlantTruckCapacities(
	--		TruckCapacity decimal(18,2)
	--)
	--INSERT INTO  #TempPlantTruckCapacities(TruckCapacity)
	--SELECT * FROM STRING_SPLIT(@PlantTruckCapacity,',')


--DECLARE @COUNTER BIGINT = 0;
--DECLARE @MAX BIGINT = (SELECT COUNT(*) FROM #TempPlantTruckCapacities)
--DECLARE @VALUE decimal(18,2);

--WHILE @COUNTER < @MAX
--BEGIN

--SET @VALUE = (SELECT TruckCapacity FROM
--      (SELECT (ROW_NUMBER() OVER (ORDER BY (SELECT NULL))) [index] , TruckCapacity from #TempPlantTruckCapacities) R 
--       ORDER BY R.[index] OFFSET @COUNTER 
--       ROWS FETCH NEXT 1 ROWS ONLY);

--       INSERT INTO [dbo].[CustomerTruckCapacityMappings]([UserId],[CreatedBy],[CreatedDate],[StorageTypeId],[TruckCapacity])
--		Select @Id,@CreatedBy,getdate(),1,@VALUE


--SET @COUNTER = @COUNTER + 1

--END

--Drop table #TempPlantTruckCapacities

--  --DepotTruckCapacities

--	Create Table #TempDepotTruckCapacities(
--			TruckCapacity decimal(18,2)
--	)
--	INSERT INTO  #TempDepotTruckCapacities(TruckCapacity)
--	SELECT * FROM STRING_SPLIT(@DepotTruckCapacity,',')


--DECLARE @Start BIGINT = 0;
--DECLARE @End BIGINT = (SELECT COUNT(*) FROM #TempDepotTruckCapacities)
--DECLARE @TruckCapacity decimal(18,2);

--WHILE @Start < @End
--BEGIN

--SET @TruckCapacity = (SELECT TruckCapacity FROM
--      (SELECT (ROW_NUMBER() OVER (ORDER BY (SELECT NULL))) [index] , TruckCapacity from #TempDepotTruckCapacities) R 
--       ORDER BY R.[index] OFFSET @Start 
--       ROWS FETCH NEXT 1 ROWS ONLY);

--       INSERT INTO [dbo].[CustomerTruckCapacityMappings]([UserId],[CreatedBy],[CreatedDate],[StorageTypeId],[TruckCapacity])
--		SELECT @Id,@CreatedBy,getdate(),2,@TruckCapacity


--SET @Start = @Start + 1

--END

--Drop table #TempDepotTruckCapacities

	--Insert UserIncoTerms
	INSERT INTO [dbo].[UserIncoTerms]([UserId],[CreatedBy],[CreatedDate],[IncoTermsId])
		SELECT @CustomerId,@CreatedBy,getdate(),Id FROM IncoTerms where Id = 1
			--JOIN StringSplit(@IncoTerms, ',') 
			--ON value = [Name];  

	--UserCustomerMapping begins
	IF @BrokerId is not null and @BrokerId!=0
	BEGIN
		IF NOT EXISTS(SELECT 1 FROM UserCustomerMappings WHERE UserId = @BrokerId and CustomerId = @CustomerId )
		BEGIN			
			INSERT INTO [dbo].[UserCustomerMappings]([UserId],[CustomerId],[CreatedBy],[CreatedDate]) VALUES (@BrokerId,@CustomerId,@CreatedBy,getdate());
		END
	END
	
	IF @BDOId is not null AND @BDOId!=0
	BEGIN
		IF NOT EXISTS(SELECT 1 FROM UserCustomerMappings WHERE UserId = @BDOId and CustomerId =@CustomerId )
		BEGIN
			INSERT INTO UserCustomerMappings(UserId,CustomerId,CreatedBy,CreatedDate) VALUES (@BDOId,@CustomerId, @CreatedBy, getdate());
		END		
	END	
	--UserCustomerMapping Ends

	--UserDepotMapping begins		
		
		--SET @DepotCodeString=@DepotCode
		---- Depot Code - Make sure we enter the loop, even if there's only one item
		--IF(right(@DepotCodeString,1) <> ',' and Len(@DepotCodeString)>0)
		--BEGIN
		--	Set @DepotCodeString = @DepotCodeString + ','
		--END 		
		--SET @Loop = CASE WHEN LEN(@DepotCodeString) > 0 THEN 1 ELSE 0 END
		--WHILE (SELECT @Loop) = 1
		--BEGIN
		--	SELECT @Position = CHARINDEX(',', @DepotCodeString, 1)
		
		--	IF(@Position > 0)
		--	BEGIN
		--		SELECT @Item = SUBSTRING(@DepotCodeString, 1, @Position - 1)
		--		SELECT @DepotCodeString = SUBSTRING(@DepotCodeString, @Position + 1, LEN(@DepotCodeString) - @Position)
				
		--		SELECT @DepotId = Id FROM Depots WHERE [Code]= @Item and IsPlant=0

		--		IF(@DepotId <> 0)
		--		BEGIN
		--			IF NOT EXISTS(SELECT 1 FROM UserDepotMappings WHERE UserId = @CustomerId and DepotId = @DepotId)
		--			BEGIN
		--				INSERT INTO UserDepotMappings(UserId,DepotId,IsSAPData,CreatedBy,CreatedDate) VALUES (@CustomerId,@DepotId,0, @CreatedBy, getdate());
		--			END
		--			--ELSE
		--			--	BEGIN
		--			--		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password',  'Failed, Customer code already mapped' as 'Message'
		--			--	END
		--		END
		--	END
		--	ELSE
		--		BEGIN
		--			SELECT @Item = @DepotCodeString
		--			SELECT @Loop = 0
		--		END
		--	END	
				
		-- Plant Code - Make sure we enter the loop, even if there's only one item
		SET @PlantCodeString=@PlantCode				
		IF(right(@PlantCodeString,1) <> ',' and Len(@PlantCodeString)>0)
		BEGIN
			Set @PlantCodeString = @PlantCodeString + ','
		END 		
		SET @Loop = CASE WHEN LEN(@PlantCodeString) > 0 THEN 1 ELSE 0 END
		WHILE (SELECT @Loop) = 1
		BEGIN
			SELECT @Position = CHARINDEX(',', @PlantCodeString, 1)
		
			IF(@Position > 0)
			BEGIN
				SELECT @Item = SUBSTRING(@PlantCodeString, 1, @Position - 1)
				SELECT @PlantCodeString = SUBSTRING(@PlantCodeString, @Position + 1, LEN(@PlantCodeString) - @Position)
				
				SELECT @PlantId = Id FROM Depots WHERE [Code]= @Item and IsPlant=1

				IF(@PlantId <> 0)
				BEGIN
					IF NOT EXISTS(SELECT 1 FROM UserDepotMappings WHERE UserId = @CustomerId and DepotId = @PlantId)
					BEGIN
						INSERT INTO UserDepotMappings(UserId,DepotId,IsSAPData,CreatedBy,CreatedDate) VALUES (@CustomerId,@PlantId,0, @CreatedBy, getdate());
					END
				END
			END
			ELSE
				BEGIN
					SELECT @Item = @PlantCodeString
					SELECT @Loop = 0
				END
			END					
		--UserDepotMapping Ends

		--CustomerShipToPartyMapping begins		

			--Make sure we enter the loop, even if there's only one item
			IF(right(@ShipToPartyCode,1) <> ',' and Len(@ShipToPartyCode)>0)
			BEGIN
				Set @ShipToPartyCode = @ShipToPartyCode + ','
			END 
		
			SET @Loop = CASE WHEN LEN(@ShipToPartyCode) > 0 THEN 1 ELSE 0 END
			WHILE (SELECT @Loop) = 1
			BEGIN
				SELECT @Position = CHARINDEX(',', @ShipToPartyCode, 1)
		
				IF(@Position > 0)
				BEGIN
				SELECT @Item = SUBSTRING(@ShipToPartyCode, 1, @Position - 1)
				SELECT @ShipToPartyCode = SUBSTRING(@ShipToPartyCode, @Position + 1, LEN(@ShipToPartyCode) - @Position)
				
				SELECT @ShipToPartyId = u.Id From Users u inner join UserRoles r on u.Id=r.UserId Where u.ShipToPartyCode= @Item and  (r.RoleId = @ShipToPartyRoleId) 

				IF(@ShipToPartyId <> 0)
				BEGIN
					IF NOT EXISTS(SELECT 1 FROM CustomerShipToPartyMappings Where CustomerId = @CustomerId and ShipToPartyId=@ShipToPartyId)
					BEGIN
						INSERT INTO CustomerShipToPartyMappings(CustomerId,ShipToPartyId,CreatedBy,CreatedDate) VALUES (@CustomerId,@ShipToPartyId, @CreatedBy, getdate());	
					END
					--ELSE
					--BEGIN
					--	SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@OrgReportingToUserCode as OrgReportingToUserCode,@SalesReportingToUserCode as SalesReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@Headquarters as Headquarters,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed, Customer code already mapped' as 'Message'
					--END
				END
			END
			ELSE
				BEGIN
					SELECT @Item = @ShipToPartyCode
					SELECT @Loop = 0
				END
			END			
			--CustomerShipToPartyMapping Ends

		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Success' as 'Message' FROM [Users] WHERE [Code]= @Code and [MobileNumber]=@MobileNumber 
	END
	ELSE
		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Failed In Customer' as 'Message'    
END
ELSE
BEGIN
--Update Users
	
	
	SELECT @CustomerId = u.Id FROM [Users] u JOIN UserRoles r on u.id=r.UserId 
	WHERE u.[Code]= @Code and r.RoleId = @RoleId 

	IF NOT EXISTS(SELECT 1 FROM [Users] u,UserRoles r WHERE u.[Code]!= @Code and u.Id!=@CustomerId and u.[MobileNumber]=@MobileNumber and r.RoleId = @RoleId and u.id=r.UserId)
	BEGIN	
		IF (@CustomerId>0)
		BEGIN
		
		UPDATE [dbo].[Users]
		  SET [Email] =@Email,[Name]=@Name,[MobileNumber]=@MobileNumber,[Code]= @Code,[IsActive]=@Isactive,[Pincode] =@Pincode,[ZoneId] = @ZoneId
		  ,[DistrictId] = @DistrictId,[CityId]=@CityId,[StateId] =@StateId
		  ,[GSTN] =@GSTN,[SaudaValidityPeriod] = @SaudaValidityPeriod,[SaudaLimit] =0,[Address1] =@Address1,[Address2]=@Address2
		  ,[ModifiedBy] = @CreatedBy,[ModifiedDate] = getdate(),[Password]=@EncryptedPassword,[CustomerGroupFiveId] = @CustomerGroupFiveId

		WHERE Id=@CustomerId

	--UserDivisionMapping begins
	--IF NOT EXISTS(SELECT 1 FROM UserDivisionMappings WHERE UserId = @CustomerId And SalesOrganizationId = @SalesOrganizationId and DistributionChannelId = @DistributionChannelId and DivisionId = @DivisionId)
	--	BEGIN
	--		INSERT INTO [dbo].[UserDivisionMappings]([UserId],[SalesOrganizationId],[DistributionChannelId],[DivisionId],[CreatedBy],[CreatedDate],[SaudaLimit])
	--			VALUES (@CustomerId,@SalesOrganizationId,@DistributionChannelId,@DivisionId,@CreatedBy,getdate(),@SaudaLimit);
	--	END
	--UserDivisionMapping Ends

		--DECLARE @GetSaudaBookingTypeId bigint, @GetDivisionId bigint
		--SELECT @GetSaudaBookingTypeId=[SaudaBookingTypeId] FROM [dbo].[Users] WHERE Id=@CustomerId

		 DELETE From CustomerTruckCapacityMappings where UserId = @CustomerId
	--PlantTruckCapacities

--	Create Table #TempPlantTruckCapacitiesUpdate(
--			TruckCapacity decimal(18,2)
--	)
--	INSERT INTO  #TempPlantTruckCapacitiesUpdate(TruckCapacity)
--	SELECT * FROM STRING_SPLIT(@PlantTruckCapacity,',')


--DECLARE @COUNTERUPDATE BIGINT = 0;
--DECLARE @MAXUPDATE BIGINT = (SELECT COUNT(*) FROM #TempPlantTruckCapacitiesUpdate)
--DECLARE @VALUEUPDATE decimal(18,2);

--WHILE @COUNTERUPDATE < @MAXUPDATE
--BEGIN

--SET @VALUEUPDATE = (SELECT TruckCapacity FROM
--      (SELECT (ROW_NUMBER() OVER (ORDER BY (SELECT NULL))) [index] , TruckCapacity from #TempPlantTruckCapacitiesUpdate) R 
--       ORDER BY R.[index] OFFSET @COUNTERUPDATE 
--       ROWS FETCH NEXT 1 ROWS ONLY);

--       INSERT INTO [dbo].[CustomerTruckCapacityMappings]([UserId],[CreatedBy],[CreatedDate],[StorageTypeId],[TruckCapacity])
--		SELECT @CustomerId,@CreatedBy,getdate(),1,@VALUEUPDATE


--SET @COUNTERUPDATE = @COUNTERUPDATE + 1

--END

--Drop table #TempPlantTruckCapacitiesUpdate

   
			--DepotTruckCapacities

--	Create Table #TempDepotTruckCapacitiesUpdate(
--			TruckCapacity decimal(18,2)
--	)
--	INSERT INTO  #TempDepotTruckCapacitiesUpdate(TruckCapacity)
--	SELECT * FROM STRING_SPLIT(@DepotTruckCapacity,',')


--DECLARE @StartUpdate BIGINT = 0;
--DECLARE @EndUpdate BIGINT = (SELECT COUNT(*) FROM #TempDepotTruckCapacitiesUpdate)
--DECLARE @TruckCapacityUpdate decimal(18,2);

--WHILE @StartUpdate < @EndUpdate
--BEGIN

--SET @TruckCapacityUpdate = (SELECT TruckCapacity FROM
--      (SELECT (ROW_NUMBER() OVER (ORDER BY (SELECT NULL))) [index] , TruckCapacity from #TempDepotTruckCapacitiesUpdate) R 
--       ORDER BY R.[index] OFFSET @StartUpdate 
--       ROWS FETCH NEXT 1 ROWS ONLY);

--       INSERT INTO [dbo].[CustomerTruckCapacityMappings]([UserId],[CreatedBy],[CreatedDate],[StorageTypeId],[TruckCapacity])
--		SELECT @CustomerId,@CreatedBy,getdate(),2,@TruckCapacityUpdate


--SET @StartUpdate = @StartUpdate + 1

--END

--Drop table #TempDepotTruckCapacitiesUpdate

		--IF @GetSaudaBookingTypeId is null or @GetSaudaBookingTypeId=0
		--BEGIN
		--	UPDATE [dbo].[Users] SET [SaudaBookingTypeId] = @SaudaBookingTypeId WHERE Id=@CustomerId
		--END

		--If @OldSaudaBookingTypeId <> @SaudaBookingTypeId
		--Begin
		--	Delete From UserCustomerMappings Where CustomerId = @CustomerId
		--	UPDATE [dbo].[Users] SET [SaudaBookingTypeId] = @SaudaBookingTypeId WHERE Id=@CustomerId
		--End

		--IncoTerms begins
		IF  EXISTS(SELECT * FROM IncoTerms where Id = 1)
		BEGIN			
			DELETE FROM UserIncoTerms WHERE UserId = @CustomerId 
		
			INSERT INTO [dbo].[UserIncoTerms]([UserId],[CreatedBy],[CreatedDate],[IncoTermsId])
				SELECT @CustomerId,@CreatedBy,getdate(),Id FROM IncoTerms where Id = 1 
		END
		--IncoTerms ends

		--UserDepotMapping begins		

		DELETE FROM UserDepotMappings WHERE UserId = @CustomerId

		--SET @DepotCodeString=@DepotCode
		---- Depot Code - Make sure we enter the loop, even if there's only one item
		--IF(right(@DepotCodeString,1) <> ',' and Len(@DepotCodeString)>0)
		--BEGIN
		--	Set @DepotCodeString = @DepotCodeString + ','
		--END 	
		--SET @Loop = CASE WHEN LEN(@DepotCodeString) > 0 THEN 1 ELSE 0 END
		--WHILE (SELECT @Loop) = 1
		--BEGIN
		--	SELECT @Position = CHARINDEX(',', @DepotCodeString, 1)
	
		--	IF(@Position > 0)
		--	BEGIN
		--		SELECT @Item = SUBSTRING(@DepotCodeString, 1, @Position - 1)
		--		SELECT @DepotCodeString = SUBSTRING(@DepotCodeString, @Position + 1, LEN(@DepotCodeString) - @Position)
			
		--		SELECT @DepotId = Id FROM Depots WHERE [Code]= @Item and IsPlant=0

		--		IF(@DepotId <> 0)
		--		BEGIN				
		--			IF NOT EXISTS(SELECT 1 FROM UserDepotMappings WHERE UserId = @CustomerId and DepotId = @DepotId)
		--			BEGIN
		--				INSERT INTO UserDepotMappings(UserId,DepotId,IsSAPData,CreatedBy,CreatedDate) VALUES (@CustomerId,@DepotId,0, @CreatedBy, getdate());
		--			END
		--		END
		--	END
		--	ELSE
		--		BEGIN
		--			SELECT @Item = @DepotCodeString
		--			SELECT @Loop = 0
		--		END
		--END	
				
		-- Plant Code - Make sure we enter the loop, even if there's only one item
		SET @PlantCodeString=@PlantCode				
		IF(right(@PlantCodeString,1) <> ',' and Len(@PlantCodeString)>0)
			BEGIN
				Set @PlantCodeString = @PlantCodeString + ','
			END 		
		SET @Loop = CASE WHEN LEN(@PlantCodeString) > 0 THEN 1 ELSE 0 END
		WHILE (SELECT @Loop) = 1
			BEGIN
				SELECT @Position = CHARINDEX(',', @PlantCodeString, 1)
		
				IF(@Position > 0)
				BEGIN
					SELECT @Item = SUBSTRING(@PlantCodeString, 1, @Position - 1)
					SELECT @PlantCodeString = SUBSTRING(@PlantCodeString, @Position + 1, LEN(@PlantCodeString) - @Position)
				
					SELECT @PlantId = Id FROM Depots WHERE [Code]= @Item and IsPlant=1

					IF(@PlantId <> 0)
					BEGIN
						IF NOT EXISTS(SELECT 1 FROM UserDepotMappings WHERE UserId = @CustomerId and DepotId = @PlantId)
						BEGIN
							INSERT INTO UserDepotMappings(UserId,DepotId,IsSAPData,CreatedBy,CreatedDate) VALUES (@CustomerId,@PlantId,0, @CreatedBy, getdate());
						END
						--ELSE
						--	SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password',  'Failed, Depot code already mapped' as 'Message'
					END
				END
				ELSE
					BEGIN
						SELECT @Item = @PlantCodeString
						SELECT @Loop = 0
					END
				END		
						
		--UserDepotMapping Ends

		--UserCustomerMapping begins
		IF @BrokerId is not null and @BrokerId!=0
		BEGIN
			Delete ucm from UserCustomerMappings ucm inner join UserRoles ur on ucm.UserId = ur.UserId where ucm.CustomerId = @CustomerId and ur.RoleId=6
			IF NOT EXISTS(SELECT 1 FROM UserCustomerMappings WHERE UserId = @BrokerId and CustomerId = @CustomerId)
			BEGIN			
				INSERT INTO [dbo].[UserCustomerMappings]([UserId],[CustomerId],[CreatedBy],[CreatedDate]) VALUES (@BrokerId,@CustomerId,@CreatedBy,getdate());
			END
		END
	
		IF @BDOId is not null AND @BDOId!=0
		BEGIN
			Delete ucm from UserCustomerMappings ucm inner join UserRoles ur on ucm.UserId = ur.UserId where ucm.CustomerId = @CustomerId and ur.RoleId=7
			IF NOT EXISTS(SELECT 1 FROM UserCustomerMappings WHERE UserId = @BDOId and CustomerId =@CustomerId )
			BEGIN
				INSERT INTO UserCustomerMappings(UserId,CustomerId,CreatedBy,CreatedDate) VALUES (@BDOId,@CustomerId, @CreatedBy, getdate());
			END		
		END	
		--UserCustomerMapping Ends

		--CustomerShipToPartyMapping begins		

			--Removing exsisting ship to parties

			DELETE FROM CustomerShipToPartyMappings WHERE CustomerId = @CustomerId;

			--Adding modified ship to parties
				--Make sure we enter the loop, even if there's only one item
				IF(right(@ShipToPartyCode,1) <> ',' and Len(@ShipToPartyCode)>0)
				BEGIN
					Set @ShipToPartyCode = @ShipToPartyCode + ','
				END 
		
				SET @Loop = CASE WHEN LEN(@ShipToPartyCode) > 0 THEN 1 ELSE 0 END
				WHILE (SELECT @Loop) = 1
				BEGIN
					SELECT @Position = CHARINDEX(',', @ShipToPartyCode, 1)
		
					IF(@Position > 0)
					BEGIN
					SELECT @Item = SUBSTRING(@ShipToPartyCode, 1, @Position - 1)
					SELECT @ShipToPartyCode = SUBSTRING(@ShipToPartyCode, @Position + 1, LEN(@ShipToPartyCode) - @Position)
				
					SELECT @ShipToPartyId = u.Id From Users u inner join UserRoles r on u.Id=r.UserId Where u.ShipToPartyCode= @Item and  (r.RoleId = @ShipToPartyRoleId) 

					IF(@ShipToPartyId <> 0)
					BEGIN
						IF NOT EXISTS(SELECT 1 FROM CustomerShipToPartyMappings Where CustomerId = @CustomerId and ShipToPartyId=@ShipToPartyId)
						BEGIN
							INSERT INTO CustomerShipToPartyMappings(CustomerId,ShipToPartyId,CreatedBy,CreatedDate) VALUES (@CustomerId,@ShipToPartyId, @CreatedBy, getdate());	
						END
						--ELSE
						--BEGIN
						--	SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@OrgReportingToUserCode as OrgReportingToUserCode,@SalesReportingToUserCode as SalesReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@Headquarters as Headquarters,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed, Customer code already mapped' as 'Message'
						--END
					END
				END
				ELSE
					BEGIN
						SELECT @Item = @ShipToPartyCode
						SELECT @Loop = 0
					END
				END			
				--CustomerShipToPartyMapping Ends

		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Record Updated' as 'Message'
	END
		ELSE
		BEGIN
			SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'User not found' as 'Message'
		END
	END
	ELSE
		SELECT @PlantCode as PlantCode,@UserCode as UserCode,@BrokerCode as BrokerCode,@SaudaValidityPeriod as SaudaValidityPeriod, @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@IncoTerms as IncoTerms,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2', @ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@ShipToPartyCodeString as ShipToPartyCode,@Password as 'Password', @CustomerGroupFiveName as CustomerGroupFiveName, 'Mobile number already exists' as 'Message'    
	
END
COMMIT






