USE [LiveDB]
GO
/****** Object:  StoredProcedure [dbo].[PCPReport]    Script Date: 17-01-2023 16:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[PCPReport]
(	
	@ZhIds Nvarchar(max),
	@BdoIds Nvarchar(max),
	@VerticalId BigInt,
	@SalesOrganizationId bigint,
	@DistributionChannelId bigint,
	--@LoginUserId bigint,
	--@RoleId bigint,
	@FromDate DateTime,
	@ToDate DateTime
)
AS 
BEGIN
Declare @BdoTemp Table(Id Int, Data Nvarchar(Max))
Declare @ZHTemp Table(Id Int, Data Nvarchar(Max))



if(@ZhIds = '')
BEGIN
	insert into @ZHTemp select Distinct u.Id,u.Id as Data from Users u join UserRoles ur  on u.Id=ur.UserId where ur.RoleId=9
END
ELSE
BEGIN
	Insert Into @ZHTemp
	select Id,Data from  dbo.Split(@ZhIds,',') 
END
--select * from @ZHTemp

if(@BdoIds = '')
BEGIN 
	insert into @BdoTemp select Distinct ur.UserId,ur.UserId as Data from UserReportingToMappings ur where ur.ReportingToUserId in (select Data from @ZHTemp)

	--insert into @BdoTemp select u.Id,u.Id as Data from Users u where u.ReportingToId in (select Data from @ZHTemp)
END
ELSE
BEGIN
	Insert Into @BdoTemp
	select Id,Data from  dbo.Split(@BdoIds,',') 
END
--select * from @BdoTemp


Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

--if(@RoleId = 1)
--begin
--	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
--end
--else
--begin
--	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
--end


Select
bdo.Name as BDOName,
pjplans.Id,
pjplans.PJPNumber as PCPNumber,
(stuff((select ',' + d.Name from  UserReportingToMappings as ud join Users as d on ud.ReportingToUserId = d.Id where ud.UserId in (bdo.Id)  --Depot or Rake --
 FOR XML PATH('')),1,1,'')
) AS ZonalHeadName,
ct.CityName as City,
pjdet.TownId as CityId,
pjplans.CreatedDate,
dt.DistrictName as District,
(Case when dealer.Name is null then '' else dealer.Name end) as Dealer,
pjdet.DistrictId,
pjplans.EffectiveFrom,
pjplans.EffectiveTo,
fy.[Year] as Year,
st.StateName as State,
pjdet.NoofSubDealer,
pjdet.NoOfWholeSeller,
Cast(pjdet.NoOfVisit as bigint) as NoOfVisit,
pjdet.Remarks,
pjdet.InHQNoVisit,
'In HQ / No Visit' as InHQNoVisitName
from  PermanentJourneyPlans pjplans
join PermanentJourneyPlanDetails pjdet on pjplans.Id=pjdet.PermanentJourneyPlanId
join States st on pjdet.StateId = st.Id
left join Cities ct on pjdet.TownId=ct.Id
left join Users dealer on dealer.Id=pjdet.RetailerId
left join Districts dt on pjdet.DistrictId=dt.Id
join FinancialYears fy on pjplans.FinancialYearId=fy.Id
join Users bdo on pjplans.CreatedBy=bdo.Id
join UserDivisionMappings ud on bdo.Id=ud.UserId
where pjplans.CreatedBy in (Select Data from @BdoTemp)
and ((@SalesOrganizationId > 0 AND ud.SalesOrganizationId = @SalesOrganizationId ) OR @SalesOrganizationId = 0)
and ((@DistributionChannelId > 0 AND ud.DistributionChannelId = @DistributionChannelId ) OR @DistributionChannelId = 0)
and ((@VerticalId > 0 AND ud.DivisionId = @VerticalId ) OR @VerticalId = 0)
and ((Convert(date,pjplans.EffectiveFrom) >= Convert(date,@FromDate) 
And Convert(date,pjplans.EffectiveFrom) <= Convert(date,@ToDate))
or (Convert(date,pjplans.EffectiveTo) <= Convert(date,@ToDate) 
and (Convert(date,pjplans.EffectiveTo) >= Convert(date,@FromDate)))
)

drop table #UserDivision
End
