
/****** Object:  StoredProcedure [dbo].[SalesOrderExport]    Script Date: 18-11-2022 23:24:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[SalesOrderExport]
(	
	@LoginUserId bigint,
	@RoleId bigint,
	@FromDate DateTime,
	@ToDate DateTime,
	@VerticalId BigInt,
	@SalesOrganizationId bigint,
	@DistributionChannelId bigint,
	@StateIds Nvarchar(Max),
	@StatusIds Nvarchar(Max)
)
AS 
BEGIN
CREATE TABLE #DealerIdsTemp(DealerId BIGINT)   
  CREATE TABLE #BdoIds(BdoId BIGINT)  

 IF(@RoleId = 12) -- NH  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT ucm.CustomerId as DealerId  
   From UserReportingToMappings zh  
   INNER JOIN UserReportingToMappings bdo ON zh.UserId = bdo.ReportingToUserId  
   INNER JOIN UserCustomerMappings ucm ON ucm.UserId = bdo.UserId  
   Where zh.ReportingToUserId = @LoginUserId   

   --INSERT INTO #DealerIdsTemp(DealerId)  
   --Select DISTINCT cus.Id as DealerId  
   --From Users nh  
   --INNER JOIN Users zh ON nh.Id = zh.ReportingToId  
   --INNER JOIN UserCustomerMappings ucm ON ucm.UserId = zh.Id  
   --INNER JOIN Users cus ON ucm.CustomerId = cus.Id  
   --Where nh.ReportingToId = @LoginUserId   
   ----And cus.SaudaBookingtypeId = 1  
   --And zh.Id IS NOT NULL  
   --And ucm.CustomerId IS NOT NULL  

   INSERT INTO #BdoIds(BdoId) 
   Select Distinct bdo.UserId as BdoId from UserReportingToMappings zh 
   join UserReportingToMappings bdo on zh.UserId=bdo.ReportingToUserId
   where zh.ReportingToUserId=@LoginUserId

   -- INSERT INTO #BdoIds(BdoId)  
   --Select DISTINCT bdo.Id as BdoId  
   --From Users zh  
   --INNER JOIN Users bdo ON zh.Id = bdo.ReportingToId  
   --Where zh.ReportingToId = @LoginUserId  

  END  
 ELSE IF(@RoleId = 9) -- ZH  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId From 
   UserReportingToMappings bdo  
   INNER JOIN UserCustomerMappings ucm ON ucm.UserId = bdo.UserId 
   INNER JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where bdo.ReportingToUserId = @LoginUserId 
   
    INSERT INTO #BdoIds(BdoId)  
   Select DISTINCT bdo.UserId as BdoId  
   From UserReportingToMappings bdo   
   Where bdo.ReportingToUserId = @LoginUserId 

  END  
 ELSE IF(@RoleId = 7) --BDO  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select DISTINCT cus.Id as DealerId   
   From UserCustomerMappings ucm   
   JOIN Users cus ON ucm.CustomerId = cus.Id  
   Where ucm.UserId = @LoginUserId --And cus.SaudaBookingtypeId = 1  

   INSERT INTO #BdoIds(BdoId)  
   Select DISTINCT @LoginUserId as BdoId

  END
  ELSE -- Admin  
  BEGIN  
   INSERT INTO #DealerIdsTemp(DealerId)  
   Select Distinct u.Id as DealerId From Users u   
   Join UserRoles ur on u.Id = ur.UserId Join Roles r on ur.RoleId = r.Id  
   Where ur.RoleId = 5 --AND u.SaudaBookingTypeId = 1 
   
   INSERT INTO #BdoIds(BdoId)  
   Select Distinct u.Id as BdoId From Users u   
   Join UserRoles ur on u.Id = ur.UserId Join Roles r on ur.RoleId = r.Id  
   Where ur.RoleId = 7 --AND u.SaudaBookingTypeId = 1 

  END   
Declare @Temp Table(Id Int, Data Nvarchar(Max))
	Insert Into @Temp
	select Id,Data from  dbo.Split(@StateIds,',') 

Declare @StatusTemp Table(Id Int, Data Nvarchar(Max))
	Insert Into @StatusTemp
	select Id,Data from  dbo.Split(@StatusIds,',') 

	
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end


	Select DISTINCT
	D.Name as PlantName,
	D.Code as PlantCode,
	LR.UserId as DealerId,
	U.Name as Dealer,
	LR.ShipToPartyId as ShipToPartyId,
	--ship.Name as ShiptoParty,
	LR.Id as LiftingRequestId,
	LR.Id as LiftingRequestNumber,
	LR.LiftingDate as LiftingRequestDate,
	--createUser.Name as CreatedUser,
	LR.StatusId as StatusID,
	ST.Name as Status,
	LR.ApproverRemarks as Remarks,
	LR.CustomerRemarks as CustomerRemarks,
	LR.SAPDocumentNo as EnquiryNumber,
	LR.SAPDeliveryNo as DeliveryOrderNumber,
	--created.Name as CreatedUser,
	1 as HasChildren
	from LiftingRequests LR
	join Users U on LR.UserId = U.Id
	--join Users created on Lr.CreatedBy=u.Id
	left join UserDivisionMappings UDM on UDM.UserId = U.Id
	join Depots D on D.Id = LR.PlantId
	join LiftingRequestDetails LRD on LRD.LiftingRequestId = LR.Id
	--join Saudas s on s.SaudaNumber=LRD.SaudaNumber
	join #UserDivision ud on LRD.SalesOrganizationId=ud.SalesOrganizationId and LRD.DistributionhannelId = ud.DistributionChannelId and LRD.DivisionId=ud.DivisionId
	left JOIN Status ST on ST.Id=LR.StatusId
	where(
	LR.UserId IN (SELECT DealerId from #DealerIdsTemp) AND
	((@SalesOrganizationId > 0 AND UDM.SalesOrganizationId = @SalesOrganizationId ) OR  @SalesOrganizationId=0)  AND
	((@DistributionChannelId > 0 AND UDM.DistributionChannelId = @DistributionChannelId ) OR @DistributionChannelId=0)  AND
	((@VerticalId > 0 AND UDM.DivisionId = @VerticalId ) OR @VerticalId=0)  
	and 1 = CASE WHEN @StateIds='0' or @StateIds='' THEN 1 ELSE (CASE WHEN U.StateId IN (SELECT Data from @Temp  ) THEN 1 ELSE 0 END) END
	and 1 = CASE WHEN @StatusIds IS NULL THEN 1 ELSE (CASE WHEN LR.StatusId IN (SELECT Data from @StatusTemp ) THEN 1 ELSE 0 END) END
	and D.IsPlant=1
	--and s.BdoId in (Select BdoId from #BdoIds)
	and 
	(CAST(LR.CreatedDate as Date) >= CAST(@FromDate as Date) and CAST(LR.CreatedDate as Date) <= CAST(@ToDate as Date))
	)
	DROP TABLE #DealerIdsTemp  
	DROP TABLE #BdoIds
DROP TABLE #UserDivision  
	End
