USE [AdaniDBUAT1]
GO
/****** Object:  StoredProcedure [dbo].[SetBroker]    Script Date: 06-10-2022 16:49:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER Procedure [dbo].[SetBroker](
	@Code nvarchar(100),
	@Name nvarchar(100),
	@MobileNumber nvarchar(100),
	@MobileNumber2 nvarchar(100),
	@Email nvarchar(100),
	@GSTN nvarchar(100),
	@ZoneName nvarchar(100),
	@StateName nvarchar(100),
	--@TerritoryName nvarchar(100),
	@DistrictName nvarchar(100),
	@CityName nvarchar(100),
	@Pincode nvarchar(100),
	@Address1 nvarchar(100),
	@Address2 nvarchar(100),
	@IsActive bit,
	@CreatedBy bigint,
	@RoleId bigint,
	@SalesOrganizationCode nvarchar(100),
	@DistributionChannelCode nvarchar(100),
	@DivisionCode nvarchar(100),
	@Password nvarchar(100),
	@EncryptedPassword nvarchar(max)
	--@CompanyCode nvarchar(100)
	--@FreightZoneName nvarchar(100),
	--@FreightRouteName nvarchar(100),
	--@CustomerName nvarchar(100),
	--@PlantTruckCapacity nvarchar(max),
	--@DepotTruckCapacity nvarchar(max),
	--@IncoTerms nvarchar(100),
	--@TransportMode nvarchar(100),
	--@SaudaBookingType nvarchar(100),
	--@SaudaValidityPeriod int,
	--@SaudaLimit decimal(18,2),
    )

	as
DECLARE @TransportModeId bigint, @SaudaBookingTypeId bigint, @ZoneId bigint, @StateId bigint, @DistrictId bigint,@CityId bigint,
@FreightZoneId bigint,@FreightRouteId bigint,@BrokerId bigint,@DealerId bigint,@SalesOrganizationId bigint,@DistributionChannelId bigint,@DivisionId bigint

set @Code = ltrim(rtrim(@Code))
set @Name = ltrim(rtrim(@Name))
set @MobileNumber = ltrim(rtrim(@MobileNumber))
set @Email = ltrim(rtrim(@Email))
set @GSTN = ltrim(rtrim(@GSTN))
--set @PlantTruckCapacity = ltrim(rtrim(@PlantTruckCapacity))
--set @DepotTruckCapacity = ltrim(rtrim(@DepotTruckCapacity))
--set @IncoTerms = ltrim(rtrim(@IncoTerms))
--set @TransportMode = ltrim(rtrim(@TransportMode))
--set @SaudaBookingType = ltrim(rtrim(@SaudaBookingType))
set @ZoneName = ltrim(rtrim(@ZoneName))
set @StateName = ltrim(rtrim(@StateName))
--set @TerritoryName = ltrim(rtrim(@TerritoryName))
set @DistrictName = ltrim(rtrim(@DistrictName))
set @CityName = ltrim(rtrim(@CityName))
set @Pincode = ltrim(rtrim(@Pincode))
set @Address1 = ltrim(rtrim(@Address1))
set @Address2 = ltrim(rtrim(@Address2))
--set @CompanyCode = ltrim(rtrim(@CompanyCode))
--set @FreightZoneName = ltrim(rtrim(@FreightZoneName))
--set @FreightRouteName = ltrim(rtrim(@FreightRouteName))
--set @CustomerName = ltrim(rtrim(@CustomerName))
SET @SalesOrganizationCode = ltrim(rtrim(@SalesOrganizationCode))
SET @DistributionChannelCode = ltrim(rtrim(@DistributionChannelCode))
SET @DivisionCode = ltrim(rtrim(@DivisionCode))
SET @Password = ltrim(rtrim(@Password))
SET @EncryptedPassword = ltrim(rtrim(@EncryptedPassword))

Set NOCOUNT OFF

BEGIN TRANSACTION

----Plant Loadability begins
--IF @PlantTruckCapacity is null 
--BEGIN
--	ROLLBACK
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed, Loadability is invalid' as 'Message'      
--	RETURN
--END

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  	 
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed In Loadability' as 'Message'    
--	RETURN 
--END 
----Plant Loadability Ends

----DepotLoadability begins
--IF @DepotTruckCapacity is null 
--BEGIN
--	ROLLBACK
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed, Depot Loadability is invalid' as 'Message'      
--	RETURN
--END

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  	 
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed In Depot Loadability' as 'Message'    
--	RETURN 
--END 
----DepotLoadability Ends

----TransportMode begins
--IF NOT EXISTS(SELECT 1 FROM [TransportModes] WHERE [Name]= @TransportMode)
--BEGIN
--	ROLLBACK
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive, 'Failed, TransportMode Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--	SELECT @TransportModeId = Id FROM [TransportModes] WHERE [Name] = @TransportMode

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  	 
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive, 'Failed In TransportMode' as 'Message'    
--	RETURN 
--END 
----TransportMode Ends

--Zone begins
IF NOT EXISTS(Select 1 FROM [Zones] WHERE [Name]= @ZoneName)
BEGIN
	ROLLBACK
		SELECT  @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed, Zone Not Exist' as 'Message'      
	RETURN
END
ELSE
	Select @ZoneId = Id From [Zones] WHERE [Name] = @ZoneName

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  	 
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed In Zone' as 'Message'    
	RETURN 
END 
--Zone Ends

--State begins
IF NOT EXISTS(Select 1 FROM States WHERE [StateName]= @StateName)
BEGIN
	ROLLBACK
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive, 'State Not Exist' as 'Message'      
	RETURN
END
ELSE
    Select @StateId = Id From States WHERE StateName = @StateName

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
	SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive, 'Failed In State' as 'Message'      
RETURN 
END 


IF NOT EXISTS(SELECT 1 FROM States s,ZoneStateMappings zs,Zones z WHERE z.Id = zs.ZoneId and s.Id = zs.StateId and s.Id = @StateId and z.Id = @ZoneId and  s.StateName= @StateName)
BEGIN
	ROLLBACK
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive, 'State not mapped with Zone' as 'Message'     
	RETURN 
END
ELSE
    SELECT @StateId = s.Id FROM States s,ZoneStateMappings zs,Zones z WHERE z.Id = zs.ZoneId and s.Id = zs.StateId and s.Id = @StateId and z.Id = @ZoneId and  s.StateName= @StateName

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive, 'Failed In State' as 'Message'      
	RETURN 
END 
--State Ends

--District Begins
IF NOT EXISTS(SELECT 1 FROM States s, Districts d WHERE d.StateId = s.Id and d.StateId = @StateID and d.DistrictName = @DistrictName)
BEGIN
	ROLLBACK
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed, District Not Exist' as 'Message' 
	RETURN
END
ELSE
	BEGIN
		Select @DistrictID = d.id FROM States s, Districts d WHERE d.StateId = s.Id and d.StateId = @StateID and d.DistrictName = @DistrictName
	END

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed In District' as 'Message' 
	RETURN 
END 


--District Ends

--Territory Begins
--IF NOT EXISTS(SELECT 1 FROM States s, Territories t WHERE t.StateId = s.Id and t.StateId = @StateID and t.[Name] = @TerritoryName)
--BEGIN
--	ROLLBACK
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed, Territory Not Exist' as 'Message' 
--	RETURN
--END
--ELSE
--	BEGIN
--		Select @TerritoryID = d.id FROM States s, Territories d WHERE d.StateId = s.Id and d.StateId = @StateID and d.[Name] = @TerritoryName
--	END

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed In Territory' as 'Message' 
--	RETURN 
--END 


--Territory Ends

--Cities begins
IF NOT EXISTS(Select 1 FROM Cities WHERE [CityName]= @CityName)
BEGIN
	ROLLBACK
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive, 'Failed, City Not Exist' as 'Message' 
	RETURN
END
ELSE
	BEGIN
	  Select @CityId = Id FROM Cities WHERE [CityName] = @CityName
	END

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive, 'Failed In City' as 'Message'     
	RETURN 
END 
--Cities Ends

----FreightZone begins
--IF NOT EXISTS(Select 1 FROM [FreightZones] WHERE [Name]= @FreightZoneName and StateId=@StateId and ZoneId=@ZoneId)
--BEGIN
--	ROLLBACK
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed, FreightZone Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--	Select @FreightZoneId = Id From [FreightZones] WHERE [Name] = @FreightZoneName and StateId=@StateId and ZoneId=@ZoneId

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed In FreightZone' as 'Message'      
--	RETURN 
--END 
----FreightZone Ends

----FreightRoute begins
--IF NOT EXISTS(Select 1 FROM [FreightRoutes] WHERE [Name]= @FreightRouteName)
--BEGIN
--	ROLLBACK
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed, FreightRoute Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--	Select @FreightRouteId = Id From [FreightRoutes] WHERE [Name] = @FreightRouteName

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed In FreightRoute' as 'Message'      
--	RETURN 
--END 
----FreightRoute Ends

----Dealer/Customer begins
--IF NOT EXISTS(Select 1 FROM [Users] WHERE [Code] = @CustomerName)
--BEGIN
--	ROLLBACK
--	SELECT @CustomerName as BrokerCode, 'Failed, Dealer Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--	Select @DealerId = Id From [Users] WHERE [Code] = @CustomerName

--IF @@ERROR <> 0 
--BEGIN     
--ROLLBACK  
--	SELECT @CustomerName as CustomerName, 'Failed In Dealer' as 'Message'      
--RETURN 
--END 
----Dealer/Customer Ends


--SalesOrganization begins

IF NOT EXISTS(Select 1 FROM SalesOrganizations Where [Code]= @SalesOrganizationCode)
BEGIN
	ROLLBACK
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed, SalesOrganization Not Exist' as 'Message'       
	RETURN
END
ELSE
	Select @SalesOrganizationId = ID From SalesOrganizations Where [Code] = @SalesOrganizationCode

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed in SalesOrganization' as 'Message'    
	RETURN      
RETURN 
END 
--SalesOrganization Ends

--DistributionChannel begins

IF NOT EXISTS(Select 1 FROM DistributionChannels Where [Code]= @DistributionChannelCode and SalesOrganizationId = @SalesOrganizationId)
BEGIN
	ROLLBACK
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed, DistributionChannel Not Exist' as 'Message'       
	RETURN
END
ELSE
	Select @DistributionChannelId = ID From DistributionChannels Where [Code] = @DistributionChannelCode and SalesOrganizationId = @SalesOrganizationId

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed in DistributionChannel' as 'Message'  
	RETURN    
RETURN 
END 
--DistributionChannel Ends

--Division begins
IF NOT EXISTS(SELECT 1 FROM [Divisions] WHERE [Code]= @DivisionCode and DistributionChannelId = @DistributionChannelId and SalesOrganizationId = @SalesOrganizationId)
BEGIN
	ROLLBACK
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed, Division Not Exist' as 'Message'    
	RETURN
END
ELSE
	SELECT @DivisionId = Id FROM [Divisions] Where [Code]= @DivisionCode and DistributionChannelId = @DistributionChannelId and SalesOrganizationId = @SalesOrganizationId

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed in Division' as 'Message'        
	RETURN 
END 
--Division Ends


----SaudaBookingTypes begins
--IF NOT EXISTS(Select 1 FROM [SaudaBookingTypes] WHERE [Name]= @SaudaBookingType)
--BEGIN
--	ROLLBACK
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed, SaudaBookingType Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--	Select @SaudaBookingTypeId = Id From [SaudaBookingTypes] WHERE [Name]= @SaudaBookingType

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,  'Failed In SaudaBookingType' as 'Message'      
--	RETURN 
--END 
----SaudaBookingTypes Ends


IF NOT EXISTS(Select 1 FROM [Users] u, [UserRoles] r WHERE u.Code= @Code and r.RoleId = @RoleId and u.MobileNumber=@MobileNumber and r.UserId = u.Id)
BEGIN
	INSERT INTO [Users]([Name],[Code],[Email],[MobileNumber],[MobileNumber2],[GSTN],[TransportModeId],[SaudaBookingTypeId]
		,[CustomerGroup],[ZoneId],[StateId],[DistrictId],[CityId],[Pincode],[Address1],[Address2]
		,[IsActive],[IsActiveForCall],[CreatedBy],[CreatedDate],
		[ApprovedBy],[IsBlacklisted],[IsSelf],[IsBroker]
		,[Password],[PasswordModifiedDate],[CustomerGroupFiveId],[SaudaValidityPeriod],[SaudaLimit]
		,[Loadability],[DepotLoadability])
           VALUES (@Name,@Code,@Email,@MobileNumber,@MobileNumber2,@GSTN,@TransportModeId,1
		   ,'02',@ZoneId,@StateId,@DistrictId,@CityId,@Pincode,@Address1,@Address2
		   ,@Isactive,0,@CreatedBy,getdate(),0,0,0,0
		   ,@EncryptedPassword,Getdate(),0,0,0,0,0);

	Declare @Id BigInt = 0
	SELECT @Id = SCOPE_IDENTITY()	

	--SELECT @BrokerId = Id From [Users] WHERE [Code]= @Code and [MobileNumber]=@MobileNumber
	--UserRoles begins
		IF NOT EXISTS(SELECT 1 FROM UserRoles WHERE UserId = @Id)
		BEGIN
			INSERT INTO [dbo].[UserRoles]([UserId],[RoleId],[IsSAPData],[CreatedBy],[CreatedDate])
				VALUES (@Id,@RoleId,0,@CreatedBy,getdate());
		END
	--UserRoles Ends

		--UserDivisionMapping begins
	IF NOT EXISTS(SELECT 1 FROM UserDivisionMappings WHERE UserId = @Id And SalesOrganizationId = @SalesOrganizationId and DistributionChannelId = @DistributionChannelId and DivisionId = @DivisionId)
		BEGIN
			INSERT INTO [dbo].[UserDivisionMappings]([UserId],[SalesOrganizationId],[DistributionChannelId],[DivisionId],[CreatedBy],[CreatedDate])
				VALUES (@Id,@SalesOrganizationId,@DistributionChannelId,@DivisionId,@CreatedBy,getdate());
		END
	--UserDivisionMapping Ends

	SELECT @BrokerId = u.Id FROM [Users] u JOIN UserRoles r on u.id=r.UserId JOIN UserDivisionMappings udm on udm.UserId = u.id
	WHERE u.[Code]= @Code and u.[MobileNumber]=@MobileNumber and udm.[DivisionId] = @DivisionId and r.RoleId = @RoleId 

	IF @BrokerId>0
	BEGIN	
	
--		--PlantTruckCapacities

--	Create Table #TempPlantTruckCapacities(
--			TruckCapacity decimal(18,2)
--	)
--	INSERT INTO  #TempPlantTruckCapacities(TruckCapacity)
--	SELECT * FROM STRING_SPLIT(@PlantTruckCapacity,',')


--DECLARE @COUNTER BIGINT = 0;
--DECLARE @MAX BIGINT = (SELECT COUNT(*) FROM #TempPlantTruckCapacities)
--DECLARE @VALUE decimal(18,2);

--WHILE @COUNTER < @MAX
--BEGIN

--SET @VALUE = (SELECT TruckCapacity FROM
--      (SELECT (ROW_NUMBER() OVER (ORDER BY (SELECT NULL))) [index] , TruckCapacity from #TempPlantTruckCapacities) R 
--       ORDER BY R.[index] OFFSET @COUNTER 
--       ROWS FETCH NEXT 1 ROWS ONLY);

--       INSERT INTO [dbo].[CustomerTruckCapacityMappings]([UserId],[CreatedBy],[CreatedDate],[StorageTypeId],[TruckCapacity])
--		Select @Id,@CreatedBy,getdate(),1,@VALUE


--SET @COUNTER = @COUNTER + 1

--END

--Drop table #TempPlantTruckCapacities

--  --DepotTruckCapacities

--	Create Table #TempDepotTruckCapacities(
--			TruckCapacity decimal(18,2)
--	)
--	INSERT INTO  #TempDepotTruckCapacities(TruckCapacity)
--	SELECT * FROM STRING_SPLIT(@DepotTruckCapacity,',')


--DECLARE @Start BIGINT = 0;
--DECLARE @End BIGINT = (SELECT COUNT(*) FROM #TempDepotTruckCapacities)
--DECLARE @TruckCapacity decimal(18,2);

--WHILE @Start < @End
--BEGIN

--SET @TruckCapacity = (SELECT TruckCapacity FROM
--      (SELECT (ROW_NUMBER() OVER (ORDER BY (SELECT NULL))) [index] , TruckCapacity from #TempDepotTruckCapacities) R 
--       ORDER BY R.[index] OFFSET @Start 
--       ROWS FETCH NEXT 1 ROWS ONLY);

--       INSERT INTO [dbo].[CustomerTruckCapacityMappings]([UserId],[CreatedBy],[CreatedDate],[StorageTypeId],[TruckCapacity])
--		SELECT @Id,@CreatedBy,getdate(),2,@TruckCapacity


--SET @Start = @Start + 1

--END

--Drop table #TempDepotTruckCapacities

	--Insert UserIncoTerms
	--INSERT INTO [dbo].[UserIncoTerms]([UserId],[CreatedBy],[CreatedDate],[IncoTermsId])
	--	SELECT @BrokerId,@CreatedBy,getdate(),Id FROM IncoTerms 
	--		JOIN STRING_SPLIT(@IncoTerms, ',') 
	--		ON value = [Name];  
			
	----Insert UserDepotMapping - Depot
	--INSERT INTO [dbo].[UserDepotMappings]([UserId],[DepotId],[IsSAPData],[CreatedBy],[CreatedDate])
	--	VALUES (@BrokerId,@DepotId,0,@CreatedBy,getdate());

	----Insert UserDepotMapping - Plant
	--INSERT INTO [dbo].[UserDepotMappings]([UserId],[DepotId],[IsSAPData],[CreatedBy],[CreatedDate])
	--	VALUES (@BrokerId,@PlantId,0,@CreatedBy,getdate());	
	
	--Insert UserCustomerMapping
	--INSERT INTO [dbo].[UserCustomerMappings]([UserId],[CustomerId],[CreatedBy],[CreatedDate])
	--	VALUES (@BrokerId,@DealerId,@CreatedBy,getdate());	

	SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive, 'Success' as 'Message'
	END
	ELSE
		SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive, 'Failed In Broker' as 'Message'    
END
ELSE
BEGIN
	Declare @OldSaudaBookingTypeId BigInt = 0
	DECLARE @GetSaudaBookingTypeId bigint, @GetDivisionId bigint
		
	Select @BrokerId = u.Id,@OldSaudaBookingTypeId = u.SaudaBookingTypeId,@GetSaudaBookingTypeId=u.[SaudaBookingTypeId] 
	FROM [Users] u JOIN UserRoles r on u.id=r.UserId WHERE u.[Code]= @Code and u.[MobileNumber]=@MobileNumber and r.RoleId = @RoleId 

	UPDATE [dbo].[Users] SET [Email] =@Email,[MobileNumber2]= @MobileNumber2
	,[IsActive]=@Isactive,[Pincode] =@Pincode,[ZoneId] = @ZoneId,[DistrictId] =  @DistrictId,[CityId]=@CityId,[StateId] =@StateId
	  ,[GSTN] =@GSTN, [Address1] =@Address1,[Address2]=@Address2
	  ,[TransportModeId] =@TransportModeId,[ModifiedBy] = @CreatedBy,[ModifiedDate] = getdate()
	  ,[Password]=@EncryptedPassword, PasswordModifiedDate = Getdate()
	  WHERE Id=@BrokerId

	  	--UserDivisionMapping begins
	IF NOT EXISTS(SELECT 1 FROM UserDivisionMappings WHERE UserId = @BrokerId And SalesOrganizationId = @SalesOrganizationId and DistributionChannelId = @DistributionChannelId and DivisionId = @DivisionId)
		BEGIN
			INSERT INTO [dbo].[UserDivisionMappings]([UserId],[SalesOrganizationId],[DistributionChannelId],[DivisionId],[CreatedBy],[CreatedDate])
				VALUES (@BrokerId,@SalesOrganizationId,@DistributionChannelId,@DivisionId,@CreatedBy,getdate());
		END
	--UserDivisionMapping Ends

--	  DELETE From CustomerTruckCapacityMappings where UserId = @BrokerId
--	--PlantTruckCapacities

--	Create Table #TempPlantTruckCapacitiesUpdate(
--			TruckCapacity decimal(18,2)
--	)
--	INSERT INTO  #TempPlantTruckCapacitiesUpdate(TruckCapacity)
--	SELECT * FROM STRING_SPLIT(@PlantTruckCapacity,',')


--DECLARE @COUNTERUPDATE BIGINT = 0;
--DECLARE @MAXUPDATE BIGINT = (SELECT COUNT(*) FROM #TempPlantTruckCapacitiesUpdate)
--DECLARE @VALUEUPDATE decimal(18,2);

--WHILE @COUNTERUPDATE < @MAXUPDATE
--BEGIN

--SET @VALUEUPDATE = (SELECT TruckCapacity FROM
--      (SELECT (ROW_NUMBER() OVER (ORDER BY (SELECT NULL))) [index] , TruckCapacity from #TempPlantTruckCapacitiesUpdate) R 
--       ORDER BY R.[index] OFFSET @COUNTERUPDATE 
--       ROWS FETCH NEXT 1 ROWS ONLY);

--       INSERT INTO [dbo].[CustomerTruckCapacityMappings]([UserId],[CreatedBy],[CreatedDate],[StorageTypeId],[TruckCapacity])
--		SELECT @BrokerId,@CreatedBy,getdate(),1,@VALUEUPDATE


--SET @COUNTERUPDATE = @COUNTERUPDATE + 1

--END

--Drop table #TempPlantTruckCapacitiesUpdate

   
--			--DepotTruckCapacities

--	Create Table #TempDepotTruckCapacitiesUpdate(
--			TruckCapacity decimal(18,2)
--	)
--	INSERT INTO  #TempDepotTruckCapacitiesUpdate(TruckCapacity)
--	SELECT * FROM STRING_SPLIT(@DepotTruckCapacity,',')


--DECLARE @StartUpdate BIGINT = 0;
--DECLARE @EndUpdate BIGINT = (SELECT COUNT(*) FROM #TempDepotTruckCapacitiesUpdate)
--DECLARE @TruckCapacityUpdate decimal(18,2);

--WHILE @StartUpdate < @EndUpdate
--BEGIN

--SET @TruckCapacityUpdate = (SELECT TruckCapacity FROM
--      (SELECT (ROW_NUMBER() OVER (ORDER BY (SELECT NULL))) [index] , TruckCapacity from #TempDepotTruckCapacitiesUpdate) R 
--       ORDER BY R.[index] OFFSET @StartUpdate 
--       ROWS FETCH NEXT 1 ROWS ONLY);

--       INSERT INTO [dbo].[CustomerTruckCapacityMappings]([UserId],[CreatedBy],[CreatedDate],[StorageTypeId],[TruckCapacity])
--		SELECT @BrokerId,@CreatedBy,getdate(),2,@TruckCapacityUpdate


--SET @StartUpdate = @StartUpdate + 1

--END

--Drop table #TempDepotTruckCapacitiesUpdate

--	IF @GetSaudaBookingTypeId is null or @GetSaudaBookingTypeId=0
--	BEGIN
--		UPDATE [dbo].[Users] SET [SaudaBookingTypeId] = @SaudaBookingTypeId WHERE Id=@BrokerId
--	END

--	IF @GetDivisionId is null or @GetDivisionId=0
--	BEGIN
--		UPDATE [dbo].[Users] SET [DivisionId] = @DivisionId WHERE Id=@BrokerId
--	END

--	If @OldSaudaBookingTypeId <> @SaudaBookingTypeId
--	Begin
--		Delete From UserCustomerMappings WHERE UserId = @BrokerId
--	End
	
----IncoTerms begins
--	IF  EXISTS(SELECT * FROM IncoTerms JOIN STRING_SPLIT(@IncoTerms, ',') ON value = [Name] )
--	BEGIN
--		--DECLARE @CustomerRoleId bigint
--		--SELECT @CustomerRoleId=Id FROM [Roles] WHERE [Name]='Broker'	
--		--SELECT @BrokerId=u.Id FROM Users u JOIN UserRoles ur on u.id=ur.UserId WHERE ur.[RoleId]=@CustomerRoleId and [Code]= @Code and [MobileNumber]=@MobileNumber and [DivisionId] = @DivisionId
		
--		DELETE FROM UserIncoTerms WHERE UserId = @BrokerId 

--		INSERT INTO [dbo].[UserIncoTerms]([UserId],[CreatedBy],[CreatedDate],[IncoTermsId])		
--		SELECT @BrokerId,@CreatedBy,getdate(),Id FROM IncoTerms 
--			JOIN STRING_SPLIT(@IncoTerms, ',') 
--			ON value = [Name];  
--	END

	SELECT @SalesOrganizationCode as SalesOrganizationCode, @DistributionChannelCode as DistributionChannelCode, @DivisionCode as DivisionCode,@MobileNumber2 as MobileNumber2,@Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@GSTN as GSTN,@Pincode as Pincode,@Address1 as 'Address1',@Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive, 'Record Updated' as 'Message' FROM [Users] WHERE [Code]= @Code or [Name]=@Name and [MobileNumber]=@MobileNumber
END
COMMIT



