USE [AdaniDb]
GO
/****** Object:  StoredProcedure [dbo].[SetGamificationDashboard]    Script Date: 02-09-2024 14:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetGamificationDashboard] (

@DistributorCode VARCHAR(50),
@DistributorAchievementTillN1MT DECIMAL(18,2),
@RemainingTargetToAchieveMT DECIMAL(18, 2),
@EarnedPoints DECIMAL(18, 2),
@CurrentSlab VARCHAR(50),
@NextHigherSlab VARCHAR(50),
@PointsToBeEarnedToReachNextHigherSlab DECIMAL(18, 2),
@TotalEarningsInRs DECIMAL(18, 2),
@SpecialBonusMessage VARCHAR(255),
--@WholePointsStructure TEXT,
@IsActive BIT,
@IsDiamond BIT
--@CreatedBy BIGINT,
--@CreatedDate Datetime
	
)
AS

DECLARE @DistributionId bigint

Set NOCOUNT OFF
BEGIN TRANSACTION

IF NOT EXISTS(Select 1 FROM Users Where [Code]= @DistributorCode AND IsActive=1)
BEGIN
	ROLLBACK
	SELECT @DistributorCode as DistributorCode,@DistributorAchievementTillN1MT as DistributorAchievementTillN1MT,@RemainingTargetToAchieveMT as RemainingTargetToAchieveMT,
	@EarnedPoints as EarnedPoints,@CurrentSlab as CurrentSlab,@NextHigherSlab as NextHigherSlab,@PointsToBeEarnedToReachNextHigherSlab as PointsToBeEarnedToReachNextHigherSlab,@TotalEarningsInRs as TotalEarningsInRs,@SpecialBonusMessage as SpecialBonusMessage,
	--@WholePointsStructure as WholePointsStructure,
	@IsDiamond as IsDiamond, 'Failed, DistributorCode Not Exist' as 'Message'      
	RETURN
END
ELSE
	Select @DistributorCode = Code, @DistributionId = Id From Users Where [Code] = @DistributorCode and IsActive = 1

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
	SELECT @DistributorCode as DistributorCode,@DistributorAchievementTillN1MT as DistributorAchievementTillN1MT,@RemainingTargetToAchieveMT as RemainingTargetToAchieveMT,
	@EarnedPoints as EarnedPoints,@CurrentSlab as CurrentSlab,@NextHigherSlab as NextHigherSlab,@PointsToBeEarnedToReachNextHigherSlab as PointsToBeEarnedToReachNextHigherSlab,@TotalEarningsInRs as TotalEarningsInRs,@SpecialBonusMessage as SpecialBonusMessage,
	--@WholePointsStructure as WholePointsStructure,
	@IsDiamond as IsDiamond, 'Failed In DistributorCode' as 'Message'      
RETURN 
END 

-- INSERT OR UPDATE For GamificationDashboard
IF NOT EXISTS (SELECT 1 FROM GamificationDashboards WHERE DistributorCode = @DistributorCode)
BEGIN -- INSERT FreightRate
	INSERT INTO GamificationDashboards (DistributorId,DistributorCode, DistributorAchievementTillN1MT, RemainingTargetToAchieveMT, EarnedPoints, CurrentSlab, NextHigherSlab, PointsToBeEarnedToReachNextHigherSlab, 
	TotalEarningsInRs,SpecialBonusMessage,CreatedBy,CreatedDate,IsActive,IsDiamond)
	VALUES (@DistributionId,@DistributorCode, @DistributorAchievementTillN1MT, @RemainingTargetToAchieveMT, @EarnedPoints, @CurrentSlab, @NextHigherSlab, @PointsToBeEarnedToReachNextHigherSlab,
	@TotalEarningsInRs,@SpecialBonusMessage,0, GETDATE(),1,@IsDiamond);

	SELECT @DistributorCode as DistributorCode,@DistributorAchievementTillN1MT as DistributorAchievementTillN1MT,@RemainingTargetToAchieveMT as RemainingTargetToAchieveMT,
	@EarnedPoints as EarnedPoints,@CurrentSlab as CurrentSlab,@NextHigherSlab as NextHigherSlab,@PointsToBeEarnedToReachNextHigherSlab as PointsToBeEarnedToReachNextHigherSlab,@TotalEarningsInRs as TotalEarningsInRs,@SpecialBonusMessage as SpecialBonusMessage,
	--@WholePointsStructure as WholePointsStructure,
	@IsDiamond as IsDiamond, 'Success' as 'Message' 
	END
ELSE
BEGIN
	UPDATE [dbo].GamificationDashboards SET DistributorId = @DistributionId,DistributorCode = @DistributorCode,@DistributorAchievementTillN1MT=@DistributorAchievementTillN1MT,
	RemainingTargetToAchieveMT=@RemainingTargetToAchieveMT,EarnedPoints = @EarnedPoints,CurrentSlab = @CurrentSlab,
	NextHigherSlab = @NextHigherSlab, PointsToBeEarnedToReachNextHigherSlab = @PointsToBeEarnedToReachNextHigherSlab,
	TotalEarningsInRs = @TotalEarningsInRs,SpecialBonusMessage = @SpecialBonusMessage
	--,WholePointsStructure = @WholePointsStructure
	,[IsActive] = 1,IsDiamond = @IsDiamond,[ModifiedBy] = 0,[ModifiedDate] = GETDATE() 
	WHERE DistributorCode=@DistributorCode 

	SELECT @DistributorCode as DistributorCode,@DistributorAchievementTillN1MT as DistributorAchievementTillN1MT,@RemainingTargetToAchieveMT as RemainingTargetToAchieveMT,
	@EarnedPoints as EarnedPoints,@CurrentSlab as CurrentSlab,@NextHigherSlab as NextHigherSlab,@PointsToBeEarnedToReachNextHigherSlab as PointsToBeEarnedToReachNextHigherSlab,@TotalEarningsInRs as TotalEarningsInRs,@SpecialBonusMessage as SpecialBonusMessage,
	--@WholePointsStructure as WholePointsStructure,
	@IsDiamond as IsDiamond, 'Record Updated' as 'Message' 
END

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
	SELECT @DistributorCode as DistributorCode,@DistributorAchievementTillN1MT as DistributorAchievementTillN1MT,@RemainingTargetToAchieveMT as RemainingTargetToAchieveMT,
	@EarnedPoints as EarnedPoints,@CurrentSlab as CurrentSlab,@NextHigherSlab as NextHigherSlab,@PointsToBeEarnedToReachNextHigherSlab as PointsToBeEarnedToReachNextHigherSlab,@TotalEarningsInRs as TotalEarningsInRs,@SpecialBonusMessage as SpecialBonusMessage,
	--@WholePointsStructure as WholePointsStructure,
	@IsDiamond as IsDiamond, 'Failed in Gamification Dashboard Insert' as 'Message' 
RETURN 
END 
COMMIT
GO
