USE [AdaniPiloatDB]
GO
/****** Object:  StoredProcedure [dbo].[SetGeographyDiscount]    Script Date: 2/19/2025 3:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[SetGeographyDiscount]
(
    @LoginUserId bigint,
	@SalesOrganization varchar(max),
	@DistributionChannel varchar(max),
	@Division varchar(max),
	@Discount decimal(18,3),
	@DiscountReason varchar(max),
	@MaterialCode varchar(max),
	@Zone varchar(max),
    @State varchar(max),
	@District varchar(max),
	@City varchar(max),
	@ValidFrom datetime,
	@ValidTo datetime
)
as
DECLARE @SalesOrganizationId bigint,
@DistributionChannelId bigint,
@DivisionId bigint,
@RoleId bigint,
@Item varchar(max),
@position INT,
@Loop BIT,
@UserId bigint,
@ZoneId bigint,
@StateId bigint,
@DistrictId bigint,
@CityId bigint,
@SkuItem varchar(max),
@Skuposition INT,
@SkuLoop BIT,
@SkuId bigint

Set NOCOUNT OFF
BEGIN TRY
 BEGIN TRANSACTION


  CREATE TABLE #TempDiscounts (
    CityId BIGINT,
	CityName NVARCHAR(100),
    DistrictId BIGINT,
    StateId BIGINT,
    ZoneId BIGINT,
    MaterialCode VARCHAR(MAX),
    SkuId BIGINT NULL,
    OilTypeId BIGINT NULL,
    ExistingCityId BIGINT NULL,
    DiscountId BIGINT NULL,
    ActualDiscount DECIMAL(18, 2) NULL,
    ExistingValidFrom DATE NULL,
    ExistingValidTo DATE NULL,
    ValidationMessage VARCHAR(MAX) NULL
   );

--Role Begins

IF NOT EXISTS(Select 1 FROM UserRoles Where [UserId]= @LoginUserId)
BEGIN
	ROLLBACK
SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo , 'Failed, UserRole Not Exist' as 'Message'      
	RETURN
END
ELSE
	Select @RoleId = RoleId From UserRoles Where [UserId] = @LoginUserId

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo ,  'Failed in UserRoles' as 'Message'  
RETURN 
END 

--Role Ends

--SalesOrganization begins

IF NOT EXISTS(Select 1 FROM SalesOrganizations Where [Code]= @SalesOrganization)
BEGIN
	ROLLBACK
	SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo , 'Failed, SalesOrganization Not Exist' as 'Message'      
	RETURN
END
ELSE
	Select @SalesOrganizationId = ID From SalesOrganizations Where [Code] = @SalesOrganization

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo , 'Failed In SalesOrganization' as 'Message'      
RETURN 
END 
--SalesOrganization Ends


--DistributionChannel begins

IF NOT EXISTS(Select 1 FROM DistributionChannels Where [Code]= @DistributionChannel and SalesOrganizationId=@SalesOrganizationId)
BEGIN
	ROLLBACK
SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo , 'Failed, Distribution Channel Not Exist' as 'Message'      
	RETURN
END
ELSE
	Select @DistributionChannelId = ID From DistributionChannels Where [Code] = @DistributionChannel and SalesOrganizationId=@SalesOrganizationId

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
	SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo ,'Failed In Distribution Channel' as 'Message'      
RETURN 
END 
--DistributionChannel Ends

--Division begins

IF NOT EXISTS(Select 1 FROM Divisions Where [Code]= @Division and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId  )
BEGIN
	ROLLBACK
SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo ,'Failed, Division Not Exist' as 'Message'      
	RETURN
END
ELSE
	Select @DivisionId = ID From Divisions Where [Code] = @Division and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo , 'Failed In Division' as 'Message'      
RETURN 
END 
--Division Ends

IF @Discount = 0
BEGIN
ROLLBACK
SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo , 'Failed, Discount amount is zero' as 'Message'      
RETURN
END

IF NOT EXISTS (select 1 from UserDivisionMappings where UserId = @LoginUserId and SalesOrganizationId = @SalesOrganizationId
and DistributionChannelId = @DistributionChannelId and DivisionId = @DivisionId)
BEGIN
	ROLLBACK
SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo ,'Failed, Sales org , Distribution Channel , Division Combination Not Exist for LoginUser' as 'Message'      
	RETURN
END

DECLARE @ErrorMsg varchar(max) = ''
DECLARE @IsFirstRecord bit = 0
DECLARE @ParentId bigint = 0
DECLARE @DiscountId bigint
DECLARE @ActualDiscount decimal(18,3)
DECLARE @ExistingValidFrom datetime
DECLARE @ExistingValdTo datetime
DECLARE @OilTypeId bigint

CREATE TABLE #ZoneStateDistrictCity(ZoneId bigint,StateId bigint,DistrictId bigint,CityId bigint)

IF(LOWER(@City) = 'all')
BEGIN 
    IF(LOWER(@District) = 'all')
	BEGIN
	    IF(LOWER(@State) = 'all')
		BEGIN
                Insert into #ZoneStateDistrictCity(CityId,DistrictId,StateId,ZoneId)
		   		SELECT 0,0,0,zs.ZoneId FROM StringSplit(@Zone, ',') as s inner join Zones as z on Lower(s.Item) = Lower(z.Name)
				inner join ZoneStateMappings as zs on z.Id = zs.ZoneId
				--inner join Districts as d on zs.StateId = d.StateId
				--inner join Cities as c on d.Id = c.DistrictId; 
		END
		ELSE
		BEGIN
		    Insert into #ZoneStateDistrictCity(CityId,DistrictId,StateId,ZoneId)
		   	SELECT 0,0, states.Id as StateId , zs.ZoneId FROM StringSplit(@State, ',') as s inner join States as states on Lower(s.Item) = Lower(states.StateName)
			inner join ZoneStateMappings as zs on states.Id = zs.StateId
			--inner join Districts as d on states.Id = d.StateId
			--inner join Cities as c on d.Id = c.DistrictId; 
		END
	END
	ELSE
	BEGIN
		Insert into #ZoneStateDistrictCity(CityId,DistrictId,StateId,ZoneId)
		SELECT 0 , d.Id as DitrictId , states.Id as StateId , zs.ZoneId FROM StringSplit(@District, ',') as s 
		inner join Districts as d on Lower(s.Item) = Lower(d.DistrictName)
		inner join States as states on d.StateId = states.Id
		inner join StringSplit(@State, ',') as statesgiven on Lower(statesgiven.Item) = Lower(states.StateName)
		inner join ZoneStateMappings as zs on states.Id = zs.StateId
		--inner join Cities as c on d.Id = c.DistrictId; 
	END
END
ELSE
BEGIN
	Insert into #ZoneStateDistrictCity(CityId,DistrictId,StateId,ZoneId)
    SELECT c.Id as CityId , d.Id as DitrictId , states.Id as StateId , zs.ZoneId FROM StringSplit(@City, ',') as s inner join Cities as c on Lower(s.Item) = Lower(c.CityName)
	inner join Districts as d on c.DistrictId = d.Id 
	inner join StringSplit(@District, ',') as districtsgiven on Lower(districtsgiven.Item) = Lower(d.DistrictName)
	inner join States as states on d.StateId = states.Id
    inner join StringSplit(@State, ',') as statesgiven on Lower(statesgiven.Item) = Lower(states.StateName)
	inner join ZoneStateMappings as zs on states.Id = zs.StateId; 


END

		DECLARE @CityFromTemp bigint
		DECLARE @DistrictFromTemp bigint
		DECLARE @StateFromTemp bigint
		DECLARE @ZoneFromTemp bigint
		DECLARE @CityName varchar(max) = ''
		DECLARE @ErrorMsgCity varchar(max) = ''
		DECLARE @ExistingCityId varchar(max) = ''
		DECLARE @MaterialCodeForLoop varchar(max) = ''

		CREATE TABLE #InsertedIds (InsertedId INT,SkuId BIGINT);
		CREATE TABLE #MaterialCodeList (MaterialCode nvarchar(100));

		CREATE NONCLUSTERED INDEX IX_InsertedIds_SkuId ON #InsertedIds (SkuId);

		INSERT INTO #MaterialCodeList SELECT Item from [dbo].[StringSplit](@MaterialCode,',');

		--Discount List for each City and Sku
		INSERT INTO #TempDiscounts (CityId, DistrictId, StateId, ZoneId, MaterialCode)
		SELECT city.CityId, city.DistrictId, city.StateId, city.ZoneId, sku.MaterialCode
		FROM #MaterialCodeList sku
		Cross join #ZoneStateDistrictCity city

		UPDATE #TempDiscounts
		SET SkuId = s.Id,
			OilTypeId = s.OilTypeId
		FROM #TempDiscounts t
	    LEFT JOIN Skus s ON  s.SkuCode = t.MaterialCode
						 AND s.SalesOrganizationId = @SalesOrganizationId
						 AND s.DistributionChannelId = @DistributionChannelId
						 AND s.DivisionId = @DivisionId
						 AND s.IsActive = 1;

		UPDATE #TempDiscounts
		SET ValidationMessage = ISNULL(ValidationMessage, '') + MaterialCode + ' - Invalid Material Code; '
		WHERE SkuId IS NULL;

		UPDATE #TempDiscounts
		SET ExistingCityId = dg.CityId,
		    CityName = C.CityName,
			DiscountId = dg.Id,
			ActualDiscount = dg.ActualDiscount,
			ExistingValidFrom = dg.ValidFrom,
			ExistingValidTo = dg.ValidTo,
			ValidationMessage = (CASE 
				WHEN dg.Id IS NOT NULL AND @Discount > dg.ActualDiscount THEN 
					ISNULL(ValidationMessage, '') + t.MaterialCode + '-' + t.CityName + ' - Discount exceeds allowed amount; '
				WHEN dg.Id IS NOT NULL AND (
					NOT (@ValidFrom >= dg.ValidFrom AND @ValidFrom <= dg.ValidTo) OR
					NOT (@ValidTo <= dg.ValidTo AND @ValidTo >= dg.ValidFrom)
				) THEN 
					ISNULL(ValidationMessage, '') + 'Failed, Valid From and Valid To date range should be less than or equal to date range assigned;'
				WHEN dg.CityId = t.CityId THEN 
				  ISNULL(ValidationMessage, '') + 'Failed, ' + t.MaterialCode + ' ' + t.CityName +  + ' Discount already exists for City;'
				ELSE ValidationMessage END),
				@ErrorMsgCity = CASE 
				WHEN dg.Id IS NOT NULL AND @Discount > dg.ActualDiscount THEN 
					ISNULL(@ErrorMsgCity, '') + t.MaterialCode + '-' + t.CityName + ' - Discount exceeds allowed amount; '
				WHEN dg.Id IS NOT NULL AND (
					NOT (@ValidFrom >= dg.ValidFrom AND @ValidFrom <= dg.ValidTo) OR
					NOT (@ValidTo <= dg.ValidTo AND @ValidTo >= dg.ValidFrom)
				) THEN 
					ISNULL(@ErrorMsgCity, '') + 'Failed, Valid From and Valid To date range should be less than or equal to date range assigned;'
				WHEN dg.CityId = t.CityId THEN 
				  ISNULL(@ErrorMsgCity, '') + 'Failed, ' + t.MaterialCode + ' ' + t.CityName +  + ' Discount already exists for City;'
				ELSE @ErrorMsgCity
			END
		FROM #TempDiscounts t
	    LEFT JOIN DiscountGeographies dg ON t.SkuId = dg.SkuId and t.CityId = dg.CityId
		JOIN cities c on dg.CityId = c.Id;

		--Delete existing records

	    DELETE d
		FROM DiscountGeographies d
		JOIN #TempDiscounts t 
		ON d.SkuId = t.SkuId 
			AND d.CityId = t.CityId AND d.DistrictId = t.DistrictId AND d.ZoneId = t.ZoneId and d.StateId = t.StateId
			WHERE d.SalesOrganizationId = @SalesOrganizationId 
				AND d.DistributionChannelId = @DistributionChannelId 
				AND d.DivisionId = @DivisionId;

		--Insert  Parent Records
		WITH CTE_RankedDiscounts AS (
			SELECT 
				t.SkuId,
				t.OilTypeId,
				t.ZoneId,
				t.StateId,
				t.DistrictId,
				t.CityId,
				t.ValidationMessage,
				ROW_NUMBER() OVER (PARTITION BY t.SkuId ORDER BY (SELECT NULL)) AS RowNum
			FROM #TempDiscounts t 
			WHERE t.ValidationMessage IS NULL
		)
		INSERT INTO DiscountGeographies (
			SkuId, SalesOrganizationId, DistributionChannelId, DivisionId, ActualDiscount,
			DiscountReason, ParentId, ValidFrom, ValidTo, CreatedBy, CreatedDate,
			OilTypeId, ZoneId, StateId, DistrictId, CityId, TerritoryId
		)
		OUTPUT INSERTED.Id, INSERTED.SkuId INTO #InsertedIds (InsertedId, SkuId)
		SELECT 
			c.SkuId, @SalesOrganizationId, @DistributionChannelId, @DivisionId, 0.00,
			@DiscountReason, 
			--CASE 
			--	WHEN c.RowNum = 1 THEN 0
			--	ELSE 1
			--END AS ParentId,
			0 AS ParentId,
			@ValidFrom, @ValidTo, @LoginUserId, GETDATE(),
			c.OilTypeId, c.ZoneId, c.StateId, c.DistrictId, c.CityId, 0
		FROM CTE_RankedDiscounts c WHERE c.RowNum = 1 ;

		--Insert subsequence Records
		WITH CTE_RankedDiscounts AS (
			SELECT 
				t.SkuId,
				t.OilTypeId,
				t.ZoneId,
				t.StateId,
				t.DistrictId,
				t.CityId,
				t.ValidationMessage,
				ROW_NUMBER() OVER (PARTITION BY t.SkuId ORDER BY (SELECT NULL)) AS RowNum
				--ROW_NUMBER() OVER (PARTITION BY t.SkuId ORDER BY t.CityId) AS RowNum
			FROM #TempDiscounts t 
			WHERE t.ValidationMessage IS NULL
		)
		INSERT INTO DiscountGeographies (
			SkuId, SalesOrganizationId, DistributionChannelId, DivisionId, ActualDiscount,
			DiscountReason, ParentId, ValidFrom, ValidTo, CreatedBy, CreatedDate,
			OilTypeId, ZoneId, StateId, DistrictId, CityId, TerritoryId
		)
		SELECT 
			c.SkuId, @SalesOrganizationId, @DistributionChannelId, @DivisionId, @Discount,
			@DiscountReason, 
			discount.InsertedId,
			@ValidFrom, @ValidTo, @LoginUserId, GETDATE(),
			c.OilTypeId, c.ZoneId, c.StateId, c.DistrictId, c.CityId, 0
		FROM CTE_RankedDiscounts c
		LEFT JOIN #InsertedIds discount ON C.SkuId = discount.SkuId 
		WHERE c.RowNum >= 1;


		IF (@ErrorMsgCity <> '' AND @ErrorMsgCity IS NOT NULL)
		 BEGIN
			SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo, @ErrorMsgCity as 'Message'			
		END
	   ELSE
	    BEGIN
		   SELECT @SalesOrganization as SalesOrganization,@DistributionChannel as DistributionChannel,@Division as Division,@Discount as Discount,@DiscountReason as DiscountReason,@MaterialCode as MaterialCode,@Zone as Zone,@State as State,@District as District,@City as City ,@ValidFrom as ValidFrom,@ValidTo as ValidTo, 'Success, Discount added successfully' as 'Message'			
		END

	
   COMMIT TRANSACTION 

        DROP TABLE #TempDiscounts;
		DROP TABLE #InsertedIds;
		DROP TABLE #MaterialCodeList; 
		DROP TABLE #ZoneStateDistrictCity;

END TRY
 BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION;

    -- Capture and handle error details
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
 END CATCH;