USE [AdaniPiloatDB]
GO
/****** Object:  StoredProcedure [dbo].[SetOilTypePackType]    Script Date: 6/26/2024 12:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[SetOilTypePackType]
    @SalesOrganizationCode VARCHAR(50),
    @DistributionChannelCode VARCHAR(50),
    @DivisionCode VARCHAR(50),
    @SkuCode VARCHAR(50),
    @PackGroupType VARCHAR(50),
    @CreatedBy BIGINT
	
AS
BEGIN
 SET NOCOUNT ON;
	DECLARE @SalesOrganizationId BIGINT;
	DECLARE @DistributionChannelId BIGINT;
	DECLARE @DivisionId BIGINT;
	DECLARE @OilPackGroupTypeId BIGINT = '';
	DECLARE @Message VARCHAR(100) = '';
	

	IF @PackGroupType = 'BP'
    BEGIN
        SET @OilPackGroupTypeId = 1;
    END
    ELSE IF @PackGroupType = 'CP'
    BEGIN
        SET @OilPackGroupTypeId = 2;
    END
	ELSE
    BEGIN
        SET @Message =@Message + 'PackType Not Exists';
			SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@SkuCode AS SkuCode,@PackGroupType AS PackGroupType,@Message AS Message;
        RETURN
    END
	IF NOT EXISTS (SELECT 1 FROM SalesOrganizations WHERE SUBSTRING([Code], PATINDEX('%[^0]%', [Code]), LEN([Code])) = @SalesOrganizationCode)
    BEGIN
        SET @Message =@Message + 'Failed, SalesOrganization Not Exist';
			SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@SkuCode AS SkuCode,@PackGroupType AS PackGroupType,@Message AS Message;
        RETURN
    END
    ELSE
    BEGIN
        SELECT @SalesOrganizationId = ID FROM SalesOrganizations WHERE SUBSTRING([Code], PATINDEX('%[^0]%', [Code]), LEN([Code])) = @SalesOrganizationCode;
    END

	IF @@ERROR <> 0 
    BEGIN
        SET @Message =@Message + 'Failed In SalesOrganization'
		SELECT @SalesOrganizationCode AS SalesOrgCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@SkuCode AS SkuCode,@Message AS Message;
        RETURN
    END

	IF NOT EXISTS (SELECT 1 FROM DistributionChannels WHERE SUBSTRING([Code], PATINDEX('%[^0]%', [Code]), LEN([Code])) = @DistributionChannelCode and [SalesOrganizationId] = @SalesOrganizationId)
	BEGIN
    SET @Message = @Message +'Failed, DistributionChannel Not Exist';
			SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@SkuCode AS SkuCode,@PackGroupType AS PackGroupType,@Message AS Message;
		RETURN
	END
	ELSE
	BEGIN
		SELECT @DistributionChannelId = ID FROM DistributionChannels WHERE SUBSTRING([Code], PATINDEX('%[^0]%', [Code]), LEN([Code])) = @DistributionChannelCode and [SalesOrganizationId] = @SalesOrganizationId;
	END

	IF @@ERROR <> 0 
	BEGIN
	    SET @Message =@Message + 'Failed In DistributionChannel'
			SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@SkuCode AS SkuCode,@PackGroupType AS PackGroupType,@Message AS Message;
			RETURN
	END

	IF NOT EXISTS (SELECT 1 FROM Divisions WHERE SUBSTRING([Code], PATINDEX('%[^0]%', [Code]), LEN([Code])) = @DivisionCode and [DistributionChannelId] = @DistributionChannelId and [SalesOrganizationId] = @SalesOrganizationId)
	BEGIN
	    SET @Message =@Message + 'Failed, Division Not Exist'
			SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@SkuCode AS SkuCode,@PackGroupType AS PackGroupType,@Message AS Message;
			RETURN
	END
	ELSE
	BEGIN
	    SELECT @DivisionId = ID FROM Divisions WHERE SUBSTRING([Code], PATINDEX('%[^0]%', [Code]), LEN([Code])) = @DivisionCode and [DistributionChannelId] = @DistributionChannelId and [SalesOrganizationId] = @SalesOrganizationId;
	END

	IF @@ERROR <> 0 
	BEGIN
	    SET @Message = @Message +'Failed In Division'
			SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@SkuCode AS SkuCode,@PackGroupType AS PackGroupType,@Message AS Message;
			RETURN
	END

	IF NOT EXISTS (
			SELECT 1 
			FROM Skus 
			WHERE SalesOrganizationId = @SalesOrganizationId AND DistributionChannelId = @DistributionChannelId
				AND DivisionId = @DivisionId AND SkuCode = @SkuCode)
	BEGIN
			SET @Message =@Message + 'Material Combination Not Exist';
			SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@SkuCode AS SkuCode,@PackGroupType AS PackGroupType,@Message AS Message;
	END

	ELSE
	BEGIN
		UPDATE Skus SET SalesOrganizationId = @SalesOrganizationId,DistributionChannelId = @DistributionChannelId, DivisionId = @DivisionId, SkuCode = @SkuCode, OilPackGroupTypeId = @OilPackGroupTypeId 
		Where SalesOrganizationId = @SalesOrganizationId AND DistributionChannelId = @DistributionChannelId
				AND DivisionId = @DivisionId AND SkuCode = @SkuCode; 
			SET @Message =@Message + 'Update';
			SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@SkuCode AS SkuCode,@PackGroupType AS PackGroupType,@Message AS Message;
	END
	SELECT @SalesOrganizationCode AS SalesOrganizationCode,@DistributionChannelCode AS DistributionChannelCode,@DivisionCode AS DivisionCode,@SkuCode AS SkuCode,@PackGroupType AS PackGroupType,@Message AS Message;
End

