USE [AdaniDB]
GO
/****** Object:  StoredProcedure [dbo].[SetOilType]    Script Date: 08-10-2022 11:51:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[SetOilType](
    @DivisionCode char(100),
	@SalesOrganizationCode char(100),
	@DistributionChannelCode char(100),
	@Name  varchar(100),
	--@Code varchar(100),
	--@LitreConversion decimal(18,2),
	@IsActive bit,
	--@IsRasoi bit = 0,
	@CreatedBy bigint
    )
as
DECLARE @DivisionId bigint
DECLARE @SalesOrganizationId bigint
DECLARE @DistributionChannelId bigint
set @DivisionCode = ltrim(rtrim(@DivisionCode))

Set NOCOUNT OFF
BEGIN TRANSACTION

--SalesOrganization begins

IF NOT EXISTS(Select 1 FROM SalesOrganizations Where [Code]= @SalesOrganizationCode)
BEGIN
	ROLLBACK
	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode, @Name as [Name],@IsActive as IsActive, 'Failed, SalesOrganization Not Exist' as 'Message'      
	RETURN
END
ELSE
	Select @SalesOrganizationId = ID From SalesOrganizations Where [Code] = @SalesOrganizationCode

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode, @Name as [Name],@IsActive as IsActive, 'Failed In SalesOrganization' as 'Message'      
RETURN 
END 
--SalesOrganization Ends

--DistributionChannel begins

IF NOT EXISTS(Select 1 FROM DistributionChannels Where [Code]= @DistributionChannelCode AND SalesOrganizationId = @SalesOrganizationId)
BEGIN
	ROLLBACK
	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode, @Name as [Name],@IsActive as IsActive, 'Failed, DistributionChannel Not Exist' as 'Message'      
	RETURN
END
ELSE
	Select @DistributionChannelId = ID From DistributionChannels Where [Code] = @DistributionChannelCode AND SalesOrganizationId = @SalesOrganizationId

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode, @Name as [Name],@IsActive as IsActive, 'Failed In DistributionChannel' as 'Message'      
RETURN 
END 
--DistributionChannel Ends


--Division begins

IF NOT EXISTS(Select 1 FROM Divisions Where [Code]= @DivisionCode AND DistributionChannelId = @DistributionChannelId AND SalesOrganizationId = @SalesOrganizationId)
BEGIN
	ROLLBACK
	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode, @Name as [Name],@IsActive as IsActive, 'Failed, Division Not Exist' as 'Message'      
	RETURN
END
ELSE
	Select @DivisionId = ID FROM Divisions Where [Code] = @DivisionCode AND DistributionChannelId = @DistributionChannelId AND SalesOrganizationId = @SalesOrganizationId

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode, @Name as [Name],@IsActive as IsActive, 'Failed In Division' as 'Message'      
RETURN 
END 
--Division Ends




--Insert Oiltype
--IF @IsRasoi=1
--BEGIN
--	DECLARE @HBCDivisionId BIGINT
--	Select @HBCDivisionId = Id FROM Divisions Where [Name] = 'HBC'
	
--	IF @HBCDivisionId!=@DivisionId
--	BEGIN
--		SET @IsRasoi=0
--	END
--END

IF NOT EXISTS (SELECT 1 FROM OilTypes s WHERE s.DivisionId = @DivisionId and s.[Name] = @Name  and s.SalesOrganizationId=@SalesOrganizationId and s.DistributionChannelId=@DistributionChannelId)
BEGIN
     Insert into OilTypes(DivisionId,[Name],IsActive,CreatedBy,CreatedDate,SalesOrganizationId,DistributionChannelId) values(@DivisionId,@Name,@IsActive,@CreatedBy,GETDATE(),@SalesOrganizationId,@DistributionChannelId)
	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode, @Name as [Name],@IsActive as IsActive, 'Success' as 'Message' 
	END
ELSE
BEGIN
	UPDATE [dbo].[OilTypes] SET [Name] = @Name,[SalesOrganizationId]=@SalesOrganizationId,[DistributionChannelId]=@DistributionChannelId,[DivisionId] = @DivisionId,[IsActive] = @IsActive,[ModifiedBy] = @CreatedBy
	,[ModifiedDate] = GETDATE() WHERE SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId and DivisionId = @DivisionId and [Name] = @Name

	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode, @Name as [Name],@IsActive as IsActive, 'Record Updated' as 'Message' 
END
	--SELECT @DivisionCode as DivisionCode, @Name as [Name],@LitreConversion as LitreConversion,@IsActive as IsActive, 'Failed, OilType Exists' as 'Message' 
IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@DivisionCode as DivisionCode, @Name as [Name],@IsActive as IsActive, 'Failed in OilType Insert' as 'Message' 
RETURN 
END 

COMMIT



