USE [AdaniDBUAT]
GO
/****** Object:  StoredProcedure [dbo].[SetPlant]    Script Date: 05-10-2022 18:38:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[SetPlant](
	@Name varchar(100),
	@Code varchar(100),
	@Email varchar(100),
	@MobileNumber varchar(100),
	--@Zone varchar(100),
	--@CityName varchar(100),
	--@DistrictName varchar(100),
	--@TerritoryName varchar(100),
 --   @StateName  varchar(100),
	@Pincode decimal,
	@Address varchar(100),
	@IsActive bit,
	@CreatedBy bigint,
	@StorageTypeId int
    )
	as
--DECLARE @DistrictId int, @StateId int, @TerritoryId int, @CityId int,@ZoneId int
--set @DistrictName = ltrim(rtrim(@DistrictName))
--set @StateName = ltrim(rtrim(@StateName))
--set @CityName = ltrim(rtrim(@CityName))
--set @TerritoryName = ltrim(rtrim(@TerritoryName))
Set NOCOUNT OFF

BEGIN TRANSACTION

--Zone begins
--IF NOT EXISTS(SELECT 1 FROM Zones WHERE [Name]= @Zone)
--BEGIN
--	ROLLBACK
--		SELECT @Zone as 'Zone',@Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address',@StateName as StateName,@TerritoryName as TerritoryName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@MobileNumber as MobileNumber, 'Zone Not Exist' as 'Message'     
--	RETURN 
--END
--ELSE
--    SELECT @ZoneId = ID FROM Zones WHERE [Name] = @Zone

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @Zone as 'Zone',@Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address',@StateName as StateName,@TerritoryName as TerritoryName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@MobileNumber as MobileNumber, 'Failed In Zone' as 'Message'      
--	RETURN 
--END 
--Zone Ends

--State begins
--IF NOT EXISTS(Select 1 FROM States Where [StateName]= @StateName)
--BEGIN
--	ROLLBACK
--		SELECT @Zone as 'Zone',@Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address',@StateName as StateName,@TerritoryName as TerritoryName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@MobileNumber as MobileNumber, 'State Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--    Select @StateId = Id From States Where StateName = @StateName

--IF @@ERROR <> 0 
--BEGIN     
--ROLLBACK  
--	SELECT @Zone as 'Zone',@Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address',@StateName as StateName,@TerritoryName as TerritoryName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@MobileNumber as MobileNumber, 'Failed In State' as 'Message'      
--RETURN 
--END 


--IF NOT EXISTS(SELECT 1 FROM States s,ZoneStateMappings zs,Zones z WHERE z.Id = zs.ZoneId and s.Id = zs.StateId and s.Id = @StateId and z.Id = @ZoneId and  s.StateName= @StateName)
--BEGIN
--	ROLLBACK
--		SELECT @Zone as 'Zone',@Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address',@StateName as StateName,@TerritoryName as TerritoryName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@MobileNumber as MobileNumber, 'State not mapped with Zone' as 'Message'     
--	RETURN 
--END
--ELSE
--    SELECT @StateId = s.Id FROM States s,ZoneStateMappings zs,Zones z WHERE z.Id = zs.ZoneId and s.Id = zs.StateId and s.Id = @StateId and z.Id = @ZoneId and  s.StateName= @StateName

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @Zone as 'Zone',@Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address',@StateName as StateName,@TerritoryName as TerritoryName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@MobileNumber as MobileNumber, 'Failed In State' as 'Message'      
--	RETURN 
--END 
--State Ends

--Territory Begins
--IF NOT EXISTS(SELECT 1 FROM States s, Territories t WHERE t.StateId = s.Id and t.StateId = @StateId and t.[Name] = @TerritoryName)
--BEGIN
--	ROLLBACK
--		SELECT @Zone as 'Zone',@Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address',@StateName as StateName,@TerritoryName as TerritoryName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@MobileNumber as MobileNumber, 'Failed, Territory Not Exist' as 'Message' 
--	RETURN
--END
--ELSE
--BEGIN
--    SELECT @TerritoryId = t.id FROM States s, Territories t WHERE t.StateId = s.Id and t.StateId = @StateId and t.[Name] = @TerritoryName
--END

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @Zone as 'Zone',@Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address',@StateName as StateName,@TerritoryName as TerritoryName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@MobileNumber as MobileNumber, 'Failed In Territory' as 'Message' 
--	RETURN 
--END 
--Territory Ends


--District Begins
--IF NOT EXISTS(SELECT 1 FROM Territories t, Districts d  WHERE d.TerritoryId = t.Id and d.TerritoryId = @TerritoryId and d.DistrictName = @DistrictName)
--BEGIN
--	ROLLBACK
--		SELECT @Zone as 'Zone',@Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address',@StateName as StateName,@TerritoryName as TerritoryName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@MobileNumber as MobileNumber, 'Failed, District Not Exist' as 'Message' 
--	RETURN
--END
--ELSE
--BEGIN
--    SELECT @DistrictId = d.id FROM Territories s, Districts d WHERE d.TerritoryId = s.Id and d.TerritoryId = @TerritoryId and d.DistrictName = @DistrictName
--END

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @Zone as 'Zone',@Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address',@StateName as StateName,@TerritoryName as TerritoryName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@MobileNumber as MobileNumber, 'Failed In District' as 'Message' 
--	RETURN 
--END 
--District Ends


--City Begins
--IF NOT EXISTS(SELECT 1 FROM Cities t, Districts d WHERE t.DistrictId = d.Id and t.DistrictId = @DistrictId and t.CityName = @CityName)
--BEGIN
--	ROLLBACK
--		SELECT @Zone as 'Zone',@Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address',@StateName as StateName,@TerritoryName as TerritoryName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@MobileNumber as MobileNumber, 'Failed, City Not Exist' as 'Message' 
--	RETURN
--END
--ELSE
--BEGIN
--    SELECT @CityId = t.id FROM Cities t, Districts d WHERE t.DistrictId = d.Id and t.DistrictId = @DistrictId and t.CityName = @CityName
--END

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--	SELECT @Zone as 'Zone',@Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address',@StateName as StateName,@TerritoryName as TerritoryName, @DistrictName as DistrictName, @CityName as CityName, @IsActive as IsActive,@MobileNumber as MobileNumber, 'Failed In City' as 'Message' 
--	RETURN 
--END 
--City Ends

--Plant begins
IF NOT EXISTS(SELECT 1 FROM Depots d WHERE d.IsPlant = 1 and (d.Code = @Code or d.[Name] = @Name and d.Email = @Email))
BEGIN
	INSERT INTO Depots(Code, Name, Email,  Pincode, Location, IsPlant, CreatedBy, IsActive, CreatedDate,IsSAPData,IsSAPDataSyncOrNot,StorageTypeId,DepotId,MobileNumber) VALUES (@Code, @Name, @Email,@Pincode,@Address,1, @CreatedBy, @IsActive, getdate(),0,0,@StorageTypeId,0,@MobileNumber);
	SELECT @Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address', @IsActive as IsActive,@MobileNumber as MobileNumber, 'Success' as 'Message' 
END
ELSE
	SELECT @Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address', @IsActive as IsActive,@MobileNumber as MobileNumber, 'Record Exists' as 'Message' 

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  
		SELECT @Name as 'Name',@Code as Code,@Email as Email,@Pincode as Pincode,@Address as 'Address', @IsActive as IsActive,@MobileNumber as MobileNumber, 'Failed In Plant' as 'Message'     
	RETURN 
END 
--Plant Ends

COMMIT



