USE [AdaniPiloatDB]
GO
/****** Object:  StoredProcedure [dbo].[SetQpsDiscountUpload]    Script Date: 6/30/2024 5:19:39 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER     PROCEDURE [dbo].[SetQpsDiscountUpload]
    @QpsDisUpload QpsDisUpload readonly
AS
BEGIN

    SET NOCOUNT ON;

	DECLARE @IsError BIT = 0, @Message VARCHAR(100) = '';

	DECLARE @ErrorMessage TABLE ( QpsRowId BIGINT,	Message VARCHAR(100));

	DECLARE @CombinationTempTable TABLE (
		QpsRowId BIGINT,
		QpsParentId BIGINT,
		DivisionId BIGINT,
		SalesOrgId BIGINT,
		DistributionChannelId BIGINT,
		DivisionCode BIGINT,
		SalesOrgCode BIGINT,
		DistributionChannelCode BIGINT
	);

	DECLARE @QpdDisVar TABLE (
    QpsDiscountID BIGINT,
    QpsParentId INT);

	DECLARE @AggregatedData TABLE (
    StartDate DateTime,
    EndDate DateTime,
    SalesOrgCode INT,
	SalesOrgId INT,
    DistributionChannelCode INT,
	DistributionChannelId INT,
    DivisionCode INT,
	DivisionId INT,
    IsActive INT,
    QpsParentId INT,
	CreatedBy INT,
	CreatedDate DATETIME);

	--Validation 1: Discount Date Validation
	--IF EXISTS (SELECT 1 FROM @QpsDisUpload QD WHERE CAST(CONVERT(DATETIME, QD.StartDate, 103) AS DATE) < CAST(GETDATE() AS DATE) or QD.StartDate  IS NULL )
	--BEGIN
	--	INSERT INTO @ErrorMessage (QpsRowId, Message)
	--	SELECT QpsRowId, 'Invalid Date'
	--	FROM @QpsDisUpload QD WHERE CAST(CONVERT(DATETIME, QD.StartDate, 103) AS DATE) < CAST(GETDATE() AS DATE)

	--	SET @IsError = 1;
	--END
	--Select 1 from @QpsDisUpload QD
	--Join QPSDiscountSkuMappings qsk ON qsk.StateId = QD.StateId
	--	JOIN ZoneStateMappings zs ON zs.StateId = qsk.StateId WHERE QD.StateId IS NULL OR zs.ZoneId IS NULL
	--JOIN QPSDiscountSkuMappings qs ON QD.Id = qs.QpsDiscountId AND qs.IsActive = 1
		IF EXISTS (Select 1 from @QpsDisUpload QD Join QPSDiscountSkuMappings qsk ON qsk.StateId = QD.StateId
		JOIN ZoneStateMappings zs ON zs.StateId = qsk.StateId WHERE QD.StateId IS NULL OR zs.ZoneId IS NULL)
	   BEGIN
	       INSERT INTO @ErrorMessage (QpsRowId, Message)
	       SELECT QpsRowId, 'Zone Or State Name Empty'
	       FROM @QpsDisUpload QD WHERE QD.StateId IS NULL

	       SET @IsError = 1;
	   END


	IF EXISTS (SELECT 1 FROM @QpsDisUpload QD WHERE (CAST(CONVERT(DATETIME, QD.StartDate, 103) AS DATE) < CAST(GETDATE() AS DATE)) OR CAST(CONVERT(DATETIME,QD.StartDate, 103)AS DATE) IS NULL)
	   BEGIN
	       INSERT INTO @ErrorMessage (QpsRowId, Message)
	       SELECT QpsRowId, 'Invalid Date'
	       FROM @QpsDisUpload QD WHERE (CAST(CONVERT(DATETIME, QD.StartDate, 103) AS DATE) < CAST(GETDATE() AS DATE)) OR CAST(CONVERT(DATETIME,QD.StartDate, 103)AS DATE) IS NULL

	       SET @IsError = 1;
	   END


	IF EXISTS (SELECT 1 FROM @QpsDisUpload QD WHERE (CAST(CONVERT(DATETIME, QD.EndDate, 103) AS DATE) < CAST(CONVERT(DATETIME, QD.StartDate, 103) AS DATE)) OR CAST(CONVERT(DATETIME,QD.EndDate, 103)AS DATE) IS NULL)
	   BEGIN
	       INSERT INTO @ErrorMessage (QpsRowId, Message)
	       SELECT QpsRowId, 'Invalid End Date'
	       FROM @QpsDisUpload QD WHERE (CAST(CONVERT(DATETIME, QD.EndDate, 103) AS DATE) < CAST(CONVERT(DATETIME, QD.StartDate, 103) AS DATE)) OR CAST(CONVERT(DATETIME,QD.EndDate, 103)AS DATE) IS NULL

	       SET @IsError = 1;
	   END


	--Validation 2: Sales Org, Distribution and Division Code validation
	 INSERT INTO @CombinationTempTable (QpsRowId, QpsParentId, DivisionId, DivisionCode, SalesOrgId, SalesOrgCode, DistributionChannelId, DistributionChannelCode)
	 SELECT Distinct qu.QpsRowId AS QpsRowId, qu.QpsParentId AS QpsParentId, d.Id AS DivisionId,d.Code AS DivisionCode, s.Id AS SalesOrgId, s.Code AS SalesOrgCode,
					 db.Id AS DistributionChannelId,db.Code AS DistributionChannelCode
	 FROM @QpsDisUpload qu
		  LEFT JOIN SalesOrganizations s ON qu.SalesOrgCode = s.Code
		  LEFT JOIN DistributionChannels db ON qu.DistributionChannelCode = db.Code
		  LEFT JOIN Divisions d ON qu.DivisionCode = d.Code AND S.Id = d.SalesOrganizationId AND db.Id = d.DistributionChannelId

	 IF exists (select * from @CombinationTempTable where SalesOrgId IS NULL OR DistributionChannelId IS NULL OR DivisionId IS NULL)
		BEGIN
			INSERT INTO @ErrorMessage (QpsRowId, Message)
			select QpsRowId, 'Invalid Code'
			from @CombinationTempTable
			where SalesOrgId IS NULL OR DistributionChannelId IS NULL OR DivisionId IS NULL

			SET @IsError = 1;
	 END

	--Validation 3: From Date & To Date overlapping validation
	SELECT iqd.*, ct.SalesOrgId, ct.DistributionChannelId, ct.DivisionId INTO #QpsAggregatedData
	FROM @QpsDisUpload iqd
	JOIN  @CombinationTempTable ct ON ct.DistributionChannelCode = iqd.DistributionChannelCode
			AND ct.SalesOrgCode = iqd.SalesOrgCode AND ct.DivisionCode = iqd.DivisionCode
			AND iqd.QpsRowId = ct.QpsRowId

	--IF EXISTS ( SELECT 1 FROM QpsDiscounts q
	--	JOIN QPSDiscountSkuMappings qs ON q.Id = qs.QpsDiscountId AND qs.IsActive = 1
	--	JOIN ZoneStateMappings zs ON zs.StateId = qs.StateId
	--	JOIN #QpsAggregatedData ct ON ct.SalesOrgId = q.SalesOrgId AND ct.DistributionChannelId = q.DistributionChannelId
	--			AND ct.DivisionId = q.DivisionId AND ct.OilTypeId = qs.OilTypeId
	--			AND ct.SkuId = qs.SkuId AND ct.StateId = qs.StateId AND ct.ZoneId = zs.ZoneId
	--	WHERE qs.IsActive = 1 AND (CAST(q.StartDate AS DATE) <> CAST(CONVERT(DATETIME, ct.StartDate, 103) AS DATE)
	--							OR CAST(q.EndDate AS DATE) <> CAST(CONVERT(DATETIME, ct.EndDate, 103) AS DATE))
	--	AND (CONVERT(DATETIME, ct.StartDate, 103) BETWEEN q.StartDate AND q.EndDate
	--	OR CONVERT(DATETIME, ct.EndDate, 103) BETWEEN q.StartDate AND q.EndDate
	--	OR q.StartDate BETWEEN CONVERT(DATETIME, ct.StartDate, 103) AND CONVERT(DATETIME, ct.EndDate, 103)
	--	OR q.EndDate BETWEEN CONVERT(DATETIME, ct.StartDate, 103) AND CONVERT(DATETIME, ct.EndDate, 103)))
	--BEGIN
	--	INSERT INTO @ErrorMessage (QpsRowId, Message)
	--	SELECT Distinct ct.QpsRowId AS QpsRowId, 'Invalid From Or To Overlapping' AS Message
	--	FROM QpsDiscounts q
	--	JOIN QPSDiscountSkuMappings qs ON q.Id = qs.QpsDiscountId AND qs.IsActive = 1
	--	JOIN ZoneStateMappings zs ON zs.StateId = qs.StateId
	--	JOIN #QpsAggregatedData ct ON ct.SalesOrgId = q.SalesOrgId AND ct.DistributionChannelId = q.DistributionChannelId
	--	AND ct.DivisionId = q.DivisionId AND ct.OilTypeId = qs.OilTypeId
	--	AND ct.SkuId = qs.SkuId AND ct.StateId = qs.StateId AND ct.ZoneId = zs.ZoneId
	--	WHERE qs.IsActive = 1 AND (CAST(q.StartDate AS DATE) <> CAST(CONVERT(DATETIME, ct.StartDate, 103) AS DATE)
	--	OR CAST(q.EndDate AS DATE) <> CAST(CONVERT(DATETIME, ct.EndDate, 103) AS DATE))
	--	AND (CONVERT(DATETIME, ct.StartDate, 103) BETWEEN q.StartDate AND q.EndDate
	--	OR CONVERT(DATETIME, ct.EndDate, 103) BETWEEN q.StartDate AND q.EndDate
	--	OR q.StartDate BETWEEN CONVERT(DATETIME, ct.StartDate, 103) AND CONVERT(DATETIME, ct.EndDate, 103)
	--	OR q.EndDate BETWEEN CONVERT(DATETIME, ct.StartDate, 103) AND CONVERT(DATETIME, ct.EndDate, 103))

	--	SET @IsError = 1;
	--END
	-- Slab 0 value check
	SELECT Q.QpsRowId
INTO #TempInvalidSlab
FROM @QpsDisUpload Q
WHERE Q.ToRange = 0 OR Q.FromRange = 0;

IF EXISTS (SELECT 1 FROM #TempInvalidSlab)
BEGIN
    INSERT INTO @ErrorMessage (QpsRowId, Message)
    SELECT QpsRowId, 'Invalid slab value'
    FROM #TempInvalidSlab;

    SET @IsError = 1;
END


	--Validation 4: Slab overlapping validation
	SELECT Q.QpsRowId, CASE WHEN (SELECT COUNT(QpsRowId) FROM @QpsDisUpload sub_Q
	WHERE Q.QpsRowId <> sub_Q.QpsRowId AND Q.QpsParentId = sub_Q.QpsParentId
	AND Q.OilTypeId = sub_Q.OilTypeId And Q.SkuId = sub_Q.SkuId and Q.StateId = sub_Q.StateId and Q.ZoneId = sub_Q.ZoneId
	AND (Q.FromRange BETWEEN sub_Q.FromRange AND sub_Q.ToRange OR Q.ToRange BETWEEN sub_Q.FromRange AND sub_Q.ToRange))
	> 0 THEN 1 ELSE 0 END AS IsDuplicated INTO #TempSlabValidation
	FROM @QpsDisUpload Q

	IF EXISTS (SELECT 1 FROM #TempSlabValidation WHERE IsDuplicated = 1)
	BEGIN
		INSERT INTO @ErrorMessage (QpsRowId, Message)
		SELECT QpsRowId, 'Slab range duplicate'
		FROM #TempSlabValidation QD
		WHERE IsDuplicated = 1

		SET @IsError = 1;
	END
	DROP TABLE #TempInvalidSlab
	DROP TABLE #TempSlabValidation

	--Validation 5: Sales Org, Distribution and Division Combination validation
	IF exists (Select 1 from @CombinationTempTable ct
	Left Join Divisions d ON d.Id = ct.DivisionId and d.SalesOrganizationId = ct.SalesOrgId and d.DistributionChannelId = ct.DistributionChannelId where d.Id Is Null)
	BEGIN
		INSERT INTO @ErrorMessage (QpsRowId, Message)
		select QpsRowId, 'Invalid Combination'
		from @CombinationTempTable ct
		Left Join Divisions d ON d.Id = ct.DivisionId and d.SalesOrganizationId = ct.SalesOrgId and d.DistributionChannelId = ct.DistributionChannelId where d.Id Is Null

		SET @IsError = 1;
	END

	--tesr

	--IF exists (Select 1 from #QpsAggregatedData ct
	--	Left Join OilTypes o ON o.Id = ct.DivisionId and o.SalesOrganizationId = ct.SalesOrgId and o.DistributionChannelId = ct.DistributionChannelId
	--					and ct.OilTypeId = o.Id where o.Id Is Null)
	--BEGIN
	--	INSERT INTO @ErrorMessage (QpsRowId, Message)
	--	select QpsRowId, 'Invalid OilType Combination'
	--	from @CombinationTempTable ct
	--	Left Join OilTypes o ON o.Id = ct.DivisionId and o.SalesOrganizationId = ct.SalesOrgId and o.DistributionChannelId = ct.DistributionChannelId where o.Id Is Null

	--	SET @IsError = 1;
	--END


	--IF exists (Select 1 from #QpsAggregatedData ct
	--	Left Join Skus sk ON sk.Id = ct.DivisionId and sk.SalesOrganizationId = ct.SalesOrgId and sk.DistributionChannelId = ct.DistributionChannelId
	--					and ct.OilTypeId = sk.Id and ct.SkuId = sk.Id  where sk.Id Is Null)
	--BEGIN
	--	INSERT INTO @ErrorMessage (QpsRowId, Message)
	--	select QpsRowId, 'Invalid Skus Combination'
	--	from @CombinationTempTable ct
	--	Left Join Skus sk ON sk.Id = ct.DivisionId and sk.SalesOrganizationId = ct.SalesOrgId and sk.DistributionChannelId = ct.DistributionChannelId where sk.Id Is Null

	--	SET @IsError = 1;
	--END


	--tesr end


	IF @IsError = 0
	BEGIN
	--Check if combinations exist in QpsDiscounts
	--Print 'QPSDiscountSkuMappings-Update'
	--BEGIN
	--	--Update qdm set IsActive = 0 from QPSDiscountSkuMappings qdm
	--	--Join QpsDiscounts qd on qd.Id = qdm.QpsDiscountId
	--	--Join @CombinationTempTable ct  On ct.DistributionChannelId = qd.DistributionChannelId and ct.SalesOrgId = qd.SalesOrgId and ct.DistributionChannelId = qd.DistributionChannelId
	--	--Join @QpsDisUpload iqd On qd.SalesOrgId = ct.SalesOrgId and qd.DistributionChannelId = ct.DistributionChannelId and qd.DivisionId = ct.DivisionId
	--	--and qd.StartDate =CONVERT(DATETIME,iqd.StartDate, 103) and qd.EndDate = CONVERT(DATETIME,iqd.EndDate, 103) and qdm.StateId = iqd.StateId
	--	UPDATE qdm SET IsActive = 0
	--			FROM QPSDiscountSkuMappings qdm
	--			JOIN QpsDiscounts qd ON qd.Id = qdm.QpsDiscountId
	--			JOIN @CombinationTempTable ct ON ct.DistributionChannelId = qd.DistributionChannelId AND ct.SalesOrgId = qd.SalesOrgId AND ct.DivisionId = qd.DivisionId
	--			JOIN @QpsDisUpload iqd ON qd.SalesOrgId = ct.SalesOrgId AND qd.DistributionChannelId = ct.DistributionChannelId
	--			AND qd.DivisionId = ct.DivisionId AND qd.StartDate = CONVERT(DATETIME, iqd.StartDate, 103)
	--			AND qd.EndDate = CONVERT(DATETIME, iqd.EndDate, 103) AND qdm.StateId = iqd.StateId
	--	WHERE EXISTS ( SELECT 1 FROM @QpsDisUpload iqd_inner
	--			WHERE qd.SalesOrgId = ct.SalesOrgId
	--			AND qd.DistributionChannelId = ct.DistributionChannelId AND qd.DivisionId = ct.DivisionId
	--			AND qd.StartDate = CONVERT(DATETIME, iqd_inner.StartDate, 103) AND qd.EndDate = CONVERT(DATETIME, iqd_inner.EndDate, 103)
	--			AND qdm.StateId = iqd_inner.StateId AND qdm.OilTypeId = iqd_inner.OilTypeId AND qdm.SkuId = iqd_inner.SkuId
	--			);
	--	END
	--	UPDATE qd SET qd.IsActive = 0
	--			FROM QpsDiscounts qd
	--	WHERE qd.IsActive = 1 AND
	--			NOT EXISTS ( SELECT 1 FROM QPSDiscountSkuMappings qdm
	--			WHERE qdm.QpsDiscountId = qd.Id AND qdm.IsActive = 1
	--	);



		-- Step 1: Aggregate the data and store it in the table variable
		INSERT INTO @AggregatedData (StartDate, EndDate, SalesOrgCode,SalesOrgId, DistributionChannelCode,DistributionChannelId, DivisionCode,DivisionId, IsActive, QpsParentId,CreatedBy,CreatedDate)
		SELECT
			CONVERT(DATETIME,MIN(iqd.StartDate), 103) AS StartDate,
			CONVERT(DATETIME,MIN(iqd.EndDate), 103) AS EndDate,
			MIN(iqd.SalesOrgCode) AS SalesOrgCode,
			MIN(ct.SalesOrgId) AS SalesOrgId,
			MIN(iqd.DistributionChannelCode) AS DistributionChannelCode,
			MIN(ct.DistributionChannelId) AS DistributionChannelId,
			MIN(iqd.DivisionCode) AS DivisionCode,
			MIN(ct.DivisionId) AS DivisionId,
			1 AS IsActive,
			iqd.QpsParentId,
			MIN(ISNULL (CreatedBy,0)) AS CreatedBy,
			GETUTCDATE() AS CreatedDate
		FROM
		@QpsDisUpload iqd
		Join  @CombinationTempTable ct ON ct.DistributionChannelCode = iqd.DistributionChannelCode and ct.SalesOrgCode = iqd.SalesOrgCode and ct.DivisionCode = iqd.DivisionCode
		GROUP BY iqd.QpsParentId;

		-- Step 2: Use MERGE to insert into QpsDiscounts and capture the output
		--Print 'QpsDiscounts'
		--select * from @QpsDisUpload

		MERGE INTO QpsDiscounts AS target
		USING @AggregatedData AS source
		ON 1 = 0 -- This will always result in an insert operation
		WHEN NOT MATCHED THEN
			INSERT (StartDate, EndDate, SalesOrgId, DistributionChannelId, DivisionId, IsActive,CreatedBy,CreatedDate)
			VALUES (source.StartDate, source.EndDate, source.SalesOrgId, source.DistributionChannelId, source.DivisionId, source.IsActive, source.CreatedBy,source.CreatedDate)
			OUTPUT inserted.ID, source.QpsParentId INTO @QpdDisVar (QpsDiscountID, QpsParentId);

		-- ============================ FIX B ============================
		-- The upload payload carries one row per (SKU x slab). The original INSERT below
		-- emitted one QPSDiscountSkuMappings row per upload row, so a SKU in an N-slab
		-- discount got N identical mapping rows. Those duplicates were later summed in
		-- GetQpsDiscountDetailForSku (CTE_New_Sku), inflating the ordered quantity by N.
		-- GROUP BY collapses the slab dimension so exactly ONE mapping is written per
		-- (QpsDiscountId, OilTypeId, SkuId, StateId) -- mirroring the QPSSlabDetails insert.
		--
		-- Original (buggy):
		-- INSERT INTO QPSDiscountSkuMappings (QpsDiscountId, OilTypeId, SkuId, StateId, CreatedBy, CreatedDate,IsActive)
		-- SELECT qdv.QpsDiscountID, Convert(Int,iqd.OilTypeId), Convert(Int,iqd.SkuId), Convert(Int,iqd.StateId),iqd.CreatedBy, GETUTCDATE() AS CreatedDate,1 AS IsActive
		-- FROM @QpsDisUpload iqd
		-- JOIN @QpdDisVar qdv ON qdv.QpsParentId = iqd.QpsParentId;
		-- ===============================================================
		INSERT INTO QPSDiscountSkuMappings (QpsDiscountId, OilTypeId, SkuId, StateId, CreatedBy, CreatedDate,IsActive)
		SELECT qdv.QpsDiscountID, Convert(Int,iqd.OilTypeId), Convert(Int,iqd.SkuId), Convert(Int,iqd.StateId), MIN(iqd.CreatedBy), GETUTCDATE() AS CreatedDate, 1 AS IsActive
		FROM @QpsDisUpload iqd
		JOIN @QpdDisVar qdv ON qdv.QpsParentId = iqd.QpsParentId
		GROUP BY qdv.QpsDiscountID, Convert(Int,iqd.OilTypeId), Convert(Int,iqd.SkuId), Convert(Int,iqd.StateId);

		INSERT INTO QPSSlabDetails (QpsDiscountId, FromRange, ToRange, Discount,CreatedBy,CreatedDate)
		SELECT MIN(qdv.QpsDiscountID), iqd.FromRange, iqd.ToRange, iqd.Discount,MIN(iqd.CreatedBy) ,GETUTCDATE() AS CreatedDate
		FROM @QpdDisVar qdv
		JOIN @QpsDisUpload iqd ON qdv.QpsParentId = iqd.QpsParentId
		GROUP BY iqd.QpsParentId,iqd.FromRange,iqd.ToRange,iqd.Discount;
				INSERT INTO @ErrorMessage (QpsRowId, Message)
		select QpsRowId, 'Created'
		from @QpsDisUpload
	END

	Select MIN(Q.StartDate)As StartDate,MIN(Q.EndDate)As EndDate,MIN(Q.SalesOrgCode)AS SalesOrgCode,MIN(Q.DistributionChannelCode)AS DistributionChannelCode,MIN(Q.DivisionCode)AS DivisionCode,MIN(Q.OilTypeName)AS OilTypeName,MIN(Q.SkuCode)AS SkuCode,MIN(Q.ZoneName)AS ZoneName,MIN(Q.StateName)AS StateName,MIN(Q.SlabCount)AS SlabCount,MIN(Q.FromRange)AS FromRange,MIN(Q.ToRange)AS ToRange,MIN(Q.Discount)AS Discount,MIN(Q.QpsParentId)AS QpsParentId,Q.QpsRowId, STRING_AGG(ISNULL(E.Message,''), ',') AS Message
	from @QpsDisUpload Q
	LEFT JOIN @ErrorMessage E ON Q.QpsRowId = E.QpsRowId
	GROUP BY Q.QpsRowId
	--Print 'Last End'
	DROP TABLE #QpsAggregatedData
End
GO
