
/****** Object:  StoredProcedure [dbo].[SetSku]    Script Date: 21-11-2022 17:40:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SetSku](
	@MaterialName nvarchar(150),
	@MaterialCode nvarchar(150),
	@OilTypeName nvarchar(100),
	@SalesOrganizationCode char(100),
	@DistributionChannelCode char(100),
	@DivisionCode varchar(100),
	--@PackType nvarchar(100),
	--@PackSizeQuantity decimal(18,2),
	--@PackSize nvarchar(100),
	@PackGroup nvarchar(100),
	@OilPackGroupType nvarchar(100),
	--@ProcessCost decimal(18,2),
	--@SubCategory char(100),
	@IsActive bit,
	--@UOM1_No decimal(18,2),
	--@Uom2_CaseToNumberConversion decimal(18,2),
	--@Uom3_MetricTonToNumberConversion decimal(18,2),
	@SapStatusId int,
	@CreatedBy bigint,
	--@MaterialTypeName  nvarchar(150),
	--@PremiumAmount decimal(18,2),
	--@StorageLocation  nvarchar(150),
	@BusinessLine  nvarchar(150),
	@ParentMaterialCode  nvarchar(150),
	@RelationalUOM nvarchar(150),
	@UOM nvarchar(150),
	@ConversionFactor1 decimal(18,2),
	@ConversionFactor2 decimal(18,2),
	@DiscountAutomationConversionUom nvarchar(150),
	@DiscountAutomationConversionRelationalUom nvarchar(150),
	@DiscountAutomationConversionFactor1 decimal(18,2),
	@DiscountAutomationConversionFactor2 decimal(18,2)
	--@OilTypeCode nvarchar(100)

    )

	as
DECLARE @DivisionId bigint, @OilTypeId bigint, @PackTypeId bigint=1, @PackGroupId bigint, @UomId bigint, @SubCategoryId bigint,@SkuId bigint,
@Conv1_UomId bigint,@Conv2_UomId bigint, @Conv3_UomId bigint,@Rel_UomId bigint,@MaterialTypeId bigint, @DiscountAutomationConversionUomId bigint,
@DiscountAutomationConversionRelationalUomId bigint
DECLARE @SalesOrganizationId bigint
DECLARE @DistributionChannelId bigint
set @DivisionCode = ltrim(rtrim(@DivisionCode))
set @SalesOrganizationCode = ltrim(rtrim(@SalesOrganizationCode))
set @DistributionChannelCode = ltrim(rtrim(@DistributionChannelCode))
set @OilTypeName = ltrim(rtrim(@OilTypeName))

set @MaterialName = ltrim(rtrim(@MaterialName))
set @MaterialCode = ltrim(rtrim(@MaterialCode))

Set NOCOUNT OFF
BEGIN TRANSACTION

IF NOT EXISTS(Select 1 FROM SalesOrganizations Where [Code]= @SalesOrganizationCode)
BEGIN
	ROLLBACK
	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@ConversionFactor1 as ConversionFactor1,@ConversionFactor2 as ConversionFactor2,@UOM as UOM,@RelationalUOM as RelationalUOM, @MaterialName as MaterialName,@MaterialCode as MaterialCode,@DivisionCode as DivisionCode,@OilTypeName as OilTypeName,@BusinessLine as BusinessLine,@ParentMaterialCode as ParentMaterialCode,@PackGroup as PackGroup,@OilPackGroupType as OilPackGroupType,@IsActive as IsActive, @DiscountAutomationConversionUom as DiscountAutomationConversionUom, @DiscountAutomationConversionRelationalUom as DiscountAutomationConversionRelationalUom, @DiscountAutomationConversionFactor1 as DiscountAutomationConversionFactor1, @DiscountAutomationConversionFactor2 as DiscountAutomationConversionFactor2, 'Failed, SalesOrganization Not Exist' as 'Message'      
	RETURN
END
ELSE
	Select @SalesOrganizationId = Id From SalesOrganizations Where [Code] = @SalesOrganizationCode

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@ConversionFactor1 as ConversionFactor1,@ConversionFactor2 as ConversionFactor2,@UOM as UOM,@RelationalUOM as RelationalUOM, @MaterialName as MaterialName,@MaterialCode as MaterialCode,@DivisionCode as DivisionCode,@OilTypeName as OilTypeName,@BusinessLine as BusinessLine,@ParentMaterialCode as ParentMaterialCode,@PackGroup as PackGroup,@OilPackGroupType as OilPackGroupType,@IsActive as IsActive, @DiscountAutomationConversionUom as DiscountAutomationConversionUom, @DiscountAutomationConversionRelationalUom as DiscountAutomationConversionRelationalUom, @DiscountAutomationConversionFactor1 as DiscountAutomationConversionFactor1, @DiscountAutomationConversionFactor2 as DiscountAutomationConversionFactor2, 'Failed In SalesOrganization' as 'Message'      
RETURN 
END 

IF NOT EXISTS(Select 1 FROM DistributionChannels Where [Code]= @DistributionChannelCode and [SalesOrganizationId]=@SalesOrganizationId)
BEGIN
	ROLLBACK
	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@ConversionFactor1 as ConversionFactor1,@ConversionFactor2 as ConversionFactor2,@UOM as UOM,@RelationalUOM as RelationalUOM, @MaterialName as MaterialName,@MaterialCode as MaterialCode,@DivisionCode as DivisionCode,@OilTypeName as OilTypeName,@BusinessLine as BusinessLine,@ParentMaterialCode as ParentMaterialCode,@PackGroup as PackGroup,@OilPackGroupType as OilPackGroupType,@IsActive as IsActive, @DiscountAutomationConversionUom as DiscountAutomationConversionUom, @DiscountAutomationConversionRelationalUom as DiscountAutomationConversionRelationalUom, @DiscountAutomationConversionFactor1 as DiscountAutomationConversionFactor1, @DiscountAutomationConversionFactor2 as DiscountAutomationConversionFactor2, 'Failed, DistributionChannel Not Exist' as 'Message'      
	RETURN
END
ELSE
	Select @DistributionChannelId = ID From DistributionChannels Where [Code] = @DistributionChannelCode and [SalesOrganizationId]=@SalesOrganizationId

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@ConversionFactor1 as ConversionFactor1,@ConversionFactor2 as ConversionFactor2,@UOM as UOM,@RelationalUOM as RelationalUOM, @MaterialName as MaterialName,@MaterialCode as MaterialCode,@DivisionCode as DivisionCode,@OilTypeName as OilTypeName,@BusinessLine as BusinessLine,@ParentMaterialCode as ParentMaterialCode,@PackGroup as PackGroup,@OilPackGroupType as OilPackGroupType,@IsActive as IsActive, @DiscountAutomationConversionUom as DiscountAutomationConversionUom, @DiscountAutomationConversionRelationalUom as DiscountAutomationConversionRelationalUom, @DiscountAutomationConversionFactor1 as DiscountAutomationConversionFactor1, @DiscountAutomationConversionFactor2 as DiscountAutomationConversionFactor2, 'Failed In DistributionChannel' as 'Message'      
RETURN 
END 

IF NOT EXISTS(SELECT 1 FROM Divisions WHERE [Code]= @DivisionCode and DistributionChannelId=@DistributionChannelId and SalesOrganizationId=@SalesOrganizationId)
BEGIN
	ROLLBACK
		SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@ConversionFactor1 as ConversionFactor1,@ConversionFactor2 as ConversionFactor2,@UOM as UOM,@RelationalUOM as RelationalUOM, @MaterialName as MaterialName,@MaterialCode as MaterialCode,@DivisionCode as DivisionCode,@OilTypeName as OilTypeName,@BusinessLine as BusinessLine,@ParentMaterialCode as ParentMaterialCode,@PackGroup as PackGroup,@OilPackGroupType as OilPackGroupType,@IsActive as IsActive, @DiscountAutomationConversionUom as DiscountAutomationConversionUom, @DiscountAutomationConversionRelationalUom as DiscountAutomationConversionRelationalUom, @DiscountAutomationConversionFactor1 as DiscountAutomationConversionFactor1, @DiscountAutomationConversionFactor2 as DiscountAutomationConversionFactor2, 'Failed, Division Not Exist' as 'Message'      
	RETURN
END
ELSE
	SELECT @DivisionId = Id From Divisions WHERE [Code] = @DivisionCode and DistributionChannelId=@DistributionChannelId and SalesOrganizationId=@SalesOrganizationId

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  
		SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@ConversionFactor1 as ConversionFactor1,@ConversionFactor2 as ConversionFactor2,@UOM as UOM,@RelationalUOM as RelationalUOM, @MaterialName as MaterialName,@MaterialCode as MaterialCode,@DivisionCode as DivisionCode,@OilTypeName as OilTypeName,@BusinessLine as BusinessLine,@ParentMaterialCode as ParentMaterialCode,@PackGroup as PackGroup,@OilPackGroupType as OilPackGroupType,@IsActive as IsActive, @DiscountAutomationConversionUom as DiscountAutomationConversionUom, @DiscountAutomationConversionRelationalUom as DiscountAutomationConversionRelationalUom, @DiscountAutomationConversionFactor1 as DiscountAutomationConversionFactor1, @DiscountAutomationConversionFactor2 as DiscountAutomationConversionFactor2, 'Failed In Division' as 'Message'      
	RETURN 
END 

IF NOT EXISTS(SELECT 1 FROM [OilTypes] WHERE [Name]= @OilTypeName and DivisionId=@DivisionId and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId)
BEGIN
	ROLLBACK
		SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@ConversionFactor1 as ConversionFactor1,@ConversionFactor2 as ConversionFactor2,@UOM as UOM,@RelationalUOM as RelationalUOM, @MaterialName as MaterialName,@MaterialCode as MaterialCode,@DivisionCode as DivisionCode,@OilTypeName as OilTypeName,@BusinessLine as BusinessLine,@ParentMaterialCode as ParentMaterialCode,@PackGroup as PackGroup,@OilPackGroupType as OilPackGroupType,@IsActive as IsActive, @DiscountAutomationConversionUom as DiscountAutomationConversionUom, @DiscountAutomationConversionRelationalUom as DiscountAutomationConversionRelationalUom, @DiscountAutomationConversionFactor1 as DiscountAutomationConversionFactor1, @DiscountAutomationConversionFactor2 as DiscountAutomationConversionFactor2, 'Failed, Oiltype Not exists' as 'Message'      
	RETURN
END
ELSE
	SELECT @OilTypeId = Id From [OilTypes] WHERE [Name]= @OilTypeName and DivisionId=@DivisionId and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  
		SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@ConversionFactor1 as ConversionFactor1,@ConversionFactor2 as ConversionFactor2,@UOM as UOM,@RelationalUOM as RelationalUOM, @MaterialName as MaterialName,@MaterialCode as MaterialCode,@DivisionCode as DivisionCode,@OilTypeName as OilTypeName,@BusinessLine as BusinessLine,@ParentMaterialCode as ParentMaterialCode,@PackGroup as PackGroup,@OilPackGroupType as OilPackGroupType,@IsActive as IsActive, @DiscountAutomationConversionUom as DiscountAutomationConversionUom, @DiscountAutomationConversionRelationalUom as DiscountAutomationConversionRelationalUom, @DiscountAutomationConversionFactor1 as DiscountAutomationConversionFactor1, @DiscountAutomationConversionFactor2 as DiscountAutomationConversionFactor2, 'Failed In OilType' as 'Message'      
	RETURN 
END 

IF EXISTS(SELECT 1 FROM [PackGroups] WHERE [Name]= @PackGroup)
BEGIN
	SELECT @PackGroupId = Id From [PackGroups] WHERE [Name] = @PackGroup
END
ELSE
		SELECT @PackGroupId = 0


IF NOT EXISTS(SELECT 1 FROM [Skus] WHERE [SkuCode]= @MaterialCode and [OilTypeId]=@OilTypeId and [DivisionId]=@DivisionId and [SalesOrganizationId]=@SalesOrganizationId and [DistributionChannelId]=@DistributionChannelId)
BEGIN

	SELECT @DiscountAutomationConversionUomId = Id From [Uoms] WHERE [SAPName] = @DiscountAutomationConversionUom
	SELECT @DiscountAutomationConversionRelationalUomId = Id From [Uoms] WHERE [SAPName] = @DiscountAutomationConversionRelationalUom

	INSERT INTO [Skus]([SkuName],[SkuCode],[OilTypeId],[IsActive],[BusinessLine],[DivisionId],[PackTypeId],[PackGroupId],[UomId],[SubCategoryId],[SapStatusId],[LitreConversion],
	[IsSAPData],[IsSAPDataSyncOrNot],[DivisionGroupId],[CreatedBy],[CreatedDate],[ParentMaterialCode],[SalesOrganizationId],[DistributionChannelId],[IsBaseSku],[IsRequiredToAttachTT],[ProcessCost],[Quantity],[GrossWeight],[DiscountAutomationConversionUomId],[DiscountAutomationConversionRelationUomId],[DiscountAutomationConversionFactor1],[DiscountAutomationConversionFactor2])
           VALUES (@MaterialName,@MaterialCode,@OilTypeId,@Isactive,@BusinessLine,@DivisionId,@PackTypeId,@PackGroupId,@UomId,@SubCategoryId
		   ,@SapStatusId,0,0,0,0,@CreatedBy,getdate(),@ParentMaterialCode,@SalesOrganizationId,@DistributionChannelId,0,0,0,0,0,@DiscountAutomationConversionUomId,@DiscountAutomationConversionRelationalUomId,@DiscountAutomationConversionFactor1,@DiscountAutomationConversionFactor2);

	SELECT @SkuId = Id From [Skus] WHERE [SkuCode]= @MaterialCode and [OilTypeId]=@OilTypeId and [DivisionId]=@DivisionId and [SalesOrganizationId]=@SalesOrganizationId and [DistributionChannelId]=@DistributionChannelId

	IF @SkuId>0
	BEGIN
		
		UPDATE [Skus]
        SET [OilPackGroupTypeId] = CASE @OilPackGroupType
                                    WHEN 'All' THEN 0
                                    WHEN 'BP' THEN 1
                                    WHEN 'CP' THEN 2
                                    ELSE NULL
                                    END
        WHERE [Id] = @SkuId;

		SELECT @Conv1_UomId = Id From [Uoms] WHERE [SAPName] = @UOM
		SELECT @Rel_UomId = Id From [Uoms] WHERE [SAPName] = @RelationalUOM
	
		INSERT INTO [SkuUomMappings]([SkuId],[UomId],[RelationUomId],[ConversionFactor1],[ConversionFactor2],[CreatedBy],[CreatedDate],ConversionFactor)
		VALUES (@SkuId,@Conv1_UomId,@Rel_UomId,@ConversionFactor1,@ConversionFactor2,@CreatedBy,getdate(),0);

		SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@ConversionFactor1 as ConversionFactor1,@ConversionFactor2 as ConversionFactor2,@UOM as UOM,@RelationalUOM as RelationalUOM, @MaterialName as MaterialName,@MaterialCode as MaterialCode,@DivisionCode as DivisionCode,@OilTypeName as OilTypeName,@BusinessLine as BusinessLine,@ParentMaterialCode as ParentMaterialCode,@PackGroup as PackGroup,@OilPackGroupType as OilPackGroupType,@IsActive as IsActive, @DiscountAutomationConversionUom as DiscountAutomationConversionUom, @DiscountAutomationConversionRelationalUom as DiscountAutomationConversionRelationalUom, @DiscountAutomationConversionFactor1 as DiscountAutomationConversionFactor1, @DiscountAutomationConversionFactor2 as DiscountAutomationConversionFactor2, 'Success' as 'Message' 
	END
	ELSE
		SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@ConversionFactor1 as ConversionFactor1,@ConversionFactor2 as ConversionFactor2,@UOM as UOM,@RelationalUOM as RelationalUOM, @MaterialName as MaterialName,@MaterialCode as MaterialCode,@DivisionCode as DivisionCode,@OilTypeName as OilTypeName,@BusinessLine as BusinessLine,@ParentMaterialCode as ParentMaterialCode,@PackGroup as PackGroup,@OilPackGroupType as OilPackGroupType,@IsActive as IsActive, @DiscountAutomationConversionUom as DiscountAutomationConversionUom, @DiscountAutomationConversionRelationalUom as DiscountAutomationConversionRelationalUom, @DiscountAutomationConversionFactor1 as DiscountAutomationConversionFactor1, @DiscountAutomationConversionFactor2 as DiscountAutomationConversionFactor2, 'Failed In Sku' as 'Message'    
END
ELSE
BEGIN  	
	
	SELECT @DiscountAutomationConversionUomId = Id From [Uoms] WHERE [SAPName] = @DiscountAutomationConversionUom
	SELECT @DiscountAutomationConversionRelationalUomId = Id From [Uoms] WHERE [SAPName] = @DiscountAutomationConversionRelationalUom

	UPDATE [dbo].[Skus]
	   SET [SkuName] = @MaterialName,[SkuCode] = @MaterialCode,[OilTypeId] = @OilTypeId,[BusinessLine] = @BusinessLine,[DivisionId] = @DivisionId,[PackTypeId] = @PackTypeId
	   ,[PackGroupId] = @PackGroupId,[UomId] = @UomId,[SubCategoryId] =@SubCategoryId,[IsActive]=@Isactive,[ModifiedBy] = @CreatedBy,[ModifiedDate] = getdate(),[ParentMaterialCode] = @ParentMaterialCode,
	   [DiscountAutomationConversionUomId] = @DiscountAutomationConversionUomId, [DiscountAutomationConversionRelationUomId] = @DiscountAutomationConversionRelationalUomId, [DiscountAutomationConversionFactor1] = @DiscountAutomationConversionFactor1, [DiscountAutomationConversionFactor2] = @DiscountAutomationConversionFactor2
	   WHERE [SkuCode]= @MaterialCode and [OilTypeId]=@OilTypeId and [DivisionId]=@DivisionId and [SalesOrganizationId]=@SalesOrganizationId and [DistributionChannelId]=@DistributionChannelId

	   SELECT @SkuId = Id From [Skus] WHERE [SkuCode]= @MaterialCode and [OilTypeId]=@OilTypeId and [DivisionId]=@DivisionId and [SalesOrganizationId]=@SalesOrganizationId and [DistributionChannelId]=@DistributionChannelId

	   IF @SkuId>0
	BEGIN
		
		UPDATE [Skus]
        SET [OilPackGroupTypeId] = CASE @OilPackGroupType
                                    WHEN 'All' THEN 0
                                    WHEN 'BP' THEN 1
                                    WHEN 'CP' THEN 2
                                    ELSE NUll
                                    END
        WHERE [Id] = @SkuId;

		SELECT @Conv1_UomId = Id From [Uoms] WHERE [SAPName] = @UOM
		SELECT @Rel_UomId = Id From [Uoms] WHERE [SAPName] = @RelationalUOM
	
		INSERT INTO [SkuUomMappings]([SkuId],[UomId],[RelationUomId],[ConversionFactor1],[ConversionFactor2],[CreatedBy],[CreatedDate],ConversionFactor)
		VALUES (@SkuId,@Conv1_UomId,@Rel_UomId,@ConversionFactor1,@ConversionFactor2,@CreatedBy,getdate(),0);

		SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@ConversionFactor1 as ConversionFactor1,@ConversionFactor2 as ConversionFactor2,@UOM as UOM,@RelationalUOM as RelationalUOM, @MaterialName as MaterialName,@MaterialCode as MaterialCode,@DivisionCode as DivisionCode,@OilTypeName as OilTypeName,@BusinessLine as BusinessLine,@ParentMaterialCode as ParentMaterialCode,@PackGroup as PackGroup,@OilPackGroupType as OilPackGroupType,@IsActive as IsActive, @DiscountAutomationConversionUom as DiscountAutomationConversionUom, @DiscountAutomationConversionRelationalUom as DiscountAutomationConversionRelationalUom, @DiscountAutomationConversionFactor1 as DiscountAutomationConversionFactor1, @DiscountAutomationConversionFactor2 as DiscountAutomationConversionFactor2, 'Success' as 'Message' 
	END

	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@ConversionFactor1 as ConversionFactor1,@ConversionFactor2 as ConversionFactor2,@UOM as UOM,@RelationalUOM as RelationalUOM, @MaterialName as MaterialName,@MaterialCode as MaterialCode,@DivisionCode as DivisionCode,@OilTypeName as OilTypeName,@BusinessLine as BusinessLine,@ParentMaterialCode as ParentMaterialCode,@PackGroup as PackGroup,@OilPackGroupType as OilPackGroupType,@IsActive as IsActive, @DiscountAutomationConversionUom as DiscountAutomationConversionUom, @DiscountAutomationConversionRelationalUom as DiscountAutomationConversionRelationalUom, @DiscountAutomationConversionFactor1 as DiscountAutomationConversionFactor1, @DiscountAutomationConversionFactor2 as DiscountAutomationConversionFactor2, 'Record Updated' as 'Message' 
END 

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
	SELECT @SalesOrganizationCode as SalesOrganizationCode,@DistributionChannelCode as DistributionChannelCode,@ConversionFactor1 as ConversionFactor1,@ConversionFactor2 as ConversionFactor2,@UOM as UOM,@RelationalUOM as RelationalUOM, @MaterialName as MaterialName,@MaterialCode as MaterialCode,@DivisionCode as DivisionCode,@OilTypeName as OilTypeName,@BusinessLine as BusinessLine,@ParentMaterialCode as ParentMaterialCode,@PackGroup as PackGroup,@OilPackGroupType as OilPackGroupType,@IsActive as IsActive, @DiscountAutomationConversionUom as DiscountAutomationConversionUom, @DiscountAutomationConversionRelationalUom as DiscountAutomationConversionRelationalUom, @DiscountAutomationConversionFactor1 as DiscountAutomationConversionFactor1, @DiscountAutomationConversionFactor2 as DiscountAutomationConversionFactor2, 'Failed in Sku' as 'Message' 
RETURN 
END 
COMMIT






GO
