USE [AdaniDb]
GO
/****** Object:  StoredProcedure [dbo].[SetUserDivisionMapping]    Script Date: 09-12-2025 12:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SetUserDivisionMapping](
	@UserCode varchar(100),
	@SalesOrganizationCode varchar(100),
	@DistributionChannelCode varchar(100),
	@DivisionCode varchar(100),
	@RoleName varchar(100),
	@CreatedBy bigint,
	@SaudaLimit decimal,
	@ContractvalidityperiodDays INT,      -- ADDED
	@PlantDepot VARCHAR(MAX)              -- ADDED
    )
AS
DECLARE @SalesOrganizationId bigint,
@DistributionChannelId bigint,
@DivisionId bigint,
@UserId bigint,
@RoleId bigint

DECLARE @PlantItem VARCHAR(200),
        @PlantPos INT,
        @DepotId BIGINT,
        @UserDivisionId BIGINT,
        @PlantErrorMsg VARCHAR(MAX) = ''

set @UserCode = ltrim(rtrim(@UserCode))
set @SalesOrganizationCode = ltrim(rtrim(@SalesOrganizationCode))
set @DistributionChannelCode = ltrim(rtrim(@DistributionChannelCode))
set @DivisionCode = ltrim(rtrim(@DivisionCode))
set @CreatedBy = ltrim(rtrim(@CreatedBy))

Set NOCOUNT OFF

BEGIN TRANSACTION


--SalesOrganization begins

IF NOT EXISTS(Select 1 FROM SalesOrganizations Where [Code]= @SalesOrganizationCode)
BEGIN
	ROLLBACK
	SELECT
	@SalesOrganizationCode as SalesOrganizationCode,
	@RoleName as RoleName,
	@DistributionChannelCode as DistributionChannelCode,
	@DivisionCode as DivisionCode,
	@UserCode as UserCode,
	@SaudaLimit as SaudaLimit,
	@ContractValidityPeriodDays AS ContractValidityPeriodDays,
	@PlantDepot AS PlantDepot,
	'Failed, SalesOrganization Not Exist' as 'Message'
	RETURN
END
ELSE
	Select @SalesOrganizationId = ID From SalesOrganizations Where [Code] = @SalesOrganizationCode

IF @@ERROR <> 0
BEGIN
ROLLBACK
	SELECT @SalesOrganizationCode as SalesOrganizationCode,
	@RoleName as RoleName,
	@DistributionChannelCode as DistributionChannelCode,
	@DivisionCode as DivisionCode,
	@UserCode as UserCode,
	@SaudaLimit as SaudaLimit,
	@ContractValidityPeriodDays AS ContractValidityPeriodDays,
	@PlantDepot AS PlantDepot,

	'Failed In SalesOrganization' as 'Message'
RETURN
END
--SalesOrganization Ends


--DistributionChannel begins

IF NOT EXISTS(Select 1 FROM DistributionChannels Where [Code]= @DistributionChannelCode and SalesOrganizationId=@SalesOrganizationId)
BEGIN
	ROLLBACK
	SELECT
	@SalesOrganizationCode as SalesOrganizationCode,
	@RoleName as RoleName,
	@DistributionChannelCode as DistributionChannelCode,
	@DivisionCode as DivisionCode,
	@UserCode as UserCode,
	@SaudaLimit as SaudaLimit,
	@ContractValidityPeriodDays AS ContractValidityPeriodDays,
	@PlantDepot AS PlantDepot,
	'Failed, Distribution Channel Not Exist' as 'Message'
	RETURN
END
ELSE
	Select @DistributionChannelId = ID From DistributionChannels Where [Code] = @DistributionChannelCode and SalesOrganizationId=@SalesOrganizationId

IF @@ERROR <> 0
BEGIN
ROLLBACK
	SELECT
	@SalesOrganizationCode as SalesOrganizationCode,
	@RoleName as RoleName,
	@DistributionChannelCode as DistributionChannelCode,
	@DivisionCode as DivisionCode,@UserCode as UserCode,
	@SaudaLimit as SaudaLimit,
	@ContractValidityPeriodDays AS ContractValidityPeriodDays,
	@PlantDepot AS PlantDepot,
	'Failed In Distribution Channel' as 'Message'
RETURN
END
--DistributionChannel Ends

--Division begins

IF NOT EXISTS(Select 1 FROM Divisions Where [Code]= @DivisionCode and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId  )
BEGIN
	ROLLBACK
	SELECT
	@SalesOrganizationCode as SalesOrganizationCode,
	@RoleName as RoleName,
	@DistributionChannelCode as DistributionChannelCode,
	@DivisionCode as DivisionCode,
	@UserCode as UserCode,
	@SaudaLimit as SaudaLimit,
	@ContractValidityPeriodDays AS ContractValidityPeriodDays,
	@PlantDepot AS PlantDepot,
	'Failed, Division Not Exist' as 'Message'
	RETURN
END
ELSE
	Select @DivisionId = ID From Divisions Where [Code] = @DivisionCode and SalesOrganizationId=@SalesOrganizationId and DistributionChannelId=@DistributionChannelId

IF @@ERROR <> 0
BEGIN
ROLLBACK
	SELECT
	@SalesOrganizationCode as SalesOrganizationCode,
	@RoleName as RoleName,
	@DistributionChannelCode as DistributionChannelCode,
	@DivisionCode as DivisionCode,
	@UserCode as UserCode,
	@SaudaLimit as SaudaLimit,
	@ContractValidityPeriodDays AS ContractValidityPeriodDays,
	@PlantDepot AS PlantDepot,
	'Failed In Division' as 'Message'
RETURN
END
--Division Ends

--Role Begins

IF(@RoleName='Distributor')
BEGIN
	SELECT @RoleName='Dealer'
END

IF NOT EXISTS(SELECT 1 FROM [Roles] Where [Name]= @RoleName)
BEGIN
	ROLLBACK
	SELECT
	@SalesOrganizationCode as SalesOrganizationCode,
	@RoleName as RoleName,
	@DistributionChannelCode as DistributionChannelCode,
	@DivisionCode as DivisionCode,
	@UserCode as UserCode,
	@SaudaLimit as SaudaLimit,
	@ContractValidityPeriodDays AS ContractValidityPeriodDays,
	@PlantDepot AS PlantDepot,
	'Failed, Role Not Exists' as 'Message'
	RETURN
END
ELSE
	SELECT @RoleId = Id From [Roles] Where [Name] = @RoleName

IF @@ERROR <> 0
BEGIN
	ROLLBACK
	SELECT
	@SalesOrganizationCode as SalesOrganizationCode,
	@RoleName as RoleName,
	@DistributionChannelCode as DistributionChannelCode,
	@DivisionCode as DivisionCode,
	@UserCode as UserCode,
	@SaudaLimit as SaudaLimit,
	@ContractValidityPeriodDays AS ContractValidityPeriodDays,
	@PlantDepot AS PlantDepot,
	'Failed In Roles' as 'Message'
	RETURN
END

--Role Ends


--User begins
IF(@RoleId=19)
BEGIN

IF NOT EXISTS(Select 1 FROM Users u join UserRoles ur on u.Id=ur.UserId Where [ShipToPartyCode]= @UserCode and ur.RoleId=@RoleId)
BEGIN
	ROLLBACK
	SELECT
	@SalesOrganizationCode as SalesOrganizationCode,
	@RoleName as RoleName,
	@DistributionChannelCode as DistributionChannelCode,
	@DivisionCode as DivisionCode,
	@UserCode as UserCode,
	@SaudaLimit as SaudaLimit,
	@ContractValidityPeriodDays AS ContractValidityPeriodDays,
	@PlantDepot AS PlantDepot,
	'Failed, User Not Exist' as 'Message'
	RETURN
END
ELSE
	Select @UserId = u.Id From Users u join UserRoles ur on u.Id=ur.UserId Where [ShipToPartyCode]= @UserCode and ur.RoleId=@RoleId

IF @@ERROR <> 0
BEGIN
ROLLBACK
	SELECT @SalesOrganizationCode as SalesOrganizationCode,
	@RoleName as RoleName,
	@DistributionChannelCode as DistributionChannelCode,
	@DivisionCode as DivisionCode,
	@UserCode as UserCode,
	@SaudaLimit as SaudaLimit,
	@ContractValidityPeriodDays AS ContractValidityPeriodDays,
	@PlantDepot AS PlantDepot,
	'Failed In Users' as 'Message'
RETURN
END
END
ELSE
BEGIN

IF NOT EXISTS(Select 1 FROM Users u join UserRoles ur on u.Id=ur.UserId Where [Code]= @UserCode and ur.RoleId=@RoleId)
BEGIN
	ROLLBACK
	SELECT
	@SalesOrganizationCode as SalesOrganizationCode,
	@RoleName as RoleName,
	@DistributionChannelCode as DistributionChannelCode,
	@DivisionCode as DivisionCode,
	@UserCode as UserCode,
	@SaudaLimit as SaudaLimit,
	@ContractValidityPeriodDays AS ContractValidityPeriodDays,
	@PlantDepot AS PlantDepot,
	'Failed, User Not Exist' as 'Message'
	RETURN
END
ELSE
	Select @UserId = u.Id From Users u join UserRoles ur on u.Id=ur.UserId Where [Code]= @UserCode and ur.RoleId=@RoleId

IF @@ERROR <> 0
BEGIN
ROLLBACK
	SELECT
	@SalesOrganizationCode as SalesOrganizationCode,
	@RoleName as RoleName,
	@DistributionChannelCode as DistributionChannelCode,
	@DivisionCode as DivisionCode,
	@UserCode as UserCode,
	@SaudaLimit as SaudaLimit,
	@ContractValidityPeriodDays AS ContractValidityPeriodDays,
	@PlantDepot AS PlantDepot,
	'Failed In Users' as 'Message'
RETURN
END
END

DECLARE @UpdatedIds TABLE (Id INT);
DECLARE @InsertedIds TABLE (Id INT);

IF EXISTS (
    SELECT 1
    FROM UserDivisionMappings
    WHERE UserId = @UserId
      AND SalesOrganizationId = @SalesOrganizationId
      AND DistributionChannelId = @DistributionChannelId
      AND DivisionId = @DivisionId
)
BEGIN

    UPDATE UserDivisionMappings
    SET
        SaudaLimit = @SaudaLimit,
        SaudaValidityPeriod = @ContractvalidityperiodDays,
        ModifiedBy = @CreatedBy,
        ModifiedDate = GETDATE()
    OUTPUT inserted.Id INTO @UpdatedIds
    WHERE UserId = @UserId
      AND SalesOrganizationId = @SalesOrganizationId
      AND DistributionChannelId = @DistributionChannelId
      AND DivisionId = @DivisionId;


    SELECT TOP 1 @UserDivisionId = Id FROM @UpdatedIds;

    -- Success response
    SELECT
        @SalesOrganizationCode AS SalesOrganizationCode,
        @RoleName AS RoleName,
        @DistributionChannelCode AS DistributionChannelCode,
        @DivisionCode AS DivisionCode,
        @UserCode AS UserCode,
        @SaudaLimit AS SaudaLimit,
        @ContractvalidityperiodDays AS ContractvalidityperiodDays,
		@PlantDepot AS PlantDepot,                                 
        'Update Successfully' AS Message;
END
ELSE
BEGIN

    INSERT INTO UserDivisionMappings
    (
        UserId,
        SalesOrganizationId,
        DistributionChannelId,
        DivisionId,
        SaudaLimit,
        SaudaValidityPeriod,
        CreatedBy,
        CreatedDate
    )
    OUTPUT inserted.Id INTO @InsertedIds
    VALUES
    (
        @UserId,
        @SalesOrganizationId,
        @DistributionChannelId,
        @DivisionId,
        @SaudaLimit,
        @ContractvalidityperiodDays,
        @CreatedBy,
        GETDATE()
    );

    SELECT TOP 1 @UserDivisionId = Id FROM @InsertedIds;

    -- Success response
    SELECT
        @SalesOrganizationCode AS SalesOrganizationCode,
        @RoleName AS RoleName,
        @DistributionChannelCode AS DistributionChannelCode,
        @DivisionCode AS DivisionCode,
        @UserCode AS UserCode,
        @SaudaLimit AS SaudaLimit,
        @ContractvalidityperiodDays AS ContractvalidityperiodDays,
		@PlantDepot AS PlantDepot,                                 

        'Success' AS Message;
END


IF @@ERROR <> 0
BEGIN
ROLLBACK
	SELECT
	@SalesOrganizationCode as SalesOrganizationCode,
	@RoleName as RoleName,
	@DistributionChannelCode as DistributionChannelCode,
	@DivisionCode as DivisionCode,
	@UserCode as UserCode,
	@SaudaLimit as SaudaLimit,
	@ContractValidityPeriodDays AS ContractValidityPeriodDays,
	@PlantDepot AS PlantDepot,
	'Failed in UserDivisionMapping' as 'Message'
RETURN
END

SET @PlantDepot = LTRIM(RTRIM(@PlantDepot));

IF @PlantDepot IS NOT NULL AND LEN(@PlantDepot) > 0
BEGIN

    DECLARE @PlantTable TABLE (PlantCode VARCHAR(100));

    INSERT INTO @PlantTable(PlantCode)
    SELECT DISTINCT LTRIM(RTRIM([value]))
    FROM STRING_SPLIT(@PlantDepot, ',')
    WHERE LTRIM(RTRIM([value])) <> '';  -- remove empty values

    SELECT @PlantErrorMsg = STRING_AGG(P.PlantCode, ',')
    FROM @PlantTable P
    LEFT JOIN Depots D ON D.Code = P.PlantCode
    WHERE D.Id IS NULL;

    IF @PlantErrorMsg IS NOT NULL AND LEN(@PlantErrorMsg) > 0
    BEGIN
        ROLLBACK;

        SELECT
            @SalesOrganizationCode   AS SalesOrganizationCode,
            @RoleName                AS RoleName,
            @DistributionChannelCode AS DistributionChannelCode,
            @DivisionCode            AS DivisionCode,
            @UserCode                AS UserCode,
            @SaudaLimit              AS SaudaLimit,
            @ContractvalidityperiodDays AS ContractvalidityperiodDays,
            @PlantDepot              AS PlantDepots,
            'Failed, Invalid Plant/Depot Codes: ' + @PlantErrorMsg AS Message;

        RETURN;
    END


    INSERT INTO UserDivisionDepotMappings(UserDivisionId,DepotId,CreatedBy,CreatedDate)
    SELECT
        @UserDivisionId,D.Id,@CreatedBy,GETDATE()
    FROM @PlantTable P
    INNER JOIN Depots D ON D.Code = P.PlantCode
    WHERE NOT EXISTS (SELECT 1 FROM UserDivisionDepotMappings
        WHERE UserDivisionId = @UserDivisionId AND DepotId = D.Id );
END


COMMIT

GO
