
/****** Object:  StoredProcedure [dbo].[SetUser]    Script Date: 08-10-2022 15:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER Procedure [dbo].[SetUser](
	@Code nvarchar(100),
	@Name nvarchar(100),
	@MobileNumber nvarchar(100),
	@Email nvarchar(100),
	@ZoneName nvarchar(100),
	@StateName nvarchar(100),
	@DistrictName nvarchar(100),
	@CityName nvarchar(100),
	@Pincode nvarchar(100),
	--@Address nvarchar(max),
	@Address1 nvarchar(max),
	@Address2 nvarchar(max),
	@Designation nvarchar(100),
	@RoleName nvarchar(100),
	@IsActive bit,
	@CreatedBy bigint,	
	--@SalesOrganizationCode nvarchar(100),
	--@DistributionChannelCode nvarchar(100),
	--@DivisionCode nvarchar(100),
	@CustomerCode nvarchar(max),
	@Password nvarchar(100),
	@EncryptedPassword nvarchar(max),
	--@OrgReportingToUserCode nvarchar(max),
	--@SalesReportingToUserCode nvarchar(max),
	@ReportingToUserCode nvarchar(max)
	--@CompanyCode nvarchar(100),
	--@SaudaBookingType nvarchar(max)
    )
	as
DECLARE @ZoneId bigint, @StateId bigint,  @DistrictId bigint,@CityId bigint,@RoleId bigint,@UserId bigint, @SaudaBookingTypeId bigint,
@CustomerId bigint,@DealerRoleId bigint,@BrokerRoleId bigint,@BDORoleId bigint,@OrganizationReportingToUserId bigint
,@SalesReportingToUserId bigint,@SalesRepToUserRoleId bigint,@OrgRepToUserRoleId bigint,@KAMRoleId bigint,@OrgRepToHierarchyId bigint,@SalesRepToHierarchyId bigint
,@InputUserHierarchyId bigint,@SalesProcessId bigint,@OrganizationProcessId bigint,@IsOrgRepValid bit,@IsSalesRepValid bit,@CustomerGroupOneId bigint,@CustomerGroupTwoId bigint,@adminCode varchar(max)

set @Code = ltrim(rtrim(@Code))
set @Name = ltrim(rtrim(@Name))
set @MobileNumber = ltrim(rtrim(@MobileNumber))
set @Email = ltrim(rtrim(@Email))
set @ZoneName = ltrim(rtrim(@ZoneName))
set @StateName = ltrim(rtrim(@StateName))
--set @TerritoryName = ltrim(rtrim(@TerritoryName))
set @DistrictName = ltrim(rtrim(@DistrictName))
set @CityName = ltrim(rtrim(@CityName))
set @Pincode = ltrim(rtrim(@Pincode))
set @Address1 = ltrim(rtrim(@Address1))
set @Address2 = ltrim(rtrim(@Address2))
set @Designation = ltrim(rtrim(@Designation))
set @RoleName = ltrim(rtrim(@RoleName))
--SET @SalesOrganizationCode = ltrim(rtrim(@SalesOrganizationCode))
--SET @DistributionChannelCode = ltrim(rtrim(@DistributionChannelCode))
--set @DivisionCode = ltrim(rtrim(@DivisionCode))
--set @Headquarters = ltrim(rtrim(@Headquarters))
--set @CustomerGroupOneName = ltrim(rtrim(@CustomerGroupOneName))
--set @CustomerGroupTwoName = ltrim(rtrim(@CustomerGroupTwoName))

SET  @OrganizationProcessId=1
SET @SalesProcessId=2

Set NOCOUNT OFF

BEGIN TRANSACTION

--Zone begins
IF NOT EXISTS(SELECT 1 FROM [Zones] Where [Name]= @ZoneName)
BEGIN
	ROLLBACK
		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive, 'Failed, Zone Not Exist' as 'Message'      
	RETURN
END
ELSE
	SELECT @ZoneId = Id From [Zones] Where [Name] = @ZoneName

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  	 
		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed In State' as 'Message'    
	RETURN 
END 
--Zone Ends


--State begins
IF NOT EXISTS(Select 1 FROM States Where [StateName]= @StateName)
BEGIN
	ROLLBACK
		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive, 'State Not Exist' as 'Message'      
	RETURN
END
ELSE
    Select @StateId = Id From States Where StateName = @StateName

IF @@ERROR <> 0 
BEGIN     
ROLLBACK  
	SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive, 'Failed In State' as 'Message'      
RETURN 
END 


IF NOT EXISTS(SELECT 1 FROM States s,ZoneStateMappings zs,Zones z WHERE z.Id = zs.ZoneId and s.Id = zs.StateId and s.Id = @StateId and z.Id = @ZoneId and  s.StateName= @StateName)
BEGIN
	ROLLBACK
		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive, 'State not mapped with Zone' as 'Message'     
	RETURN 
END
ELSE
    SELECT @StateId = s.Id FROM States s,ZoneStateMappings zs,Zones z WHERE z.Id = zs.ZoneId and s.Id = zs.StateId and s.Id = @StateId and z.Id = @ZoneId and  s.StateName= @StateName

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  
		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive, 'Failed In State' as 'Message'      
	RETURN 
END 
--State Ends

--District Begins
IF NOT EXISTS(SELECT 1 FROM States s, Districts d WHERE d.StateId = s.Id and d.StateId = @StateID and d.DistrictName = @DistrictName)
BEGIN
	ROLLBACK
		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed, District Not Exist' as 'Message' 
	RETURN
END
ELSE
	BEGIN
	  SELECT @DistrictID = d.id FROM States s, Districts d WHERE d.StateId = s.Id and d.StateId = @StateID and d.DistrictName = @DistrictName
	END

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  
		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed In District' as 'Message' 
	RETURN 
END 
--District Ends

--Territory Begins
--IF NOT EXISTS(SELECT 1 FROM States s, Territories t WHERE t.StateId = s.Id and t.StateId = @StateID and t.Name = @TerritoryName)
--BEGIN
--	ROLLBACK
--		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed, Territory Not Exist' as 'Message' 
--	RETURN
--END
--ELSE
--	BEGIN
--		SELECT @TerritoryID = d.id FROM States s, Territories d WHERE d.StateId = s.Id and d.StateId = @StateID and d.Name = @TerritoryName
--	END

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed In Territory' as 'Message' 
--	RETURN 
--END 
--Territory Ends

--Cities begins
IF NOT EXISTS(SELECT 1 FROM Districts, Cities, States Where [CityName]= @CityName and Cities.DistrictId = @DistrictID and  Cities.DistrictId = Districts.Id and Districts.StateId = @StateID and Districts.StateId = States.Id)
BEGIN
	SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive, 'Failed, City Not Exist' as 'Message' 
END
ELSE
	BEGIN
		SELECT @CityId = Id FROM Cities WHERE [CityName] = @CityName
	END
IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  
		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive, 'Failed In City' as 'Message'     
	RETURN 
END 
--Cities Ends

--FreightRoute begins
IF NOT EXISTS(SELECT 1 FROM [Roles] Where [Name]= @RoleName)
BEGIN
	ROLLBACK
		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed, FreightRoute Not Exist' as 'Message'      
	RETURN
END
ELSE
	SELECT @RoleId = Id From [Roles] Where [Name] = @RoleName

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  
		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed In FreightRoute' as 'Message'      
	RETURN 
END 
--FreightRoute Ends



--SalesOrganization begins

--IF NOT EXISTS(Select 1 FROM SalesOrganizations Where [Code]= @SalesOrganizationCode)
--BEGIN
--	ROLLBACK
--		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed, SalesOrganization Not Exist' as 'Message'       
--	RETURN
--END
--ELSE
--	Select @SalesOrganizationId = ID From SalesOrganizations Where [Code] = @SalesOrganizationCode

--IF @@ERROR <> 0 
--BEGIN     
--ROLLBACK  
--		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed In SalesOrganization' as 'Message'     
--	RETURN      
--RETURN 
--END 
--SalesOrganization Ends

--DistributionChannel begins

--IF NOT EXISTS(Select 1 FROM DistributionChannels Where [Code]= @DistributionChannelCode and SalesOrganizationId = @SalesOrganizationId)
--BEGIN
--	ROLLBACK
--		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed, DistributionChannel Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--	Select @DistributionChannelId = ID From DistributionChannels Where [Code] = @DistributionChannelCode and SalesOrganizationId = @SalesOrganizationId

--IF @@ERROR <> 0 
--BEGIN     
--ROLLBACK  
--		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed In DistributionChannel' as 'Message'      
--	RETURN    
--RETURN 
--END 
--DistributionChannel Ends

--Division begins
--IF NOT EXISTS(SELECT 1 FROM [Divisions] WHERE [Code]= @DivisionCode and DistributionChannelId = @DistributionChannelId and SalesOrganizationId = @SalesOrganizationId)
--BEGIN
--	ROLLBACK
--		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed, Division Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--	SELECT @DivisionId = Id FROM [Divisions] Where [Code]= @DivisionCode and DistributionChannelId = @DistributionChannelId and SalesOrganizationId = @SalesOrganizationId

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed In Division' as 'Message'      
--	RETURN 
--END 
--Division Ends



--Headquarters begins
--IF NOT EXISTS(SELECT 1 FROM [Headquarters] Where [Name]= @Headquarters)
--BEGIN
--	ROLLBACK
--		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed, Headquarters Not Exist' as 'Message'      
--	RETURN
--END
--ELSE
--	SELECT @HeadquartersId = Id From [Headquarters] Where [Name]= @Headquarters

--IF @@ERROR <> 0 
--BEGIN     
--	ROLLBACK  
--		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed In Headquarters' as 'Message'      
--	RETURN 
--END 
--Headquarters Ends


--SaudaBookingTypes begins
--IF EXISTS(SELECT 1 FROM [SaudaBookingTypes] Where [Name]= @SaudaBookingType)
--BEGIN
--	 From [SaudaBookingTypes] Where [Name]= @SaudaBookingType	
--END
SELECT @SaudaBookingTypeId = 0
--SaudaBookingTypes Ends


SELECT @BDORoleId=Id FROM Roles WHERE [Name]='State Trader'
SELECT @DealerRoleId=Id FROM Roles WHERE [Name]='Dealer'
SELECT @BrokerRoleId=Id FROM Roles WHERE [Name]='Broker'
SELECT @KAMRoleId=Id FROM Roles WHERE [Name]='KAM'

select @adminCode = Code from Users as u join UserRoles as ur on u.Id = ur.UserId where RoleId = 1


--SalesReportingToUser begins
IF(@ReportingToUserCode = @adminCode)
BEGIN
	SELECT @SalesRepToUserRoleId=ur.RoleId,@SalesReportingToUserId=u.Id FROM [Users] u JOIN UserRoles ur on u.Id=ur.UserId Where [Code]= @ReportingToUserCode 
	
	
	SELECT @SalesRepToHierarchyId = [HierarchyId] From [RoleHierarchies] Where [RoleId]= @SalesRepToUserRoleId  
	SELECT @InputUserHierarchyId = [HierarchyId] From [RoleHierarchies] Where [RoleId]= @RoleId 
			
	IF ((@SalesRepToHierarchyId IS NOT NULL AND @SalesRepToHierarchyId>0) AND (@InputUserHierarchyId IS NOT NULL AND @InputUserHierarchyId>0))
	BEGIN
		IF @SalesRepToHierarchyId<@InputUserHierarchyId
			SET @IsSalesRepValid=1
		ELSE
			SET @IsSalesRepValid=0
	END
	ELSE
	BEGIN
		ROLLBACK  
			SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed, Invalid Sales Reporting to User' as 'Message'      
		RETURN 
	END
END
ELSE
BEGIN
IF NOT EXISTS(SELECT 1 FROM [Users] u  Where u.[Code]= @ReportingToUserCode )
BEGIN
	ROLLBACK
		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed, Sales Reporting to User Not Exist' as 'Message'      
	RETURN
END
ELSE
BEGIN
	SELECT @SalesRepToUserRoleId=ur.RoleId,@SalesReportingToUserId=u.Id FROM [Users] u JOIN UserRoles ur on u.Id=ur.UserId
	Where u.[Code]= @ReportingToUserCode 


	IF @SalesRepToUserRoleId=@BDORoleId OR @SalesRepToUserRoleId=@KAMRoleId
	BEGIN
		SELECT @SalesReportingToUserId=u.Id FROM [Users] u JOIN UserRoles ur on u.Id=ur.UserId		
			Where u.[Code]= @ReportingToUserCode 
	END
	
	SELECT @SalesRepToHierarchyId = [HierarchyId] From [RoleHierarchies] Where [RoleId]= @SalesRepToUserRoleId
	SELECT @InputUserHierarchyId = [HierarchyId] From [RoleHierarchies] Where [RoleId]= @RoleId 
			
	IF ((@SalesRepToHierarchyId IS NOT NULL AND @SalesRepToHierarchyId>0) AND (@InputUserHierarchyId IS NOT NULL AND @InputUserHierarchyId>0))
	BEGIN
		IF @SalesRepToHierarchyId<@InputUserHierarchyId
			SET @IsSalesRepValid=1
		ELSE
			SET @IsSalesRepValid=0
	END
	ELSE
	BEGIN
		ROLLBACK  
			SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed, Invalid Sales Reporting to User' as 'Message'      
		RETURN 
	END
END
END

IF @@ERROR <> 0 
BEGIN     
	ROLLBACK  
		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed In Sales Reporting to User' as 'Message'      
	RETURN 
END 
--SalesReportingToUser Ends

IF NOT EXISTS(SELECT 1 FROM [Users] u, [UserRoles] r Where u.Code= @Code and u.MobileNumber=@MobileNumber and r.RoleId = @RoleId and r.UserId = u.Id)
BEGIN
	IF @IsSalesRepValid>0
	BEGIN
		INSERT INTO [Users]([Name],[Code],[Email],[MobileNumber],[Designation],[ZoneId],[StateId],[DistrictId],[CityId],[Pincode],[Address1],[Address2]
		,[IsActive],[IsActiveForCall],[CreatedBy],[CreatedDate],[ApprovedBy],[IsBlacklisted],[SaudaLimit],[IsSelf]
		,[IsBroker],[Loadability],[ReportingToId],[SaudaBookingTypeId],[Password],[PasswordModifiedDate],[CustomerGroupFiveId],[DepotLoadability])
           VALUES (@Name,@Code,@Email,@MobileNumber,@Designation,@ZoneId,@StateId,@DistrictId,@CityId,@Pincode,@Address1,@Address2
		   ,@Isactive,0,@CreatedBy,getdate(),0,0,0,0,0,0,@SalesReportingToUserId,@SaudaBookingTypeId,@EncryptedPassword,getdate(),0,0);
		
		Declare @Id BigInt = 0
		SELECT @Id = SCOPE_IDENTITY()	
	
		--UserRoles begins
		IF NOT EXISTS(SELECT 1 FROM UserRoles WHERE UserId = @Id)
		BEGIN
			INSERT INTO [dbo].[UserRoles]([UserId],[RoleId],[IsSAPData],[CreatedBy],[CreatedDate])
				VALUES (@Id,@RoleId,0,@CreatedBy,getdate());
		END
		--UserRoles Ends
		SELECT @UserId = u.Id FROM [Users] u JOIN UserRoles r on u.id=r.UserId 
		WHERE [Code]= @Code and [MobileNumber]=@MobileNumber and r.RoleId = @RoleId 

		--UserDivisionMapping begins
	--IF NOT EXISTS(SELECT 1 FROM UserDivisionMappings WHERE UserId = @UserId And SalesOrganizationId = @SalesOrganizationId and DistributionChannelId = @DistributionChannelId and DivisionId = @DivisionId)
	--	BEGIN
	--		INSERT INTO [dbo].[UserDivisionMappings]([UserId],[SalesOrganizationId],[DistributionChannelId],[DivisionId],[CreatedBy],[CreatedDate])
	--			VALUES (@UserId,@SalesOrganizationId,@DistributionChannelId,@DivisionId,@CreatedBy,getdate());
	--	END
	--UserDivisionMapping Ends

		IF @UserId is not null and @UserId>0
		BEGIN	
		
			IF @UserId>0 and @BDORoleId=@RoleId
			BEGIN
			--UserCustomerMapping begins		
			DECLARE @Item varchar(max)
			DECLARE @position INT
			DECLARE @DegreeID INT
			DECLARE @Loop BIT
			--Make sure we enter the loop, even if there's only one item
			IF(right(@CustomerCode,1) <> ',' and Len(@CustomerCode)>0)
			BEGIN
				Set @CustomerCode = @CustomerCode + ','
			END 
		
			SET @Loop = CASE WHEN LEN(@CustomerCode) > 0 THEN 1 ELSE 0 END
			WHILE (SELECT @Loop) = 1
			BEGIN
				SELECT @Position = CHARINDEX(',', @CustomerCode, 1)
		
				IF(@Position > 0)
				BEGIN
				SELECT @Item = SUBSTRING(@CustomerCode, 1, @Position - 1)
				SELECT @CustomerCode = SUBSTRING(@CustomerCode, @Position + 1, LEN(@CustomerCode) - @Position)
				
				SELECT @CustomerId = u.Id From Users u join UserRoles r on u.Id = r.UserId
				Where u.[Code]= @Item and  (r.RoleId = @DealerRoleId or r.RoleId = @BrokerRoleId) 

				IF(@CustomerId <> 0)
				BEGIN
					IF NOT EXISTS(SELECT 1 FROM UserCustomerMappings ucm JOIN UserRoles ur on ur.UserId=ucm.UserId
					Where --ucm.UserId = @UserId and 
					ucm.CustomerId = @CustomerId and ur.RoleId=@BDORoleId)
					BEGIN
						INSERT INTO UserCustomerMappings(UserId,CustomerId,CreatedBy,CreatedDate) VALUES (@UserId,@CustomerId, @CreatedBy, getdate());	
					END
					ELSE
					BEGIN
						SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed, Customer code already mapped' as 'Message'
					END
				END
			END
			ELSE
				BEGIN
					SELECT @Item = @CustomerCode
					SELECT @Loop = 0
				END
			END			
			--UserCustomerMapping Ends
		END
			SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive, 'Success' as 'Message' FROM [Users] Where [Code]= @Code and [MobileNumber]=@MobileNumber
		END
		ELSE
			SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive, 'Failed In User' as 'Message'    
	END
	ELSE
	BEGIN
		ROLLBACK  
			SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed Invalid Sales/Organization Reporting to User' as 'Message'      
		RETURN 
	END
END
ELSE
BEGIN  
	IF  @IsSalesRepValid>0
	BEGIN
	
		SELECT @UserId = u.Id FROM [Users] u JOIN UserRoles r on u.id=r.UserId
		WHERE [Code]= @Code and [MobileNumber]=@MobileNumber and r.RoleId = @RoleId 
		
		IF (@UserId>0)
		BEGIN
			UPDATE [dbo].[Users]
			 SET [Email] =@Email,[Designation]= @Designation,[IsActive]=@Isactive,[Pincode] =@Pincode,[ZoneId] = @ZoneId
			 ,[DistrictId] = @DistrictId,[CityId]=@CityId,[StateId] =@StateId,[Address1] =@Address1,[Address2] =@Address2
			 ,[ModifiedBy] = @CreatedBy,[ModifiedDate] = getdate(),[Password]=@EncryptedPassword, [PasswordModifiedDate] = GETDATE()
			Where Id=@UserId

			--UserDivisionMapping begins
	--IF NOT EXISTS(SELECT 1 FROM UserDivisionMappings WHERE UserId = @UserId And SalesOrganizationId = @SalesOrganizationId and DistributionChannelId = @DistributionChannelId and DivisionId = @DivisionId)
	--	BEGIN
	--		INSERT INTO [dbo].[UserDivisionMappings]([UserId],[SalesOrganizationId],[DistributionChannelId],[DivisionId],[CreatedBy],[CreatedDate])
	--			VALUES (@UserId,@SalesOrganizationId,@DistributionChannelId,@DivisionId,@CreatedBy,getdate());
	--	END
	--UserDivisionMapping Ends
		END
		ELSE
		BEGIN
			SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive, 'Failed in User' as 'Message' FROM [Users] Where [Code]= @Code and [MobileNumber]=@MobileNumber
		END
		SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive, 'Record Updated' as 'Message' FROM [Users] Where [Code]= @Code and [MobileNumber]=@MobileNumber
	END
	ELSE
	BEGIN
		ROLLBACK  
			SELECT @Code as Code,@Name as 'Name',@MobileNumber as MobileNumber,@Email as Email,@Password as 'Password',@ReportingToUserCode as ReportingToUserCode,@Pincode as Pincode,@Address1 as 'Address1', @Address2 as 'Address2',@ZoneName as ZoneName,@StateName as StateName, @DistrictName as DistrictName, @CityName as CityName,@Designation as Designation,@RoleName as RoleName,@CustomerCode as CustomerCode,@IsActive as IsActive,  'Failed Invalid Sales/Organization Reporting to User' as 'Message'      
		RETURN 
	END
END
COMMIT



