USE [AdaniDB1]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Emami_IndentReport]    Script Date: 25-04-2023 12:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER    PROCEDURE [dbo].[Sp_Emami_IndentReport]
(
	@StatusId Int,
	@StartDate Datetime,
	@EndDate Datetime,
	@StateIds Nvarchar(Max),
	@verticalIds BigInt,
	@LoginUserId BigInt,
	@RoleId BigInt,
	@SalesOrganizationId BigInt,
	@DistributionChannelId BigInt
)
As
Begin
	--Select
	--@StatusId = 0,
	--@StartDate = '2019-09-01',
	--@EndDate = '2019-09-30',
	--@StateIds = '',
	--@IsAfterDeliverOrderNumber = 1

	Declare @StateList Table(StateId BigInt)
	Declare @StatusList Table(StatusId BigInt)
	Declare @DealerList Table(DealerId BigInt)
	  CREATE TABLE #BdoIds(BdoId BIGINT)  

	Insert Into @StateList
	Select Data From dbo.Split(@StateIds,',')

	If(@StatusId > 0)
	Begin
		Insert Into @StatusList
		Select @StatusId
	End
	Else
	Begin
		Insert Into @StatusList
		Select Id From Status Where Name in ('Pending','Approved','Rejected')
	End

	-- Bdo
	if(@RoleId = 7)
	Begin
			Insert Into @DealerList
			select CustomerId from UserCustomerMappings where UserId  = @LoginUserId
	
		INSERT INTO #BdoIds(BdoId)  
			Select DISTINCT @LoginUserId as BdoId
	End
	Else if(@RoleId = 9)--ZonalHead
	Begin
		 Insert Into @DealerList 
		 select CustomerId from UserCustomerMappings where UserId  in (
		 Select Id From Users where ReportingToId = @LoginUserId)

		 INSERT INTO #BdoIds(BdoId)  
		   Select DISTINCT bdo.Id as BdoId  
		   From Users bdo   
		   Where bdo.ReportingToId = @LoginUserId 
	End
	Else if(@RoleId = 12)--NationalHead
	Begin
		 Insert Into @DealerList 
		 select CustomerId from UserCustomerMappings where UserId  in (
		 Select Id From Users where ReportingToId in (Select Id From Users where ReportingToId =  @LoginUserId))
			
			INSERT INTO #BdoIds(BdoId)  
		   Select DISTINCT bdo.Id as BdoId  
		   From Users zh  
		   INNER JOIN Users bdo ON zh.Id = bdo.ReportingToId  
		   Where zh.ReportingToId = @LoginUserId  
	
	End
	Else
	Begin
		Insert Into @DealerList 
		select UserId from UserRoles where RoleId = 5

		INSERT INTO #BdoIds(BdoId)  
	   Select u.Id as BdoId From Users u   
	   Join UserRoles ur on u.Id = ur.UserId Join Roles r on ur.RoleId = r.Id  
	   Where ur.RoleId = 7 --AND u.SaudaBookingTypeId = 1 
	End

	Select * Into #LiftingRequest From
	(Select LR.* From LiftingRequests LR with (NOLOCK)
	Where Convert(date,LR.CreatedDate) >= Convert(date,@StartDate) And Convert(date,LR.CreatedDate) <= Convert(date,@EndDate)
	) As A

	Select * Into #LiftingRequestDetail From
	(Select LRD.* From #LiftingRequest LR
	 Inner Join LiftingRequestDetails LRD with (NOLOCK) On LR.Id = LRD.LiftingRequestId
	Where Convert(date,LR.CreatedDate) >= Convert(date,@StartDate) And Convert(date,LR.CreatedDate) <= Convert(date,@EndDate)
	) As A

	
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)
--select * from #LiftingRequestDetail

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end

	Select 
	LR.Id As LiftingRequestId,
	LR.LiftingRequestNumber As IndentNo,
	U.Name As DealerName,
	U.Code As DealerCode,
	ST.StateName As State,
	LR.ShipToPartyId,
	SP.Name As ShipToPartyName,
	SP.ShipToPartyCode As ShipToPartyCode,
	LR.LiftingDate As IndentReceivedDate,
	CONVERT(VARCHAR(10), LR.LiftingDate, 108) As IndentReceivedTime,
	LRD.LiftingQuantity As TotalQuantityInMT,
	LRD.LiftingQuantityCase As TotalQuantityInCase,
	sku.SkuName,
	Sku.SkuCode,
	LRD.LiftingQuantity As LiftingQuantityInMT,
	LRD.LiftingQuantityCase As LiftingQuantityCase,
	LR.SAPDeliveryNo As DeliveryOrderNumber,
	BDO.Name As BDOName,
	LR.SAPDocumentNo As InquiryNumber,
	LRD.SaudaNumber as ContractNumber,
	STS.Name As Status,	
	(select Name  from Depots where Id = LR.PlantId) as PlantOrDepotName
	From #LiftingRequest LR 
	--Inner join @StatusList statusList On LR.StatusId = statusList.Id
	inner join Status STS On LR.StatusId = STS.Id
	--Inner Join @DealerList DealerList On DealerList.DealerId = LR.UserId
	Inner Join Users U On U.Id = LR.UserId
	Inner Join #LiftingRequestDetail LRD On LR.Id = LRD.LiftingRequestId
	inner Join Saudas s on s.SaudaNumber=LRD.SaudaNumber
	inner Join #UserDivision ud on s.SalesOrganizationId=ud.SalesOrganizationId and s.DistributionChannelId = ud.DistributionChannelId and s.DivisionId=ud.DivisionId
	--Left Join @StateList States On States.StateId = U.StateId
	Left Join States ST On ST.Id = U.StateId
	inner Join Users BDO On BDO.Id = S.UserId
	Left Join Users SP On SP.Id = LR.ShipToPartyId
	inner Join Skus Sku On Sku.Id = LRD.SkuId
	Where (
	(
	LR.UserId in (Select DealerId from @DealerList)
	and (@SalesOrganizationId > 0 And Sku.SalesOrganizationId = @SalesOrganizationId) OR @SalesOrganizationId = 0)) 
	and ((@DistributionChannelId = 0) Or (@DistributionChannelId > 0 And Sku.DistributionChannelId = @DistributionChannelId)) and
	((@verticalIds = 0) Or (@verticalIds > 0 And Sku.DivisionId = @verticalIds))
	and (((@StateIds='' or @StateIds is null) and u.StateId > 0)
	OR (u.StateId in (select StateId from @StateList)))
	and (((@StatusId=0 or @StatusId=-1) and LR.StatusId > 0)
	OR (LR.StatusId in (select StatusId from @StatusList)))
	--and s.BdoId in (Select BdoId from #BdoIds)
	
	Drop Table #LiftingRequest
	Drop Table #LiftingRequestDetail
	DROP TABLE #BdoIds
DROP TABLE #UserDivision  
End





