
/****** Object:  StoredProcedure [dbo].[SP_Emami_WholeSellerVisitReport]    Script Date: 11-10-2022 21:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[SP_Emami_WholeSellerVisitReport]
(
	@FromDate Datetime,
	@Todate Datetime,
	@BDOIds Nvarchar(Max),
	@ZHIds Nvarchar(Max),
	@VerticalId bigint,
	@SalesOrganizationId bigint,
	@DistributionChannelId bigint
)
As
Begin
	--Declare 
	--@FromDate Datetime = '2019-11-27',
	--@Todate Datetime = '2019-11-27',
	--@BDOIds Nvarchar(Max) = '',
	--@ZHIds Nvarchar(Max) = '27'


	Declare @BDOList Table(Id BigInt)
	Declare @ZHList Table(Id BigInt)
	Declare @DealerList Table(Id BigInt)

	Insert Into @BDOList
	Select Data From dbo.Split(@BDOIds,',')

	Insert Into @ZHList
	Select Data From dbo.Split(@ZHIds,',')

	If Exists(Select Top 1 1 From @ZHList Where Id != 0)
	Begin
		If Not Exists(Select Top 1 1 From @BDOList Where Id != 0)
		Begin
			Insert Into @BDOList
			Select Id From Users Where ReportingToId In (Select Id From @ZHList)
		End
	End
	Insert Into @DealerList
	Select CustomerId From UserCustomerMappings Where UserId In (Select Id From @BDOList) 

	Select 
		WHB.CreatedDate As [Date],
		BDO.Name As BDOName,
		U.Name As [Dealername],
		WHB.Name As WholesellerName,
		(OT.name+'-'+s.Code+'/'+dc.Code+'/'+dv.Code)As OilType,
		Sku.SkuName,
		WHBD.QuantityPerMt As [QtyperCase],
		WHBD.Price  
	From WholesellerBdoes WHB
	Inner Join WholeSellerSalesDetails WHBD On WHB.Id = WHBD.WholesellerBdoId
	Inner Join OilTypes OT On OT.Id = WHBD.OilTypeId
	left join SalesOrganizations s on s.Id=OT.SalesOrganizationId
left join DistributionChannels dc on dc.Id=OT.DistributionChannelId
left join Divisions dv on dv.Id=OT.DivisionId
	Inner Join Skus Sku On Sku.Id = WHBD.SkuId
	Inner Join Users U On U.Id = WHB.DealerId
	Inner Join Users BDO On BDO.Id = WHB.CreatedBy
	Where WHB.DealerId In (Select Id From @DealerList)
	And Convert(date,WHB.CreatedDate) >= Convert(date,@FromDate) And Convert(date,WHB.CreatedDate) <= Convert(date,@Todate)
	and ((sku.[DivisionId] = @VerticalId And sku.SalesOrganizationId=@SalesOrganizationId And sku.DistributionChannelId=@DistributionChannelId) or @VerticalId = 0 )
End

