USE [LiveDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_KEINTO_PCPVsMTPDeviationReport]    Script Date: 18-01-2023 10:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER    PROCEDURE [dbo].[SP_KEINTO_PCPVsMTPDeviationReport]
(
	@StartDate DateTime,
	@EndDate DateTime,
	@StateIds Nvarchar(Max),
	@BDOIds Nvarchar(Max),
	@VerticalId bigint,
	@SalesOrganizationId bigint,
	@DistributionChannelId bigint
)
As
Begin

Declare @Temp Table(Id Int, Data Nvarchar(Max))
	Insert Into @Temp
	select Id,Data from  dbo.Split(@StateIds,',') 

Declare @BDOTemp Table(Id Int, Data Nvarchar(Max))
	Insert Into @BDOTemp
	select Id,Data from  dbo.Split(@BDOIds,',') 
Declare @FinalTable Table
(
	Sno Bigint Identity,
	BDOId BigInt,
	BDOName Nvarchar(500),
	CityId BigInt,
	CityName Nvarchar(500),
	Month1PlannedVisitCount BigInt,
	Month1ActualVisitCount BigInt,
	Month2PlannedVisitCount BigInt,
	Month2ActualVisitCount BigInt,
	Month3PlannedVisitCount BigInt,
	Month3ActualVisitCount BigInt
)

Select * Into #temp1 From 
(Select PJP.Id,
PJP.PJPNumber,
Convert(Nvarchar(30),Month(PJP.EffectiveFrom)) [Months1],
Convert(Nvarchar(30),Month(PJP.EffectiveTo)) [Months2],
Sum(PJPD.NoOfVisit) NoOfVisit
,PJP.CreatedBy As BDOId,
U.Name BDOName,
PJPD.TownId As CityId, 
(case when C.CityName is null then '' else C.CityName end) as CityName
From PermanentJourneyPlans PJP With(NoLock)
Inner Join PermanentJourneyPlanDetails PJPD With(NoLock) On PJP.Id = PJPD.PermanentJourneyPlanId
left Join Cities C With(NoLock) On C.Id = PJPD.TownId
Inner Join Users U With(NoLock) On PJP.CreatedBy = U.Id
Inner Join UserDivisionMappings ud On U.Id=ud.UserId
Where 
((CONVERT(Date,PJP.EffectiveFrom) >= CONVERT(Date,@StartDate)  And CONVERT(Date,PJP.EffectiveFrom) <= CONVERT(Date,@EndDate))
Or
(CONVERT(Date,PJP.EffectiveTo) >= CONVERT(Date,@StartDate)  And CONVERT(Date,PJP.EffectiveTo) <= CONVERT(Date,@EndDate)))
And ((@BDOIds = '' And 1 = 1 ) Or (@BDOIds <> '' And PJP.Createdby In (Select Data From @BDOTemp)))
And ((@StateIds = '' And 1 = 1 ) Or (@StateIds <> '' And U.StateId In (Select Data From @Temp))) 
And ((@VerticalId > 0 and ud.DivisionId = @VerticalId) or @VerticalId=0) 
And ((@SalesOrganizationId > 0 and ud.SalesOrganizationId=@SalesOrganizationId) or @SalesOrganizationId=0 )
And ((@DistributionChannelId>0 and ud.DistributionChannelId=@DistributionChannelId) or @DistributionChannelId=0)
Group By PJP.PJPNumber,U.Name,
Month(PJP.EffectiveFrom)
,Month(PJP.EffectiveTo), 
C.CityName,PJP.Id,PJP.CreatedBy,PJPD.TownId 
) As A

--select * from #temp1

Select
* Into #temp2
From 
(
	Select
		Convert(Nvarchar(30),Month(MTPD.Date)) [Months],
		Convert(Nvarchar(30),Year(MTPD.Date)) [Years],	
		Count(Distinct MTPD.Id) As ActualVisit,
		MTP.CreatedBy,
		U.Name As BDOName,
		MTPD.TownId As CityId,
		(case when C.CityName is null then '' else C.CityName end) as CityName
	From MonthlyTourPlans MTP With(NoLock) 
	Inner Join MonthlyTourPlanDetails MTPD With(NoLock) On MTP.Id = MTPD.MonthlyTourPlanId
	Inner Join Users U With(NoLock) On MTP.CreatedBy = U.Id
	left Join Cities C With(NoLock) On C.Id = U.CityId
	Inner Join UserDivisionMappings ud On U.Id=ud.UserId
	Where 
	((@BDOIds = '' And 1 = 1 ) Or (@BDOIds <> '' And MTP.Createdby In (Select Data From @BDOTemp)))
	And MTPD.Date Between @StartDate And @EndDate
	And ((@StateIds = '' And 1 = 1 ) Or (@StateIds <> '' And U.StateId In (Select Data From @Temp))) 
	And ((@VerticalId > 0 and ud.DivisionId = @VerticalId) or @VerticalId=0) 
And ((@SalesOrganizationId > 0 and ud.SalesOrganizationId=@SalesOrganizationId) or @SalesOrganizationId=0 )
And ((@DistributionChannelId>0 and ud.DistributionChannelId=@DistributionChannelId) or @DistributionChannelId=0)
	Group By Month(MTPD.Date),Year(MTPD.Date),MTP.CreatedBy,U.Name,C.CityName,MTPD.TownId
) As A

--select * from #temp2

--Select BDOId,BDOName,CityId,CityName,Sum(NoOfVisit) As PlannedVisit,Min(Months1) as Months1,Months2 From #temp1 
--Group By BDOId,BDOName,CityId,CityName,Months2

--Select ROW_NUMBER() 
--OVER(Partition by B.Months,B.Years ORDER BY B.Months,B.Years) 
--from #temp2 B

Select * Into #temp3
From
(Select ROW_NUMBER() 
OVER(Partition by B.Months,B.Years ORDER BY B.Months,B.Years) 
AS [Row_Number],A.BDOId,A.BDOName,A.CityId,A.CityName,B.Months,B.Years,A.PlannedVisit,B.ActualVisit From
(Select BDOId,BDOName,CityId,CityName,Sum(NoOfVisit) As PlannedVisit,Min(Months1) as Months1,Months2 From #temp1 
Group By BDOId,BDOName,CityId,CityName,Months2
) As A
Inner Join #temp2 B On A.BDOId = B.CreatedBy 
And A.CityId = B.CityId 
and ((B.Months=A.Months1 and A.Months2=B.Months) or (B.Months=A.Months2 and B.Months!=A.Months1))
) As C

--select * from #temp3

Declare @Count Int = 0
	Declare @Month Int,@Year Int
	Declare @BDOName Nvarchar(500),@CityName Nvarchar(500)
	DECLARE emp_cursor CURSOR FOR     
	Select 
	BDOName,CityName,Months,Years
	From #temp3 Where Row_Number = 1  
	OPEN emp_cursor    
	FETCH NEXT FROM emp_cursor     
	INTO @BDOName,@CityName,@Month,@Year  
	WHILE @@FETCH_STATUS = 0    
	BEGIN 
		Select @Count = @Count + 1
		If(@Count = 1)
		Begin

			--select  'If' as Message,@Count

			

			Declare @tbl1Months BigInt, @tbl1Years BigInt, @tbl1PlannedVisit BigInt, @tbl1ActualVisit BigInt, @tbl1CreatedBy BigInt, @tbl1BDOName Nvarchar(500), @tbl1CityName Nvarchar(500),@tbl1CityId BigInt
			Update #temp3 Set Months = 1 Where Months = @Month And Years = @Year
			
				DECLARE tb1_cursor CURSOR FOR     
				Select Months,Years,PlannedVisit,ActualVisit,BDOId,BDOName,CityId,CityName From #temp3 Where Months = 1
				OPEN tb1_cursor    
  
				FETCH NEXT FROM tb1_cursor     
				INTO @tbl1Months,@tbl1Years,@tbl1PlannedVisit,@tbl1ActualVisit,@tbl1CreatedBy,@tbl1BDOName,@tbl1CityId,@tbl1CityName 
				WHILE @@FETCH_STATUS = 0    
				BEGIN

				--select @tbl1CreatedBy,@tbl1CityId
					--select @tbl1Months,@tbl1Years,@tbl1PlannedVisit,@tbl1ActualVisit,@tbl1CreatedBy,@tbl1BDOName,@tbl1CityId,@tbl1CityName
					
					If Not Exists (Select Top 1 1 From @FinalTable Where BDOId = @tbl1CreatedBy And CityId = @tbl1CityId) 
					Begin
						Insert Into @FinalTable 
						Select @tbl1CreatedBy,@tbl1BDOName,@tbl1CityId,@tbl1CityName,@tbl1PlannedVisit,@tbl1ActualVisit,Null,Null,Null,Null
					End
					Else
					Begin
						Update @FinalTable Set Month1PlannedVisitCount = @tbl1PlannedVisit,Month1ActualVisitCount = @tbl1ActualVisit Where BDOId = @tbl1CreatedBy And CityId = @tbl1CityId
					End
	  
					FETCH NEXT FROM tb1_cursor     
				INTO @tbl1Months,@tbl1Years,@tbl1PlannedVisit,@tbl1ActualVisit,@tbl1CreatedBy,@tbl1BDOName,@tbl1CityId,@tbl1CityName
   
				END    
				--select * from @FinalTable
				CLOSE tb1_cursor;    
				DEALLOCATE tb1_cursor; 
		End
		Else If(@Count = 2)
		Begin

		--select  'Else If' as Message,@Count
			Declare @tbl2Months BigInt, @tbl2Years BigInt, @tbl2PlannedVisit BigInt, @tbl2ActualVisit BigInt, @tbl2CreatedBy BigInt, @tbl2BDOName Nvarchar(500), @tbl2CityName Nvarchar(500),@tbl2CityId BigInt
			Update #temp3 Set Months = 2 Where Months = @Month And Years = @Year
				DECLARE tb2_cursor CURSOR FOR     
				Select Months,Years,PlannedVisit,ActualVisit,BDOId,BDOName,CityId,CityName From #temp3 Where Months = 2
				OPEN tb2_cursor  
				FETCH NEXT FROM tb2_cursor     
				INTO @tbl2Months,@tbl2Years,@tbl2PlannedVisit,@tbl2ActualVisit,@tbl2CreatedBy,@tbl2BDOName,@tbl2CityId,@tbl2CityName 
				WHILE @@FETCH_STATUS = 0    
				BEGIN
				--select @tbl1Months,@tbl1Years,@tbl1PlannedVisit,@tbl1ActualVisit,@tbl1CreatedBy,@tbl1BDOName,@tbl1CityId,@tbl1CityName

				--select @tbl2CreatedBy,@tbl2CityId

					If Not Exists (Select Top 1 1 From @FinalTable Where BDOId = @tbl2CreatedBy And CityId = @tbl2CityId) 
					Begin
						Insert Into @FinalTable 
						Select @tbl2CreatedBy,@tbl2BDOName,@tbl2CityId,@tbl2CityName,Null,Null,@tbl2PlannedVisit,@tbl2ActualVisit,Null,Null
					End
					Else
					Begin
						Update @FinalTable Set Month2PlannedVisitCount = @tbl2PlannedVisit,Month2ActualVisitCount = @tbl2ActualVisit Where BDOId = @tbl2CreatedBy And CityId = @tbl2CityId
					End
	  
					FETCH NEXT FROM tb2_cursor     
				INTO @tbl2Months,@tbl2Years,@tbl2PlannedVisit,@tbl2ActualVisit,@tbl2CreatedBy,@tbl2BDOName,@tbl2CityId,@tbl2CityName 
   
				END     
				CLOSE tb2_cursor; 
				--select * from @FinalTable
				DEALLOCATE tb2_cursor; 
		End
		Else
		Begin

			--select  'Else' as Message,@Count

			Declare @tbl3Months BigInt, @tbl3Years BigInt, @tbl3PlannedVisit BigInt, @tbl3ActualVisit BigInt, @tbl3CreatedBy BigInt, @tbl3BDOName Nvarchar(500), @tbl3CityName Nvarchar(500),@tbl3CityId BigInt
			Update #temp3 Set Months = 3 Where Months = @Month And Years = @Year
				DECLARE tb3_cursor CURSOR FOR     
				Select Months,Years,PlannedVisit,ActualVisit,BDOId,BDOName,CityId,CityName From #temp3 Where Months = 3
				OPEN tb3_cursor    
  
				FETCH NEXT FROM tb3_cursor     
				INTO @tbl3Months,@tbl3Years,@tbl3PlannedVisit,@tbl3ActualVisit,@tbl3CreatedBy,@tbl3BDOName,@tbl3CityId,@tbl3CityName 
				WHILE @@FETCH_STATUS = 0    
				BEGIN
					--select @tbl3CreatedBy,@tbl3CityId
					--Select * From @FinalTable Where BDOId = @tbl3CreatedBy And CityId = @tbl3CityId
					If Not Exists (Select Top 1 1 From @FinalTable Where BDOId = @tbl3CreatedBy And CityId = @tbl3CityId) 
					Begin
						Insert Into @FinalTable 
						Select @tbl3CreatedBy,@tbl3BDOName,@tbl3CityId,@tbl3CityName,Null,Null,Null,Null,@tbl3PlannedVisit,@tbl3ActualVisit
					End
					Else
					Begin
						Update @FinalTable Set Month3PlannedVisitCount = @tbl3PlannedVisit,Month3ActualVisitCount = @tbl3ActualVisit Where BDOId = @tbl3CreatedBy And CityId = @tbl3CityId
					End
	  
					FETCH NEXT FROM tb3_cursor     
				INTO @tbl3Months,@tbl3Years,@tbl3PlannedVisit,@tbl3ActualVisit,@tbl3CreatedBy,@tbl3BDOName,@tbl3CityId,@tbl3CityName 
   
				END     
				CLOSE tb3_cursor;   
				--select * from @FinalTable
				DEALLOCATE tb3_cursor; 
		End
		
		FETCH NEXT FROM emp_cursor     
	INTO @BDOName,@CityName,@Month,@Year
   
	END     
	CLOSE emp_cursor;    
	DEALLOCATE emp_cursor; 

	Select Sno,
	BDOId,
	BDOName,
	CityName,
	isnull(Month1PlannedVisitCount,0) As Month1PlannedVisitCount,
	isnull(Month1ActualVisitCount,0) As Month1ActualVisitCount,
	isnull(Month2PlannedVisitCount,0) As Month2PlannedVisitCount,
	isnull(Month2ActualVisitCount,0) As Month2ActualVisitCount,
	isnull(Month3PlannedVisitCount,0) As Month3PlannedVisitCount,
	isnull(Month3ActualVisitCount,0) As Month3ActualVisitCount 
	From @FinalTable

Drop Table #temp1
Drop Table #temp2
Drop Table #temp3

End




