
/****** Object:  StoredProcedure [dbo].[SP_MTPVsDSRDeviationReport]    Script Date: 20-01-2023 15:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER    PROCEDURE [dbo].[SP_MTPVsDSRDeviationReport]
(
	@StartDate DateTime,
	@EndDate DateTime,
	@StateIds Nvarchar(Max),
	@BDOIds Nvarchar(Max),
	@VerticalId bigint,
	@SalesOrganizationId bigint,
	@DistributionChannelId bigint
)
As
Begin

Declare @Temp Table(Id Int, Data Nvarchar(Max))
	Insert Into @Temp
	select Id,Data from  dbo.Split(@StateIds,',') 

Declare @BDOTemp Table(Id Int, Data Nvarchar(Max))
	Insert Into @BDOTemp
	select Id,Data from  dbo.Split(@BDOIds,',') 


Declare @FinalTable Table
(
	Sno Bigint Identity,
	BDOId BigInt,
	BDOName Nvarchar(500),
	CityName Nvarchar(500),
	Month1PlannedVisitCount BigInt,
	Month1ActualVisitCount BigInt,
	Month2PlannedVisitCount BigInt,
	Month2ActualVisitCount BigInt,
	Month3PlannedVisitCount BigInt,
	Month3ActualVisitCount BigInt
)
Select ROW_NUMBER() OVER(Partition by Months,Years ORDER BY Months,Years) AS [Row_Number], * Into #temp
From 
(
	Select
		Convert(Nvarchar(30),Month(MTPD.Date)) [Months],
		Convert(Nvarchar(30),Year(MTPD.Date)) [Years],	
		Count(Distinct MTPD.Id) As PlannedVisit,
		Count(Distinct PSR.Id) As ActualVisit,
		MTP.CreatedBy,
		U.Name As BDOName,
		(case when C.CityName is null then '' else C.CityName end) as CityName
	From MonthlyTourPlans MTP With(NoLock) 
	Inner Join MonthlyTourPlanDetails MTPD With(NoLock) On MTP.Id = MTPD.MonthlyTourPlanId
	Left Join Saudas PSR With(NoLock) On PSR.CreatedBy = MTP.CreatedBy And Month(MTPD.Date) = Month(PSR.CreatedDate) And Year(MTPD.Date) = Year(PSR.CreatedDate)
	Inner Join Users U With(NoLock) On MTP.CreatedBy = U.Id
	left Join Cities C With(NoLock) On C.Id = U.CityId
	Inner Join UserDivisionMappings ud On U.Id=ud.UserId
	Where 
	((@BDOIds = '' And 1 = 1 ) Or (@BDOIds <> '' And MTP.Createdby In (Select Data From @BDOTemp)))
	And MTPD.Date Between @StartDate And @EndDate  
	And ((@VerticalId > 0 and ud.DivisionId = @VerticalId) or @VerticalId=0) 
And ((@SalesOrganizationId > 0 and ud.SalesOrganizationId=@SalesOrganizationId) or @SalesOrganizationId=0 )
And ((@DistributionChannelId>0 and ud.DistributionChannelId=@DistributionChannelId) or @DistributionChannelId=0)
	And ((@StateIds = '' And 1 = 1 ) Or (@StateIds <> '' And U.StateId In (Select Data From @Temp)))
	Group By Month(MTPD.Date),Year(MTPD.Date),MTP.CreatedBy,U.Name,C.CityName
) As A

	
	Declare @Count Int = 0
	Declare @Month Int,@Year Int
	Declare @BDOName Nvarchar(500),@CityName Nvarchar(500)--,@Month1PlannedVisitCount BigInt,@Month1ActualVisitCount BigInt,@Month2PlannedVisitCount BigInt,@Month2ActualVisitCount BigInt,@Month3PlannedVisitCount BigInt,@Month3ActualVisitCount BigInt
	DECLARE emp_cursor CURSOR FOR     
	Select 
	BDOName,CityName,Months,Years
	From #temp Where Row_Number = 1  
	OPEN emp_cursor    
	FETCH NEXT FROM emp_cursor     
	INTO @BDOName,@CityName,@Month,@Year  
	WHILE @@FETCH_STATUS = 0    
	BEGIN 
		Select @Count = @Count + 1
		If(@Count = 1)
		Begin
			Declare @tbl1Months BigInt, @tbl1Years BigInt, @tbl1PlannedVisit BigInt, @tbl1ActualVisit BigInt, @tbl1CreatedBy BigInt, @tbl1BDOName Nvarchar(500), @tbl1CityName Nvarchar(500)
			Update #temp Set Months = 1 Where Months = @Month And Years = @Year
			
				DECLARE tb1_cursor CURSOR FOR     
				Select Months,Years,PlannedVisit,ActualVisit,CreatedBy,BDOName,CityName From #temp Where Months = 1
				OPEN tb1_cursor    
  
				FETCH NEXT FROM tb1_cursor     
				INTO @tbl1Months,@tbl1Years,@tbl1PlannedVisit,@tbl1ActualVisit,@tbl1CreatedBy,@tbl1BDOName,@tbl1CityName 
				WHILE @@FETCH_STATUS = 0    
				BEGIN
					If Not Exists (Select Top 1 1 From @FinalTable Where BDOId = @tbl1CreatedBy) 
					Begin
						Insert Into @FinalTable 
						Select @tbl1CreatedBy,@tbl1BDOName,@tbl1CityName,@tbl1PlannedVisit,@tbl1ActualVisit,Null,Null,Null,Null
					End
					Else
					Begin
						Update @FinalTable Set Month1PlannedVisitCount = @tbl1PlannedVisit,Month1ActualVisitCount = @tbl1ActualVisit Where BDOId = @tbl1CreatedBy
					End
	  
					FETCH NEXT FROM tb1_cursor     
				INTO @tbl1Months,@tbl1Years,@tbl1PlannedVisit,@tbl1ActualVisit,@tbl1CreatedBy,@tbl1BDOName,@tbl1CityName
   
				END     
				CLOSE tb1_cursor;    
				DEALLOCATE tb1_cursor; 
		End
		Else If(@Count = 2)
		Begin
			Declare @tbl2Months BigInt, @tbl2Years BigInt, @tbl2PlannedVisit BigInt, @tbl2ActualVisit BigInt, @tbl2CreatedBy BigInt, @tbl2BDOName Nvarchar(500), @tbl2CityName Nvarchar(500)
			Update #temp Set Months = 2 Where Months = @Month And Years = @Year
				DECLARE tb2_cursor CURSOR FOR     
				Select Months,Years,PlannedVisit,ActualVisit,CreatedBy,BDOName,CityName From #temp Where Months = 2
				OPEN tb2_cursor    
  
				FETCH NEXT FROM tb2_cursor     
				INTO @tbl2Months,@tbl2Years,@tbl2PlannedVisit,@tbl2ActualVisit,@tbl2CreatedBy,@tbl2BDOName,@tbl2CityName 
				WHILE @@FETCH_STATUS = 0    
				BEGIN
					If Not Exists (Select Top 1 1 From @FinalTable Where BDOId = @tbl2CreatedBy) 
					Begin
						Insert Into @FinalTable 
						Select @tbl2CreatedBy,@tbl2BDOName,@tbl2CityName,Null,Null,@tbl2PlannedVisit,@tbl2ActualVisit,Null,Null
					End
					Else
					Begin
						Update @FinalTable Set Month2PlannedVisitCount = @tbl2PlannedVisit,Month2ActualVisitCount = @tbl2ActualVisit Where BDOId = @tbl2CreatedBy
					End
	  
					FETCH NEXT FROM tb2_cursor     
				INTO @tbl2Months,@tbl2Years,@tbl2PlannedVisit,@tbl2ActualVisit,@tbl2CreatedBy,@tbl2BDOName,@tbl2CityName 
   
				END     
				CLOSE tb2_cursor;    
				DEALLOCATE tb2_cursor; 
		End
		Else
		Begin
			Declare @tbl3Months BigInt, @tbl3Years BigInt, @tbl3PlannedVisit BigInt, @tbl3ActualVisit BigInt, @tbl3CreatedBy BigInt, @tbl3BDOName Nvarchar(500), @tbl3CityName Nvarchar(500)
			Update #temp Set Months = 3 Where Months = @Month And Years = @Year
				DECLARE tb3_cursor CURSOR FOR     
				Select Months,Years,PlannedVisit,ActualVisit,CreatedBy,BDOName,CityName From #temp Where Months = 3
				OPEN tb3_cursor    
  
				FETCH NEXT FROM tb3_cursor     
				INTO @tbl3Months,@tbl3Years,@tbl3PlannedVisit,@tbl3ActualVisit,@tbl3CreatedBy,@tbl3BDOName,@tbl3CityName 
				WHILE @@FETCH_STATUS = 0    
				BEGIN
					If Not Exists (Select Top 1 1 From @FinalTable Where BDOId = @tbl3CreatedBy) 
					Begin
						Insert Into @FinalTable 
						Select @tbl3CreatedBy,@tbl3BDOName,@tbl3CityName,Null,Null,Null,Null,@tbl3PlannedVisit,@tbl3ActualVisit
					End
					Else
					Begin
						Update @FinalTable Set Month3PlannedVisitCount = @tbl3PlannedVisit,Month3ActualVisitCount = @tbl3ActualVisit Where BDOId = @tbl3CreatedBy
					End
	  
					FETCH NEXT FROM tb3_cursor     
				INTO @tbl3Months,@tbl3Years,@tbl3PlannedVisit,@tbl3ActualVisit,@tbl3CreatedBy,@tbl3BDOName,@tbl3CityName 
   
				END     
				CLOSE tb3_cursor;    
				DEALLOCATE tb3_cursor; 
		End
		FETCH NEXT FROM emp_cursor     
	INTO @BDOName,@CityName,@Month,@Year
   
	END     
	CLOSE emp_cursor;    
	DEALLOCATE emp_cursor; 

	Select Sno,
	BDOId,
	BDOName,
	CityName,
	isnull(Month1PlannedVisitCount,0) As Month1PlannedVisitCount,
	isnull(Month1ActualVisitCount,0) As Month1ActualVisitCount,
	isnull(Month2PlannedVisitCount,0) As Month2PlannedVisitCount,
	isnull(Month2ActualVisitCount,0) As Month2ActualVisitCount,
	isnull(Month3PlannedVisitCount,0) As Month3PlannedVisitCount,
	isnull(Month3ActualVisitCount,0) As Month3ActualVisitCount 
	From @FinalTable

Drop Table #temp
End




