IF EXISTS (SELECT * FROM sysobjects WHERE type = 'P' AND name = 'sp_MissingEntries')
    BEGIN
        DROP  Procedure sp_MissingEntries
    END
 Go
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_MissingEntries](
@parentTable nvarchar(100),
@childTable nvarchar(100),
@parentPk nvarchar(100),
@childFk nvarchar(100),
@columnName1 nvarchar(100),
@columnName2 nvarchar(100),
@columnName3 nvarchar(100),
@validDate int
)
as
DECLARE @SQL NVARCHAR(1000)

BEGIN

SET @SQL = 'SELECT distinct t1.' + rtrim(ltrim(@columnName1)) + ',t1.' + rtrim(ltrim(@columnName2))  + ',t1.' + rtrim(ltrim(@columnName3))  + 
' FROM ' + IIF((lower(rtrim(ltrim(@parentTable))) = 'plant'), 'depots', rtrim(ltrim(@parentTable))) + ' AS t1 WHERE NOT EXISTS
      ( SELECT *  
        FROM ' + IIF((lower(rtrim(ltrim(@childTable))) = 'plant'), 'depots', rtrim(ltrim(@childTable))) + ' AS t2  
        WHERE t2.' + rtrim(ltrim(@childFk)) + ' = t1.' + rtrim(ltrim(@parentPk)) + 
		' AND ''' + cast(DATEADD(DAY, @validDate, CAST(GETDATE() as DATE)) as varchar(20)) + ''' between t2.validFrom and t2.validTo 
          --AND t2.Columnx IS NULL
      )'

if lower(rtrim(ltrim(@parentTable))) = 'depots'
	begin
		SET @SQL = @SQL + ' AND t1.IsPlant = 0 '
	end

if lower(rtrim(ltrim(@parentTable))) = 'plant'
	begin
		SET @SQL = @SQL + ' AND t1.IsPlant = 1 '
	end

if lower(rtrim(ltrim(@childTable))) = 'depots'
	begin
		SET @SQL = @SQL + ' AND t2.IsPlant = 0 '
	end

if lower(rtrim(ltrim(@childTable))) = 'plant'
	begin
		SET @SQL = @SQL + ' AND t2.IsPlant = 1 '
	end

--print @SQL
EXEC sp_executesql @SQL
return

END

--exec sp_MissingEntries 'SKUS', 'HoneycombCosts', 'id', 'SKUID', 'id', 'SkuName', 'Skucode', 1
--exec sp_MissingEntries 'Saudas', 'SaudaOrders', 'id', 'Saudaid', 'id', 'userid', 'biddingdate', 1

--select * from Skus

--select * from HoneycombCosts
--where GETDATE() between ValidFrom and ValidTo