
/****** Object:  StoredProcedure [dbo].[SP_Report_TargetVsAcheivement]    Script Date: 21-09-2022 13:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER  PROCEDURE [dbo].[SP_Report_TargetVsAcheivement] --'2019-01-01','2019-12-31'
(
	@StartDate DateTime,
	@EndDate DateTime ,
	@VerticalId bigint,
	@SalesOrganizationId bigInt,
	@DistributionChannelId bigint,
	@LoginUserId bigint
)
As
Begin
	Declare @MonthAndYear DateTime 
	Declare @TblMonth Table (Id Int Identity,MonthAndYear DateTime)
	Declare @TblBDOTargetByMonth Table (BDOId BigInt, Target Decimal(18,4))
	Declare @TblBDOTarget Table (BDOId BigInt, Target Decimal(18,4))
	Declare @RoleId bigint;

	Select @RoleId =ur.RoleId from UserRoles ur where ur.UserId=@LoginUserId 

CREATE TABLE #BdoIdsTemp(BdoId BIGINT)   
  
 IF(@RoleId = 12) -- NH  
  BEGIN  
   INSERT INTO #BdoIdsTemp(BdoId)  
   Select DISTINCT bdo.Id as BdoId  
   From Users zh  
   INNER JOIN Users bdo ON zh.Id = bdo.ReportingToId  
   Where zh.ReportingToId = @LoginUserId   
   And zh.Id IS NOT NULL  

  END  
 ELSE IF(@RoleId = 9) -- ZH  
  BEGIN  
   INSERT INTO #BdoIdsTemp(BdoId)  
   Select DISTINCT bdo.Id as BdoId From Users bdo  
   Where bdo.ReportingToId = @LoginUserId 
  END  
 ELSE IF(@RoleId = 7) --BDO  
  BEGIN  
   INSERT INTO #BdoIdsTemp(BdoId)  
   Select @LoginUserId as BdoId
  END
  ELSE -- Admin  
  BEGIN  
   INSERT INTO #BdoIdsTemp(BdoId)  
   Select u.Id as BdoId From Users u   
   Join UserRoles ur on u.Id = ur.UserId Join Roles r on ur.RoleId = r.Id  
   Where ur.RoleId = 7 --AND u.SaudaBookingTypeId = 1  
  END   


	;WITH cte AS 
	(
		SELECT dt = DATEADD(DAY, -(DAY(@StartDate) - 1), @StartDate)

		UNION ALL

		SELECT DATEADD(MONTH, 1, dt)
		FROM cte
		WHERE dt < DATEADD(DAY, -(DAY(@EndDate) - 1), @EndDate)
	)
	Insert Into @TblMonth
	SELECT Convert(datetime,CONVERT(CHAR(4),'01') +  CONVERT(CHAR(4), dt, 100) + CONVERT(CHAR(4), dt, 120)) As MonthAndYear
	FROM cte

	DECLARE emp_cursor CURSOR FOR     
	SELECT MonthAndYear FROM @TblMonth    
  
	OPEN emp_cursor    
  
	FETCH NEXT FROM emp_cursor     
	INTO @MonthAndYear  
	WHILE @@FETCH_STATUS = 0    
	BEGIN 
		 Insert into @TblBDOTargetByMonth  
		 Select AssignedToId As BDOId,Sum(Target) As Target 
		 From UserCustomerSalesTargets UST With(NoLock)
		 Inner Join UserRoles UR With(NoLock) On UST.AssignedToId = UR.UserId
		 Where MonthId = Month(@MonthAndYear) And Year = Year(@MonthAndYear)
		 And UR.RoleId In (7)
		 Group By AssignedToId
	  
		FETCH NEXT FROM emp_cursor     
	INTO @MonthAndYear
   
	END     
	CLOSE emp_cursor;    
	DEALLOCATE emp_cursor; 
	
Create Table #UserDivision(SalesOrganizationId bigint,DistributionChannelId bigint,DivisionId bigint)

if(@RoleId = 1)
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) Select SalesOrganizationId,DistributionChannelId,Id as DivisionId from Divisions 
end
else
begin
	insert into #UserDivision(SalesOrganizationId,DistributionChannelId,DivisionId) select SalesOrganizationId,DistributionChannelId,DivisionId from UserDivisionMappings where UserId=@LoginUserId
end

	Insert Into @TblBDOTarget
	Select BDOId, Sum(Target) As Target From @TblBDOTargetByMonth Group By BDOId

	Select 
		S.StateName,
		BT.BDOId,
		U.Name As BDOKAM,
		ZU.Name As ZonalTrader,
		isnull(BT.Target,0) As Target,
		isnull(A.Acheivment,0) As Achievement,
		(isnull(A.Acheivment,0) / isnull(BT.Target,0)) * 100 As AchievementPercentage
	From 
	@TblBDOTarget BT 
	Left Join
	(
		Select 
		UCM.UserId As BDOId,
		--Sum(BT.Target) As Target,
		Sum(sr.QuantityCase) As Acheivment
		From  SalesRegisters sr
		join #UserDivision udt on sr.SalesOrganizationId=udt.SalesOrganizationId and sr.DistributionChannelId = udt.DistributionChannelId and sr.DivisionId=udt.DivisionId
		INNER JOIN Skus sku ON sr.MaterialCode = sku.SkuCode
		INNER JOIN Users u ON sr.CustomerCode = u.Code
		INNER JOIN UserDivisionMappings ud ON u.Id=ud.UserId
		--Invoices I With(NoLock) 
		--Inner Join InvoiceDetails ID With(NoLock) On I.Id = ID.InvoiceId
		Inner Join UserCustomerMappings UCM With(NoLock) On u.Id = UCM.CustomerId
		--Left Join @TblBDOTarget BT On BT.BDOId = UCM.UserId
		Where Convert(date,sr.InvoiceDate) >= Convert(date,@StartDate) 
		And Convert(date,sr.InvoiceDate) <= Convert(date,@EndDate)  
		And ud.DivisionId=@VerticalId 
		And ud.SalesOrganizationId=@SalesOrganizationId 
		And ud.DistributionChannelId=@DistributionChannelId
		Group By UCM.UserId
	) As A
	On BT.BDOId = A.BDOId
	Inner Join Users U On BT.BDOId = U.Id
	Inner Join Users ZU On ZU.Id = U.ReportingToId
	Inner Join States S On S.Id = U.StateId
	where u.Id in (Select BdoId from #BdoIdsTemp)

	drop table #BdoIdsTemp
	drop table #UserDivision
End

