IF EXISTS (SELECT * FROM sys.objects WHERE [name] = N'Trigger_SaudaConversion_update' AND [type] = 'TR')
    BEGIN
        DROP  TRIGGER Trigger_SaudaConversion_update
    END
 Go
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Trigger_SaudaConversion_update]
       ON [dbo].[SaudaConversions]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
 
    Declare @Id BigInt
	Declare @statusId BigInt
	Declare @extensionStatusId BigInt
	Declare @status Nvarchar(1000)
	Declare @ModifiedById BigInt
    Declare @Notification VARCHAR(Max)
	   
 
    SELECT @Id = I.Id,@statusId = I.StatusId,@extensionStatusId=I.ExtensionStatusId,@ModifiedById = I.CreatedBy
    FROM INSERTED I
 
	IF UPDATE(StatusId)
	BEGIN
			Select @status = Name From [Status] Where Id = @statusId
			Select @Notification = @status
			Insert Into Notifications (Request,ReferenceId,Notification,CreatedBy,CreatedDate,RequestId,StatusId)
			Values('Sauda Conversion',@Id,@Notification,@ModifiedById,getdate(),7,@statusId)
	END
	ELSE IF UPDATE(ExtensionStatusId)
	BEGIN
			Select @status = Name From [Status] Where Id = @extensionStatusId
			Select @Notification = @status
			Insert Into Notifications (Request,ReferenceId,Notification,CreatedBy,CreatedDate,RequestId,StatusId)
			Values('Sauda Extension',@Id,@Notification,@ModifiedById,getdate(),8,@extensionStatusId)
	END
END



